[2021-12-06 10:21] jplatte commented on #780
Not used on the main branch or any other branch used in a PR. Current plan seems to be going with ciborium.

[2021-12-06 10:21] #780 closed, assigned to nobody

[2021-12-06 10:26] #760 closed, assigned to nobody

[2021-12-08 11:17] jplatte opened #781 "no_std + alloc support"
It seems like at least parts of Ruma should work without std. For ruma-identifiers, it seems like everything should work out once https://github.com/rust-lang/rfcs/pull/2832 is implemented (I once tried this in #90).

[2021-12-08 11:18] ShadowJonathan commented on #781
Switching crates like `ruma-client-api` to `no_std` would be useful for implementations such as [ruma/lb](https://github.com/ruma/lb), which could then work in IoT environments.

[2021-12-09 11:38] jplatte commented on #765
Fixed in 7ebe660402d98df577d77101fef16ca28aa1ed03.

[2021-12-09 11:38] #765 closed, assigned to jplatte

[2021-12-10 16:48] jsparber opened #783 "AnyMessageEvent is missing KeyVerificationRequest"
[AnyMessageEvent](https://docs.ruma.io/ruma/events/enum.AnyMessageEvent.html) is missing `m.key.verification.request`

[2021-12-10 16:57] jplatte commented on #783
That's because it only exists as a to-device event (`AnyToDeviceEvent`).

[2021-12-10 17:00] jplatte commented on #783
Though [the MSC](https://github.com/matrix-org/matrix-doc/blob/main/proposals/2241-e2e-verification-in-dms.md) does mention it.. @poljar do you know why we don't have the `.request` event for DM key verification?

[2021-12-10 17:06] jsparber commented on #783
it's actually in https://docs.ruma.io/ruma/events/room/message/enum.MessageType.html

[2021-12-10 17:12] jsparber commented on #783
Apparently only `.request` is a `m.room.message` the others are other events. I think it's this way so that clients that don't support it can consider it as a normal room messages.

[2021-12-10 17:12] #783 closed, assigned to nobody

[2021-12-13 13:53] jplatte commented on #706
Hm, this should have been closed by #782 being merged. Maybe it didn't because that was merged into `next` rather than the default branch. Anyways, this is done! 🙂

[2021-12-13 13:53] #706 closed, assigned to jplatte

[2021-12-17 18:38] #718 closed, assigned to DevinR528

[2021-12-21 00:16] ShadowJonathan opened #787 "ruma-client fails to pass tests with client-api enabled"
From https://github.com/rust-lang/cargo/issues/10222#issuecomment-998359393

Affects https://github.com/ruma/ruma/pull/758 as `misterbot` enables this feature.

[2021-12-21 08:52] jplatte commented on #787
Should be fixed by f161c81 (and parent commit made sure this is tested in CI).

[2021-12-21 08:52] #787 closed, assigned to nobody

[2021-12-22 13:22] ShadowJonathan opened #789 "Implement MSC4186 - Simplified Sliding Sync"
With https://github.com/matrix-org/matrix-doc/pull/3575 revealed, it'd be nice if implementation of the MSC could be implemented in ruma, so that downstream projects (rust-sdk, conduit, potentially parts of element mobile SDKs, etc.) could benefit from it.

A few ideas;
- The MSC mentions "types of operations" such as SYNC, INVALIDATE, DELETE, etc., should we make these dynamically serialised enum

[2021-12-24 16:57] zecakeh opened #790 "Implement MSC1767 (Extensible events)"
[Original MSC](https://github.com/matrix-org/matrix-doc/blob/matthew/msc1767/proposals/1767-extensible-events.md)

**Related MSCs**:
* [MSC3488 - Location data](https://github.com/matrix-org/matrix-doc/pull/3488)
* [MSC3381 - Polls](https://github.com/matrix-org/matrix-doc/pull/3381)
* [MSC3245 - Voice messages](https://github.com/matrix-org/matrix-doc/pull/3245)
* [MSC3246 - Audio (non-voice)](ht

[2021-12-24 18:38] ShadowJonathan commented on #741
That issue is now closed, does this just require a version bump?

[2021-12-24 18:42] ShadowJonathan opened #791 "Implement MSC2312; Matrix URI"
Related to https://github.com/ruma/ruma/pull/723, it would be nice to be able to construct and deconstruct a matrix URI to its semantic components (user reference, action, room id, etc.)

MSC:
- https://github.com/matrix-org/matrix-doc/pull/2312
Spec PR:
- https://github.com/matrix-org/matrix-doc/pull/3168 (closed, superceded by https://github.com/matrix-org/matrix-doc/pull/3608)

It'd be nice if

[2021-12-24 18:46] ShadowJonathan commented on #791
This would probably also be interesting for use in Fractal and the likes.

[2021-12-24 19:57] jplatte commented on #791
I wanted to add this last time I worked on the matrix.to stuff but there were a few unclear design questions that made it harder, so I only did the creation part, not parsing. Thanks for creating an issue 🙂

[2021-12-25 11:47] ShadowJonathan commented on #608
Furthermore, this would make it possible to simply annotate ruma with a crate feature such as `"v1.2"`, `"v1.3"`, `"pre-spec"`, `"latest-formal"`, and only have those options systematically available to use, and a compilation error if it's not.

The aforementioned markers (e.g. `#[unstable(msc = 1234, rev = "abc012")]`, `#[stable(spec_pr = 4567)]`, `#[formal(doc_rev = "defg567"]`, `#[released(new

[2021-12-25 12:07] ShadowJonathan opened #792 "Programmatic definition of dynamic URL parts"
Currently, URLs corresponding to matrix endpoints are defined in [`Metadata.path`](https://docs.rs/ruma-api/0.18.5/ruma_api/struct.Metadata.html#structfield.path) as `str`s.

I think it could be interesting if these can be defined as an array of programmatically-parsable URL sections.

It could best be explained with the following example;

`ruma_client_api::r0::room::get_room_event`

[code]

This

[2021-12-25 12:16] ShadowJonathan commented on #792
https://github.com/ruma/ruma/issues/745 is somewhat related

[2021-12-27 17:35] jplatte commented on #741
Seems like this was already fixed. I don't find `time` in `Cargo.lock` for ruma.

[2021-12-27 17:35] #741 closed, assigned to nobody

[2021-12-27 17:38] jplatte commented on #747
We no longer depend on chrono as of 18a113444a38b7613e1ae76eb2c66b3f1df94ac5.

[2021-12-27 17:38] #747 closed, assigned to nobody

[2021-12-28 14:36] #550 closed, assigned to nobody

[2022-01-01 18:58] jplatte opened #797 "Create a TransactionId type"
To make it harder to accidentally use the same transaction ID twice, we should have a dedicated type for it with appropriate documentation and at least one easy constructor that generates a (likely) unique instance.

[2022-01-06 18:38] ShadowJonathan opened #800 "Think about re-introducing `ring`"
Related to https://github.com/ruma/ruma/pull/589, as `ring` has been removed to support WASM, it might be worth looking into this later, as I've gauged an interest from `ring`'s maintainer that, in the long-term, they're willing to go full-rust.

I quite like ring, so I'm making this issue to note a possible re-introduction of it once it's gone full-rust.

[2022-01-06 18:40] ShadowJonathan commented on #797
Should we be extra pedantic and have this type be non-`Clone` and be opaque until converted to String?

[2022-01-06 19:37] jplatte commented on #797
This would be a DST like our other identifier types, we can't prohibit cloning since users could just use `Arc<TransactionId>` anyways.

[2022-01-06 19:40] jplatte commented on #800
Might also reduce dependencies when you use rustls as well. I'd be fine re-introducing it behind a cfg (like tokio does for unstable features: https://docs.rs/tokio/1.15.0/tokio/#unstable-features). Doesn't really make sense to do it behind a cargo feature since those are additive.

[2022-01-07 19:14] aditsachde opened #801 "state_res::Event depth does not correspond to spec"
The Event trait has the following signature `fn depth(&self) -> &UInt`. However, the spec states that the max value for depth is 2^63-1, a number greater than `UInt`'s max value.

[2022-01-07 19:23] jplatte commented on #801
Can you link to the relevant part of the spec?

[2022-01-07 19:27] aditsachde commented on #801
I don't think I can link directly to the correct row, but it is under the description column for the depth row in the following tables.

[V1](https://spec.matrix.org/v1.1/rooms/v1/#event-format) [V2](https://spec.matrix.org/v1.1/rooms/v2/#event-format) [V3](https://spec.matrix.org/v1.1/rooms/v3/#event-ids) [V4](https://spec.matrix.org/v1.1/rooms/v4/#event-format) [V5](https://spec.matrix.org/v1.1/

[2022-01-07 19:35] ShadowJonathan commented on #801
🤔 that's saying that the max value *can't* be `(2^63 - 1)`, though, right?

[2022-01-07 19:38] jplatte commented on #801
Yeah it's kind of a weird bound. Since it doesn't mention negative values and things are unsigned by default I assume `0 ..= i64::MAX - 1` is the valid range.

[2022-01-07 19:43] ShadowJonathan commented on #801
Other than V1, `depth` isn't used anywhere. However, I think that this should be noted in a clarification issue.

Edit: Created: https://github.com/matrix-org/matrix-doc/issues/3629

[2022-01-10 16:00] jplatte opened #802 "Make ruma_api! easier to use outside of Ruma"
Currently it always feature-gates trait impls behind `client` and `server` flags, which is rather annoying and often confusing.

[2022-01-10 16:58] DevinR528 commented on #802
Could we use the crate-name machinery to conditionally emit the feature gates?

[2022-01-10 17:01] jplatte commented on #802
Errr I guess we could.. But I really don't think we should. That seems like too much magic to me.

[2022-01-11 18:55] DevinR528 commented on #802
I don't disagree :sweat_smile:, so either add more features (probably not) or export a completely separate macro? Or is this more of a would-be nice but we need to work out a good impl kinda issue?

Also would my idea even work, if the user used anything from the crates that use the `ruma_api` macro it would be compiled one way or another right, it's not like you get 2 copies or the crate?

[2022-01-11 19:08] jplatte commented on #802
Your idea would work, the `proc-macro-crate` stuff runs inside each macro expansion, not at the time of building the macro.

After thinking about it for a bit, your idea could be adopted in a different way: We could read `Cargo.toml` at macro expansion time to ensure that at least one of `client` or `server` exists as a Cargo feature, and report a descriptive error if that is not the case. That wo

[2022-01-12 20:28] jplatte opened #805 "Add private field to `_Custom` enum variants"
… to stop people from constructing that variant directly.

[2022-01-12 20:43] jplatte commented on #805
Even better: Replace the inner string with a newtype that users can't do anything with.

[2022-01-12 20:48] ShadowJonathan commented on #805
For some situations, i imagine that at least *reading* inner data would be plenty helpful, right? Something like `AsRef<str>`.

[2022-01-12 21:49] jplatte commented on #805
The existing ways to do this on the enums will be kept, but the type inside `_Custom` shouldn't itself have a public API. It should also be `#[doc(hidden)]`.

[2022-01-12 23:28] turt2live commented on #790
we have a JS SDK for these extensible event things btw, which might be of use as a reference for how it *could* be implemented: https://github.com/matrix-org/matrix-events-sdk

[2022-01-12 23:34] turt2live commented on #790
To clarify the scenarios:
* Non-extensible events should be parsed. Once the MSC is past FCP then `m.room.message` specifically should start sending transitional events instead of non-extensible ones. Events which are already not `m.room.message` and exist already will be sent and received as normal.
* Transitional events which are specifically `m.room.message` with extensible events smashed toget

[2022-01-13 11:29] #805 closed, assigned to nobody

[2022-01-13 15:25] jplatte commented on #475
Done in 4c859c5aeb12578d4573aaed12166bc5f2d0bbc8.

[2022-01-13 15:25] #475 closed, assigned to jplatte

[2022-01-13 15:53] ShadowJonathan commented on #633
Could then, at the very least, a procedure for deserializing -> serializing unknown (and possibly custom) event data/type/content be documented and linked to with such an error?

I think this is fine as long as the above holds up, deserialising shouldn't then automagically choose this enum custom type, and then serialising it promptly error out. If there's a type which could accept "any" event dat

[2022-01-13 15:58] jplatte commented on #633
Hmm, the solution would be different depending on the context. I'm definitely going to put some thought in the error message though.

[2022-01-13 17:28] jplatte opened #808 "Incorporate Matrix v1.1 changes"
I think most of these are already implemented and just need to move out of `unstable-pre-spec`. Anyways, here's the changelog: https://spec.matrix.org/v1.1/changelog/

---

MSCs;
- [x] https://github.com/ruma/ruma/issues/865 (done by https://github.com/ruma/ruma/pull/910)
- [x] https://github.com/ruma/ruma/issues/917
- [x] https://github.com/ruma/ruma/issues/918
- [x] https://github.com/ruma/ruma/

[2022-01-13 17:30] ShadowJonathan commented on #808
I just wanted to highlight this one, as it's somewhat plenty significant.

[2022-01-13 17:37] jplatte commented on #808
Yeah that one is complicated and I'm still not entirely certain how to deal with it. Are clients already using the new routes? I guess not because otherwise Conduit users would have been complaining.

[2022-01-15 14:07] ShadowJonathan opened #812 "Update ServerName parsing to use SocketAddr::from_str"
_Originally posted by @timokoesters in https://github.com/ruma/ruma/pull/811#discussion_r785310798_

[2022-01-16 22:19] jplatte commented on #797
Done (ef6728abdeaf39769c66d9ac52bda4144ae5aa98).

[2022-01-16 22:19] #797 closed, assigned to nobody

[2022-01-16 23:30] jplatte opened #813 "Move ruma_events::from_raw_json_value to ruma_serde"
Looks like it's being used from ruma-client-api, not just ruma-events-macros.

[2022-01-17 13:29] timokoesters opened #816 "DirectDeviceContent message_id could be made TransactionId as well"
https://github.com/ruma/ruma/blob/d3679c190214f368f6ed474d6876b2378cf928bb/crates/ruma-federation-api/src/transactions/edu.rs#L262

[2022-01-17 15:15] jplatte commented on #816
Sounds reasonable. How did you notice?

[2022-01-17 15:23] timokoesters commented on #816
Conduit passes body.txnId into the message_id, but now I'm wondering if that is even correct.

https://gitlab.com/famedly/conduit/-/blob/24aa034e48c6ea57d668ea01f2490bfd582b3668/src/client_server/to_device.rs#L57

[2022-01-17 15:25] jplatte commented on #816
I have no idea 😅

Anyways `TransactionId` it seems more reasonable than `String` even if you have a bug there and that would have been masked by updating both at the same time.

[2022-01-17 15:32] timokoesters commented on #816
Ok so we reuse the transaction id of the user as the message_id over federation. That looks correct.

[2022-01-17 16:58] jsparber opened #817 "MxcUri::parse() doesn't exist"
[MxcUri](https://docs.ruma.io/ruma/struct.MxcUri.htm) is missing `parse()`

[2022-01-17 17:11] jsparber commented on #817
since the url isn't actually validated we don't really need parse()

[2022-01-17 17:11] #817 closed, assigned to nobody

[2022-01-17 17:52] zecakeh commented on #808
Clients should still support the old routes. If a client uses the new routes it should check they are available before by checking the `/versions` endpoint. So as long as `v.1.1` is not advertised, Conduit should be fine. Not even Synapse advertises that version, even though they added support for the `v3` endpoints.

[2022-01-17 18:19] ShadowJonathan commented on #808
I'd like to tag https://github.com/ruma/ruma/issues/792 and https://github.com/ruma/ruma/issues/608 into this, i think by separating the module path (and aliasing it, `r0` -> `v3`) from the identifier, and having the identifier parse and match for multiple versions of themselves, we could effectively allow ruma to "roll with the punches" of new endpoints and changes like these elegantly.

[2022-01-17 19:14] jplatte commented on #808
I think the changes to get a good `r0` -> `v3` migration path in Ruma are too large for 0.5.0 which I would like to get out soon-ish. I suppose I'll create a 0.6.0 milestone.

[2022-01-17 19:17] jplatte commented on #792
Actually #745 is pretty much the same thing. Since this one has more details, I'll close that in favor of this one.

[2022-01-17 19:17] jplatte commented on #745
Closing in favor of #792 which has more details how we will most likely solve this.

[2022-01-17 19:17] #745 closed, assigned to jplatte

[2022-01-18 14:55] timokoesters opened #818 "Support M_UNABLE_TO_AUTHORISE_JOIN"
Mentioned in https://github.com/matrix-org/matrix-doc/blob/main/proposals/3083-restricted-rooms.md

https://github.com/ruma/ruma/blob/e4a21580a297944248c0adcfc184e1a3bed82d92/crates/ruma-client-api/src/error.rs#L25

[2022-01-18 15:59] ShadowJonathan opened #819 "With v1.1, move module format to per-endpoint versioning"
Basically, `r0::sync::sync_events` -> `sync::sync_events::{v3, v4, ...}`

This in accordance with Matrix's new [Global Versioning](https://github.com/matrix-org/matrix-doc/pull/2844), which moves to per-endpoint versioning.

This way, new endpoint versions can easily be added (`v4` under the related module, like above) and maintained, instead of having to be in fluid accordance to sub-revisions.

[2022-01-18 16:00] ShadowJonathan commented on #808
Created an issue for that; https://github.com/ruma/ruma/issues/819

[2022-01-18 16:03] jplatte commented on #819
Blocked on #792.

[2022-01-18 16:51] ShadowJonathan commented on #683
Some extra stuff from the chat;

@ShadowJonathan:

@jplatte:

[2022-01-18 17:07] timokoesters opened #820 "Replace feature "unstable_pre_spec" with smaller features for individual MSCs"
This is useful for implementing my own MSCs without breaking anything else for example. Or opting out of some MSCs. I use exhaustive types, but maybe I don't want to see all types ever created by mscs

[2022-01-19 11:38] timokoesters opened #821 "/messages `from` field is now optional"
https://github.com/ruma/ruma/blob/e4a21580a297944248c0adcfc184e1a3bed82d92/crates/ruma-client-api/src/r0/message/get_message_events.rs#L33

https://github.com/matrix-org/matrix-doc/pull/3567

[2022-01-19 11:42] jplatte commented on #821
Good thing we're currently not doing patch releases, since there isn't really a nice way to support this without breaking API.

[2022-01-19 17:09] zecakeh commented on #819
Isn't this the same as #775?

[2022-01-19 17:19] jplatte commented on #819
Yes, I'll close this as a duplicate.

[2022-01-19 17:19] #819 closed, assigned to nobody

[2022-01-19 17:20] jplatte commented on #775
Marked as blocked and hard because we'll probably have to keep supporting the old routes for quite a while and so need a proper migration path for both server & client side (which involves #792 and some more things).

[2022-01-22 13:48] ShadowJonathan opened #823 "Statically verify ruma routes with the spec's openapi docs"
Mainly for methods and (maybe) paths, as https://github.com/ruma/ruma/commit/a39bee994985ae2ba05c317edac4a32764aa5492 kinda shows, it could help somewhat with verifying that everything is a-okay.

[2022-01-23 13:13] jplatte opened #824 "Wrap base64 error type to make it a private dependency?"
We might want to avoid base64 being a public dependency so we can upgrade it in a non-breaking release.

[2022-01-27 14:37] jplatte opened #825 "Disallow uses of `serde(flatten)` for single-body-field requests or responses"
`#[ruma_api(body)]` does the same thing and is better in every way.

[2022-01-27 14:54] jplatte opened #826 "Response serde for get_backup and get_latest_backup is broken"
The responses for these two endpoints currently use `#[serde(flatten)]` on a `Raw<_>` value, which doesn't work. I think the right fix here is to do something rather weird and keep `Raw` as the public API for consistency even though the `Raw` value will be to be *serialized* on the fly during deserialization from a struct with two `Raw` fields of its own. I'm experimenting with this locally.

[2022-01-27 14:57] ShadowJonathan commented on #825
Is there a lint of sorts that we could use for this? Or could we possibly detect this with the macros that wrap those requests/responses?

[2022-01-27 15:00] jplatte commented on #825
There is no lint because this is a serde-specific thing, and library-specific lints don't really exist as of right now. Also the solution I suggested above is Ruma-specific too.

I've also thought about how we could lint about this. @DevinR528 has looked into that sort of thing before. Maybe dylint would be something to look into now that we have some internal lints we'd like to write that aren't

[2022-01-27 17:40] jplatte opened #827 "Refactor attributes parsing in ruma-api-macros"
It would be good¹ to use syn's parsing infrastructure for _fully_ parsing our `ruma_api` attributes, rather than having our own `syn::Meta` equivalent.

¹ especially as preparation for future additions to the macro

[2022-01-27 18:08] jplatte commented on #826
cc @poljar FYI this used to work before a PR of yours, #779 (though with future-compat issues if I understand correctly)

[2022-01-28 21:34] ShadowJonathan opened #829 "Utility function to get allowed keys in content when redacting events, given a roomversion and event type"
Pretty much the title, after seeing [this bit](https://gitlab.com/famedly/conduit/-/blob/next/src/pdu.rs#L54) and making [this review](https://gitlab.com/famedly/conduit/-/merge_requests/257#note_825364568), i thought, "wouldn't it be better if ruma gave us 'canonical' allowed content keys according to the spec?"

Something like the following;

[code]

This'd be audited and checked for every new r

[2022-01-28 21:48] jplatte commented on #829
Ruma already includes code for redacting events. I didn't know that Conduit additionally has its own. I can have a look soon-ish on why Conduit can't just use Ruma's functionality there.

[2022-01-28 22:00] ShadowJonathan commented on #829
`allowed_content_keys_for` from `ruma_signatures::functions` seems to do exactly what i'm looking for;

[code]

[2022-01-28 22:00] jplatte commented on #829
Yeah we do have this. Could make it public, but ideally Conduit shouldn't be re-implementing redaction at all.

[2022-01-28 22:11] ShadowJonathan commented on #829
Given that ruma already has this, and i was thinking about something similar along the lines of having conduit outsource this, i think this issue wont help much, as another one wrt conduit better utilizing ruma's stuff should be made instead

[2022-01-28 22:11] #829 closed, assigned to nobody

[2022-01-28 22:18] ShadowJonathan opened #830 "Better accommodate `redact` to help with conduit's redaction"
Following from #829 and the dev room;

Conduit currently doesnt use `ruma_signatures::functions::redact`, i think this is because it takes a whole borrowed `CanonicalJsonObject`, copies it, and returns it.

This could be improved in the first place by using `&mut` instead, but i think that's not the core problem.

Conduit currently uses a [custom type](https://gitlab.com/famedly/conduit/-/blob/8c1

[2022-01-28 22:38] ShadowJonathan opened #831 "Put `RoomVersionId`'s `PartialOrd` implementation behind a cargo feature"
Per the spec;

Effectively, this would make any ordering between room version "numbers" incorrect.

Though we currently have a `PartialOrd` for `RoomVersionId` only for potential use in `BTreeMap`, which requires `Ord`. We currently just lower the operation to the string on which the room ID is based on.

I personally think this can become too big of a footgun, and while using it for keys in mappi

[2022-01-28 22:43] ShadowJonathan commented on #831
(Technically a breaking change as we're removing a bit of the API, even though it shouldn't be used anywhere)

[2022-01-28 23:57] #826 closed, assigned to jplatte

[2022-01-29 01:08] jplatte commented on #633
Done, last part in 392cf23d4b34be95a4c72a9a140d2cfae2d7e570.

[2022-01-29 01:08] #633 closed, assigned to jplatte

[2022-01-29 01:11] jplatte commented on #816
Done (21ef0a3c63069b0389c2335c01fe6be298cd8ed7).

[2022-01-29 01:11] #816 closed, assigned to nobody

[2022-01-29 13:54] timokoesters commented on #830
I'm not so sure about this. We may be able to refactor Conduit code to work on CanonicalJsonObjects and then use ruma's redact

[2022-01-31 19:11] ShadowJonathan opened #835 "Normalising powerlevels"
[MSC3667](https://github.com/matrix-org/matrix-doc/pull/3667) wants to more strictly define a room version where powerlevels arent loosly interpreted, however, before that, python's `int` is the canonical "representation" of a string-backed powerlevel number.

I've figured out [an algorithm](https://github.com/matrix-org/matrix-doc/issues/3264#issuecomment-1026052546) to normalise this;

1. trim a

[2022-01-31 19:15] ShadowJonathan commented on #835
Actually, i just noticed `int_or_string_to_int`, i can probably easily add my algorithm in there, and have it work fine.

[2022-01-31 19:16] jplatte commented on #835
Please don't change that, this crazyness should be contained to just powerlevels. But having a similar deserialization function for power levels sounds good.

[2022-01-31 21:47] ShadowJonathan opened #838 "`upload_signing_keys` is using `/unstable/`"
...while https://github.com/matrix-org/matrix-doc/pull/1756 has long-since merged.

[2022-02-01 11:35] ShadowJonathan commented on #792
From chat, for the first part of decoupling path parameter parsing from ruma;

Keep in mind that this doesnt cover the second part of this issue, which is to define multiple URLs that're used per endpoint, and making these programmatic.

[2022-02-01 12:44] timokoesters opened #839 "Key identifier error on matrix.org should be allowed with `compat`"
I saw these errors on a conduit:

[2022-02-01 13:56] jplatte commented on #839
If this is really just a compat thing, I wouldn't treat it as a bug. Either way it should be easy to fix :)

[2022-02-01 14:26] #835 closed, assigned to nobody

[2022-02-01 15:58] jplatte opened #840 "Add a MatrixVersion enum"
… which would be used in the `versions` response field of `get_supported_versions` in the client API and also used for selecting the right path for a route that exists with both an unstable and a stable path.

[2022-02-01 16:05] jplatte commented on #840
… or maybe we should only use it for the latter and not have it be a "string-like" enum. We'd probably want users to select a fallback version in case we don't know the one returned by the server.

[2022-02-01 16:27] jplatte opened #841 "Finalize prev_content move to unsigned"
https://spec.matrix.org/unstable/client-server-api/#room-event-format > `UnsignedData` contains `prev_content` with a note that it's new in v1.2, but always has been there in practice (rather than at the toplevel).

I think that is motivation enough to transition the existing `unstable-pre-spec` flags around `prev_content` to `unstable-spec` (or should we actually rename to `unstable-matrix-v1.2`?

[2022-02-01 17:05] ShadowJonathan opened #842 "[tracking] Enhance Ruma endpoint path definitions"
Basically expanding from https://github.com/ruma/ruma/issues/792, with additional discussion in the dev chat;
- We'll keep track of unstable endpoint paths, and r0-paths
- We'll start encoding *when* endpoints are stablised (per matrix version)
- `try_into_http_request` will reflect this, emitting unstable or r0 paths depending on version
  - Optionally overridable to always emit stable or unstabl

[2022-02-01 17:06] ShadowJonathan commented on #792
I'm closing this in favour of https://github.com/ruma/ruma/issues/842, as the segment bit described here is not happening as of yet, and the issue is confusing in general.

I'll reopen this with more details once we've decided to actively extend easy support for server frameworks other than axum, at the moment.

[2022-02-01 17:06] #792 closed, assigned to nobody

[2022-02-01 17:11] ShadowJonathan commented on #842
<details>
<summary>(Outdated)</summary>

Outstanding concerns/ambiguities;
- If `try_into_request` encounters a `SupportedVersion::FromMatrix` older than the `added` one, should it error, or emit the unstable path?
- If `try_into_request` encounters a `SupportedVersion::FromMatrix` *newer* than the `removed` one, should it error, or emit the stable path?
- Should `try_into_request` emit a `tracing

[2022-02-01 17:18] ShadowJonathan opened #843 "Add `msc` macro variable"
Related to https://github.com/ruma/ruma/issues/842

I think it's nice to have the related MSC(s) optionally recorded in the ruma_api macro for an endpoint;

[code]

This would be neat for grepping, and we could re-use this data later on for all sorts of things (msc-specific crate features, requiring/announcing specific support for specific MSCs and matching that with whatever `/versions` would sho

[2022-02-01 17:20] jplatte commented on #843
I think if we were to simply add features like `unstable-msc123` to replace `unstable-pre-spec`, you could also grep for it and it would fulfill the same function, no? (ftr, I'd be in favor of that)

[2022-02-01 17:22] ShadowJonathan commented on #843
Yes, but this way we're codifying it in the macro, together with the changes described in https://github.com/ruma/ruma/issues/842, it'd also add the invariant of "everything defining a `msc` must also define the `unstable` path"

In general, i think `unstable-msc123` is also easier to mis-type, and making it part of the macro would reduce boilerplate.

The only part where we would have to manually

[2022-02-01 17:24] jplatte commented on #843
No, we would need it for `impl Request` / `impl Response` blocks outside the macro as well. Also it would be nicer to feature-gate the whole module, not just its contents, which also doesn't work with the macro emitting the `#[cfg]` attribute.

[2022-02-01 17:27] ShadowJonathan commented on #843
Then i dont think this has much merit other than encoding niceties into the macro, if thats not really warranted, then this can be closed.

[2022-02-01 17:41] jplatte commented on #843
I'll close this and create a separate issue for getting rid of `unstable-pre-spec`.

[2022-02-01 17:41] #843 closed, assigned to ShadowJonathan

[2022-02-01 17:45] jplatte opened #844 "Get rid of unstable-pre-spec"
The `unstable-pre-spec` feature is too coarse, we should replace it!

As of today, we have an `unstable-spec` feature for things that exist in [the unstable spec](https://spec.matrix.org/unstable/). We should move more of the `unstable-pre-spec` things to it (e.g. #841), and anything that hasn't been added to the unstable spec yet, i.e. is only described in an MSC, should be behind its own `unstab

[2022-02-01 20:23] jplatte commented on #842
One possibility for the "probably not supported, try anyways" cases is to add context to the error if it happens (this would be at the level of ruma-client or the Rust SDK).

I don't have a strong opinion on which way to resolve those outstanding ambiguities; let's discuss when we're closer to that point (at first, we can add the extra paths but always fall back from r0 to unstable to stable).

[2022-02-02 12:28] ShadowJonathan opened #846 "Document `rust-version` in all Cargo.toml files"
https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field

Noticed this, as I was working on a MSRV-related fixme, and I could only find it documented in the readme, and not the cargo manifests.

[2022-02-02 12:30] ShadowJonathan commented on #846
Seems to be supported with and after 1.56, so this probably wont do much until we use that version, or a version after it.

[2022-02-02 12:38] ShadowJonathan commented on #769
This seems to already happen in `test_lexicographical_sort`.

[2022-02-02 12:38] #769 closed, assigned to ShadowJonathan

[2022-02-02 13:27] #830 closed, assigned to nobody

[2022-02-02 17:59] ShadowJonathan commented on #840
From chat;
- This is a static enum, `V1_0`, `V1_1` and all that
- `get_supported_versions::Response` will get a function that is `into_versions(&self) -> Vec<MatrixVersion>` or the likes
- It'll have a `compatible` function, or something like it;
  - Bikeshed: naming between `compatible`/`supports`/`can_support`, and their respective (non-)ambiguity
- https://github.com/ruma/ruma/issues/848

[2022-02-02 18:03] jplatte commented on #840
Note on the name: `into_*` methods in Rust are normally methods that take ownership. I would suggest `known_versions` as a name.

[2022-02-02 18:08] ShadowJonathan opened #848 "Add "operating version" nicety functions to `MatrixVersion`"
This is a bikeshed issue, sprung from #840;

Basically, I'd like to make it easy for applications to decide on a "maximum operating matrix version", the matrix version their application will assume the server is operating on, given the following information;
- Their application-wide minimum supported matrix version
- Their application-wide maximum supported matrix version
- The `Vec<MatrixVersion>

[2022-02-02 18:14] ShadowJonathan opened #849 "Incorporate Matrix v1.2 changes"
Dependent on https://github.com/ruma/ruma/issues/808, most likely, as most changes are deltas from v1.1; https://spec.matrix.org/v1.2/changelog/

Tasks (from the changelog);

- [x] #841 (only remaining breaking change)
- [x] #863
- [x] #864
- [x] #791

[2022-02-02 18:25] ShadowJonathan commented on #775
This is blocked on https://github.com/ruma/ruma/issues/842, and so will follow the same milestone

[2022-02-02 18:31] ShadowJonathan commented on #842
Work plan;

1. Do `MatrixVersion`
2. Do `added`, `deprecated`, `removed` macro vars
3. Add above to `main`
- Then on `path-refactor`;
4. Do `stable`, `r0`, `unstable` macro vars (without removing `path`, for now)
5. Do `EndpointPath`, and `try_into_request` change to `EndpointPath` (and switch to using `stable`, `r0`, `unstable`, etc.)
7. Remove `path`, and mass-convert endpoints from `path` to ab

[2022-02-02 19:48] jplatte commented on #841
So I've looked into this and it's actually pretty damn hard, at least for ruma-events... I think I'll first look into using `DeserializeSeed` from serde for regular content stuff, then try to convert `StateUnsigned` (the state events' unsigned type with `prev_content`) to it as well. WIP branch: https://github.com/ruma/ruma/tree/unsigned_prev_content

[2022-02-02 19:59] jplatte commented on #813
Done: 39041286b92adb33ceeb8971d750cec0351eb357

[2022-02-02 19:59] #813 closed, assigned to jplatte

[2022-02-02 20:06] jplatte opened #850 "Revisit type of signed_keys field in upload_signatures"
Seems like the `JsonValue` there should be `Raw<SomeStruct>`, and the string in the inner `BTreeMap` should probably be some identifier type.

cc @poljar does that sound right to you?

[2022-02-02 20:09] jplatte commented on #850
Current definition:

[code]

Spec: https://spec.matrix.org/v1.2/client-server-api/#post_matrixclientv3keyssignaturesupload

[2022-02-02 20:13] poljar commented on #850
The JsonValue should actually be an enum over `DeviceKeys` and `CrossSigningKeys`. You either sign a device or a cross signing identity.

The string is either a device id or the id of the cross signing key (the public key of the of the cross signing key).

[2022-02-02 23:57] jplatte commented on #818
Another bit of British English in the spec 😅
We should use American for the variant name for consistency within Ruma.

[2022-02-03 00:00] jplatte commented on #777
Here's an alternative worth considering: Create types like `OwnedUserId`, `OwnedRoomId` and so on and make their actual implementation changable via compiler flag (*not* cargo feature).

[2022-02-03 00:01] jplatte commented on #770
I don't think that there is much opportunity for improvement in this area anymore. Can we close this?

[2022-02-03 09:30] ShadowJonathan commented on #770
I believe https://github.com/ruma/ruma/pull/767#issuecomment-1012198072 is still relevant, I have it in my todo list to revisit that.

[2022-02-03 09:47] jsparber commented on #644
i think this is fixed now. `start` isn't optional anymore.

[2022-02-03 09:51] #644 closed, assigned to nobody

[2022-02-03 11:44] ShadowJonathan opened #852 "Decide on how to detect v1.0"
https://github.com/ruma/ruma/issues/840 describes adding and detecting v1.0 via parsing `"r0.6.1"` and friends, however, the spec is a bit ambiguous on what exactly "counts" as v1.0, as it gives a table of versions in https://spec.matrix.org/v1.2/#legacy-versioning;

![image](https://user-images.githubusercontent.com/22740616/152336421-86a2d0e0-447b-42a0-9812-fff41bd33048.png)

This raises a few q

[2022-02-03 11:48] ShadowJonathan commented on #852
For reference, my server currently sends the following in the versions array;

[code]

[2022-02-03 12:35] ShadowJonathan opened #854 "`ruma-api-macros::api::Metadata` fields `rate_limited` and `authentication` are `Vec`s"
This struck me as a bit odd, as when these fields are encountered multiple times, their values are concatenated multiple times as well in the end result;

https://github.com/ruma/ruma/blob/9c4bf00f794f3aaf19b523b7b5722dfac3071a28/crates/ruma-api-macros/src/api.rs#L63-L75

Tagging @DevinR528 as our local resident macro expert

[2022-02-03 12:39] jplatte commented on #854
This is to support cfg-dependent values for these, which was previously used for media endpoints (IIRC). I think we can probably disallow attributes on these again since we now have `SendAccessToken::Always` and aren't using attributes on `authentication` or `rate_limited` anywhere except for a single test.

[2022-02-03 13:41] DevinR528 commented on #854
Might this be something that is needed again? It makes the code less readable, and I imagine rewriting it with `Option` would fix that, but is there any benefit to leaving it, so the cfg gated machinery is still there?

[2022-02-03 13:49] jplatte commented on #854
I really hope we won't need it again. And for the stuff where we previously needed it it proved to be really annoying because it applied for both clients & servers. I'd say we should get rid of it (it's going to stay in git history anyways if we want to restore it later).

[2022-02-03 13:54] DevinR528 commented on #854
True and good point about git history. 👍

[2022-02-04 11:32] #840 closed, assigned to nobody

[2022-02-04 11:41] ShadowJonathan opened #856 "`get_supported_versions::Response::known_versions` return type API"
https://github.com/ruma/ruma/pull/853 left an unresolved question of https://github.com/ruma/ruma/pull/853#discussion_r799364743, this issue will track that.

Basically; should the API have an `impl Iterator`, a `HashSet`, or a `Vec` as return?

I opted for a dedupped vec, because its possible that multiple `r*` versions may map to the same matrix version (`v1.0`).

[2022-02-04 11:51] timokoesters opened #857 "(Incoming-)RoomEventFilter in /context does not need Option"
If the filter is not present we can just initialize it with default values

https://github.com/ruma/ruma/blob/e7302c914a3fb87b81ac8ddfb47724e9f89aefbd/crates/ruma-client-api/src/r0/context/get_context.rs#L44

[2022-02-04 11:54] ShadowJonathan commented on #857
What're the default values, exactly? (So we can populate `Default` with that)

Also, spec link to what the matrix-recommended defaults are, please.

[2022-02-04 12:00] jplatte commented on #857
@ShadowJonathan that type already implements `Default`. This is a really simple change.

[2022-02-04 12:55] jplatte commented on #857
Done: 2de652049d094a86df5c644b5193e988ffb5d0d3

[2022-02-04 12:55] #857 closed, assigned to jplatte

[2022-02-04 13:22] timokoesters opened #858 "Unnecessary fetch_events"
We don't need to loop through all events to drop bad ones. Bad events will be dropped by the code that uses them anyway.
https://github.com/ruma/ruma/blob/2de652049d094a86df5c644b5193e988ffb5d0d3/crates/ruma-state-res/src/lib.rs#L87

[2022-02-04 13:39] timokoesters commented on #858
@DevinR528 Does that sound alright?

[2022-02-06 09:49] ShadowJonathan opened #861 "Widget Support"
A small tracking issue for widget support in ruma;

- Specs;
  - https://github.com/matrix-org/matrix-spec-proposals/issues/3810
  - https://github.com/matrix-org/matrix-spec-proposals/issues/3803
  - https://github.com/matrix-org/matrix-spec-proposals/pull/1960
  - https://github.com/matrix-org/matrix-spec-proposals/pull/2765
  - https://github.com/matrix-org/matrix-spec-proposals/pull/2774
  - h

[2022-02-06 16:01] ShadowJonathan opened #862 "Update links to `spec.matrix.org`"
Currently, a lot of links still point to matrix.org/docs/spec/, which is the legacy spec, together with https://github.com/ruma/ruma/issues/808 the spec is moving to a new site, so we should probably convert and move all links to that site as well.

[2022-02-06 16:36] DevinR528 commented on #858
Almost, I think there might be cases where it would return an error when currently the functions just skip the event (these are places where `resolve` could potentially fail but currently passes):

https://github.com/ruma/ruma/blob/2de652049d094a86df5c644b5193e988ffb5d0d3/crates/ruma-state-res/src/lib.rs#L242
https://github.com/ruma/ruma/blob/2de652049d094a86df5c644b5193e988ffb5d0d3/crates/ruma-st

[2022-02-06 16:52] ShadowJonathan opened #863 "Add space summary API (MSC2946)"
https://github.com/matrix-org/matrix-doc/pull/2946

Added in v1.2

[2022-02-06 16:54] ShadowJonathan opened #864 "Add `is_guest` to `/account/whoami` (MSC3069)"
https://github.com/matrix-org/matrix-doc/pull/3069

[2022-02-06 17:52] ShadowJonathan commented on #775
Some additional comments, considering that most endpoints (except `/sync` atm) will boil down to the following pattern, shouldn't we encapsulate the "boilerplate" version endpoints with just `pub mod v3 {}` within the named file?

![image](https://user-images.githubusercontent.com/22740616/152694114-6c2757e0-48c0-4169-9563-bb453377086e.png)

![image](https://user-images.githubusercontent.com/22740

[2022-02-06 17:55] jplatte commented on #775
Yes, that sounds good. We could even consider keeping the inline module style for multiple versions of the same endpoint, but I agree we should definitely do it when there is just one version.

[2022-02-06 18:45] ShadowJonathan opened #865 "Support identity server version API (MSC2320)"
https://github.com/matrix-org/matrix-doc/pull/2320, `GET /_matrix/identity/versions`, similar to `/client/versions` (though without `unstable_features`)

[2022-02-07 09:44] ShadowJonathan commented on #775
Another comment; Considering that MSC endpoints will have some variant of `unstable`, we cant put it in like `v4` or the likes, do you think that putting it in a "version" like `pub mod msc1234`, behind `unstable-pre-spec` (until its migrated to `unstable-spec`), or maybe `unstable-msc1234` and the likes would be a good pattern? (Created related https://github.com/ruma/ruma/issues/867 issue, btw)

[2022-02-07 09:50] ShadowJonathan opened #867 "Integrate "MSC feature tracking" in xtask"
We seem to want to use the `unstable-msc1234` format, but i think that its hard to keep track of all of it manually, so i think xtask should be expanded to do the following;

- [ ] Detect unused `unstable-msc????` crate features (in Cargo.toml) (handled with https://github.com/rust-lang/rust-clippy/issues/8402)
- [x] Detect if a MSC feature used in a crate (through `cfg`) is not declared in the `C

[2022-02-07 10:42] jplatte commented on #867
* `ruma-client` doesn't generally re-export features
* The opposite case is already a Cargo error (you can't activate non-existing features)

[2022-02-07 10:53] ShadowJonathan commented on #867
It's just an example, i wasnt entirely sure :sweat_smile:

:+1:

[2022-02-08 12:39] ShadowJonathan opened #868 "Possibly add `legacy` path definitions to metadata"
https://github.com/ruma/ruma/issues/842 introduces `stable`, `r0`, and `unstable`, the three most common path definitions for endpoints (canonically without r0, but included for legacy purposes)

We may discover that there exists additional path to these endpoints which don't fall in the above three definitions, hopefully we dont have to add this, but in the case we do, this is my suggestion;

Add

[2022-02-08 13:06] ShadowJonathan commented on #868
(Hopefully by the time 1.8 rolls around, and we havent seen any calls for something like, we can close this)

[2022-02-08 14:39] ShadowJonathan opened #869 "Move `UnknownVersionError` to `ruma_api::error`"
It seems i missed this one :facepalm:

[2022-02-08 14:47] jplatte commented on #869
Do we have an `UnknownVersionError` on `main` even? I'm still not a fan of that existing.

[2022-02-08 14:48] ShadowJonathan commented on #869
We do, as part of https://github.com/ruma/ruma/pull/853

[2022-02-08 15:17] jplatte commented on #869
I misunderstood, issue makes sense 👍🏼

[2022-02-08 15:28] ShadowJonathan opened #871 "Ensure spec link fragments dont break/dangle"
Together with https://github.com/ruma/ruma/issues/862, we could probably download the referred-to-pages, and do a CSS-select for every id-handle the fragments point to, to see if they're still valid.

In other words, we should probably add the functionality to `xtask` to download the spec pages, look at the fragments mentioned, and actually ensure those fragments are still present in the page.

Th

[2022-02-08 15:30] jplatte commented on #871
Great idea, we should do this. The odd broken link wouldn't hurt that much, though so I'm fine with this being done post 0.5.0.

[2022-02-08 15:38] #869 closed, assigned to ShadowJonathan

[2022-02-08 17:09] ShadowJonathan commented on #775
Question, the docs display endpoints with their full path, like so;

![image](https://user-images.githubusercontent.com/22740616/153038710-7aba621d-cb3e-4688-b17f-dd59bf71c926.png)

When we switch to this, should we keep them using the latest endpoint, or should we have a `/*/` for the version part like that?

[2022-02-08 17:20] jplatte commented on #775
`/*/` seems like a good solution.

[2022-02-08 18:13] jplatte commented on #690
Done in b08e8cff9d466f74350c2eb9af07bfa18ed1523f. I think with the send_message_event and send_state_event `Request` types having constructors that don't take an enum as input, there really shouldn't be anyone who would use these anyways. I've added a generic "get in touch if you were using this" message to the changelog.

[2022-02-08 18:13] #690 closed, assigned to jplatte

[2022-02-09 19:34] jplatte opened #875 "Instrument ruma-client"
Since we are now adding warnings to request serialization, we should add some tracing spans to the relevant functions in ruma-client so if those warnings are actually emitted, there is enough context to be able to act on them.

[2022-02-09 20:10] zecakeh commented on #844
Duplicate: #820

[2022-02-09 20:16] #844 closed, assigned to jplatte

[2022-02-09 20:18] jplatte commented on #820
This is planned. We'll move anything that has an MSC behind its own `unstable-mscXXXX` feature.

[2022-02-10 09:40] jplatte commented on #852
I consider the current behavior of mapping `v1.0`, `r0.5.0`, `r0.6.0` and `r0.6.1` to `V1_0` to be more than good enough. I'm not sure whether we should keep this issue open.

[2022-02-10 13:04] ShadowJonathan opened #876 "Compare ruma against sytest and complement"
Currently, together with https://github.com/ruma/ruma/issues/842 and https://github.com/ruma/ruma/issues/868, we may want to investigate sytest and complement to find "historical" or otherwise "non-spec" disrepancies, and decide on a case-by-case basis what ruma should do with them.

(This is mainly a todo item for myself)

[2022-02-10 13:05] ShadowJonathan commented on #852
It's mainly as there's some ambiguity through https://github.com/matrix-org/matrix-spec/issues/12, where "no v1.0 exists" is upheld, yet it should be denoted as *something* to maintain some form of compatibility/continuity between legacy and v1.1.

[2022-02-10 13:13] jplatte commented on #852
Let's decide what to do with this issue after that issue is resolved one way or another then.

[2022-02-10 13:16] jplatte opened #877 "Clearly document server-side room version support"
Currently, ruma-signatures only supports canonical JSON which means v1 - v5 can't be properly supported. We should document this.

[2022-02-10 13:19] jplatte commented on #856
Decided and implemented: e93511e9931ffc033240961ad778386a92c84d8b

[2022-02-10 13:19] #856 closed, assigned to jplatte

[2022-02-11 19:28] jplatte opened #893 "Store server versions in Client"
As a followup to #860, I want to fetch (explicitly) and store the known matrix versions from `get_supported_versions` so they don't have to be passed in every `send_request` call.

[2022-02-11 19:39] ShadowJonathan commented on #893
Keep in mind this may cause problems if this is cached for more than, say, a year, though the client would have to be kept alive for all this time, so this isn’t *that* much of a concern.

I recommend coupling this with the creation of the client, so that any error getting a proper /versions response can be bubbled up, and act as a connectivity canary.

[2022-02-11 19:40] jplatte commented on #893
That's the plan :)

[2022-02-11 20:24] ShadowJonathan opened #894 "MSC3723: Federation `/versions`"
Implementing https://github.com/matrix-org/matrix-doc/pull/3723

Though this'll largely be copied from `/client/versions`, only with no `unstable_features` (for now)

[2022-02-11 21:33] #820 closed, assigned to zecakeh

[2022-02-11 23:01] jplatte commented on #831
Done: 63fafa023c5e4d1ddac9ae8a29cd64a5d33d3306

[2022-02-11 23:07] jplatte commented on #831
Nevermind, we are actually relying on this impl: https://github.com/ruma/ruma/runs/5163381386?check_suite_focus=true#step:5:315

I force-pushed the above commit away, I think we should probably. just keep things as-is.

[2022-02-11 23:11] ShadowJonathan commented on #831
We could probably change that small bit to a hash map, we’re not actually using it to sort something. I’d still like to have this, so I’ll reopen it.

[2022-02-11 23:13] jplatte commented on #831
I just looked at it in detail. There is a `BTreeMap<RoomVersionId, RoomVersionStability>` in the public API.

I don't really see how we could fix that without creating a wart in the API (using a `HashMap` there would be a wart, IMO).

[2022-02-11 23:15] ShadowJonathan commented on #831
How exactly? I don’t really see why a consumer of this library would care for one map implementation changing to another, they’d still use the same insert/get/entry API.

[2022-02-11 23:26] jplatte commented on #831
It's just a weird inconsistency, and there are some API differences between the two. Plus serialization order is random for hash maps.

[2022-02-11 23:42] jplatte commented on #824
Done: 2f84fdbd76adde3b34a0c02a509d45c7367fe64b

[2022-02-11 23:42] #824 closed, assigned to jplatte

[2022-02-11 23:53] jplatte opened #896 "Remove Serialize implementations from event enums"
This could be a slight convenience loss in a few cases, but would fully prevent deserialization / serialization cycles that throw away information, or fail entirely (for custom events).

[2022-02-12 01:07] jplatte commented on #896
This was surprisingly easy to implement, and to make work in Conduit.

Done in f130d09daabf021ad30750eed89483a0f45f820a.

[2022-02-12 01:07] #896 closed, assigned to jplatte

[2022-02-12 01:13] jplatte commented on #850
Kinda sounds like we should have some sort of custom map type there that can be iterated with `Item = <(device id, device keys) | (key id, cross signing keys)>` instead of `Item = (device id | key id, device keys | cross signing keys)`. I think we can keep the slightly unfortunate type here for one release, and deal with this in 0.6.0.

[2022-02-12 01:15] jplatte commented on #850
Or as an alternative that I think is much better: Create the custom map type now and expose a super minimal API, then add more stuff to it as it is gets used.

[2022-02-12 15:29] ShadowJonathan opened #898 "Add version-check utility functions to `Metadata`"
...and alter `select_path` to use them.

This is an offshoot from https://github.com/ruma/ruma/pull/860, `select_path` is a bit convoluted (but correct), so changing `Metadata` to have functions like `is_stable(MatrixVersion) -> bool` would help clean it up a little, and double as a nice public interface for checking version compatibility.

[2022-02-12 19:55] ShadowJonathan opened #901 "Find a nicer way to do `ruma-api-macros::Request::path_fields_ordered`"
https://github.com/ruma/ruma/pull/900 introduced `path_fields_ordered`, which, while correct, looks like the following;

https://github.com/ruma/ruma/blob/f72d6601fcf2ce4382a7c02b740d60a6e803f4d9/crates/ruma-api-macros/src/request.rs#L167-L188

I think one possible way to make this nicer is to add a `get_path_field<'a>(&'a self, name: &str) -> Option<&'a Field>` function, and call that each time.

[2022-02-13 10:57] ShadowJonathan commented on #842
:tada:

[2022-02-13 10:57] #842 closed, assigned to ShadowJonathan

[2022-02-13 11:14] jplatte commented on #854
Done: f6d419298c0eb1bdba68953f165d351c809860f5

[2022-02-13 11:14] #854 closed, assigned to jplatte

[2022-02-13 11:20] jplatte commented on #686
Actually, this is only needed for account data "events" that aren't really events in the first place. I will tackle this in conjunction with #732.

[2022-02-13 11:20] jplatte commented on #732
Maybe I'll do this as part of 0.5.0. It's an interesting work item. By moving these out, matrix-org/matrix-spec-proposals#686 also becomes a little more approachable I think.

[2022-02-13 11:22] jplatte commented on #732
I'm a little torn on the naming here though. I think in terms of the SDK, it makes sense for these JSON objects to still be named "events" because they are also returned by `/sync` and you can subscribe to updates for them using `client.register_event_handler` right now.

[2022-02-13 12:08] jplatte opened #903 "Wrap ServerSigningKeys in Raw"
I think for signature verification to work reliably, `ServerSigningKeys` need to be wrapped in `Raw` just like `CrossSigningKeys` and other CS-API key structs. Otherwise, signature verification would fail to account for any extra fields in the object that aren't part of the Rust struct (yet).

cc @timokoesters @ShadowJonathan

[2022-02-13 12:10] jplatte opened #904 "Extend ServerSigningKeys API"
The `ServerSigningKeys` type doesn't currently provide an easy way of adding the signatures based on the rest of the object.

Additionally, it would be very nice if we had a small extension trait that adds a verification function to `Raw<ServerSigningKeys>` (assuming #903 is implemented).

cc @timokoesters @ShadowJonathan

[2022-02-13 15:44] ShadowJonathan commented on #904
Basically: Add something like a `.sign()` function to either `ServerSigningKeys`, `Raw<ServerSigningKeys>`, or the response type to the endpoint, with similar parameters that `ruma_signatures::functions::sign_json` has.

[2022-02-13 18:35] ShadowJonathan opened #907 "Duplicated pusher types"
While going through `client_api::r0::push`, between `get_pushers`, `set_pusher`, and such, i noticed a *ton* of duplication between pusher types, with the only difference being that one of them allows creation of the entire struct, one of them is non-exhaustive, and one of them allows no `Option` in `kind`.

Could we possibly compress these? In a way that we can also encode the "delete this pusher

[2022-02-13 18:44] ShadowJonathan opened #908 "Integrate `new` impl into `ruma-api`"
I'm seeing a *ton* of boilerplate `new` implementations for Request/Response types which are defined inside `ruma_api` macro invocations, I think it'll help a lot by allowing ruma_api to derive `new` impls itself.

Some things;
- Most impl functions have documentation on the `new` function, it'd be nice if this could be carried over (somehow) to get human_readable documentation on these.
- How to

[2022-02-13 18:50] ShadowJonathan commented on #907
I'm only glancing through it quickly, but it seems `r0::push` has a lot of duplication between it and endpoint-used structs.

[2022-02-13 21:01] ShadowJonathan opened #909 "`xtask ci` should compile all examples"
From [`c07b541` (#906)](https://github.com/ruma/ruma/pull/906/commits/c07b541b41dbf4b461cd2dacf137df300d7fff8b), it should've caught this earlier (in a different PR)

It didn't seem to compile `crates/ruma/examples`, for some reason

[2022-02-13 21:13] ShadowJonathan commented on #862
https://github.com/ruma/ruma/pull/905 and https://github.com/ruma/ruma/pull/906 change/add most of the links, but there's still some data-specific links that should be converted

[2022-02-14 10:33] jplatte commented on #908
I'm not a fan, to be honest. Ideally I would even want `ruma_api!` to be removed, leaving only the derive macros for request and response but there's some issues with that would be pretty hard to solve, nevermind the huge pile of work it would be.

[2022-02-14 10:53] jplatte commented on #907
Potentially related: #754, #466, #521

[2022-02-14 11:16] jplatte commented on #909
We should just move the examples from `crates/ruma/examples` into the toplevel `examples`, so it's easier to copy them as a starting point for a new project. I think that would fix this issue.

The examples should really already be checked since we pass `--all-targets` to `cargo clippy` in the nightly CI job 🤷🏼

[2022-02-15 11:27] jplatte commented on #875
Most important part is done: 4d1ff8de23b39ef38e86a612fd31be646bfb9a24

We can consider adding more in the future.

[2022-02-15 11:27] #875 closed, assigned to jplatte

[2022-02-15 11:43] jplatte opened #912 "Parallelize CI more"
Currently, running tests takes over 6 minutes in CI even with caching. I want to look into splitting things up more, maybe doctests as a separate CI job, to get faster CI response times.

[2022-02-17 09:12] jplatte commented on #451
Done: f9b9112d07426710c67c69f6919f2a1ef2c3aad9

[2022-02-17 09:12] #451 closed, assigned to nobody

[2022-02-17 09:17] jplatte opened #913 "Push rule content.body matching doesn't allow wildcards"
As of https://github.com/matrix-org/matrix-doc/pull/3690, it has been clarified that `content.body` matching should allow wildcards too (maybe this was somewhat clear to begin with, not sure). We don't implement this. Here's a Rust assertion for the example from the spec, which currently fails.

[code]

[2022-02-17 12:18] ShadowJonathan commented on #791
From the chat; [`matrix_uri`](https://crates.io/crates/matrix_uri) exists, and @jplatte said he'd want to move it to ruma (though that hasnt happened yet)

[2022-02-17 15:06] jplatte commented on #781
I've had another look at this, I think for `ruma-serde` the only dependencies that don't support `no_std` yet are base64 and form_urlencoded. I don't know about the former, but for the latter making it support `no_std` should be easy.

[2022-02-18 09:06] ShadowJonathan opened #914 "Some `rustfmt` options to consider using"
- `group_imports` (unstable), `StdExternalCrate`, to make imports more readable (potentially).
- `report_todo` and `report_todo` (unstable), `Unnumbered`, to make sure TODOs and FIXMEs have corresponding issues to keep track of.
- `format_code_in_doc_comments` (unstable), to make sure also our doc examples have the same style.
- `inline_attribute_width` (unstable), [see here](https://github.com/ru

[2022-02-18 10:04] jplatte commented on #775
Done in #906 🎉

[2022-02-18 10:04] #775 closed, assigned to ShadowJonathan

[2022-02-18 10:16] jplatte commented on #914
Mixes imports and re-exports which is very undesireable. Also mixes non-`self::`-prefixed imports from local modules, though that can be worked around.

I don't think we need todo comments for things that have issues. Maybe we could forbid todo / fixme comments entirely?

This sounds like a nice one, I'll try it.

You mean by restricting `#[attr]` width? I don't actually find attributes unreadable

[2022-02-18 10:38] jplatte commented on #914
Not nice: https://github.com/ruma/ruma/compare/overflow-delimited-expr#diff-a4294de676532f5bfb7c6fe6766f6440ba674cdfab0a92fe5e4492ef8d42a939

Doesn't just regroup items, also reorders them within the groups and adds or removes newlines. I'm partiularily not happy about it moving `Error` associated types before others that come first alphabetically.

[2022-02-18 10:38] jplatte commented on #914
I have applied all that make sense, please open more specific issues if you are still interested in having others enabled.

[2022-02-18 10:38] #914 closed, assigned to nobody

[2022-02-18 10:40] jplatte commented on #865
Adding a new endpoint is not a breaking change and thus shouldn't block a breaking-change release.

[2022-02-18 10:44] jplatte commented on #903
Done: 2003948edba3318fb0971e5d820c67a8cbbdeab0

[2022-02-18 10:44] #903 closed, assigned to nobody

[2022-02-18 10:45] jplatte commented on #850
Done: c4d2eacc3

[2022-02-18 10:45] #850 closed, assigned to nobody

[2022-02-18 10:47] jplatte commented on #808
I'm pretty sure we've dealt with all breaking changes from this version, will remove the 0.5.0 milestone.

[2022-02-18 10:58] jplatte commented on #579
Deferring this to 0.6.0... It seems *fairly* clear what needs to be done here, but it's a bunch of macro work and 0.5.0 will already contain more than enough breaking changes.

[2022-02-18 11:04] ShadowJonathan commented on #500
Tbh, i think that both should be renamed to something `get_*_event_template`, instead of one ambiguous `get` and one `create_*_template`.

The "create" endpoints so far have been used for final parts in join/invite/knock dances, so I think this should be `get` instead, and `template` to annotate its specific part in the dance.

[2022-02-18 11:29] jplatte commented on #500
@ShadowJonathan I'm not sure I'm following, do you want to create a PR for your proposed naming scheme?

[2022-02-18 11:32] ShadowJonathan commented on #500
Yes, I'll make one.

[2022-02-18 11:45] ShadowJonathan commented on #500
From chat; I'll use `prepare_*`

[2022-02-18 12:54] #500 closed, assigned to ShadowJonathan

[2022-02-18 14:44] ShadowJonathan opened #917 "MSC2610: Remove `m.login.oauth2`"
https://github.com/matrix-org/matrix-doc/pull/2610

[2022-02-18 14:49] ShadowJonathan opened #918 "MSC2611: Remove `m.login.token`"
https://github.com/matrix-org/matrix-doc/pull/2611

[2022-02-18 14:50] jplatte commented on #918
Done: 48da0a1a12cb34791163adf53c6d6813fa7026f1

[2022-02-18 14:50] #918 closed, assigned to nobody

[2022-02-18 14:51] jplatte commented on #917
Done: 48da0a1a12cb34791163adf53c6d6813fa7026f1

[2022-02-18 14:51] #917 closed, assigned to nobody

[2022-02-18 17:51] ShadowJonathan opened #922 "Re-add `m.login.token` login types"
Seems like #918 was a little hasty, see; https://github.com/matrix-org/matrix-doc/issues/3733#issuecomment-1044906113

Though i have no idea how to represent this level of compatibility with that sort of login type, at this stage.

[2022-02-18 17:52] jplatte commented on #922
I know the login type wasn't removed, Ruma still has it :)

[2022-02-18 17:52] #922 closed, assigned to nobody

[2022-02-18 17:53] jplatte commented on #922
https://docs.ruma.io/ruma/api/client/session/get_login_types/v3/enum.LoginType.html
https://docs.ruma.io/ruma/api/client/session/login/v3/enum.LoginInfo.html

[2022-02-18 19:05] jplatte commented on #862
Done: 936bb64e84a32932735127267d2043479f32d761

[2022-02-18 19:05] #862 closed, assigned to ShadowJonathan

[2022-02-18 19:26] jplatte opened #923 "Don't require specifying a list of versions for serializing non-client-api requests"
We could do something like

[code]

or maybe inspect the paths to see whether it's a `/_matrix/client/` route and change codegen a bit based on that.

[2022-02-18 19:30] ShadowJonathan commented on #923
I think it works better if we have something like `optional_select_path` which contains that bit (before calling to `select_path`), where at macro time we swap out the actual function used.

In macro, we could match the crate from which we’re deriving, or we can introduce an additional variable, something like `strict`, which defaults to `true` (And with false, it’ll select `optional_select_path`)

[2022-02-18 23:06] jplatte commented on #893
Done: 282abc9dc210c6119311920751792175d3de77f5

[2022-02-18 23:06] #893 closed, assigned to jplatte

[2022-02-18 23:19] jplatte commented on #276
Maybe we need to introduce a sort of `KnownRoomVersionId` type and use that for `redact`, `allowed_content_keys_for`, `reference_hash`, `servers_to_check_signatures`. I think this would overlap with `ruma-state-res`' `RoomVersion` in functionality so maybe we can have one `RoomVersion` type for all of these use cases.

Anyways, I don't think this should block a release, especially because it's mos

[2022-02-18 23:21] jplatte commented on #240
Since this is federation-api, I won't block the release on it because Conduit doesn't care to use Ruma from crates.io.

[2022-02-19 10:54] jplatte opened #928 "Add `OwnedThingId` types to ruma-identifiers?"
So I had this idea in my head for a while but never wrote it down.. Should we have `OwnedUserId`, `OwnedRoomId` and so on again, but as structs with a private field with a `Deref` impl? We had `UserIdBox` and friends for a short while, but they were removed because they didn't add *that* much. However, after working with `Box<UserId>` and such for a while, I do find it a bit harder to read, especi

[2022-02-19 11:00] ShadowJonathan commented on #928
I don't particularly like this approach, if it's possible to do this with crate features, i'd much more prefer it over that.

[2022-02-19 11:54] jplatte commented on #928
It's not possible to do this with crate features since they should to be additive, which changing an implementation detail isn't. I've experienced with serde_json's many non-additive features and others what a bad idea it is. This choice must be made by applications, not libraries.

Using `cfg`s for non-additive dependency behavior selection has precedence in Tokio, here's a recent example: https:

[2022-02-19 13:08] ShadowJonathan opened #930 "`ring` and `pkcs8` <0.8 generated incorrect `PKCS8` DER documents"
I discovered in https://github.com/briansmith/ring/issues/1464 that `ring` has generated RFC-invalid PKCS8 documents in the past.

This was not a problem, as long as the `pkcs8` crate did parse them correctly.

However, as per `pkcs8` 0.8 (https://github.com/ruma/ruma/pull/925), these DER documents are parsed more correctly per the RFC. <0.8 versions do not parse RFC examples correctly.

(Furtherm

[2022-02-19 13:09] #791 closed, assigned to nobody

[2022-02-19 13:39] zecakeh commented on #622
It seems like this MSC has been superseded by [MSC3440](https://github.com/matrix-org/matrix-doc/pull/3440)

[2022-02-19 16:36] zecakeh commented on #790
Here is an example of the same text message in the 3 forms we need to handle:

### 1. Current

[code]

### 2. Transitional

[code]

### 3. Future

[code]
### How to recognize and use the 3 formats

- In **1**:
  - We use `"type": "m.room.message"` + the `content.msgtype` key to detect the type of the message.
  - We use the rest of the data of `content`.
- In **2**:
  - We check for known extensib

[2022-02-19 18:35] zecakeh commented on #790
The benefits of the extensible events is to build the messages with the same reusable data blocks. When we receive an unknown message type, we can still build it from the data we recognize.

Here are the basic data blocks defined across the different MSCs:

### Text ([MSC1767](https://github.com/matrix-org/matrix-doc/pull/1767))

[code]
- If both `m.message` and `m.text` formats are present, only

[2022-02-19 19:22] zecakeh commented on #790
And now here is how the message types are constructed based on those blocks. Only the key of the data block is present to keep this clear, refer to the previous comment for their content.

### Text Message ([MSC1767](https://github.com/matrix-org/matrix-doc/pull/1767))

[code]
There are also the `m.emote` and `m.notice` types.

### File Message ([MSC3551](https://github.com/matrix-org/matrix-doc/p

[2022-02-20 11:07] ShadowJonathan commented on #928
Hmmm, by that metric, i guess this is fine. Im mainly worried about familiarity and the exotic-ness of the setting, it wouldn't be an "easy way", so to speak.

Additionally, if it's gonna be like this, I'd like for the possibility of an "interner" storage type to work as well, arc-interner and the likes, if the application wants to tradeoff speed for memory like that.

I'd wanna work on this, whic

[2022-02-20 11:50] jplatte commented on #928
All dynamically-sized types in ruma-identifiers. But please don't migrate the rest of the codebase, I don't want to review another mega-diff. I can do that (should be simple search/replace) and/or we can do it in pair programming style.

I don't know about "and the likes" but for arc-interner this should work. You can add a cfg-dependent dependency like this:

[code]

I think this should work:

[c

[2022-02-20 19:51] zecakeh commented on #790
I believe the most difficult change will be the removal of the `m.room.message` type, as we need to be able to find the same types with the `type` + `msgtype` key or only the `type` key. This means there will probably be changes in the ruma-events macros.

But that's also the last step as it is only needed after the transition period.

[2022-02-21 00:35] turt2live commented on #790
fwiw, the intent of the transitional format is that you don't look at the `msgtype` but rather the other parts of the extensible event format to determine what kind of event it is. The `msgtype` is only used when the event does *not* have an extensible event representation (or when extensible events are not being considered).

[2022-02-21 08:50] zecakeh commented on #790
For me, the text in the MSC says the opposite:

Although I understand that for `m.voice`, for example, we need to detect the `m.voice` event definition so your explanation makes more sense. There should probably a sentence that explains that in the MSC.

[2022-02-21 17:23] turt2live commented on #790
The MSC is trying to say that unknown message types use inference but otherwise it doesn't. Please add line comments to the MSC so it can be noted :)

[2022-02-22 17:55] ShadowJonathan opened #941 "`delete_backup_keys::Request::version` says "Must be the current backup.""
...While the spec says none of that; https://spec.matrix.org/v1.2/client-server-api/#delete_matrixclientv3room_keyskeys

`delete_backup_key_sessions` also has this.

[2022-02-22 18:23] ShadowJonathan opened #942 "client_api::backup types are missing `auth_data` in places"

[2022-02-22 19:59] #941 closed, assigned to nobody

[2022-02-23 14:22] zecakeh commented on #864
Done in #940

[2022-02-23 14:22] #864 closed, assigned to nobody

[2022-02-24 10:00] ShadowJonathan opened #951 "MSC3743: Standardized error response for unknown endpoints"
https://github.com/matrix-org/matrix-doc/pull/3743

This may be interesting to implement in a potential ruma-axum crate.

[2022-02-24 21:00] zecakeh commented on #41
Fixed with [MSC2367](https://github.com/matrix-org/matrix-doc/pull/2367). Applied with 13af2e2.

[2022-02-24 21:00] #41 closed, assigned to nobody

[2022-02-24 21:39] #369 closed, assigned to nobody

[2022-03-01 12:25] jplatte commented on #622
Updated title & description.

[2022-03-01 15:36] #863 closed, assigned to nobody

[2022-03-01 22:18] zecakeh opened #959 "Implement m.identity_server global account data event"
It seems like this has been added in r0.6.0 with [MSC2230](https://github.com/matrix-org/matrix-spec-proposals/pull/2230).

[According to the spec](https://spec.matrix.org/v1.2/client-server-api/#notes-on-identity-servers), we should differentiate between `base_url` being absent and being `null`:

I'm not sure what the type should look like.

[2022-03-02 08:25] jplatte commented on #959
The day has come! 😄
I've created a Rust crate for handling absent field vs explicit `null` vs an actual value: https://docs.rs/js_option/latest/js_option/

[2022-03-02 10:49] zecakeh opened #961 "Update links in docs to the new matrix-doc repositories"
The `matrix-doc` repository was split in two: [`matrix-spec`](https://github.com/matrix-org/matrix-spec) with the spec content and [`matrix-spec-proposals`](https://github.com/matrix-org/matrix-spec-proposals) with the MSCs.

The links still work so it's not urgent.

[2022-03-03 08:17] jplatte commented on #802
~~This will also fix the stupid "Cargo features only exist as a workaround are not meant to be disabled" thingy.~~

Only the case with Devin's original suggestion, which I no longer feel that bad about; I'll still go with the more conservative solution for now though.

[2022-03-03 10:15] jplatte commented on #355
Most of them are for field identifiers where we've previously checked that we are dealing with named-field structs.

[2022-03-03 10:15] #355 closed, assigned to jplatte

[2022-03-08 09:24] #961 closed, assigned to nobody

[2022-03-08 18:17] zecakeh commented on #909
I believe they are not checked because their required features `client-isahc` and `client-hyper-native-tls` are never enabled in CI.

[2022-03-09 08:53] ShadowJonathan commented on #914
I think that's unrealistic, but i also think that if they dont have corresponding issues, then they rot in the codebase (as afaik nobody is actively hunting them)

[2022-03-09 08:54] ShadowJonathan opened #974 "Work to remove TODO/FIXME items, or at least attach issues to them"
Shootoff from https://github.com/ruma/ruma/issues/914#issuecomment-1062690878, I think it'd be nice to have all issues here instead of having them as todos in the codebase, else they'll be largely forgotten.

[2022-03-09 17:42] jplatte opened #975 "Remove RawExt"
`Raw` is now defined in the same crate as `RawExt`, so the latter can now simply be an extra `impl` block.

[2022-03-09 19:30] homersimpsons commented on #913
Looking at the actual spec (https://spec.matrix.org/latest/client-server-api/#push-rules-api) it only states:

But does not really defines the so-called "glob-style".

The above referenced PR stated that:

Interestingly the synapse implementation converts the pattern to a regex: https://github.com/matrix-org/matrix-python-common/blob/163f7680a705b5247501ab53f0270c9c47415844/src/matrix_common/regex

[2022-03-09 19:39] jplatte commented on #913
If you have a look around our codebase, you'll find that we use the `wildmatch` crate elsewhere. That seems like the most sensible choice for this, too. I think we'll still need some custom code around that because of the word-related rules.

[2022-03-10 11:05] jplatte commented on #975
Oh actually this is only true after #977 😅

[2022-03-11 09:27] jplatte commented on #686
Note to self: `EventType::Foo` for a variable type will have to be `EventType::Foo(String)`, which also means we'll need more derive code...

And this actually kind-of clashes with some earlier thoughts by myself to have the type be a DST wrapping `str` with associated constants. That could still work, but the nice matching wouldn't work that way, instead there would have to be some `as_foo(&self)

[2022-03-13 10:44] zecakeh opened #982 "Implement GET /relations endpoint (MSC2675)"
It seems like it's the only part of the merged [MSC2675](https://github.com/matrix-org/matrix-spec-proposals/pull/2675) that is missing.

There are two optional path parameters so this will likely need some manual implementation, similar to [`get_state_event_for_key`](https://docs.ruma.io/ruma/api/client/state/get_state_events_for_key/v3/index.html).

[2022-03-13 12:42] ShadowJonathan opened #984 "MSC3754: Removing profile information"
[MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/3754)

Relevant endpoints;

[code]

Unstable variants;

[code]

[2022-03-14 09:06] #865 closed, assigned to ShadowJonathan

[2022-03-14 10:58] zecakeh commented on #587
#863 was a duplicate and #953 closed this.

[2022-03-14 10:59] #587 closed, assigned to nobody

[2022-03-14 11:03] #894 closed, assigned to ShadowJonathan

[2022-03-15 09:15] #975 closed, assigned to jplatte

[2022-03-15 15:58] jplatte opened #993 "Check typos in CI"
Using [crate-ci/typos](https://github.com/crate-ci/typos), like the Rust SDK does too.

[2022-03-16 11:17] jplatte commented on #732
After attempting a clean split in #972 I found that that causes too much duplication. Also account data and other things the spec calls "events" still have in common that they're received in the sync response.

I'm still thinking it could be useful to have a separate feature flag / module structure for account data, but the derives will likely stay the same ones.

[2022-03-16 11:58] #622 closed, assigned to nobody

[2022-03-16 12:52] jplatte commented on #262
It should be good enough to do this sort of thing at a higher level.

[2022-03-16 12:52] #262 closed, assigned to jplatte

[2022-03-16 15:49] jplatte commented on #240
This is pretty hard (the events type expect everything to be JSON, for this endpoint some things are in the request path) and only affects v1 of the endpoint (there's a v2 too). Not sure whether it's really worth it.

[2022-03-16 15:53] jplatte opened #998 "Create separate Unsigned types for events that declare extra fields"
At least `m.room.member` has an extra `unsigned` field, `invite_room_state`.

[2022-03-16 16:08] jplatte commented on #251
Nobody has actually complained about it not being there, so I'll close this for now.

[2022-03-16 16:08] #251 closed, assigned to jplatte

[2022-03-17 10:13] zecakeh opened #1000 "Add support for unstable types in EventContent"
Currently it's not possible to have a `type` that can have both a stable and unstable value.

Me need similar attributes to serde:
- `rename` to the unstable name while the feature is unstable.
- `alias` to the unstable name once the feature is stable.

An example that needs this are polls ([MSC3381](https://github.com/matrix-org/matrix-spec-proposals/pull/3381)).

[2022-03-17 10:27] jplatte commented on #1000
We should actually use this for the extensible events too, see for example https://github.com/matrix-org/matrix-spec-proposals/blob/matthew/location/proposals/3488-location.md#unstable-prefix

I don't think we should have `rename`, instead we should just stop using the event type to find the path to the module (instead writing it out in the macro invocation). We are going to need a way to associat

[2022-03-17 10:32] zecakeh commented on #1000
I don't think it's useful for extensible event types because the new types should only be sent after the transitional period, so way after they are made stable. In the meantime we should use the `m.room.message` fallbacks.

The exception being polls that don't have an `m.room.message` fallback.

[2022-03-17 17:55] zecakeh commented on #942
I just checked all the `client_api::backup` endpoints and the ones that require `auth_data` have it. Either this has been fixed since, or you got confused because the auth data is actually inside the [`BackupAlgorithm`](https://docs.ruma.io/ruma/api/client/backup/enum.BackupAlgorithm.html) enum, as it depends on the algorithm, so it's not an extra field in the request/response.

[2022-03-17 17:55] #942 closed, assigned to nobody

[2022-03-18 10:27] #841 closed, assigned to jplatte

[2022-03-18 12:11] #643 closed, assigned to nobody

[2022-03-18 13:29] #993 closed, assigned to nobody

[2022-03-21 08:49] #912 closed, assigned to nobody

[2022-03-21 13:23] #909 closed, assigned to nobody

[2022-03-21 15:15] jplatte commented on #223
https://github.com/ruma/ruma/commit/ce785064a96f39a18c2ac3a62f8f0b18af9c6591

[2022-03-21 15:15] #223 closed, assigned to nobody

[2022-03-22 12:25] jplatte commented on #242
I'll close this for now. The incoming types have been slightly annoying to work with and I don't think we want to introduce more of them without somehow making them easier to work with first.

[2022-03-22 12:25] #242 closed, assigned to nobody

[2022-03-22 17:37] jplatte commented on #849
All tasks here are done – the one remaining task for v1.2 compatibility is implementing everything from v1.1 (#808).

[2022-03-22 17:37] #849 closed, assigned to jplatte

[2022-03-23 13:21] jplatte commented on #55
I'm not sure there's really still something to do here.

[2022-03-23 13:21] #55 closed, assigned to nobody

[2022-03-23 14:38] jplatte opened #1016 "Use AnyPushRule for get_pushrule::Response"
Requires manually implementing the response traits, or extending the macro to support enums (probably not worth it). Also requires making `AnyPushRule` serializable and deserializable (the latter with a dedicated function that additionally requires the rule kind as an input).

If this is implemented, we can delete the `PushRule` type.

[2022-03-23 20:17] #686 closed, assigned to jplatte

[2022-03-24 16:52] jplatte commented on #777
Superseded by #928.

[2022-03-24 16:52] #777 closed, assigned to nobody

[2022-03-25 09:12] #390 closed, assigned to nobody

[2022-03-25 10:24] #821 closed, assigned to nobody

[2022-03-25 12:15] jplatte commented on #226
Unclear whether we still need to do anything here.

[2022-03-25 12:15] #226 closed, assigned to nobody

[2022-03-25 12:59] #443 closed, assigned to nobody

[2022-03-25 13:00] jplatte commented on #838
@ShadowJonathan what's the state of this?

[2022-03-25 13:03] ShadowJonathan commented on #838
Bumped up my internal todo item to tomorrow for this, thanks for the reminder

[2022-03-26 09:40] ShadowJonathan commented on #838
Ah, this has already been fixed, it adds `/v3/` there now as well.

[2022-03-26 09:40] #838 closed, assigned to ShadowJonathan

[2022-03-28 11:34] jplatte opened #1024 "Prefer encrypted attachments over unencrypted ones"
The spec doesn't actually say which one should be preferred (https://github.com/matrix-org/matrix-spec/issues/1007) but this matches the Rust SDKs behavior (as of https://github.com/matrix-org/matrix-rust-sdk/pull/411) and frankly seems more intuitive to me.

[2022-03-28 11:37] jplatte opened #1025 "Split `events::room::message` into more files"
The individual `msgtype`s could be in separate files, because this file is currently over 1000 lines long, which is definitely too much in my book.

Should not be done before #1009 to avoid merge conflicts.

[2022-03-28 11:41] jplatte opened #1026 "Decide on a policy about unit vs. integration tests"
Our tests currently are not split into unit tests vs integrations very cleanly at all. It seems to be more a case of "file too large, move into integration tests", but that's rather weird with unit tests and integration tests having somewhat different semantics (the former are compiled as part of the crate being tested and can access private things).

This is mostly a note for myself, but I expect

[2022-03-28 14:48] jplatte opened #1029 "Make unstable-exhaustive-types a cfg flag, not a Cargo feature"
This will allow us to make Clippy happy with that setting turned on, by moving out those lints from `[target.'cfg(all()))']` to `[target.'cfg(not(ruma_unstable_exhaustive_types))']`.

It will also make it impossible for libraries to activate this flag on behalf of their users, which is a good thing IMO.

[2022-03-28 14:50] jplatte commented on #1024
Done: #1027.

[2022-03-28 14:50] #1024 closed, assigned to jplatte

[2022-03-28 17:39] #790 closed, assigned to zecakeh

[2022-03-28 18:24] zecakeh opened #1031 "MSC3381: Polls"
MSC text: https://github.com/matrix-org/matrix-spec-proposals/pull/3381

It's the only extensible-events types that are not yet implemented.

Depends on:

- ~~[MSC3267: Reference relations](https://github.com/matrix-org/matrix-spec-proposals/pull/3267) (#1119)~~,
- #1000.

[2022-03-29 18:25] jplatte opened #1032 "Improve "enum string" documentation"
Currently, only `.as_str()` is mentioned, not the `From<String>` impl. Also, `as_str()` should no longer be mentioned for the event type enums.

[2022-03-30 16:56] zecakeh opened #1038 "MSC2654: Add method to check if an event should be counted as unread"
Context:
- https://matrix.to/#/!bKOoBjzgyxiMyHIyLp:matrix.org/$9CwXkeAKy-VZmqcbFKlZxPWRFTdDdkn_tJfdics2oyM?via=matrix.org&via=tedomum.net&via=conduit.rs
- #1037
- [MSC2654](https://github.com/matrix-org/matrix-spec-proposals/pull/2654)

This method should probably be implemented on `AnySyncRoomEvent` and `Raw<AnySyncRoomEvent>` and follow the steps from the MSC.

It is currently blocked because we

[2022-03-31 21:23] #928 closed, assigned to nobody

[2022-04-01 15:04] jplatte opened #1041 "Deny broken links and non-URL hyperlinks in CI"
There's a few off-by-default rustdoc lints that we should activate in CI.

[2022-04-01 15:38] jplatte opened #1042 "Change origin_server_ts accessor functions to return a copy, not a reference"
Title says everything, this is just an oversight in codegen.

[2022-04-02 23:07] M0dEx opened #1044 "Wrong version of send_leave S-S API endpoint used"
Shouldn't the [v2 endpoint](https://spec.matrix.org/v1.2/server-server-api/#put_matrixfederationv2send_leaveroomideventid) be used here, instead of v1?

https://github.com/ruma/ruma/blob/abcaa4d3f7945cf3c3619a1d29cdf362a47937ac/crates/ruma-federation-api/src/membership/create_leave_event/v2.rs#L13

[2022-04-03 14:07] #1044 closed, assigned to ShadowJonathan

[2022-04-03 19:20] ShadowJonathan opened #1046 "`verify_json` does not remove `signatures` key when verifying event"
Taken from [this conduit issue comment](https://gitlab.com/famedly/conduit/-/issues/256#note_897061386);

[2022-04-03 19:24] ShadowJonathan commented on #1046
Ah, it's a bit hidden, but at `verify_json_with`, the object is passed through `canonical_json`, which removes fields `signatures` and `unsigned` before converting it to text bytes.

[2022-04-03 19:24] #1046 closed, assigned to nobody

[2022-04-04 09:39] ShadowJonathan commented on #770
I've maybe found some easy optimizations;
- Change `StateMap`'s `String` key to `Cow<str>`, this allows the caller to "compress" the state event key.
  - However, playing around a bit in playground, it increases the size of the actual SEK (`(RoomEventType, String)`) by one word (8 bytes on 64-bit platforms)
- Change `auth_chain_sets` to `Vec<Vec<E::Id>>`, this loses the dedup guarantee, only `get_

[2022-04-04 10:28] jplatte commented on #770
We can use a custom type instead of `Cow` which uses `Box<str>` over `String`, which would be three words like `String`. We could even go down to two words by copying the `beef` crate's unsafe trickery, but that should likely be a separate change.

Not sure about this one.

[2022-04-04 10:38] ShadowJonathan commented on #770
I saw `beef` while looking at Cow's size, but I didn't want to suggest it because it'd be a separate type.

Regardless, I think we shouldn't copy, but maybe depend on it if we want to use less space.

[2022-04-04 10:48] ShadowJonathan commented on #770
That's the wrong optimization i want to make here, I want to optimize the heap-allocated strings, allowing them to be borrowed from somewhere else, allowing the caller to dedup them and reduce heap pressure by avoiding clones before calling `resolve`

[2022-04-04 10:49] jplatte commented on #770
I checked again and all the optimizations that crate does are based on a capacity being present. They're thus not applicable here. Still we could use

[code]

which is smaller than `Cow<str>` and the same size as `String`.

[2022-04-04 10:50] jplatte commented on #770
Though now that I think about it, since references and the `Box` pointer can't be null, this should still be possible as a two-words thing where the last bit determines whether it's owned or borrowed.

I might build a separate crate for that 🙂

[2022-04-04 10:52] ShadowJonathan commented on #770
FTR the reason why we cant just use `&str` and friends is because `iterative_auth_check` wants to push owned strings into `StateMap`s, so that rules out only borrowing.

[2022-04-04 12:38] jplatte opened #1048 "Use dedicated owned identifier types everywhere"
#934 added them, we now need to convert `ToOwned` impls and many uses of `Box<SomeId>` to them.

[2022-04-04 12:45] ShadowJonathan commented on #1048
btw in the macro, there's a [commented-out piece of code](https://github.com/ruma/ruma/pull/934/files#diff-4117891aa7faeb98c1d9b4cc8f63374a4f9edb3985c4a376159a740e32d21c02R163-R172) that you'll have to uncomment (plus remove the equiv trait impl below), i didnt do that in #934 as that broke Many Things, and would only be relevant if the type is used everywhere

[2022-04-04 14:52] DevinR528 commented on #770
This would be fine as far as the algorithm goes. Is the problem that conduit has to re `collect()` into a `HashSet` for this?

[2022-04-04 14:55] ShadowJonathan commented on #770
Not neccecarily, but that HashSet has larger heap pressure than Vec would have, thus me trying to tackle it.

The main goal here is to reduce leaf dedup, and other structures along the way, while having minimal performance loss.

Essentially; Conduit would not have to clone a bunch of structures before passing it into `resolve`.

[2022-04-05 12:29] jplatte commented on #579
Done in #1017. (merged, but not in a way GitHub recognizes)

[2022-04-05 12:29] #579 closed, assigned to jplatte

[2022-04-05 16:56] zecakeh opened #1052 "Plain text constructors for rich replies don't follow the spec"
From [the spec](https://spec.matrix.org/unstable/client-server-api/#fallbacks-for-rich-replies):

That means that even the plain text constructors must return a message with a `formatted_body`.

[2022-04-05 19:13] #1052 closed, assigned to zecakeh

[2022-04-06 17:35] timokoesters opened #1057 "auth_types_for_event should return StateEventType"
https://github.com/ruma/ruma/blob/7de3b4b649fac996df221f0ccf857c1db207b5b8/crates/ruma-state-res/src/event_auth.rs#L47

[2022-04-06 17:48] jplatte commented on #1057
PR welcome.

[2022-04-06 18:54] timokoesters opened #1058 "fetch_state should accept StateEventType"
https://github.com/ruma/ruma/blob/7de3b4b649fac996df221f0ccf857c1db207b5b8/crates/ruma-state-res/src/event_auth.rs#L126

[2022-04-06 21:05] zecakeh commented on #1000
From: https://matrix.to/#/!bKOoBjzgyxiMyHIyLp:matrix.org/$x7r65bpuEb7CSl1zeMs-1hf7zgVLFic9SFfPgVsQR3E?via=matrix.org&via=tedomum.net&via=conduit.rs

`event_enum` should probably look like that:

[code]

[2022-04-09 12:21] #1057 closed, assigned to jplatte

[2022-04-09 12:21] #1058 closed, assigned to jplatte

[2022-04-10 09:39] #1041 closed, assigned to nobody

[2022-04-10 12:48] #1032 closed, assigned to zecakeh

[2022-04-11 09:23] jplatte opened #1064 "Use stronger types for state_key's"
For example in `m.room.member` the `state_key` is a `UserId`. In many other cases the `state_key` should always be the empty string.

[2022-04-11 13:42] ShadowJonathan opened #1067 "Encode Metadata `added`<-`deprecated`<-`removed` invariants"
Currently, `Metadata` just has three `Option`s, which technically could all be `None` or `Some` independently

I want to change this so that the invariant of "`deprecated` implies `added`" and "`removed` implies `deprecated`" is encoded in an enum, possibly something like this;

[code]

[2022-04-11 13:44] #898 closed, assigned to ShadowJonathan

[2022-04-11 13:46] jplatte commented on #1067
The idea sounds good, but the variant names seem weird. How about `Unstable`, `Stable`, `Deprecated`, `Removed`?

[2022-04-12 11:03] zecakeh commented on #754
Closed with #1060

[2022-04-12 11:03] #754 closed, assigned to zecakeh

[2022-04-12 11:11] zecakeh commented on #1064
The types of the state key are usually known for other types too. Shouldn't it rather be a global change where the content is an enum like `MessageType`?

[2022-04-12 11:21] jplatte commented on #1064
You've got a point there. This issue really mostly exists to unblock removal of the Rust SDK's `MemberEvent`. Doing this in a more principled way sounds reasonable, but I don't think an enum is right. Instead, `StateEventContent` should probably have an associated type for the state key. I'll experiment with that soon 🙂

[2022-04-12 20:10] jplatte commented on #1064
@zecakeh Thanks again! I've largely got this implemented on a branch, still need to add another macro setting to the `EventContent` derive so the default `String` can be overridden (or maybe we shouldn't have a default at all). Overall seems to work out very well 🥳

[2022-04-14 09:54] poljar opened #1070 "Make it possible to easily ignore redacted events again"
**The shortcoming you see**
Since the introduction of the `Original` vs `Redacted` event enum hierarchy it has become quite hard to ignore or handle all redacted events in the same manner. Bots or even the majority of clients might want to do so.

**The improvement**

We should be able to either fetch the optional content from a `AnySyncMessageLikeEvent` or get to an enum of unredacted events.

Op

[2022-04-14 16:07] jplatte opened #1074 "Deduplicate as_str() based impls between ID DSTs and owned IDs"
The identifier macro code currently contains some mostly-duplicate code for generating trait implementations by delegating to `id.as_str()` for identifier DSTs als well as owned identifier types. We should deduplicate those sections of the macro code.

[2022-04-14 16:56] jplatte commented on #1070
Do you think this is still going to be relevant when the Rust SDK has a higher-level messages-centric (rather than event-centric) API? I'm hesistant about putting time into this.

[2022-04-14 17:25] poljar commented on #1070
Yeah, pretty sure something seshat-like will want to index a subset of all the unredacted contents and just get the event id of the redacted event to remove it from the search index.

It won't really want to deal with any higher level API.

I can take care of this once I'm back if you give me pointers, I would really like to have this back before the release.

[2022-04-17 20:14] M0dEx opened #1075 "Underride ruleset generated by push::Ruleset::server_default() contains wrong rule IDs"
`Underride` rule IDs when using Synapse:
[code]

`Underride` rule IDs when using Conduit (based on ruma's [`push::Ruleset::server_default()`](https://github.com/ruma/ruma/blob/3ec82181581b6411d2fa96c196bc96052236d3a5/crates/ruma-common/src/push/predefined.rs#L196)):
[code]

This causes Element (and I assume other clients) to be unable to determine the global rules:
![image](https://user-images.git

[2022-04-17 20:58] #1075 closed, assigned to nobody

[2022-04-18 09:53] ShadowJonathan opened #1077 "Make ruma types easily extensible"
(pseudocode)
[code]

Basically: make it easy to extend any event structure using the above format (to a degree), where the ruma-specced type is embedded (validated according to ruma, etc.) and any library consumer's type can add fields above that.

Essentially it'd be the same as `serde(flatten)`, but i think we could do some things to make it more egonomic, such as introducing a derive macro with

[2022-04-19 17:24] naman-sandilya commented on #1042
I will start working on this, as per the discussion on #ruma:matrix.org

[2022-04-19 17:34] jplatte commented on #620
Well, we use a virtual workspace so that default doesn't apply to us. [Docs](https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details)

[2022-04-19 17:35] jplatte commented on #620
Done in a5c3af4a9af3c4fd59c4f8eec8be3810f0258c55.

[2022-04-19 17:35] #620 closed, assigned to nobody

[2022-04-19 21:49] ShadowJonathan opened #1081 "MSC1902: Split the media repo into s2s and c2s parts"
https://github.com/matrix-org/matrix-spec-proposals/pull/1902

Note: This is migrating the `_matrix/media` endpoints to `_matrix/client`, if we're working with this as-is ruma today, we'd have to duplicate the endpoints.

[2022-04-20 08:39] #1048 closed, assigned to jplatte

[2022-04-20 12:20] poljar opened #1082 "The membership_change method is missing from the redacted variants of membership events"
The membership_change method is a useful method to quickly check what change a `m.room.member` event triggered.

This method is sadly missing from the redacted variants of membership events, those variants have their content almost completely removed, but the important `membership` field that the `membership_change()` method uses to calculate the change remains preserved.

[2022-04-20 12:22] jplatte commented on #1082
Missing functionality isn't really a bug, but I agree that we should have this 🙂

[2022-04-20 15:20] jplatte commented on #1070
Okay, so I think this is basically "just" re-introducing `expand_event_enum` calls with `V::Original` and `V::OriginalSync` [here](https://github.com/ruma/ruma/blob/cbf71d848ad4617e8f15b940e24e20609c812749/crates/ruma-macros/src/events/event_enum.rs#L71).

However, to not have to handle these cases elsewhere (they were no longer necessary), we have two `EventKindVariation` types (the thing locally

[2022-04-21 09:16] #1064 closed, assigned to jplatte

[2022-04-25 11:22] #1082 closed, assigned to jplatte

[2022-04-25 11:24] jplatte opened #1091 "Add details to MembershipChange fields"
Currently, the `MembershipChange` typo in `ruma-common/src/events/room/member/change.rs` contains boolean fields for whether the display name and/or avatar changed. It would be useful to instead have those fields be an `Option`al pair of the previous and new values for those fields.

[2022-04-25 11:28] jplatte opened #1092 "Add support for knocking in membership_change methods"
The `MembershipChange` type / `membership_change` function in `ruma-common/src/events/room/member/change.rs` currently don't support knocking, which was added as part of Matrix v1.1. We should add support!

[2022-04-25 13:15] jplatte opened #1093 "Add From<OwnedId> impls for String"
We have these for the DST identifiers, but not owned ones.

[2022-04-25 14:13] jplatte opened #1094 "Simplify identifier macro code"
We currently have a lot of instances of `#var #ty_generics` in our identifiers macro code. We should introduce `let var_ty = quote! { #var #ty_generics };` and use that repeatedly.

[2022-04-25 17:14] jplatte opened #1096 "Add From<MessageLikeEventType | StateEventType> for RoomEventType"
Currently, one has to use `.to_string().into()` which is annoying to write and less efficient than a direct conversion could be.

[2022-04-26 09:44] jplatte commented on #1091
@poljar Does this sound good to you as a means of making it easier to generate "X changed their display name to Y" like messages? Do you think we should get it in before the upcoming release?

[2022-04-26 09:47] poljar commented on #1091
Yes, makes sense. Yes please, it makes it otherwise hard to upgrade weechat-matrix-rs.

[2022-04-26 12:36] #1091 closed, assigned to jplatte

[2022-04-26 12:38] #478 closed, assigned to nobody

[2022-04-26 14:26] #808 closed, assigned to jplatte

[2022-04-27 10:30] #1042 closed, assigned to naman-sandilya

[2022-04-27 11:57] jplatte commented on #385
I think if it was just ergonomics, the best possible thing would be to have generics for outgoing things (unless you want to store them, then it becomes annoying again), and concrete types for incoming things.

A middleground would be to remove all of these borrowing things and just provide constructors that use `AsRef` and other generics, so types are still concrete but can be constructed without

[2022-04-27 12:00] jplatte commented on #597
Bump @ShadowJonathan :)

[2022-04-27 12:02] jplatte commented on #683
Thinking that `ruma-axum` is actually too narrow, parsing and writing of `X-Matrix` headers would be independent of axum yet something I think we should definitely have in some Ruma crate. `ruma-server` sounds good-ish, but probably to prone to cause confusion 😄

[2022-04-27 12:05] jplatte commented on #725
Unclear whether anything should be done with the docs when #802 is implemented.

[2022-04-27 12:06] jplatte commented on #379
Closing in favor of the more general issue #781.

[2022-04-27 12:06] #379 closed, assigned to nobody

[2022-04-27 12:10] jplatte commented on #923
Removing 'help wanted' since it seems quite unclear what the best way forward is, especially with at least one MSC out there to get supported versions from a non-CS API.

[2022-04-27 12:11] ShadowJonathan commented on #683
`ruma-server-util`?

Otherwise I think it wouldn't create as much confusion to the point where it's not salvageable, it complements `ruma-client`, and we should add a note at the top of the crate readme that it is not the ruma server, but a utility crate.

[2022-04-27 12:12] jplatte commented on #908
@ShadowJonathan do you still hold the opinion that this ought to be macro-generated or can we close this?

[2022-04-27 12:19] jplatte commented on #846
Will upgrade to 1.56 and Rust 2021 after the imminent 0.6.0 release.

[2022-04-27 12:33] ShadowJonathan commented on #908
I think this would be non-actionable considering if you want to go to derives anyways, even if that one will be a long way off, so i'll close it.

[2022-04-27 12:33] #908 closed, assigned to nobody

[2022-04-27 12:50] jplatte commented on #959
We're actually still missing this for v1.1 / v1.2 spec compatibility? 😱

I need to get on this 😄

[2022-04-27 17:08] #959 closed, assigned to jplatte

[2022-04-27 20:13] #702 closed, assigned to jplatte

[2022-04-28 08:37] #1096 closed, assigned to zecakeh

[2022-04-28 14:23] jplatte opened #1104 "Implement MSC3061 (Sharing room keys for past messages)"
All that seems to be required for this in Ruma is adding a `shared_history` field (initially renamed to `org.matrix.msc3061.shared_history`) in a few structs:

* the content structs for `m.room_key` and `m.forwarded_room_key`
* `ruma_client_api::backup::SessionData`
* `SessionData` of key backups? we don't seem to have this

[2022-04-28 14:32] #1070 closed, assigned to jplatte

[2022-04-30 11:53] ShadowJonathan commented on #1067
While working on this, I realised it was a bit weird to not include the `*_path` variables into this as well, considering that they fall almost under the same invariant.

Should I do that as well?

[2022-05-14 07:47] naman-sandilya commented on #1074
I'll be starting on this.

[2022-05-16 11:24] #1000 closed, assigned to zecakeh

[2022-05-17 07:24] ShadowJonathan commented on #930
For this i think i'll add an enum under `compat`, which can read a pkcs8 document, and return a variant to show if its ring-malformed or not. This'll allow the caller to have logic pertaining to converting the document on disk or not.

Then this enum can simply be converted into `Ed25519KeyPair` using `TryInto` (to propagate any further errors) or a `Ed25519KeyPair.from_compat` function, not sure

[2022-05-17 07:39] ShadowJonathan commented on #1081
Alright, for this, i'll first create a `msc1902` submodule under `ruma_client_api::media`, and duplicate the endpoints in there with the right paths.

However, after this stabilizes, I think that the endpoints should move under a separate submodule (maybe `old`?) and the endpoints in `msc1902` replacing the current one. This would require some coordination between implementations.

The reasoning i

[2022-05-17 08:33] ShadowJonathan opened #1118 "Endpoint history"
(Distillation from talk in #ruma-dev)

Related to https://github.com/ruma/ruma/issues/1039

---

I'd like to refactor the `stable`, `unstable`, `r0_path`, etc. macro bits ~~again~~ to something more idiomatic;

[code]

In essence, this'd clarify the version history of a particular endpoint at a glance, and allows us to do the following;
- add more `unstable` paths (needed for MSC1902, see https://

[2022-05-17 08:47] ShadowJonathan commented on #1118
We could possibly also generate some neat documentation from this;

[code]

[2022-05-17 13:45] jplatte opened #1120 "Replace UserIdentifier::ThirdPartyId by one variant per medium"
Currently, we have a `ThirdPartyId` variant in the [uiaa::UserIdentifier](https://docs.rs/ruma/0.6/ruma/api/client/uiaa/enum.UserIdentifier.html) enum, with an `address` and a `medium` which can (right now) be one of `Medium::Email` or `Medium::Msisdn`.

`UserIdentifier` would be easier to use with `ThirdPartyId` being replaced with two variants for these two mediums, i.e. `UserIdentifier::Email`

[2022-05-19 09:36] zecakeh opened #1121 "Move `events::room::message::Relation` to `events::relation`"
For now this is a suggestion open to discussion

[Discussion from the matrix room](https://matrix.to/#/!bKOoBjzgyxiMyHIyLp:matrix.org/$Q2a-MvZXm_Dz2omjglc1A63SEyUMDarDUu9U2APB5CQ?via=matrix.org&via=flipdot.org&via=tedomum.net):

[2022-05-19 09:54] zecakeh opened #1122 "Make `events::relation::BundledAnnotation` a struct instead of an enum"
This is currently a suggestion, open to discussion.

[This type](https://docs.ruma.io/ruma/events/relation/enum.BundledAnnotation.html) is currently defined as an enum with a single variant: `BundledAnnotation::BundledReaction`.

However as I understand [MSC2677](https://github.com/matrix-org/matrix-spec-proposals/pull/2677), the format should be valid for any annotation, so it shouldn't be define

[2022-05-20 18:23] ShadowJonathan commented on #1081
Blocked on https://github.com/ruma/ruma/issues/1118, as I want to have this endpoint transition ergonomically to the new ones.

[2022-05-21 16:14] zecakeh opened #1124 "Implement MSC2746: Improved VoIP Signalling"
[Link to the MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/2746)

I'm wondering if the `Call*EventContent` types should be enums according to the version, because version 1 adds the `party_id` to all existing call events so it doesn't make sense to have `version = 0` with a `party_id` and `version = 1` without a `party_id`.

Another thing for the current types is that both `Invite`

[2022-05-22 07:33] zecakeh commented on #1124
Thinking more about this: declaring this as an enum would break backwards compatibility for deserialization. You should be able to reply with a version 0 `m.call.answer` to an unknown version `m.call.answer` by using the appropriate fields.

Maybe just providing constructors for the different versions with the required fields would work better.

[2022-05-22 10:11] ShadowJonathan opened #1125 "`PUT /_matrix/client/v3/room_keys/keys` is missing"
From: https://spec.matrix.org/v1.2/client-server-api/#put_matrixclientv3room_keyskeys

[2022-05-22 10:12] ShadowJonathan commented on #1125
Oh, apparantly this does exist, but only r0 is missing

[2022-05-22 10:12] #1125 closed, assigned to nobody

[2022-05-22 11:53] ShadowJonathan commented on #1118
Additionally, on the `Metadata` struct itself, this could refactor `added` and friends to be methods, with just one `history` slice field which contains all this information.

[2022-05-23 11:20] jplatte commented on #1122
I agree we should change this, since it is about the specific `rel_type` of `m.annotation` (or w/o `m.`?) as highlighted by @zecakeh later on on Matrix.

[2022-05-23 12:08] zecakeh commented on #1121
Another related suggestion: I find the naming of `relation::Relations` confusing, when associated with `room::message::Relation`. I would expect `Relations` to be a list of `Relation`, but it is a list of bundled relations so I'd suggest we rename it to `BundledRelations`.

[2022-05-23 16:27] zecakeh commented on #1122
It should be noted that the example is wrong in the MSC, here is what a real bundled annotation look like:

[code]
So there is no `origin_server_ts` but there is a `type`. We'll just keep both fields until the MSC is updated to reflect the current state.

[2022-05-23 19:51] #827 closed, assigned to zecakeh

[2022-05-24 12:30] #1122 closed, assigned to zecakeh

[2022-05-25 10:03] #1031 closed, assigned to zecakeh

[2022-05-27 10:28] #846 closed, assigned to jplatte

[2022-05-27 18:11] zecakeh opened #1139 "Remove `m.room.message.feedback` (MSC3582)"
[Link to the MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/3582)

I don't know if it's worth it to put this removal behind a feature flag as the reason this is removed is because it is unused and it has been merged in the unstable spec. We could just wait until the next release because it should be quick and easy.

[2022-05-27 18:46] zecakeh opened #1140 "Remove unenforced size limit on room names"
[Link to the spec PR](https://github.com/matrix-org/matrix-spec-proposals/pull/3669).

This probably means removing the `(Owned)RoomName` types for us as this is now a regular string.

[2022-05-27 19:25] zecakeh opened #1141 "Allow `invite->knock` and `external->kick` membership state changes"
[Link to the spec PR](https://github.com/matrix-org/matrix-spec-proposals/pull/3730)

Even if those are silly things to do, they are legal so they should be handled. Looking at the state-res code it seems they are not allowed currently.

[2022-05-27 19:39] zecakeh opened #1142 "`type` in `AuthData` can be optional"
[Link to the spec PR](https://github.com/matrix-org/matrix-spec/pull/989/files)

If the `session` field is provided, the `type` field can be omitted. This is mainly a problem with deserialization that relies on the `type` field to recognize the variant.

[2022-05-27 20:34] jplatte commented on #1142
It's already not required in deserialization:

https://github.com/ruma/ruma/blob/62c4d7ab7255cf55a7192b3a363a3488fdb45661/crates/ruma-client-api/src/uiaa.rs#L272-L302

[2022-05-27 20:34] #1142 closed, assigned to nobody

[2022-05-27 20:38] zecakeh commented on #1142
Ah right :sweat_smile:

[2022-05-27 22:22] zecakeh opened #1143 "Reply fallbacks add unnecessary spaces and newlines"
The fallback content generated adds unnecessary spaces because the multiline strings are indented and they don't use the [`STRING_CONTINUE`](https://doc.rust-lang.org/reference/tokens.html#string-literals) syntax.

There are also more newlines than in the spec definition that has no more than one newline after each line, but we have three in the HTML body between the `<mx-reply>` and the reply tex

[2022-05-28 07:01] jplatte commented on #1143
I thought we were using [`formatdoc!`](https://docs.rs/indoc/latest/indoc/macro.formatdoc.html) to avoid the extra space at the start. If we aren't, we should.

[2022-05-28 07:35] zecakeh opened #1144 "Add a method to get the default room version for a matrix version"
I'm guessing it should be a constructor like `RoomVersionId::default_for_matrix_version`.

[2022-05-28 07:47] jplatte commented on #1144
How about a method on `MatrixVersion`?

[2022-05-28 07:54] zecakeh commented on #1144
Sure, I don't know how it would be used. We could have both, one using the other.

[2022-05-28 08:19] zecakeh opened #1145 "Incorporate Matrix v1.3 changes"
Here is the [v1.3 changelog](https://spec.matrix.org/v1.3/changelog/#api-changes) to follow our progress.

To be sure we don't miss anything, ALL entries of the changelog appear here in the same order and category. The ones that we have to implement are linked to an issue and/or a PR or commit in this repository. If an extra step is necessary when the version is released (like moving it from an un

[2022-05-28 13:47] zecakeh commented on #1143
We actually use that macro. It's just that we add unnecessary indentation and extra newlines

[2022-05-28 14:45] zecakeh commented on #1143
Why are we even sending pretty-printed HTML in the first place? I think we should just not use `formatdoc!` and strip the newlines and spaces in the fallback.

[2022-05-29 08:05] zecakeh opened #1147 "Add a CI task to ensure no link leads to old `matrix-doc` repository"
It shouldn't be an issue, but we never know, if a link was copied from an old source.

[2022-05-29 08:08] ShadowJonathan commented on #1147
I think a simple grep across the current codebase should be enough, as I don't think we're gonna encounter this repeatedly.

[2022-05-30 09:21] ShadowJonathan opened #1149 "Implement MSC2666: Mutual Rooms"
Implement [MSC2666](https://github.com/matrix-org/matrix-spec-proposals/pull/2666).

This adds;
- `/_matrix/client/unstable/uk.half-shot.msc2666/user/mutual_rooms/{user_id}`

[2022-05-30 10:51] jplatte commented on #1147
I agree, and just checked: The only places where we have `/matrix-doc/` in the code is two instances of `https://github.com/tulir/matrix-doc/...` (in docs for unstable endpoints), which is a fork that still has the `matrix-doc` name.

[2022-05-30 10:51] #1147 closed, assigned to nobody

[2022-05-30 11:29] jplatte commented on #1143
Probably so we have a readable literal in the source, instead of a symbol soup?

[2022-05-30 11:42] zecakeh commented on #1143
For me, in the middle of JSON, it's less readable to have extra spaces and `\n`s, because of course the newlines are escaped.

[2022-05-30 12:09] #1124 closed, assigned to zecakeh

[2022-05-30 12:43] #930 closed, assigned to nobody

[2022-05-30 16:09] jplatte commented on #1143
Hm yeah I guess we can use the `STRING_CONTINUE` syntax you mentioned, have similar source readability and possibly get rid of a build-time dependency while fixing this bug.

[2022-05-30 18:28] zecakeh commented on #1143
Working on this, I also realized that we don't do the following in bold (from [the spec](https://spec.matrix.org/unstable/client-server-api/#fallbacks-for-rich-replies)):

We should also probably transform newlines to `<br />`.

[2022-05-31 17:12] zecakeh commented on #42
Marking this as blocked as it is currently [blocked upstream](https://github.com/matrix-org/matrix-spec-proposals/pull/2244#issuecomment-1055632009)

[2022-06-01 07:35] ShadowJonathan commented on #818
If we do, can we document this anywhere? (e.g. "For internal consistency, ruma uses American spelling for variable names. Actual values may differ, as the matrix specification has a mix of British and American English.")

[2022-06-01 07:37] ShadowJonathan commented on #913
The spec seems to imply that the "glob-like" system is not glob itself, can we get some clarification if we can use an RFC-defined glob algorithm?

[2022-06-01 07:40] ShadowJonathan commented on #1144
Would this return a `String`/`&str`, or a `RoomVersionId`? Considering `MatrixVersion` is in `ruma-api`, I don't see how its possible to have it reference something from `ruma-common`, which is "down" the compilation tree.

I'd recommend `RoomVersionId::default_for_matrix_version`.

[2022-06-01 07:45] zecakeh commented on #1144
It is not "down", everything is in `ruma-common` now so they are more "siblings".

[2022-06-01 07:47] ShadowJonathan commented on #1144
Ah, they both exist in `ruma-common` now, yeah.

I think it's useful to have it be a function on the `MatrixVersion` enum, then. `MatrixVersion::default_room_version()`

[2022-06-01 07:48] ShadowJonathan commented on #521
Why was this reopened?

[2022-06-01 07:50] jplatte commented on #818
Sounds like a good idea. But where to put it? Would probably be good to have it in the contributing guide, but having it *only* there would be weird I think.

[2022-06-01 07:52] jplatte commented on #521
Because the PR that closed this actually fixed a different, related issue. See comments over there.

[2022-06-01 08:04] ShadowJonathan commented on #818
In the readme, i'd say, and/or the index page of ruma's documentation.

[2022-06-01 08:08] ShadowJonathan commented on #1141
https://github.com/ruma/ruma/issues/1092 is probably related

[2022-06-01 09:47] #1094 closed, assigned to ShadowJonathan

[2022-06-01 09:49] jplatte commented on #1074
@naman-sandilya Have you started work on this? #1151 was just merged which touched the same parts of the code, so you will have to rebase if you already started.

[2022-06-01 10:01] #1143 closed, assigned to zecakeh

[2022-06-01 11:22] naman-sandilya commented on #1074
Sure thanks. I'll do that.

[2022-06-03 09:57] #1140 closed, assigned to jplatte

[2022-06-03 10:34] johannescpk opened #1159 "Deprecate/Remove `try_into_sync_response`"
When https://github.com/matrix-org/matrix-rust-sdk/pull/710 gets merged [`try_into_sync_respons`](https://github.com/ruma/ruma/blob/269172dc4afb384fd65c95a28bb54fdbbb153c01/crates/ruma-appservice-api/src/event/push_events.rs#L53-L99) will be obsolete and with it the `appservice-helper` feature. So we can deprecate / remove it.

[2022-06-03 10:36] jplatte commented on #1159
Do you want to take care of removing it? Can be done now, since it's clear that PR will be merged, and the Rust SDK doesn't track the main branch of Ruma anyways.

[2022-06-03 11:00] #1159 closed, assigned to nobody

[2022-06-03 11:32] jplatte commented on #1159
Changelog entry: e6a2e8450dd1fe01a1587262648de34eae971937

[2022-06-03 16:17] zecakeh opened #1163 "Implement MSC2918: Refresh tokens"
[MSC](https://github.com/sandhose/matrix-doc/blob/sandhose/msc/refresh-token/proposals/2918-refreshtokens.md)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1056)

Adds an endpoint: `POST /_matrix/client/r0/refresh`
Adds fields to the request and response of `/login` and `/register`

[2022-06-03 16:43] zecakeh opened #1164 "Implement MSC3316: Timestamp massaging"
[MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/3316)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1094)

Adds the `ts` query parameter to `message::send_message_event::v3::Request` and `state::send_state_event::v3::Request`

It should probably only be available when the `appservice-api` feature is enabled? I don't know if there are other client-api endpoints with appser

[2022-06-04 08:19] ShadowJonathan opened #1165 "`ruma-html` crate"
This came up while discussing https://github.com/ruma/ruma/pull/1161; `ammonia` might not be flexible enough to match what the spec wants for HTML sanatization.

Out of that issue, I questioned how much code and work it would be to create a parser/sanitizer ourselves.

Then, i thought of the crate `ruma-html`, which might just be able to serve other uses;
- Parse message HTML into a tree.
- Build

[2022-06-04 08:23] ShadowJonathan commented on #1165
The maintenance cost might be high to (essentially) maintain a HTML parser, but even if we should depend on a library such as `html5ever` to achieve this, I believe having this crate would help a lot.

[2022-06-04 09:20] zecakeh commented on #1165
Looking at HTML manipulation in these three crates:
- [html_sanitizer](https://crates.io/crates/html_sanitizer)
- [sanitize_html](https://crates.io/crates/sanitize_html)
- [html2pango](https://crates.io/crates/html2pango)

It looks like when you have a parser and a DOM library, manipulating it is rather easy afterwards and should be easily maintainable.

[2022-06-04 10:05] zecakeh commented on #1120
This will need custom serde or are there serde attributes that would allow to do that?

[2022-06-04 10:16] jplatte commented on #1120
`UserIdentifier` already had custom (`From` impl based) ser/de, and this won't make things easier, so this will require extension of the current custom ser/de.

[2022-06-05 11:59] zecakeh commented on #469
I believe this is superseded by #1081 now. Or at least strongly related.

[2022-06-05 12:34] zecakeh commented on #1120
While we're at it, should `UserIdentifier::UserIdOrLocalpart` be a struct variant too, in case fields are ever added?

[2022-06-05 16:06] zecakeh commented on #913
It looks more like a subset of glob because only `?` and `*` are recognized as special characters so others shouldn't have any effect on the match.

The problem of `wildmatch` is that it only matches the whole string. And even if we tried to make it match part of the string by adding `*` at both ends of the pattern, we wouldn't know where it matches so we're not really better off than before.

[2022-06-07 09:36] jplatte commented on #469
Hm, I wonder how this is going to work for Conduit but I think you're right in that we're definitely going to need "duplicate" definitions with that MSC, and we can discuss on the other issue.

[2022-06-07 09:36] #469 closed, assigned to nobody

[2022-06-07 09:39] jplatte commented on #1120
The individual variants don't currently have a `#[non_exhaustive]` attribute, so adding fields is a breaking change either way. I think this stuff isn't expected to see much change, even what we plan now is unrelated to a spec change so it should be fine to leave the other variants as-is for now.

[2022-06-07 15:14] #1025 closed, assigned to zecakeh

[2022-06-10 16:30] zecakeh opened #1172 "Implement MSC3676: Transitioning away from reply fallbacks"
[MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/3676)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1062)

In practice we don't have much to do:
- [ ] There is a `RoomMessageEventContent::reply()` convenience method that allows to build a reply with any `OriginalRoomMessageEvent`, but it implements an MSC3440-specific feature so is behind the corresponding flag. Maybe we

[2022-06-10 16:43] ShadowJonathan commented on #1172
Please get some clarity on that from the SCT.

[2022-06-10 16:57] zecakeh opened #1173 "Implement MSC3787: Allowing knocks to restricted rooms"
[MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/3787)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1099)

If I'm not forgetting anything:

- [x] Add a new join rule type in the corresponding enums in events and client-api
- [ ] Update state-res to handle this new rule

[2022-06-10 17:17] zecakeh opened #1174 "Implement MSC3604: Room Version 10"
[MSC](https://github.com/matrix-org/matrix-spec-proposals/pull/3604)
[Spec PR](https://github.com/matrix-org/matrix-spec/issues/1099)

- [x] Add new variant to `RoomVersionId`
- [x] Update `state-res::RoomVersion`
- [x] Enforce integer power levels ([MSC3667](https://github.com/matrix-org/matrix-spec-proposals/pull/3667))
- [x] Allow knocks to restricted room: https://github.com/ruma/ruma/issues/1

[2022-06-11 17:31] #1163 closed, assigned to zecakeh

[2022-06-11 20:41] #1120 closed, assigned to zecakeh

[2022-06-12 09:44] zecakeh commented on #913
Having searched among the crates, I think the solution would be to implement ourselves a wildmatch-like type, but that can also match words in a string.

That would ultimately mean we could get rid of wildmatch and replace it with our implementation.

[2022-06-12 10:30] ShadowJonathan commented on #913
IIRC, synapse string-replaces `*` with `.*` and `?` with `.` and feeds it into a regex compiler, so maybe an implementation could be as simple as that

[2022-06-12 12:28] #818 closed, assigned to nobody

[2022-06-14 08:04] ShadowJonathan opened #1188 "Implement MSC3828: Content Repository CORP Headers"
[MSC3828](https://github.com/matrix-org/matrix-spec-proposals/pull/3828)

This requires a header to be added to the http response for;
- `/_matrix/media/v3/download`
- `/_matrix/media/v3/thumbnail`

[2022-06-14 08:38] jplatte commented on #913
I really don't want us to pull in a regex parser for this, which is otherwise only needed for appservices. Also we would have to escape lots of other stuff.

[2022-06-14 10:14] #1092 closed, assigned to zecakeh

[2022-06-14 10:26] #1164 closed, assigned to zecakeh

[2022-06-14 14:39] #982 closed, assigned to zecakeh

[2022-06-15 09:45] #1149 closed, assigned to ShadowJonathan

[2022-06-17 05:09] zecakeh opened #1194 "Add `m.federate` into the auth rules"
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1103)

This has no MSC has it appears to be a clarification because it was already done by Synapse and Dendrite.

[2022-06-18 10:09] MTRNord opened #1196 "Consider replacing syn with venial"
**The shortcoming you see**
Syn is fairly slow at compile time, and ruma is very syn/proc-macro heavy.

**The improvement**
A faster alternative like https://docs.rs/venial/latest/venial/index.html may be useful. It claims to be faster than syn by quite a bit. It also looks like an easier API, which would be nicer to work with. However, at the time of writing, it is still pretty young.

[2022-06-18 10:13] ShadowJonathan commented on #1196
I personally recommend (to anyone willing to have a crack at this) to take a small section of ruma, and try to integrate venial / replace syn in it, and submit a WIP PR, so we may compare the compile times.

Obviously, this is a big change, and some macro developers might not be familiar with `venial`, but compile times have sometimes been a big issue with ruma, especially proc-macros, and so impr

[2022-06-18 11:38] jplatte commented on #1196
It doesn't look like venial supports parsing custom syntax in a similar way to syn. We use that pretty heavily, for both `ruma_api!` and the event enum generation.

We also wouldn't be able to get rid of the syn dependency as long as serde still uses it or we switch away from serde.

Overall, I don't think Ruma is the best place to try out venial, though if you want to try anyways, don't let me st

[2022-06-18 11:43] MTRNord commented on #1196
Yeah, the more I look into it, it seems like ruma is using the one thing venial tries to not support, which is syn's DSL support. While it seems possible to port 90% of it, I currently don't think there is support for the 10% left. I will push a branch later today anyway with how far I got. Maybe it is useful in the future when venial is more mature.

[2022-06-18 13:37] MTRNord commented on #1196
https://github.com/MTRNord/ruma/commit/0623d694f1fbe3f10942e32855cf17b089b2a9d1 this is as far as I got. I probably could have gone further in some places. But there is enough evidence suggesting that a port currently is mostly impossible due to not supporting the Parse flow.

[2022-06-18 19:02] MTRNord commented on #1196
I believe serde is more likely to switch venial than ruma as they operate purely on rust types while ruma does some DSL stuff.

[2022-06-18 19:04] jplatte commented on #1196
I would say serde is extremely unlikely to switch. It contains a sizeable amount of macro code and is basically in minimal-maintenance mode. Plus its primary author is also the author of `syn` (and `quote`).

[2022-06-18 19:16] MTRNord commented on #1196
Ah, yeah. I meant more on the technical side, it's more likely :) Didn't know about the relation to syn.

[2022-06-20 10:50] ShadowJonathan opened #1198 "Provide `ArcIntern` storage type for `ruma_identifiers_storage`"
This seems to have slipped through the cracks in https://github.com/ruma/ruma/issues/928

The main advantages of this would be to compress memory usage of identifiers even further, at the cost of some runtime performance when creating or dropping these identifiers (from anywhere)

This'd mainly be useful for long-running servers who have a lot of identifiers in cache.

[2022-06-20 10:55] ShadowJonathan opened #1199 "Provide "compact str" storage type for ruma_identifiers_storage"
Using https://crates.io/crates/compact_str (https://github.com/ParkMyCar/compact_str), a string of up to 24 bytes can be stored on-stack before it is deferred to the stack (becoming `String`)

This might be very useful for crawlers, who could see a performance boost compared to `Box` if the identifier is small enough, and then only lives on the stack.

This storage type would be very useful for sh

[2022-06-20 16:34] #1139 closed, assigned to nobody

[2022-06-21 07:31] zecakeh commented on #1172
So the second task is handled in #1210.

I believe we should not change anything for now regarding the first and third tasks, it should be good practice to enable the fallback support for threads in replies as they are stable, and we shouldn't remove the existing methods at least until we have one other that's not behind a feature flag.

For the final task, I asked in the spec room but didn't get

[2022-06-21 13:51] #1144 closed, assigned to nobody

[2022-06-22 10:53] jplatte opened #1216 "Refactor ruma-signatures' error types"
Redaction should probably be a separate variant after #1195, and the scope of `ParseError` vs `Error` is also rather unclear IMO.

Additionally, `JsonError::NotMultiplesOfType` seems a bit weird, and in general the type mismatch errors should probably include the actual type as well (plus the "target" is too fuzzy to be useful).

[2022-06-23 07:11] zecakeh commented on #1141
Actually this is supposed to not be a change in the auth rules, but only on the allowed changes in the [`m.room.member`](https://spec.matrix.org/unstable/client-server-api/#mroommember) description.

So I'm closing this as this was handled in #1181.

[2022-06-23 07:11] #1141 closed, assigned to nobody

[2022-06-23 13:57] #913 closed, assigned to nobody

[2022-06-23 21:39] timokoesters opened #1222 "ruma-state-res sets the default invite powerlevel to 50"
For example here:

https://github.com/ruma/ruma/blob/d192184b3cb51fd14c0ea590b9e58fe11f371334/crates/ruma-state-res/src/event_auth.rs#L346

[2022-06-24 07:35] zecakeh commented on #1222
Another issue with this part is that deserialization of the `invite` field doesn't work with "stringy" power levels.

And related to that: deserialization of the power levels structs should work with "stringy" power levels without the compat feature, unless the room version doesn't allow it.

[2022-06-24 13:36] ShadowJonathan opened #1225 "Petition the spec to consider non-ascii word boundaries"
_Originally posted by @jplatte in https://github.com/ruma/ruma/pull/1224#pullrequestreview-1018485587_

---

I'm noting this in a separate issue, to keep these thoughts organised, to address them at a later date.

[2022-06-24 13:43] jplatte commented on #1225
Also worth noting that it's probably easy enough to make a Cargo feature for opting into this (currently not spec-compliant) behavior.

[2022-06-24 16:11] ShadowJonathan commented on #1225
Should be worth noting that Unicode supports word boundaries; https://unicode.org/reports/tr29/

[2022-06-24 16:14] zecakeh commented on #1225
The regex crate also links to this part of Unicode about regexes: https://www.unicode.org/reports/tr18/#Compatibility_Properties

I think that asking this change for the spec we have to link to a spec of some kind (like these from unicode), instead of just saying "non-ASCII".

It should also be noted that it looks like the [current Synapse implementation](https://github.com/matrix-org/matrix-pytho

[2022-06-24 16:29] ShadowJonathan commented on #1225
Could you look at how long synapse has used that word boundary definition? Then it might be possible it’s eligible to be grandfathered into the spec, instead of requiring an MSC.

[2022-06-24 16:44] zecakeh commented on #1225
It looks like [this commit](https://github.com/matrix-org/synapse/commit/84bfe47b01402cf037417f0026ed4077223ed259) from January 5th made it support unicode.

There was a comment about it only supporting ASCII before although I'm not sure why because the regex didn't change much between the two versions. Maybe it also changed with a Python version change?

[2022-06-25 15:46] stoically opened #1226 "cli-based type generator"
**The shortcoming you see**
Compile times of ruma are relatively costly and keep getting more expensive as the matrix spec grows.

**The improvement**
Switch to a cli-based approach, where the whole library and with it its types are generated by a cli tool which then can get published. This way the additional proc macro cost gets shifted to a pre-publish step and removed from the consumer.

Might

[2022-06-25 16:11] #1194 closed, assigned to zecakeh

[2022-06-25 16:22] #1173 closed, assigned to zecakeh

[2022-06-25 16:31] zecakeh commented on #1174
Fixed in #1213

[2022-06-25 16:31] #1174 closed, assigned to nobody

[2022-06-25 18:52] ShadowJonathan commented on #1226
It certainly doesn't sound like it, we recently merged crates together, though i cant remember if that increased or decreased compile time.

Doing this in a CLI-based fashion sounds incompatible with cargo package dependencies, `windows` does something like this currently by shifting the API-generation to a `build.rs` step where they have to opt-in to specific API suites at that stage, though I do

[2022-06-25 19:00] poljar commented on #1226
This sound kinda like what `watt` does: https://github.com/dtolnay/watt

[2022-06-25 21:44] stoically commented on #1226
@ShadowJonathan The CLI tool would run pre-publish, not as part of the crate build, as would be the case with a `build.rs`. So basically: Want to publish a new ruma crate version? Run the CLI tool and publish the types it generates by writing the proc macro output into files. I know this works for simple cases, just not sure whether it's feasible for ruma given the amount of code involved already.

[2022-06-25 21:54] jplatte commented on #1226
`watt` is for publishing proc-macros as wasm so they don't have heavy build dependencies themselves, this idea seems to be about committing the generated code so when using the libraries you save the time of compiling the proc-macros and expanding their invocations.

I think this is in general feasible, but probably not worth it:

* it's not widely-supported, so the "expanded" code would still inv

[2022-06-25 22:12] stoically commented on #1226
Thanks for the insights. If most of the time is spent in serde when expanding ruma, then it would probably be not worth it, yeah. I wonder if there's an easy way to profile that.

In terms of noisy diffs: Wouldn't see that as too problematic given the generator and generated code could live in their own branches, with the generator being the important bit with regular diffs.

[2022-06-25 22:25] stoically commented on #1226
Another thought: Shouldn't it be possible to expand the code fully, including serde derives? Given `cargo-expand` is capable of doing that as well? Or is the tricky part that it's basically two layers of needed expansion?

[2022-06-25 22:29] DevinR528 commented on #1226
The newly stabilized `--timings` flag might help. So `cargo build [--release] --timings` will generate a `./target/cargo-timings/cargo-timing.html` it will have the breakdown of all work that the compiler did.

The small, but fixable, problem with `cargo-expand` is that the generated code isn't valid (it contains attributes that are internal compiler things). It's easy enough to find-replace these

[2022-06-27 11:19] #1222 closed, assigned to zecakeh

[2022-07-01 12:27] jplatte commented on #1226
Using cargo-expand for this kind of thing is a [bad idea](https://github.com/dtolnay/cargo-expand#disclaimer). I'm pretty certain that committing generated code is not the right solution to improving compile times. Feel free to open a new issue that's more generally talking about compile time issues, ideally with some numbers / use cases – i.e. are you concerned about clean build times, rebuild ti

[2022-07-01 12:27] #1226 closed, assigned to nobody

[2022-07-01 15:31] stoically commented on #1226
Good to know.

I'm not sure what other solutions exist other than shifting compile times from the consumer to a pre-publish step. So personally I'm certain that the only viable solution is pre-publish code generation. I'm however not sure how to do it in a sane way - so until something comes up to help with it, closing the issue makes sense, I guess.

Generally build times. It sounds like ruma com

[2022-07-04 12:22] jonassmedegaard opened #1232 "source lacks copyright information"
This project declares in README.md and Cargo.toml files that it is licensed under the MIT license.

That's great - except that a license is only worth anything when issued by the copyright holder - but it is not mentioned anywhere who that is. :-(

Please include copyright statements.
Preferrably also include the year(s) the copyright applies to (i.e. which year creative changes was introduced by

[2022-07-04 13:17] jplatte commented on #1232
The information who wrote what parts of the code is present in git metadata. I think tracking it somewhere else additionally is extremely annoying, and bound to cause conflicting information.

I'm not a lawyer, but IMHO the intent here is clear and I don't expect to be able to meaningfully improve this situation.

Re. author vs. copyright holder, the way I'm personally dealing with this is the ema

[2022-07-04 13:54] jonassmedegaard commented on #1232
Ok, so you strongly prefer sloppy annotation.  I shall refrain from wasting both our time arguing further against that.

Could you then please at least fill out the "Authors" field in `Cargo.toml` files?

[2022-07-04 14:27] jplatte commented on #1232
No, that field is basically soft-deprecated (it used to be mandatory) because crates.io is append-only, but people change their names / emails. It is also redundant with git (where it is also hard to change authorship information, but not as hard as for crates.io).

[2022-07-04 14:27] #1232 closed, assigned to nobody

[2022-07-04 15:14] johannescpk opened #1233 "Ergonomic improvements around Matrix URI methods"
With the latest refactorings creating Matrix URIs from `RoomId`s, where no `via` servers are available and no `join` action is wanted, requires a method call that looks like this:

[code]

It'd be nice to have some improvements around ergonomics. Ideally additional methods for the scenarios that no `via` and no `join` is required.

@zecakeh said to the idea of a potential builder for it:

[2022-07-04 16:53] jplatte commented on #1233
Hm, maybe just remove via from the c'tor and let it be set after creation?

[2022-07-04 18:15] zecakeh commented on #1233
Do you mean have a `MatrixUri::set_via()` (with a better name)?

The "issue" is that it would allow to set it on a URI that doesn't support it.

[2022-07-04 19:15] jplatte commented on #1233
Ah, I see. Maybe in that case, it's easier to remove the parameter from the existing functions and add `_via` variations with the current parameter list.

[2022-07-05 10:08] ShadowJonathan commented on #1233
what about `MatrixUri::via(self) -> Self`? That way one could construct `room_id.matrix_uri(false).via(vec![server_id])`

[2022-07-05 10:09] zecakeh commented on #1233
But you could also do `user_id.matrix_uri(false).via(vec![server_name])` which is wrong.

[2022-07-06 07:38] ShadowJonathan opened #1234 "`Into` `Box` and `Arc` for `Owned*` variants"
Kinda surprising to me that we don't have this, considering we have from-arc and from-box.

[2022-07-06 07:42] zecakeh commented on #1234
It seems like we also lack `impl PartialEq<Arc<T>>` for owned and borrowed types. It's already implemented for `Box`.

[2022-07-06 07:43] ShadowJonathan commented on #1234
I'll include that in the fix

[2022-07-08 13:49] #1233 closed, assigned to nobody

[2022-07-08 16:24] ShadowJonathan opened #1237 "Dedup cfg tokens in identifier macros (to variables)"
I think this could be simplified with a tokenstream variable, but that could be a later change.

_Originally posted by @ShadowJonathan in https://github.com/ruma/ruma/pull/1235#discussion_r914846915_

[2022-07-12 08:44] #1234 closed, assigned to nobody

[2022-07-13 08:30] ShadowJonathan opened #1240 "Old homeservers use /v1/ for media requests"
Apparently this causes some compatibility issues with those servers when they try to download stuff from a conduit server.

Context [here](https://matrix.to/#/!SMloEYlhCiqKwRLAgY:fachschaften.org/$3ombWBiMomZD7w8F906YENjPb_Ek2tolanmBBQjAPXA?via=conduit.rs&via=matrix.org&via=envs.net), in the conduit room.

For this we probably need #1118 to nicely add it, I don't want to add another field like `r0

[2022-07-19 07:43] #802 closed, assigned to jplatte

[2022-07-20 15:28] jplatte commented on #1196
Since there isn't really a clear path towards getting rid of syn, and venial doesn't even support all of syn's features that we use directly, I'll close this. That isn't to say that I want us to keep using syn forever, but right now the alternative doesn't seem to be useful to us.

[2022-07-20 15:28] #1196 closed, assigned to nobody

[2022-07-20 15:29] jplatte commented on #683
We have this crate now :)

[2022-07-20 15:29] #683 closed, assigned to nobody

[2022-07-20 15:30] jplatte commented on #1165
So we have some small abstraction on top of html5ever now. What's your current stance on moving that into its own crate @zecakeh @ShadowJonathan?

[2022-07-20 15:57] jplatte commented on #778
Apparently this isn't really standardized and different fuzzers use different ways of making up random instances of library types. It's unclear whether implementing the trait(s) from this specific crate is super useful at this point.

[2022-07-20 15:57] #778 closed, assigned to nobody

[2022-07-20 15:58] jplatte commented on #341
Work on replacing the current push rules / actions seems to be ongoing, there's probably no point to doing this.

[2022-07-20 15:58] #341 closed, assigned to nobody

[2022-07-21 09:43] jplatte opened #1248 "Implement MSC2832: application service authorization header"
[Rendered MSC](https://github.com/matrix-org/matrix-spec-proposals/blob/main/proposals/2832-appservice-auth-fix.md?rgh-link-date=2020-10-24T15%3A28%3A04Z). We don't currently support the query parameter based access token (#314), and now that this MSC has been merged, maybe we shouldn't.

Regardless of whether we support the old way, we should have an unstable feature where AS requests get the sam

[2022-07-21 10:35] zecakeh commented on #1165
I'm not against it although in its current form I'm not sure it warrants its own crate.

[2022-07-21 10:39] jplatte commented on #1165
So we keep this issue to track a richer API based on what we already have, which would be worth its own crate?

[2022-07-21 10:40] zecakeh commented on #1165
Yes, I think that's the idea.

The current sanitizer should at least be able to be configured to provide a good public API.

[2022-07-22 18:26] ShadowJonathan commented on #1165
Yes, the richer API i was envisioning is one that would be able to take any Matrix HTML string, and represent it in DOM/tree form for consumption or modification, same to constructing that tree and serializing it down to a string.

[2022-08-09 07:35] jplatte commented on #1074
Hey @naman-sandilya, are you still interested in working on this?

[2022-08-14 11:56] ShadowJonathan opened #1258 "Accomodate OIDC authentication"
#### Background and Context

With [`areweoidcyet.com`](https://areweoidcyet.com/), the Matrix Foundation has (imo) displayed enough commitment to the pushing ahead of the likes of [MSC3861](https://github.com/matrix-org/matrix-spec-proposals/pull/3861) (and related MSCs)

For Ruma, this effectively means a deprecation of the old UIA and access_token (or not? unsure) method of authenticating users,

[2022-08-14 21:01] zecakeh commented on #1258
I'm not sure there's much more to do in Ruma (except for the deprecations when the time comes).

I believe work on OIDC should be centralised in the [matrix-authentication-service](https://github.com/matrix-org/matrix-authentication-service) project as long as it doesn't concern directly the Matrix side. It's written in Rust and split into several crates to separate concerns.

I'm currently involv

[2022-08-17 09:42] jplatte opened #1261 "Refactor EventContent derive attribute handling"
We should have a combined struct with all attribute values instead of `Vec<MetaAttrs>` to represent the combined `#[ruma_event]` attribute values. That way, things like multiple occurrences of the same attribute key can be caught at parsing time rather than later.

[2022-08-17 11:58] jplatte opened #1263 "Validate borrowing rules in request {} blocks in ruma_api!"
The [borrowing rule](https://github.com/ruma/ruma/blob/main/CONTRIBUTING.md#borrowing-request-types) from the contributing guide should be formalized into some checks inside `ruma_api!`.

[2022-08-21 09:46] zecakeh opened #1266 "Ignore field with unstable prefix when field with stable prefix is present"
[Context in the ruma-dev room](https://matrix.to/#/!bKOoBjzgyxiMyHIyLp:matrix.org/$Was4wxuZC9hlrkz4maXkMTHn9PNCmVlhhfanYfEqOs4?via=matrix.org&via=flipdot.org&via=tedomum.net)

Lazy clients might send fields with both the stable and unstable prefix and let the homeserver deal with it. It makes serde choke on the JSON because it considers that the same key is present twice.

Since the rule in genera

[2022-08-21 14:18] ShadowJonathan commented on #1266
Does serde allow extensions? If so, couldn't we make our own?

[2022-08-21 16:46] jplatte commented on #1266
What kind of extension do you mean?

[2022-08-22 05:09] github-actions[bot] opened #1267 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-08-22 08:32] ShadowJonathan commented on #1266
I meant if serde has extensible functionality like this, where one could create a custom attribute.

This way we wouldn't have to recreate or wrap the serde macro, but simply 'add' our extension of it.

[2022-08-22 08:33] jplatte commented on #1266
No, serde has no such functionality and I don't think there even is an easy way for a proc-macro to be extensible like that.

[2022-08-22 08:36] ShadowJonathan commented on #1267
`ansi_term` is a dependency of `tracing-subscriber`, which is only used by `ruma-server-util` and `ruma-state-res`.

Tracking the following to unblock this;
- https://github.com/tokio-rs/tracing/issues/2282
- https://github.com/tokio-rs/tracing/pull/2040

[2022-08-23 10:47] jplatte opened #1268 "Replace blanket implementations of FooEventContent traits with direct impls"
… such that the docs pages show the implementors.

[2022-09-04 11:36] zecakeh opened #1278 "Incorporate Matrix version 1.4 changes"
Here is the [v1.4 spec changelog](https://spec.matrix.org/v1.4/changelog/) to follow our progress.

To be sure we don't miss anything, ALL entries of the changelog should appear here in the same order and category. The ones that we have to implement should be linked to an issue and/or a PR or commit in this repository. If an extra step is necessary when the version is released (like moving it from

[2022-09-04 11:37] zecakeh commented on #1278
I'm not sure there's something to do in the `Room Versions` section, I haven't checked the changes yet.

[2022-09-05 10:43] #1268 closed, assigned to jplatte

[2022-09-05 14:32] jplatte opened #1280 "Event content enums don't seem to implement EventContent sub-traits"

[2022-09-06 16:52] #1280 closed, assigned to jplatte

[2022-09-12 18:16] #998 closed, assigned to nobody

[2022-09-22 09:44] jplatte commented on #1172
With #1283 the third box is ticked as well. I agree with your assessment of the fourth thing, so I think all that remains is updating the `reply` function, right?

[2022-09-22 09:58] zecakeh commented on #1172
I don't think we need to update `reply`, because people can just use `make_reply_to` now with any message type. So I'd say this can probably be closed.

[2022-09-22 10:08] jplatte commented on #1172
Okay but I'm still kind of confused about `reply`. It has a very general name while it seems kind of specific to threads? But we can discuss that on Matrix 😄

[2022-09-22 10:08] #1172 closed, assigned to nobody

[2022-09-22 10:15] #1145 closed, assigned to nobody

[2022-09-22 13:13] zecakeh opened #1292 "Add helper method to create replacements (edits)"
We have methods to help create replies, so we should probably have one to create a replacement ([MSC2676](https://github.com/matrix-org/matrix-spec-proposals/blob/main/proposals/2676-message-editing.md)), which will be part of the spec in v1.4.

In general, it's only about providing a fallback representation in `content` and put the new content in `m.new_content`. The representation of a fallback

[2022-09-23 13:53] MTRNord commented on #1226
This is a `cargo --release --timings` build of the rust-sdk commit `cb94d60e0ef1f8f5302dfdac9206a8d108d8b4a6`. I did cargo clean before starting this. So its a non-incremental build.

Here is the list of the top few:

![image](https://user-images.githubusercontent.com/1374914/191976196-966c49e5-dc74-4486-a7b9-e64d9db1fa88.png)

Running on a Ryzen 3700X in WSL2 (ubuntu) with 64GB of ram available o

[2022-09-23 14:04] MTRNord commented on #1226
Interesting enough, it seems like on a debug build ruma is no factor at all. I wonder why there is such a major difference though.

![image](https://user-images.githubusercontent.com/1374914/191978703-4295871f-37d1-4061-a4d4-ecc12d0b7d2b.png)
[cargo-timing-20220923T135626Z.txt](https://github.com/ruma/ruma/files/9634307/cargo-timing-20220923T135626Z.txt)

[2022-09-24 09:41] jplatte opened #1295 "Move v1 powerlevel deserialization helpers into ruma-state-res"
They are not used anywhere else so don't need to be part of ruma-common('s public API).

[2022-09-24 09:44] jplatte opened #1296 "Consider changing the type of IgnoredUserListContent#ignored_users"
Currently, this is a `Vec<OwnedUserId>`, but on the wire it's actually a map of user IDs to (currently empty) objects. We could introduce a `#[non_exhaustive]` struct `IgnoredUser` (or similar) and change the field type to `BTreeMap<OwnedUserId, IgnoredUser>`, for forwards compatibility with new fields inside that object.

Docs can point out that you would usually just want to call `.keys()` / `.i

[2022-09-24 10:03] zecakeh commented on #1295
Aren't those the ones we use to deserialize [all the power levels events](https://github.com/ruma/ruma/blob/main/crates/ruma-common/src/events/room/power_levels.rs)?

[2022-09-24 10:04] zecakeh commented on #1296
I don't have a strong feeling about this, but that would surely make the type future-proof.

[2022-09-24 12:41] jplatte commented on #1295
Didn't seem like it. Maybe we have some duplication there 🤷

[2022-09-24 14:11] ShadowJonathan commented on #901
This approach turns out to be problematic together with https://github.com/ruma/ruma/issues/1118

[2022-09-24 15:09] Cokemonkey11 opened #1297 "Tables don't parse in spite of commonmark and matrix support for tables"
**Describe the bug**

Use text_markdown with a markdown blob containing a commonmark table. The result will be unparsed text.

**How to Reproduce**
If applicable, a minimal code example in order to replicate the bug.

As above

---

https://github.com/ruma/ruma/blob/6f3d9fd32700199b57c8f7d38087f01e1d5b0b4a/crates/ruma-common/src/events/message.rs#L296

https://github.com/ruma/ruma/blob/028eb8a457e

[2022-09-27 16:00] zecakeh opened #1300 "Accept non-percent-encoded identifiers for matrix.to URIs"
Some clients (like Element Web) don't percent-encode the identifiers in matrix.to URL, which makes them fail the parsing of `MatrixToUri`.

Although the spec says that they are supposed to be percent-encoded, there is the benefit that the URI is more legible that way, and web browsers can usually handle both, so it's generally not problematic outside of Ruma.

[2022-09-27 16:06] zecakeh commented on #1300
It should be noted that this probably only fails for URIs for a room alias, because the `#` is interpreted as the fragment separator.

Also, this is in the spec:

[2022-09-29 09:29] ShadowJonathan commented on #1118
After some discussion we decided to split the work, the new plan should reflect this.

https://github.com/ruma/ruma/pull/1298 was a previous attempt to merge this in a larger chunk, we decided to reduce the chunks of work further.

[2022-09-29 10:56] jplatte opened #1302 "Consider using AsRef<str> instead of Display for path parameters"
Would be a little more efficient, skipping pointless allocations. I think all types we use for path parameters implement both traits.

[2022-09-29 11:06] ShadowJonathan commented on #1302
+1, I think that using `Display` could've also potentially crossed some wires, considering its usually used to human-pretty-print a variable, over serialising to string.

Also, because there might not necessarily be types that're `&str` or `String` based, shouldn't we use `Into<Cow<str>>` or similar?

[2022-09-29 13:38] jplatte commented on #1302
So I've tried this and it doesn't work with plain `&str` because some of our event `type` enums can't implement `AsRef<str>`. We could still use some other trait, but I don't think `Into<Cow<str>>` is something I'd want to implement for Ruma's identifier types. Seems more likely that we would introduce a trait just for this, but it's probably not worth the complexity.

[2022-09-29 13:41] ShadowJonathan commented on #1278
[1.4 is out](https://matrix.org/blog/2022/09/29/matrix-v-1-4-release).

@zecakeh don't forget to do a last look at the changelog and add something here if it's missing :)

[2022-09-30 09:55] zecakeh opened #1304 "Implement MSC3856: Threads List API"
[MSC3856](https://github.com/matrix-org/matrix-spec-proposals/pull/3856)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1254)

This adds a new client API endpoint for listing threads in a room.

[2022-09-30 10:02] zecakeh opened #1305 "Stabilize threads support"
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1254)

- [x] [MSC3856](https://github.com/matrix-org/matrix-spec-proposals/pull/3856) removes filters that were introduced in [MSC3440](https://github.com/matrix-org/matrix-spec-proposals/pull/3440).
- [ ] Switch fields to the stable prefix.
- [ ] Remove the `unstable-msc3440` feature.
- [ ] We probably should add an extra `forward_thread` a

[2022-09-30 10:07] zecakeh opened #1306 "Implement MSC3715: Add a pagination direction parameter to `/relations`"
[MSC3715](https://github.com/matrix-org/matrix-spec-proposals/pull/3715)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1254)

This adds a `dir` field to requests to the [`relations`](https://docs.ruma.io/ruma/api/client/relations/index.html) endpoints.

[2022-09-30 10:15] zecakeh opened #1307 "Implement MSC3771: Read receipts for threads"
[MSC3771](https://github.com/matrix-org/matrix-spec-proposals/pull/3771)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1255)

This adds a new optional field `thread_id` to read receipts, and to requests to the `/receipt` endpoint.

[2022-09-30 10:23] zecakeh opened #1308 "Implement MSC3773: Notifications for threads"
[MSC3773](https://github.com/matrix-org/matrix-spec-proposals/pull/3773)
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1255)

This adds the `unread_thread_notifications` field to [`RoomEventFilter`](https://docs.ruma.io/ruma/api/client/filter/struct.RoomEventFilter.html) and to [`JoinedRoom`](https://docs.ruma.io/ruma_client_api/sync/sync_events/v3/struct.JoinedRoom.html)s in sync respo

[2022-09-30 10:35] zecakeh opened #1309 "Remove mentions of transaction IDs being coupled to an access token"
[Spec PR](https://github.com/matrix-org/matrix-spec/pull/1236)

This is due to a "clarification" of the spec, because a transaction ID should still be sent if the access token was refreshed.

After a quick search I found one mention of it in the docs of [`send_message_event::v3::Request`](https://docs.ruma.io/ruma/api/client/message/send_message_event/v3/struct.Request.html#structfield.txn_id) and

[2022-09-30 12:35] zecakeh commented on #1278
I believe now all the tasks that are needed for v1.4 support are properly created.

[2022-09-30 19:17] #1304 closed, assigned to nobody

[2022-10-01 11:48] ShadowJonathan commented on #1118
I forgot about https://github.com/ruma/ruma/issues/1067, which I kind-of want to have fixed here.

https://github.com/ruma/ruma/issues/901 also was part of #1298, and had a fix that worked nicely there.

[2022-10-02 11:29] #1309 closed, assigned to nobody

[2022-10-02 12:58] jplatte commented on #314
MSC has been merged and stabilized in the spec, we're not going to support the old query parameter style.

[2022-10-02 12:58] #314 closed, assigned to nobody

[2022-10-02 13:08] #1248 closed, assigned to nobody

[2022-10-09 10:53] zecakeh opened #1331 "`serde::urlencoded::de` chokes when several keys are the same"
**Describe the bug**

When feeding a url-encoded string that uses the same key several times, even if the deserialized type authorizes it, the deserializer returns an error.

**How to Reproduce**

[code]

This returns `Error("unsupported value")`.

My guess is that it always treats the input as a map with unique keys, even if the output type isn't one.

[2022-10-10 15:55] #1305 closed, assigned to nobody

[2022-10-10 16:04] #1306 closed, assigned to nobody

[2022-10-10 16:39] #1308 closed, assigned to nobody

[2022-10-10 17:09] #1188 closed, assigned to nobody

[2022-10-10 18:36] zecakeh opened #1332 "Allow to extract mentions from a message's `formatted_body`"
Usually [user and room mentions](https://spec.matrix.org/v1.4/client-server-api/#user-and-room-mentions) are replaced by a special UI element or the application might want to apply special handlers on those URIs.

We could provide a helper method that detects them in the `formatted_body` of a text message. It could be an iterator of `(MatrixOrMatrixToUri, start, end)` so the users can replace them

[2022-10-10 18:49] #1307 closed, assigned to nobody

[2022-10-10 21:03] #1300 closed, assigned to nobody

[2022-10-12 08:36] timokoesters commented on #1266
Would it work with the macro if we keep the main and the msc field separate and when deserializing, do `if main field empty: copy msc field to main field`

[2022-10-12 09:12] zecakeh commented on #1266
This solution would work well if the fields were private and we provided an accessor that would chose the proper field.

However with our types I don't think this solution is better than having a complete custom deserialization, because now the users see two fields on the type that do basically the same thing, both should be set to the same value, and we still need to customize the deserialization

[2022-10-12 09:21] jplatte commented on #1266
If there is a strong reason to support both the unstable and stable for a particular type, we can have a separate private `FooJsonRepr` type that derives deserialize, has both fields, and is used for deserialization of the main type (like the `RelationSerdeRepr types we have in `events/room/{encrypted,message}/relation_serde.rs`).

[2022-10-12 10:29] ShadowJonathan opened #1336 "Add `cargo-semver-check` to CI jobs"
This way we'd know if we add backwards-incompatible changes.

While technically not required until we reach 1.0, it's better to start getting into the mindset now, and make breakages *very* explicit in a part of the PR process, and changelog.

This way we're more aware of public api breakages, and/or can alter methods/methodology to break them less, in preparation for that 1.0 release.

[2022-10-12 10:44] jplatte commented on #1336
We must already not do breaking changes when we bump the last version segment, so this is definitely relevant before 1.0.

[2022-10-14 12:59] ShadowJonathan commented on #1336
It seems this github action is supposed to run on version increases and tags, do we want to run them only on that, or all pushes/PRs?

[2022-10-14 16:34] jplatte commented on #1336
I'm mostly interested in it from the perspective of "does this PR contain a breaking change" (where I find it important that it's documented), not "does this release contain a breaking change" which is most useful so you do your version bumps right (in line w/ semver), and I don't think we've had many problems with that.

[2022-10-14 16:41] ShadowJonathan commented on #1336
For that I need to find a way for it to check the head PR commit against the base branch, which I don't see an easy way of doing right now, but I'll research that.

[2022-10-14 18:49] jplatte commented on #1336
Other tools that do similar things are using CI artifacts, AFAIK. That is, have a job on `main` that uploads an artifact with the rustdoc json (and cleans up older artifacts, I guess) and a separate one that triggers on PRs, pulls that artifact, builds a new one and does the diff through `semver-check`.

[2022-10-17 16:41] jplatte commented on #1302
I don't think this is worth the extra complexity (and required effort).

[2022-10-17 16:41] #1302 closed, assigned to jplatte

[2022-10-17 18:31] zecakeh commented on #1278
This was completed with #1337.

[2022-10-17 18:31] #1278 closed, assigned to nobody

[2022-10-17 18:38] ShadowJonathan commented on #1278
Heh, nice issue number to end this off on 😄

[2022-10-18 01:24] ghost opened #1341 "Latest version of `ruma-client-api` (0.15.2) does not compile"
The latest version of `ruma-client-api` doesn't compile. These are the errors i got when i tried to compile it (with my username omitted):
[code]
This issue doesn't seem to be exclusive to me; the builds on docs.rs also fail: https://docs.rs/crate/ruma-client-api/0.15.2/builds/651170

[2022-10-18 02:01] ghost commented on #1341
The latest version on git doesn't have any of these issues, only the one on crates.io (based on an older git version) has these issues.
Commits where issue was introduced: https://github.com/ruma/ruma/commit/d14cd4e6979539804cbfe3a73ffdd9bf1c4b8009, https://github.com/ruma/ruma/commit/88a6e9995dcf4cc7e5d4a314d1e184a7e859d63a

[2022-10-18 05:55] jplatte commented on #1341
Ouch, yes I wonder how this could have been caught in the release process. I failed to also publish a new ruma-macros version with support for that.

I have yanked that version for now, you can probably downgrade with `cargo update -p ruma-client-api --precise 0.15.1` (if you haven't already reverted to a working `Cargo.lock`).

Will release a working 0.15.3 later.

[2022-10-18 07:13] jplatte commented on #1341
`ruma-client-api 0.15.3` is published, a regular `cargo update` should not get you into a working state.

[2022-10-18 07:13] #1341 closed, assigned to nobody

[2022-10-19 19:44] #1297 closed, assigned to nobody

[2022-10-21 08:40] #1292 closed, assigned to zecakeh

[2022-10-21 08:53] zecakeh commented on #1332
I believe this would make more sense by parsing the HTML, so we don't have to make sure that every valid HTML syntax is detected.

Maybe we could change the sanitize methods, and instead add a method to parse the HTML to build a DOM Tree, and provide several methods to be able to manipulate it before serializing it again.

I'm guessing this would be implemented in the `ruma-html` crate (#1165) whi

[2022-10-24 13:23] jplatte opened #1348 "Replace `ruma_api!` with `metadata!`, `#[request]` and `#[response]` macros"
This will improve auto-formatting (rustfmt can't format `ruma_api!` contents), make the code base a little less magical and might improve compile times.

Preview of what it will probably look like:

[code]

----

Work items:
- [x] Introduce `#[request]`: https://github.com/ruma/ruma/pull/1349
- [x] Create `VersionHistory` `const fn new` (by @ShadowJonathan): #1350
- [x] #1352
- [x] #1354
- [x] #13

[2022-10-25 10:04] johannescpk commented on #1348
Sounds like a huge undertaking. If that's gonna be touched, might it make sense to think about somehow involving the [official spec openapi schema](https://github.com/matrix-org/matrix-spec/tree/main/data) in terms of generating types as well? In the long run that could help with making small adjustments less painful, ideally.

[2022-10-25 10:05] jplatte commented on #1348
Might sound like it, but I think it actually isn't. It should mostly be search & replace. The openapi schema doesn't actually contain the historical paths, if we were to go only from that we would be dropping support for r0 and unstable paths, as well as strong types like `UserId` instead of `String`.

[2022-10-25 14:02] johannescpk commented on #1348
I'd have seen the schema as the base, with everything else being a manual effort, such as strongly typed `UserId`s and such. But at least the core spec would then automatically align with upstream? Still sounds like its worth it, but I might be wrong. Maybe a small proof of concept could help check whether it might make sense after all?

However, that's off-topic here anyway, sorry. Related: https

[2022-10-25 14:31] ShadowJonathan commented on #1348
https://github.com/ruma/ruma/issues/823 is meant to be an extra sanity check for verification, not derivation, as we might add more paths than the openapi spec would know about (like what jonas said) or have strong opinions on some things the openapi document just cant express, or hasn't fixed yet.

[2022-10-28 08:45] jplatte opened #1357 "Don't re-export metadata! macro from ruma crate root"
Apparently when you shadow it with a public `#[doc(hidden)]` macro, rustdoc will still render the docs for a glob-reexported macro. I highly suspect this is a bug, though I haven't actually tested what happens when trying to call it. Anyways, we should not export `metadata!` from `ruma` (just `ruma::api`), preferably without expanding our `ruma-common` glob re-export.

[2022-10-28 10:05] jplatte commented on #901
This method was removed recently.

[2022-10-28 10:05] #901 closed, assigned to ShadowJonathan

[2022-10-29 07:51] ShadowJonathan opened #1358 "Implement MSC3834 (Opportunistic user key pinning)"
Proposal: https://github.com/matrix-org/matrix-spec-proposals/pull/3834

This adds;
- the optional `tofu_signing_key` field to `/keys/device_signing/upload`
- encrypted to-device messages:
  - `m.signatures_hash_request`
  - `m.signatures_hash`

----

cc https://github.com/vector-im/element-meta/issues/1557 and https://github.com/vector-im/element-meta/issues/764

[2022-10-30 10:58] zecakeh commented on #1336
It seems like you can [check against a git revision](https://github.com/obi1kenobi/cargo-semver-check#does-the-crate-im-checking-have-to-be-published-on-cratesio) now. It was only added to the FAQ a few hours ago so I don't know if we need to wait for the next version for this to work.

[2022-11-04 09:29] ShadowJonathan commented on #1118
This is superseded by https://github.com/ruma/ruma/issues/1348 at this point

[2022-11-04 09:29] #1118 closed, assigned to nobody

[2022-11-05 12:52] ShadowJonathan commented on #1336
For the github action itself, it seems to still be difficult to get it to check against just the base branch. If we set it to check against the latest version, and we make a breaking change, the CI will trigger red on every subsequent PR run, until we release a version with that breaking change.

I made https://github.com/obi1kenobi/cargo-semver-checks-action/issues/15 to ask for an easy way to ch

[2022-11-07 09:21] #521 closed, assigned to zecakeh

[2022-11-07 09:21] #907 closed, assigned to zecakeh

[2022-11-09 13:45] #466 closed, assigned to zecakeh

[2022-11-09 13:45] #467 closed, assigned to zecakeh

[2022-11-10 15:47] jplatte opened #1376 "Improve testing of metadata! macro"
Currently, it errors at parse time for a few trybuild tests, but it would be nice to get a better error message. However, const-panic errors seem incompatible with trybuild right now because they make the compiler point at `panic.rs` inside the toolchain directory, which isn't normalized so the output it different on every machine that runs the tests.

[2022-11-10 15:54] ShadowJonathan commented on #1376
I'd like to mention [this](https://github.com/ruma/ruma/pull/1356#discussion_r1019282558) and [this](https://github.com/ruma/ruma/pull/1356#discussion_r1019246241) review note as things that're unable to be tested today, but we should keep track of to re-add in the future, after this is fixed.

[2022-11-11 14:39] zecakeh commented on #1016
I'm not sure I understand. Where would the rule kind come from? How would that work with the `IncomingResponse` trait?

[2022-11-11 17:26] zecakeh commented on #1261
To simplify parsing, since we get a `Vec<Attribute>`, should we only allow a single attribute with the `ruma_event` path?

Currently we don't really care because it's easy to collect everything into a `Vec`, but if we allowed several, that would mean we should have a way to merge structs, while in practice we will likely not use it.

[2022-11-11 20:48] #1296 closed, assigned to zecakeh

[2022-11-12 09:17] #1348 closed, assigned to jplatte

[2022-11-12 10:13] #1074 closed, assigned to zecakeh

[2022-11-12 10:13] #1093 closed, assigned to zecakeh

[2022-11-12 10:14] #1261 closed, assigned to zecakeh

[2022-11-12 14:21] jplatte commented on #1016
From the request, in some way. But it's probably not worth it. With dependent types we could have a really nice interface for this 😅

[2022-11-12 14:21] #1016 closed, assigned to nobody

[2022-11-18 20:20] jplatte opened #1389 "Remove borrowing in request types"
Currently, we borrow some fields in requests. However, I was never able to articulate good rules on how exactly this should work to be consistent (#385) and nobody else has chimed in on it either.

There is also already a number of problems with the current implementation:

* You can't store outgoing request types in your own structs without adding lifetime generics to that
  * There are a number

[2022-11-18 20:24] sonicrules1234 commented on #1389
If they can be cloned, it's fine by me.

[2022-11-18 20:31] jplatte commented on #1389
Yeah, absolutely. I'm pretty sure we don't have any `!Clone` types in `ruma-common` or `ruma-*-api`.

[2022-11-25 21:33] #1121 closed, assigned to nobody

[2022-11-28 13:10] #1389 closed, assigned to nobody

[2022-11-28 13:11] #385 closed, assigned to jplatte

[2022-11-28 13:11] #776 closed, assigned to jplatte

[2022-11-28 13:11] #1263 closed, assigned to nobody

[2022-11-30 12:10] zecakeh commented on #1267
This is not blocked anymore, tracing-subscriber v0.3.16 has been released with nu-ansi-term.

[2022-11-30 12:24] #1267 closed, assigned to zecakeh