[2016-04-22 12:56] jimmycuadra commented on #1
Thanks for the report! I'll take a look at this, but it might be a few days, as I'll be out of town on vacation through next week.

[2016-04-25 10:53] jimmycuadra commented on #1
The issue here is that [base64.NewEncoder](https://golang.org/pkg/encoding/base64/#NewEncoder) writes to the provided buffer in blocks of 4 bytes, and must be manually closed to flush any remaining bytes of less than 4 bytes, so you're ending up with only a 30 byte value.

Looks like you can fix it by either calling `Close` on the encoder, or by using `EncodeToString` instead:

[code]

I think it'

[2016-04-25 14:55] cptaffe commented on #1
well that was dumb

[2016-04-25 15:34] cptaffe commented on #1
My bad, I should really read the docs more thoroughly. Still bothers me that `defer` won't work in this context.

Obsoleted by [#267dfd9](../commit/267dfd91e7ca282810db4018642dac12488fca52), but here is my patched code:
[code]

[2016-04-25 16:10] cptaffe commented on #2
Whoops, my bad it's just `404`ing on `/_matrix/client/r0/sync` requests and interpreting that as a CORS error

[2016-04-25 16:10] cptaffe commented on #2
Whoops, my bad it's just `404`ing on `/_matrix/client/r0/sync` requests and interpreting that as a CORS error

[2016-06-10 12:24] jimmycuadra opened #5 "API: GET /account/3pid"

[2016-06-10 12:25] jimmycuadra opened #6 "API: GET /user/:user_id/filter/:filter_id"

[2016-06-10 12:31] jimmycuadra opened #23 "API: POST /join/:room_id_or_alias"

[2016-06-10 12:31] jimmycuadra opened #24 "API: POST /rooms/:room_id/join"

[2016-06-10 12:33] jimmycuadra opened #29 "API: POST /rooms/:room_id/leave"

[2016-06-10 12:34] jimmycuadra opened #31 "API: PUT /profile/:user_id/displayname"

[2016-06-10 12:34] jimmycuadra opened #33 "API: PUT /profile/:user_id/avatar_url"

[2016-06-10 12:35] jimmycuadra opened #34 "API: GET /profile/:user_id/avatar_url"

[2016-06-10 12:35] jimmycuadra opened #35 "API: GET /profile/:user_id"

[2016-06-10 12:39] jimmycuadra opened #46 "API: POST /pushers/set"

[2016-06-10 12:39] jimmycuadra opened #47 "API: GET /pushers"

[2016-06-10 12:39] jimmycuadra opened #48 "API: PUT /pushrules/:scope/:kind/:rule_id/enabled"

[2016-06-10 12:40] jimmycuadra opened #49 "API: GET /pushrules/:scope/:kind/:rule_id/enabled"

[2016-06-10 12:40] jimmycuadra opened #50 "API: PUT /pushrules/:scope/:kind/:rule_id"

[2016-06-10 12:41] jimmycuadra opened #52 "API: GET /pushrules/:scope/:kind/:rule_id"

[2016-06-10 12:43] jimmycuadra opened #57 "API: POST /search"

[2016-06-10 12:43] jimmycuadra opened #59 "API: PUT /user/:user_id/rooms/:room_id/tags/:tag"

[2016-06-10 12:43] jimmycuadra opened #60 "API: DELETE /user/:user_id/rooms/:room_id/tags/:tag"

[2016-06-10 12:44] jimmycuadra opened #61 "API: GET /user/:user_id/rooms/:room_id/tags"

[2016-06-10 12:45] jimmycuadra opened #63 "API: PUT /user/:user_id/account_data/:type"

[2016-06-10 12:45] jimmycuadra opened #64 "API: GET /admin/whois/:user_id"

[2016-06-11 12:41] jimmycuadra opened #66 "Add test helper for creating a user and returning its access token"
Right now tests of API endpoints manually hit the registration endpoint and extract the access token before testing any endpoints that require an authenticated user. This is useless boilerplate and should be extracted to a simple helper method on the `Test` type.

[2016-06-12 07:18] jimmycuadra opened #68 "Support JSON, TOML, or YAML config files"
Users may have a preference for data serialization format for working with config files. Ruma should not force JSON on users that really don't want to use it.

The logic should be:

1. Use `ruma.json` if present.
2. Use `ruma.toml` if present.
3. Use `ruma.yaml` if present.
4. Use `ruma.yml` if present.
5. Crash with a useful error message.

[2016-06-12 11:11] ara4n commented on #68
Multiple config formats will make comparing (and generating) config files a bit painful... I'd have thought having one that works well might be better than a hybid mix. Would be awesome if it supported roundtripping whilst preserving comments (unlike synapse's yaml)

[2016-06-12 15:07] jimmycuadra commented on #68
Could you elaborate? When is a config file generated and why would supporting multiple formats make it hard? When are config files compared?

[2016-06-12 17:29] ara4n commented on #68
I'd expect ruma to ship with a default config, and the sanest way to maintain that is probably to generate it (like synapse does), as well as being able to upgrade the config as new features are added (like synapse doesn't, as YAML doesn't roundtrip nicely).  I think it could be quite confusing and painful to support if Ruma supported multiple config formats, as users start pastebinning snippets i

[2016-06-13 09:42] jimmycuadra commented on #68
Thanks for the details. I'm not too worried about these points, because config files of any format will be deserialized into a static type in Rust, and if there were a need to do a diff, that could be done against the type instead of trying to compare raw config file syntax. Having a command to generating an initial config file for the user sounds like a good idea, but I doubt I would want to atte

[2016-06-13 09:42] #68 closed

[2016-06-13 12:27] ara4n commented on #68
fair enough :)

On 13/06/2016 10:42, Jimmy Cuadra wrote:

[2016-06-14 12:44] #66 closed

[2016-06-17 02:40] jimmycuadra commented on #67
In order to do this nicely, it'll be necessary for diesel_cli's database setup functionality to be exposed via a Rust API. See https://github.com/diesel-rs/diesel/issues/357

[2016-06-17 13:26] jimmycuadra commented on #67
This is done, but I'm gonna leave this issue open so that the internals of the test module can be cleaned up a bit in the event that diesel_cli adds a public API as mentioned in the comment above.

[2016-06-30 02:47] jimmycuadra commented on #79
Ruma is in very early alpha and hasn't implemented server side search yet. I'll leave this open to discuss when we start working on it. Thanks for your interest!

[2016-06-30 02:48] RickCogley commented on #79
Thanks!

On June 30, 2016 at 11:47:48, Jimmy Cuadra (notifications@github.com) wrote:

Ruma is in very early alpha and hasn't implemented server side search yet.
I'll leave this open to discuss when we start working on it. Thanks for
your interest!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ruma/ruma/issues/79#issu

[2016-07-04 14:49] scotttrinh commented on #78
Looks like they're working on supporting this upstream at Diesel. They just merged [this](https://github.com/diesel-rs/diesel/pull/366) 2 days ago.

[2016-08-18 18:04] jimmycuadra opened #84 "Embed migrations in the binary"
The compiled `ruma` binary should have the migrations embedded in it so you don't need a copy of the migrations directory in the current working directory.

See https://github.com/diesel-rs/diesel/pull/276 for the PR that implemented embeddable migrations in Diesel.

[2016-08-19 10:04] #84 closed

[2016-09-16 20:16] jimmycuadra commented on #20
Reopening this because there's still a permissions check that needs to be done.

Per 4bf9b481621a587bf13313efc3cf78a685be145e:

need to check if the requesting user has enough power to delete a room
alias.

[2016-09-22 15:54] farodin91 commented on #24
Like to start working on it.

[2016-09-22 20:56] jimmycuadra commented on #24
PR at #90.

[2016-09-24 00:47] jimmycuadra commented on #14
This is just an alternate route for the version of this API that allows the state key to be specified, so I'm closing it in favor of tracking them together at #15.

[2016-09-24 13:52] killercup opened #91 "What nightly version does ruma actually work on?"
@farodin91 asked me to check out #90. As compiles are crazy slow on my machine anyway, I wanted to compile it locally, i.e. not use docker. How do I know which nightly version of Rust to actually use? The Readme says:

but not which date the nightly should be from! ;) I usually look at the `.travis.yml` next, as it usually lists something like `rust: ["nightly-2016-09-21", "stable"]` but such such

[2016-09-24 19:54] #91 closed

[2016-09-26 15:54] farodin91 opened #94 "Incorrect API /createRoom"
preset => Must be either (private_chat,trusted_private_chat, public_chat)

[2016-09-26 15:56] farodin91 commented on #94
https://matrix.org/docs/spec/client_server/r0.2.0.html#post-matrix-client-r0-createroom

[2016-09-26 16:05] farodin91 commented on #94
Because only if the preset is present, the JoinRules are set.

[2016-09-26 17:10] farodin91 commented on #94
#90 should fix this

[2016-09-26 17:15] farodin91 opened #95 "Convert a String to an EventType doesn't work correct."
```from_str(&self.event_type)?``` https://github.com/ruma/ruma/blob/master/src/event.rs#L180

For example:
```"m.room.join_rules"``` => ```Err(Syntax(ExpectedSomeValue,1,1))```
 ```"\"m.room.join_rules\""``` => ```Ok(EventType::RoomJoinRules)```

[2016-09-27 02:52] jimmycuadra commented on #95
That's expected behavior, because the `from_str` API is for converting from JSON, which includes literal double quotes around string values. What you actually want here is an implementation of `std::str::FromStr`, which would need to be implemented in ruma-events. I'm gonna close this and open an issue over there to do that.

[2016-09-27 02:55] #95 closed

[2016-10-01 23:42] farodin91 commented on #94
This issue is fixed by #90.

[2016-10-01 23:42] #94 closed

[2016-10-02 14:31] farodin91 commented on #24
Close?

[2016-10-02 16:51] jimmycuadra commented on #24
I'm gonna look through all the new code on master and update the status doc and close issues as needed later tonight.

[2016-10-02 17:27] farodin91 commented on #24
Okay

[2016-10-02 23:50] mujx commented on #99
I agree. We could generally make it more MVC-like, separating the `models` and their APIs (DB interactions etc) from the `handlers`.

[2016-10-03 09:30] farodin91 commented on #99
We could start with folder `handlers` and start split storage operation slowly.

[2016-10-03 12:41] jimmycuadra commented on #99
The `api` directory should contain nothing but handlers. I'm gonna reorganize it a little, but not much. The only change I really see that makes any sense at this point would be to group all "model" modules under a parent module, e.g. `Event`, `Room`, etc.

[2016-10-03 16:41] mujx opened #100 "Add room's creator as member"
Currently when a new room is created the creator isn't added as member of the room.

This [test](https://github.com/ruma/ruma/blob/9e9bdc2801223937d7b85a7b57a2db6be23f6ee2/src/api/r0/join.rs#L117) should fail.

[2016-10-09 21:04] #100 closed

[2016-10-09 21:46] jimmycuadra commented on #81
Implemented in #89.

[2016-10-09 21:49] #24 closed

[2016-10-09 21:50] jimmycuadra commented on #10
Implemented in #93.

[2016-10-10 01:07] #63 closed

[2016-10-12 21:42] jimmycuadra commented on #59
PR at #105.

[2016-10-12 21:42] jimmycuadra commented on #60
PR at #105.

[2016-10-12 21:42] jimmycuadra commented on #61
PR at #105.

[2016-10-12 21:43] jimmycuadra commented on #22
PR at #104.

[2016-10-15 15:11] farodin91 commented on #34
#98 Closed?

[2016-10-15 15:11] farodin91 commented on #35
#98 Closed?

[2016-10-15 15:12] farodin91 commented on #8
#106

[2016-10-25 18:45] stensonowen opened #109 "Categorize issues by difficulty to help out new contributors"
I'm interested in contributing to Ruma but can't really figure out where to start. A lot of the tasks in STATUS.md seem to require being very familiar with the existing codebase or making important implementation decisions. Is there something pretty straightforward I could work on first to get my feet wet?
It would help if there were more existing issues tagged with their difficulty or if more of

[2016-10-25 22:05] farodin91 commented on #109
Currently easy issues are #39 #40 or the filter API. You could use my Rust struct for filter. See in my PR for sync.

[2016-10-25 22:40] stensonowen commented on #109
I will definitely look into them, thanks.

[2016-10-26 12:21] farodin91 commented on #109
If you need any support, you could ask me on Martix same Name.

[2016-11-03 14:32] farodin91 opened #110 "Implementing Event storage and search with a timeseries database or a lucene indexed database"
Possible Databases
* Elasticsearch (lucene)
* Influxdb (timeseries)
* Cassandra (Clustered Database)
* TiKV key Value

I would like to hear your ideas.
For the start we could start, capsulated event handling a bit more.

[2016-11-15 21:19] sphinxc0re commented on #30
I'll start working on this right now

[2016-11-20 17:05] sphinxc0re commented on #110
Would then part of the event lookup move into ruma/ruma-events ?

[2016-11-20 17:25] farodin91 commented on #110
Currently, I don't think to move it into ruma-events, because this repos are used to define structures these could use by client or servers.

[2016-11-20 17:26] sphinxc0re commented on #110
Also, I learned from working with InfluxDB, that TimeSeries DBMS are working best if they are filled with data by a rate of 1Set/(5sec to 5min)

[2016-11-20 17:27] sphinxc0re commented on #110
I don't think this is the case with these events so I find this a little overkill

[2016-11-20 17:28] mujx commented on #110
What would be the benefit of this?

Seems like over engineering to me, at least at this point. Also adding an extra dependency will create problems will deployment. Synapse works fine without it.

[2016-11-20 17:34] farodin91 commented on #110
I think, if we use Elasticsearch could reduce the complexity of sync massively. It could increase performance.

[2016-11-20 17:44] sphinxc0re commented on #110
What about adding the possibility to choose whether the event processing should be done through ElasticSearch/redis/<insert dbms here> on startup or through the config file?

[2016-11-22 01:44] jimmycuadra commented on #110
When I was originally trying to decide on the primary data store for Ruma, I was strongly considering RethinkDB, as its concept of a client subscribing to a updates on a query seemed like a great fit for Matrix's /sync endpoint. Since then, the company behind RethinkDB has gone out of business, which is a real shame, but there is an effort to keep the project going by the community. I'm definitely

[2016-12-01 12:13] #31 closed

[2016-12-01 12:13] #33 closed

[2016-12-01 12:13] #34 closed

[2016-12-01 12:13] #35 closed

[2016-12-03 18:38] jimmycuadra commented on #109
Agreed we need to do more of this. The ones that don't have a difficulty label are mostly because no one has made an estimate about how hard the various tasks are. Often it's hard to know how difficult something will be until you try it.

ruma/ruma#115 is super easy one for a first contribution.

[2016-12-04 10:28] jimmycuadra commented on #33
Implemented in #98.

[2016-12-04 10:28] jimmycuadra commented on #31
Implemented in #98.

[2016-12-04 10:28] jimmycuadra commented on #32
Implemented in #98.

[2016-12-04 10:34] jimmycuadra commented on #22
#104 only handles local invites, so we'll need to reopen or create a new issue for this API later.

[2016-12-04 10:44] jimmycuadra commented on #22
Scratch that, this API isn't local-specific, but it requires the invitee's MXID. So it still needs federation support, which can live in another issue.

[2016-12-04 11:10] jimmycuadra commented on #99
I moved all the files containing model-esque types into `src/models`. Sorry for those with open PRs right now, as it'll give you a little busy work when you rebase. There will be some renaming of the files in `src/api/r0` when Ruma is integrated with ruma-client-api.

[2016-12-04 16:59] farodin91 commented on #56
Duplicated #22

[2016-12-04 17:00] farodin91 commented on #7
PR #113

[2016-12-04 21:05] jimmycuadra commented on #118
These will all be separate binaries/repositories. [ruma-federation](https://github.com/ruma/ruma-federation) is the only one that exists so far. Not much to do while the client-server API is still in flux and the specs for the other APIs are unstable.

[2016-12-04 21:08] farodin91 commented on #118
Why you want to separate these parts?

[2016-12-04 21:14] jimmycuadra commented on #118
They're all separate APIs, none of which are necessary to run the core client-server API. This allows people to only run the components they need. Looking forward to a deployment of a large homeserver like matrix.org (and hopefully much bigger), it also allows the individual APIs to be horizontally scaled independently based on actual traffic patterns.

[2016-12-04 21:21] farodin91 commented on #118
We need the same storages for some, than we need to think of spliting storage/models in different repo to integrated, it easily without writing all functions multiple time.

[2016-12-04 21:25] jimmycuadra commented on #118
Yeah, for sure. I think it will become more clear how we should organized shared code once we start to work on some of these other APIs.

[2016-12-04 21:29] farodin91 commented on #118
At the time we integrate ruma-client-api, we should think of sharing `Endpoint`.

[2016-12-04 22:00] jimmycuadra commented on #118
Oh, good idea. Maybe that whole interface should be in a crate on its own, ruma-api. Then ruma-client-api just implements that interface for all the client-server API endpoints.

[2016-12-05 15:12] jooert commented on #58
The [current version of the spec](http://matrix.org/docs/spec/client_server/r0.2.0.html#get-matrix-client-r0-events) states that `/events` "is deprecated and will be removed from a future release". Should we then even bother implementing it?

[2016-12-05 15:39] jimmycuadra commented on #58
Yes, because it's also used for the [room previews](https://matrix.org/docs/spec/client_server/r0.2.0.html#room-previews) API. I mentioned to the Matrix team that it was odd that one section of the spec says it's deprecated without replacement, but another part of the spec still uses it and doesn't offer any alternative. They're aware of it, but I'm not sure what their plans are.

/cc @richvdh

[2016-12-05 15:59] richvdh commented on #58
As far as I'm aware, https://matrix.org/docs/spec/client_server/r0.2.0.html#id74 still describes the latest state: "This API will also be deprecated at some point, but its replacement is not yet known."

I raised https://github.com/matrix-org/matrix-doc/issues/756 to track the inconsistency.

[2016-12-06 22:01] anuragsoni commented on #115
If this is still open to pick, I'd like to try this one.

[2016-12-06 23:09] jimmycuadra commented on #115
Sure thing. No one's opened a PR for it yet.

[2016-12-07 01:42] anuragsoni commented on #115
@jimmycuadra I have made a pull request with an attempt

[2016-12-08 01:12] jimmycuadra commented on #115
Implemented in #120.

[2016-12-08 02:04] anuragsoni opened #121 "Deadlock error while running test suite"
I was following the setup guide from the README (using docker and docker-compose) When running the full test suite ```./scripts/cargo test``` I sometimes see random failures in the following tests.

[code]

Turning on the debug logs i can see the following:
DEBUG:ruma::error: Converting to ApiError from: DatabaseError(__Unknown, "deadlock detected")
DEBUG:ruma::error: Converting to ApiError from:

[2016-12-08 11:20] farodin91 commented on #121
Could you give as more informations, for example the output of `docker version`?

[2016-12-08 12:00] mujx commented on #121
I can't reproduce with the latest master. What do you mean by "running the tests individually"?

[2016-12-08 12:31] farodin91 commented on #121
I can reproduce this issue.
[code]
Some time 1 is failing, some 2 or more

[2016-12-08 12:33] farodin91 commented on #121
This looks like something with unknown users.

[2016-12-08 14:08] anuragsoni commented on #121
@mujx by individual tests i meant: ```cargo test put_avatar_url_unauthorized```

[2016-12-08 17:03] mujx commented on #121
I tried two other Linux machines (Debian 8, Arch) and still can't reproduce the issue.

@farodin91 Turn debug logging on and see if there is any deadlock.  What other tests fail?

@anuragsoni Can you run `make test` on the previous commits and see when the problem occurs?

[2016-12-08 17:07] anuragsoni commented on #121
@mujx I will try that later today. Also I do have the the debug logs from the test run that failed for me. I just attached a small snippet above but I can attach the full file later today when I get home, if you think that will help. I was able to reproduce this on both the docker image and on a postgresql instance installed on my own machine (Ubuntu 16.10, postgresql-9.5)

[2016-12-08 18:20] mujx commented on #121
I think I reproduced the issue. I increased the number of test threads by adding `-e RUST_TEST_THREADS=6` to cargo script. @anuragsoni test with `RUST_TEST_THREADS=1` and see if the problem persists.

The problem seems to be happening when registering a new user with [this](https://github.com/ruma/ruma/blob/8221f0cf96548a1a5a3dce05d9efc1ef51d4f191/src/test.rs#L165) helper function.

[2016-12-08 19:40] farodin91 commented on #121
This never happened before it must one of last 5 commits.

[2016-12-09 00:36] anuragsoni commented on #121
@mujx using RUST_TEST_THREADS=1 works, and that makes sense I guess since every test will be run sequentially.

[2016-12-09 02:08] jimmycuadra commented on #121
We don't actually want to restrict tests to one thread, though. Each test case should happen in a transaction so they don't step on each other like this.

[2016-12-09 02:12] anuragsoni commented on #121
That is true. There shouldn't be deadlocks while running tests

[2016-12-12 10:10] skade commented on #110
How would Elasticsearch reduce the complexity of sync? None of the mentioned products are particularly good at syncing.

[2016-12-22 07:42] jimmycuadra commented on #122
Might be nice to see what our code coverage is for informational purposes, but I don't want to add it as part of the build or add a badge to the README, at least not at this point.

[2016-12-22 11:16] #61 closed

[2016-12-22 11:17] #60 closed

[2016-12-22 11:17] #59 closed

[2016-12-22 11:20] mujx commented on #6
Implemented in #113

[2016-12-22 11:20] #6 closed

[2016-12-28 17:47] jstnlef commented on #23
Looks like this can be closed now ;)

[2016-12-28 17:48] mujx commented on #23
Implemented in #136

[2016-12-28 17:48] #23 closed

[2016-12-29 15:44] mujx opened #140 "Failures when asserting array elements in json response"
I had some failures with `sync::can_sync_a_room_with_a_single_message`, [here](https://github.com/ruma/ruma/blob/9d8ba4f64e6b45e81ecaf9aaa73bfbdcadbd0f8c/src/api/r0/sync.rs#L234) is particular.

The order of the elements in a json array is not guaranteed (I think is alphabetical) so we shouldn't use `next` to test the existence of the `EventId`s.

[2016-12-29 15:56] farodin91 commented on #140
The Order of the array is important.
Possible we need to add a order to sql statement. I can lookup the spec later. This array represents the timeline.

[2016-12-29 16:08] mujx commented on #140
I added more events, and it works fine. Still can't figure out what caused the failures.

[2016-12-29 16:36] mujx commented on #140
I am closing this since I can't reproduce. It was probably an one time thing during development.

[2016-12-30 14:37] mujx commented on #140
I am re-opening because the travis [build](https://travis-ci.org/ruma/ruma/builds/187703985) failed with this error.

[2016-12-31 11:36] impowski opened #142 "If `User` already exists & `User` login"
1. I was looking at this project like an example for understanding Iron and other things and I spot such problem that there is no check if user is already registered.
2. And I was quite frustrated when I was looking at login API, because for example: when we trying to access some profile which not exists we get a `not_found` error since we do a check inside of [`api/r0/profile.rs`](https://github.

[2016-12-31 15:32] mujx commented on #142
You are right that there is no test for invalid login credentials. It's up for grabs if you are interested. But the `User::find_by_uid` function does return `NotFound`, [here](https://github.com/ruma/ruma/blob/9d8ba4f64e6b45e81ecaf9aaa73bfbdcadbd0f8c/src/models/user.rs). The error will bubble up in `verify`. Check out the `?` [operator](https://doc.rust-lang.org/reference.html#unary-operator-expre

[2016-12-31 15:39] impowski commented on #142
@mujx Yeah I know about `?` but it still return `unauthorized` error instead of `not_found`, I don't know why is that. With registration you say that there is no way to register because of `UserId` I have a little bit different database scheme so I might check mine code too.

[2016-12-31 18:08] impowski commented on #142
@mujx When we trying to `Login` with non-existent user it should give `not_found`.

[2016-12-31 18:56] mujx commented on #142
It returns `Forbidden`, because technically you submit invalid credentials. `NotFound` could also be correct. It depends on whether or not you want to give info about the existence of a user.

[2017-01-01 10:58] vberger commented on #142
I agree with @mujx on this : in most cases, from a security point of view, it's better to not leak the information of whether an account exists or not, so return `Forbidden` in all cases of unsuccessful login attempt.

[2017-01-01 20:08] farodin91 commented on #140
I think my implementation of sync is incorrect. This need to be test more.

[2017-01-03 21:41] farodin91 opened #145 "Add Clippy support"
Follow up discussion of the PR #133.

[2017-01-04 06:47] anuragsoni commented on #121
So I have been trying to figure out the reasons for this deadlock in tests but I was unable to get better logs than the ones I attached to the issue above. I tried to replicate the same scenario in another project where I use PostgreSQL and this is what I can tell so far:

Minimal example to reproduce:

## Example

### Transaction 1 executes:
[code]
this acquires a lock with the user id "alice"

#

[2017-01-04 07:46] jimmycuadra commented on #121
Thanks very much for digging into this. I'm not super strong with databases—could you explain exactly how the changes in #147 fix the problem? My understanding was that using transactions would isolate the SQL statements in each test from each other, but clearly they still create locks that can affect each other. How does reordering the lines in those tests avoid this? I think I'm just missing the

[2017-01-04 08:38] anuragsoni commented on #121
I found the following documentation for deadlocks arising because of row level locks in postgres: https://www.postgresql.org/docs/9.4/static/explicit-locking.html

Like you i'm not super strong with the details of database systems, but this problem reminded me of an issue we had at my workplace a while back. In short my understanding is that the goal is to avoid cycles in concurrent code. In my mi

[2017-01-04 08:42] anuragsoni commented on #121
Also, when a deadlock is detected the database system will abort the transaction, so one more approach could be to retry any transaction that was aborted because of deadlocks?

[2017-01-04 09:03] jimmycuadra commented on #121
Would it also work to create a dedicated ID column for the users table? Would that prevent two DB connections trying to create a user with the same name at the same time from locking the same row?

[2017-01-04 10:36] impowski commented on #142
@vberger I was trippin' cos of this error message inside of [src/error.rs](https://github.com/ruma/ruma/blob/master/src/error.rs#L176)

[2017-01-04 14:03] anuragsoni commented on #121
@mujx @jimmycuadra The error when setting a unique constrains on user_ids seems reasonable as that will also try to acquire a row level lock. Composite keys should work when using the SERIAL type as shown in the link shared by @mujx The other tables like events, profiles, room_aliases could potentially have the same problem too.

But then on another note, from what i've read in the matrix spec so

[2017-01-04 14:03] jimmycuadra commented on #121
Sounds like randomized user IDs would avoid the deadlock problem, but it also might be confusing to have a user referred to as "alice" whose user localpart is not actually "alice". I dunno, maybe if the helper method didn't take a localpart parameter like you show above, it would be clear enough reading the code. Technically it still wouldn't be deterministic, but the chances of two identical IDs

[2017-01-04 14:06] anuragsoni commented on #121
@jimmycuadra for the tests just following a simple rule like "create names in alphabetical order" might be enough. That will ensure no deadlocks in tests. Adding random strings to the user_ids might be confusing (and more code to maintain 😁)

[2017-01-04 14:19] mujx commented on #121
I'm in favor of the random strings because that wouldn't change the test logic or add extra mental overhead when trying to write new tests (new contributors should be aware of the order situation and it should be documented).  The composite primary key solution seems unnecessary for the user's table.

We shouldn't really care if the alice id doesn't contain "alice" because the logic is independent

[2017-01-04 14:21] jimmycuadra commented on #121
I reread [this comment](https://github.com/ruma/ruma/issues/121#issuecomment-270305279) and I think I finally understand how changing the order of operations prevents the deadlock. I thought I'd write it out here just to help myself and anyone who comes across this in the future and wants to learn about this problem.

My confusion was about the point at which locks are *released*. Anurag says (as

[2017-01-04 14:43] anuragsoni commented on #121
@jimmycuadra @mujx randomized user IDs sound good then.

@jimmycuadra 147 can indeed be a stopgap to unblock any other PR that might be having the deadlock problems.

@mujx are you going to work on the test helpers? If not i'm okay to work on that as well.

[2017-01-04 14:59] mujx commented on #121
@anuragsoni Feel free to start working on it.

[2017-01-04 16:57] anuragsoni commented on #121
@mujx Okay. I will pick it up. Also, I was thinking about the 'composite key' approach you mentioned above. That might avoid deadlocks in insert actions, but wouldn't it still lead to deadlocks for ```update``` actions?

@jimmycuadra @mujx Maybe we need another issue to track the change required to retry a transaction in case a deadlock is encountered in a normal flow in production? I don't believ

[2017-01-04 18:02] jimmycuadra commented on #121
@anuragsoni I opened #148 to discuss retries.

[2017-01-04 19:15] #142 closed

[2017-01-05 11:53] jimmycuadra commented on #145
I learned that the Rust team plans to ship Clippy as a component installable with rustup: https://news.ycombinator.com/item?id=13324870

As soon as that happens, I'm all for adding Clippy to ruma's CI build.

[2017-01-06 07:39] kajmagnus commented on #107
What does middleware mean here? Could it be, for example, an Nginx module, if you're using Nginx?

Do you use any HTTP server, e.g. Nginx, in front of Ruma? I didn't see any in [the docker-compose file](https://github.com/ruma/ruma/blob/master/docker-compose.yml), does that mean there is none?

[2017-01-06 10:06] mujx commented on #107
By middleware we mean an [Iron middleware](https://docs.rs/iron/0.3.1/iron/middleware/index.html). Iron is the http framework we use in ruma.

We plan on using nginx as reverse proxy in production so this could be done in nginx also. It would easier (no code) and more robust through nginx in my opinion.

[2017-01-06 11:08] jimmycuadra commented on #107
I'd be interested to see how rate limiting might work at the Nginx layer. At first thought, it doesn't seem like the right choice, since rate limiting is part of the Matrix spec itself, only applies to certain endpoints, and is expected to give a Matrix-specific response in the case a request is rate limited. That would mean putting core homeserver behavior in Nginx configuration.

[2017-01-06 17:01] mujx commented on #107
You are right, the Matrix-specific response complicates things. Also some of the rate limiting should be based on the access tokens, if I understand correctly. I'm not really familiar with the rate limiting options on nginx and how some of these problems might be overcomed.

[2017-01-06 18:26] farodin91 opened #150 "Extend main functionality to generate default config files."

[2017-01-06 18:28] farodin91 opened #151 "Add an option to the CLI to supply the path to the config file"
Possible with command line option or environment variable.

[2017-01-06 18:44] mujx commented on #151
You mean something like `./ruma run -c /etc/ruma-config.json`? If no argument is provided will fall back to the current functionality and search in the current directory?

[2017-01-06 18:45] farodin91 commented on #151
Yes in both cases!

[2017-01-06 18:51] farodin91 commented on #151
I would also add something like RUMA_CONFIG_FILE=/etc/ruma-config.json.
This make deploying with docker much easier.

[2017-01-06 19:04] farodin91 opened #152 "Switch from PgTimestamp to SystemTime."
This would make calculations easier. It's also increase the support of different Database types. Diesel will start to support mysql in future.

[2017-01-06 20:06] jimmycuadra commented on #151
I'm +1 on this. I was also thinking we should change where the config file is expected to be by default. Instead of the working directory, we should use [app_dirs](https://crates.io/crates/app_dirs/).

[2017-01-06 20:07] jimmycuadra commented on #150
Can you add a description to this issue to explain what you mean, exactly? I'm not sure what a "default" config file would look like since most of the configuration fields are required and Ruma can't possibly know what their values should be.

[2017-01-06 20:49] kajmagnus commented on #107
Thanks for explaining. In my web app, I have two layers of rate limiting:

1. A layer in Nginx, which is a combination of Nginx directives + a Lua module I've started coding on (but only started a little bit & I don't really know how Lua works). The Lua module limits bandwidth ((oops, now I noticed that this issue title says "_rate_ limiting" not "_bandwidth_ limiting", so I'm a bit off-topic here

[2017-01-06 20:59] jimmycuadra commented on #107
Here's the section on rate limiting from the current version of the spec: https://matrix.org/docs/spec/client_server/r0.2.0.html#rate-limiting. You'll notice that various API endpoints are marked as rate limited also.

[2017-01-06 21:03] jimmycuadra commented on #107
Probably also worth mentioning that the rate limiting in the spec is there to prevent the Matrix event graph from getting spammed, e.g. a malicious bot trying to flood a room with messages. Rate limiting within the ruma application won't necessarily save the application itself from getting overloaded by such requests, and that's where having rate limiting at the Nginx layer could be useful. By the

[2017-01-08 16:28] farodin91 commented on #29
Closed by #144

[2017-01-08 16:28] #29 closed

[2017-01-10 19:55] farodin91 opened #156 "Spliting Room::create() into small functions"
Room::create is more than 350 lines of code. This helps make it easier to fix bugs in the function.

[2017-01-10 20:04] mujx commented on #156
That's true but it's easy code; most of the lines are declarations of event structs. The biggest part of the function is the pattern matching on initial state which cannot be split. The only improvement I see is to remove the flags `is_something_set` and just generate the events in the order specified by the spec. That will generate a few extra events that will be overwritten; that's why the flags

[2017-01-10 20:05] farodin91 commented on #156
I think of the following `if creation_options.initial_state.is_some() {`.

[2017-01-10 20:20] farodin91 opened #157 "Sending a m.room.member event again after changing avatar or displayname"
See http://matrix.org/speculator/spec/HEAD/client_server/unstable.html#events-on-change-of-profile-information

[2017-01-10 20:22] farodin91 commented on #157
Source code:
- https://github.com/ruma/ruma/blob/master/src/models/profile.rs#L31
- https://github.com/ruma/ruma/blob/master/src/models/profile.rs#L50

[2017-01-11 16:21] farodin91 commented on #151
Possible it would be also cool to support configuration complete with ENV. For example: You can save all of configuration in a docket-compose file.

[2017-01-14 01:08] jimmycuadra commented on #152
As long as Diesel supports SystemTime (which it looks like it does) this sounds good to me!

[2017-01-14 03:05] #121 closed

[2017-01-14 17:47] farodin91 commented on #150
The orignal idea was to add a function to the main. This function generate at a given position a sample config with example values. The advantage of this is automate update by adding parameter to `Config`.

[2017-01-17 13:43] mujx commented on #152
One problem that came up in #137 is how  to go from seconds (`u64` etc) to `Timestamp` so that can be used in diesel queries. Maybe there is a workaround? We used the `time` crate (which is really missing from the std) for the conversions.

[2017-01-17 21:21] farodin91 commented on #152
Could be better to switch `NaiveDateTime` form `chrono`.

[2017-01-17 21:22] mujx commented on #152
In general we should try to eliminate u64 and i64 where we can when it comes to timestamps.

[2017-01-17 21:29] jimmycuadra commented on #152
chrono would be fine if the stdlib time APIs don't cut it.

[2017-01-18 13:00] mujx commented on #18
Should we close this and open new issues for 3pids in general?

[2017-01-18 14:25] mujx commented on #15
Looking at the spec, this seems implemented. Should we close this or did I miss something?

[2017-01-19 01:09] jimmycuadra commented on #18
Yep, sounds good.

[2017-01-25 05:22] taylskid commented on #28
Hi, I am interested in working on ruma, and thought this would be a good issue to tackle for my first one. I had some quick questions before I started though:

* the `/forget` endpoint and the `/leave` endpoint are both in the "leaving a room category" on the API spec, but `/leave` is currently implemented in [join.rs](src/api/r0/join.rs). Should I break `/leave` into a new file and abstract the a

[2017-01-25 06:17] jimmycuadra commented on #28
Thanks for the interest! To answer your first two questions: yes, those both sound like fine approaches. For the third question, it wouldn't be necessary to include that functionality in the same PR. In fact, work that could be done out-of-band from API requests will probably be put in a separate application once we get to the point of working on things like that.

[2017-01-26 01:31] #151 closed

[2017-02-07 21:12] farodin91 commented on #42
Closed by #165

[2017-02-07 21:12] farodin91 commented on #41
Closed by #165

[2017-02-07 21:12] farodin91 commented on #40
Closed by #165

[2017-02-07 21:13] farodin91 commented on #39
Closed by #165

[2017-02-07 21:24] jimmycuadra commented on #165
Don't update ruma-events/ruma-identifers yet. The latest diesel doesn't work with the way it's currently implemented. https://github.com/diesel-rs/diesel/issues/562#issuecomment-277229425

[2017-02-08 07:20] jimmycuadra commented on #165
Now tracking that problem in its own issue: https://github.com/diesel-rs/diesel/issues/640

[2017-02-13 19:40] farodin91 opened #168 "Try data driven test in ruma using macro_rules."

[2017-02-13 21:10] jimmycuadra commented on #168
Can you provide some detail on what you have in mind in the issue description?

[2017-02-13 21:32] farodin91 commented on #168
For example: https://github.com/ruma/ruma/blob/master/src/api/r0/profile.rs#L340 and https://github.com/ruma/ruma/blob/master/src/api/r0/profile.rs#L361 are nearly the same test. We could write one macro to represent both and then generate these tests

[2017-02-17 11:12] Yatekii commented on #25
I would like to work on this issue.

I would do a new endpoint in `src/api/r0` and follow the code in [room_info.rs](https://github.com/ruma/ruma/blob/master/src/api/r0/room_info.rs) how to do it in ruma and the code in synapse on what kick should actually do (even tho it's just issuing a leave for the to be kicked user if permissions for the kicking user are given as far as I understand it).

I a

[2017-02-17 11:53] farodin91 commented on #25
Currently @mujx  is wokring on it #167.
You can on look the issue #36, this should be easy.

[2017-02-17 12:17] Yatekii commented on #25
Ok sorry, I somehow overlooked this. Will have a look :)

[2017-02-17 23:05] Yatekii commented on #36
So if I work on this issue, how would you implement that? The credentials of the turn server have to be known ... Should this be done as an option in the settings.json? I guess it's a one time config thing; nothing that has to be put into a DB.

[2017-02-18 10:18] farodin91 commented on #36
https://github.com/matrix-org/synapse/blob/fad3a8433535d7de321350bbd17373138c6fd3ec/synapse/rest/client/v1/voip.py
You need to extend the config.

[2017-02-22 08:55] jimmycuadra commented on #25
Implemented in #167, but we need to follow up with https://github.com/matrix-org/matrix-doc/issues/798.

[2017-03-06 00:27] jansol opened #172 "Don't allow registering usernames with uppercase letters"
The spec allows this, but it's constantly causing problems. As I see it, disallowing registration of such ids in ruma is the easiest step to mitigate the issue for now.

[2017-03-06 08:25] jansol commented on #172
Actually, I'm not sure if the spec allows it any more -- synapse apparently does though.

[2017-03-06 11:39] mujx commented on #172
That seems like an issue with the spec and an issue should be opened there. By the way what were the problems from this?

[2017-03-06 12:29] jansol commented on #172
People frequently create accounts with capitalised initials etc, and then get confused when they can't login or their invitations never arrive because they tried to write it all lowercase.

[2017-03-06 13:28] mujx commented on #172
Also having the same username with different capitalization is annoying. Perhaps a better UI/UX on the client or some normalization on the server would prevent these kind of problems.

Better open an issue on the [matrix-doc](https://github.com/matrix-org/matrix-doc).

[2017-03-06 13:39] mujx commented on #171
Relevant issue matrix-org/matrix-doc#798

[2017-03-07 14:02] mujx commented on #173
Thanks for your interest in the project. Can you provide some steps to reproduce your error?

[2017-03-07 14:34] gperdomor commented on #173
Hi @mujx...

1. I clone/download the repo
2. Run `script/cargo build`
3. Generate secret key with `script/cargo run -- secret`
4. Create `ruma.yaml` on root of repository
<img width="199" alt="screen shot 2017-03-07 at 11 17 53 am" src="https://cloud.githubusercontent.com/assets/371939/23660311/c17188a4-0327-11e7-85bf-a9d1a2a1ba01.png">
5. Run `script/cargo run -- run`

I'm using macOS Sierra and

[2017-03-07 15:13] mujx commented on #173
Ruma needs a postgres instance; that's the cause of the error. Currently ruma isn't ready for usage so we don't have a script to run it.

You can use `docker-compose  run postgres` to bring up a postgres database and change  `postgres://postgres:test@localhost:5432/ruma` to `postgres://postgres:test@postgres:5432/postgres` in your `ruma.yml` file to use the defaults. You can always change them fro

[2017-03-09 18:08] mujx commented on #173
Closing as resolved. Please follow up with a comment if the problem persists.

[2017-03-09 18:14] gperdomor commented on #173
@mujx well i made some changes in `docker-compose.yml`:

[code]

[2017-03-09 19:58] mujx commented on #173
I managed to get this working on my machine with the following configs. Just run `docker-compose up`. Let me know if that also works for you. You can verify with `netstat -antp` or similar if the `3000` port is open.

`docker-compose.yaml`
[code]

`ruma.yaml`

[code]

[2017-03-09 20:14] gperdomor commented on #173
The port is open but...

![screen shot 2017-03-09 at 5 12 02 pm](https://cloud.githubusercontent.com/assets/371939/23768690/985438b6-04eb-11e7-923a-02f6601b1b2e.png)

`localhost:3000/ruma/swagger.json`not working either

[2017-03-09 20:47] mujx commented on #173
You need the `bind_address: "0.0.0.0"` in your `ruma.yaml` to listen to all interfaces.

[2017-03-09 20:52] gperdomor commented on #173
thanks... It's working now... Please update the docs :D

[2017-03-10 22:51] mujx opened #176 "Limit the timeline length from within the SQL query"
Currently we fetch the whole room timeline and then we discard events based on the timeline limit.

[2017-03-11 14:19] #140 closed

[2017-03-21 23:13] jooert commented on #157
Perhaps I'm misunderstanding something here, but isn't that already implemented? Avatar and display name can only be changed through the /profile API and the handlers for `PutAvatarUrl` and `PutDisplayName` both call `models::profile::Profile::update_memberships` which then calls `RoomMembership::update` which finally emits an `m.room.member` event.

[2017-03-22 13:08] mujx commented on #157
@jooert Seems you are right regarding the `m.room.member` event. Reading through the code the issue seems to be about the `m.presence` event also.

The problems is in `PresenceStatus::upsert` which is called after a profile update. [Here](https://github.com/ruma/ruma/blob/8eda5e5006d9162be1d0fcac0404092be5ec0277/src/models/presence_status.rs#L79) we create the `event_id` but we don't use it to cre

[2017-04-06 15:58] mujx opened #178 "The login request parameters shouldn't be wrapped in an `auth` object"
According to the spec the login request has the following format

[code]
but instead we use
[code]

[2017-04-06 17:21] farodin91 opened #179 "Activate rust incremental build during development"

[2017-04-10 01:04] #178 closed

[2017-04-19 22:54] mujx opened #182 "An empty profile needs to be a created for a new user"
Came up while trying Riot with ruma. Clients in general would ask for profile data and we should have at least a database entry so we don't return a 404.

[2017-04-20 12:53] #182 closed

[2017-08-16 03:09] jimmycuadra opened #189 "Things blocking or slowing progress of Ruma"
I'm creating this issue as a place to keep track of the things in the Rust and Matrix ecosystems that are completely blocking or slowing the progress of Ruma (the homeserver as well as supporting libraries.) We can use it to track the status of these blockers and as a place to link people wondering about the status of the project.

### Rust (blocking implementation)

* Release of [http](https://gi

[2017-08-16 05:55] farodin91 commented on #189
This month, i have some task to do for the current term. Next i will try to implement, something like the dendrite room server style.

[2018-03-11 16:17] devnoname120 opened #191 "What's the status of this project?"
The last activity in this repository dates from 6 months ago. Is it abandoned or is https://github.com/ruma/ruma/issues/189 preventing further progress?

[2018-03-11 23:12] jimmycuadra commented on #191
#189 is still relevant. We're pretty close to an full-featured hyper/tokio/futures stack supporting async/await.

[2018-03-11 23:12] #191 closed

[2018-05-13 15:06] vbrandl commented on #189
I'm not sure if you are still actively working on ruma, but some of your issues seem to be resolved by now:
* `impl Trait` has been stabelized in Rust `1.26.0`
* there is an async web framework, that uses the `http` crate: https://github.com/actix/actix-web
   I haven't used it myself but it looks promising

[2018-05-13 15:08] lnicola commented on #189
There's also https://gotham.rs/, based on `hyper`. And `hyper 0.12` will come out in a couple of days with full support for the `http` types.

[2018-05-15 09:02] jimmycuadra commented on #189
Yes, the project is still active and we're still following developments of the things in the issue description. We're not likely to change the HTTP framework we use for a while longer, but keeping an eye on what's out there.

[2018-05-15 09:03] lnicola commented on #189
I'm not sure about the future of `iron`, though.

[2018-05-15 09:38] jimmycuadra commented on #189
We may end up switching to any of the existing frameworks, or perhaps one that doesn't even exist yet. Things are still moving fast and it's too soon to tell.

[2018-07-02 20:34] jimmycuadra opened #193 "Project goals"
I've been trying to think of ways to work on the project while we wait for async/await and the async library ecosystem to settle, and it occurred to me that there's never been any explicit statement of the goals of the project. It often comes up in discussions over Matrix and Twitter, but it'd be useful to have written down, both as a way to guide us during development and as a place to refer to p

[2018-07-03 08:56] alexjg commented on #193
I think this is a great issue to raise. It's already helped me as I was slightly confused on the status of the project vis a vis spec standardisation and async/await stuff so it may be worth clarifying that directly in the 'status' section on the project readme?

One of the reasons  I'm interested in this project is that I'm interested in running many independent matrix servers from within a Kuber

[2018-07-03 19:59] exul commented on #193
**Ruma homeserver and Ruma libraries**
"What Ruma is" mentions the libraries, whereas "Product focus" describes that developing the homeserver is the focus of the project. Which on one hand I understand, because the libraries were developed as part of the homeserver, on the other hand, I think way more projects would benefit from the libraries. I use the libraries myself and the clean code and the

[2018-07-04 04:06] jimmycuadra commented on #193
@alexjg Thanks for the feedback. My plan is to create dedicated pages on the website that present these goals and a status page to give a more high level overview of the status of the project.

In terms of your intended use case, that is absolutely a project goal. It's one of my personal use cases as well. I think you're right that a goals document should include a bit more information about what

[2018-07-04 04:17] jimmycuadra commented on #193
@exul Great points. It's probably best to have "product focus" split into multiple sections for the applications and the libraries. It's confusing as written that Ruma "is" three different things but "focuses" on homeserver-specific things. For your main question, I think the answer is "separate," in the sense that we want the libraries to be driven by the use cases of the Rust/Matrix community in

[2018-07-04 06:31] exul commented on #193
Regarding sustainability: You already did a great job by adding frequent contributes to the Ruma organization in a very early stage. Mentioning in the README that contributions from less experienced developers are welcome might encourage them to contribute. Maybe we can even offer a mentor program for some issue (kind of the same way that rust does it).
Another possibility would be to have "office

[2018-07-04 09:10] erlend-sh commented on #193
Being a Rust equivalent to the other Matrix homeservers is already of great value, but in order to see adoption outside of the Rust community it'd be beneficial for Ruma to target some specific use cases that aren't currently being addressed by the Matrix ecosystem at large.

My main gripe with Matrix is the lack of a [straight forward registration flow](https://github.com/matrix-org/matrix-doc/is

[2018-07-09 12:12] msrd0 commented on #193
I completely agree with @erlend-sh that it must be far easier to use matrix for users outside the it section. Usually, when I ask them to install matrix, they download the app and go like _Hey, why do I need to choose a user id and all that kind of stuff, I just want to enter my phone number and have people find me using that_. That said, I know that there is support for 3rd party logins like emai

[2018-07-17 22:36] nikhiljha commented on #150
A lot of projects (most?) have a config file provided in the repository with a list of all possible options, set to something arbitrary. Some projects even have inline documentation as comments in this file, so you never have to open a browser past the first `git clone`.

To configure the application, all someone would have to do is
[code]
instead of looking through the readme.md and then copy pas

[2018-07-17 23:00] nikhiljha commented on #193
- Developer Onboarding

I really like the idea of having a set time each week/month where newer contributors can get help in a call/chat. Starting with a new codebase often leads to a lot of "stupid" questions relating to how things work, and having those resolved quickly would definitely help people who want to contribute but don't know where to start. Yes, it is "non-development" time, but I thi

[2018-07-18 08:09] bachp commented on #189
I think [`actix-web`](https://github.com/actix/actix-web) makes use of the `http` crate. It is also working on stable rust.

[2018-10-05 05:01] SamuelMarks opened #194 "Current status?"
Hey just came across Matrix, and found this implementation.

Nice work!

What's the status of this project, in terms of spec compliance?

Saw your other thread, and implementing 2FA would be a neat idea. Will see if I can find the time to contribute those features 🤗

[2018-10-11 19:35] Ericson2314 commented on #194
It looks like there's still activity in #ruma at least.

[2018-10-30 01:38] jimmycuadra commented on #194
The project is not dead, just been on a long hiatus while we wait for both Matrix and Rust to mature in certain areas. You can find more details at https://github.com/ruma/ruma/issues/189. Thanks for your interest!

[2018-10-30 01:38] #194 closed

[2018-11-08 13:00] grinapo commented on #194
Would you, perhaps, include this oneliner of information in the beginning of the Readme?
The first thing many people look at is the activity stats and if there's none we start suspecting terminal illness. A short explanation tht the project is not dead but waiting would greatly help to prevent this bad feeling.

[2019-02-08 14:13] Half-Shot commented on #189
@jimmycuadra Are some of the matrix issues resolved with release of the S2S spec?

[2019-02-08 21:46] jimmycuadra commented on #189
Yes, I have updated the description at the top! Thanks.

[2019-02-08 21:50] lnicola commented on #189
`hyper`, `tower-web`, `gotham` and `actix-web` all use `http`, IIUC.

[2019-02-08 22:05] jimmycuadra commented on #189
That is true, but the spirit of that line was more about deciding which framework to choose, which I think hinges more on async/await than use of the http crate at this point. I'll update the items to better reflect that.

[2019-04-13 16:52] lnicola commented on #189
You can tick that off :-).

[2019-04-13 17:41] Half-Shot commented on #189
- https://github.com/matrix-org/matrix-doc/issues/798
- https://github.com/matrix-org/matrix-doc/issues/598

have both been closed :)

[2019-04-13 17:42] Serkan-devel commented on #189
On the upside, this implementation hasn't been hacked by now

[2019-04-13 20:57] aaronraimist commented on #189
🙄 🤦‍♂️ Synapse wasn’t hacked... the matrix.org server was taken over via vulnerabilities in other software

[2019-06-10 05:02] aaronraimist commented on #172
Spec has been clarified, ruma-identifiers only allows lowercase and has a test: https://github.com/ruma/ruma-identifiers/blob/master/src/user_id.rs#L177

Fixed?

[2019-06-10 06:15] #172 closed

[2019-06-11 21:35] cdata commented on #189
Looks like https://github.com/matrix-org/matrix-doc/issues/772 and https://github.com/matrix-org/matrix-doc/issues/1468 were just closed today.

[2019-06-12 06:38] jimmycuadra commented on #189
I crossed off 1468 but 772 still might need another tweak. I left a comment there and am leaving it in our list for the moment.

[2019-08-03 01:51] jimmycuadra opened #4 "Don't panic when String ↔ HTTP header value conversion fails"
Moved over from https://github.com/ruma/ruma-api-macros/issues/5.

There are several places in the expanded code where  unwrap/expect are used. These should be converted to normal Result-based  error handling.

[2019-09-13 07:51] runiq commented on #189
Triage: All of the `impl Trait` issues linked are resolved in some way or other, so they ought to be crossed out. However, there's a [new tracking issue](https://github.com/rust-lang/rust/issues/63066) with some additional stuff in it (like [`impl Trait` in type aliases](https://github.com/rust-lang/rust/issues/63063), in [traits](https://github.com/rust-lang/rust/issues/29661), and in [`let`/`con

[2019-11-07 17:33] grinapo commented on #189
- async/await reached stable
- impl Trait tracking issue is closed

and I expect web frameworks quickly livitate onto async/await now. Sounds exciting!

[2019-11-14 15:33] bfrog commented on #189
It seems like the blocking list is close to being done, I'd love to help make a better matrix server. Just today the matrix.org synapse based homeservers are *slooooow*

[2019-11-14 16:05] jplatte commented on #189
@bfrog The easiest way to contribute to the project right now is to contribute to [ruma-client-api](https://github.com/ruma/ruma-client-api), which contains the Rust API definitions for the client-server protocol. Currently these are only used in [ruma-client](https://github.com/ruma/ruma-client), our client library, but when homeserver development picks up again they will be used there too.

See

[2019-11-15 11:57] jonbayer commented on #193
sooo, async/await is settled. or did this project kinda lose steam while waiting.

[2019-11-16 00:38] jimmycuadra commented on #193
async/await is not the only thing we're waiting for. It's a foundational language feature that is necessary for the development of the library ecosystem around it. There's still a lot that needs to happen. Even async/await itself was released as an "MVP" of the feature, with noticeable omissions, like the ability to use `async fn` in trait methods.

[2019-11-21 20:53] jplatte commented on #145
Seems like this has already been implemented in 4b9d45ea4b2db5f25ada0b4299ec3f68cc907a5a.

[2019-11-21 20:53] #145 closed

[2019-12-09 14:49] felix91gr commented on #189
From the blocking list, the issue titled:

Seems to have been closed :3

[2019-12-10 08:41] jimmycuadra commented on #189
@felix91gr See https://github.com/ruma/ruma/issues/189#issuecomment-501141220 above.

[2019-12-10 13:33] felix91gr commented on #189
@jimmycuadra ohh, indeed. My bad! :)

[2019-12-20 09:19] agraven opened #196 "Look for config file in /etc"
It would be a nice addition if ruma would also look for a config file in `/etc` or `/etc/ruma` or similar, as it would make the server setup less dependent on the servers working directory, and is also standard behaviour for a "well-behaved" unix service.

[2019-12-21 07:07] jimmycuadra commented on #196
I'm in favor of this. More specifically we should probably follow the XDG spec for configuration data: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2019-12-21 10:08] vbrandl commented on #196
I've used the [xdg](https://crates.io/crates/xdg) crate before in a small project and it worked fine. This could help here, too

[2020-01-07 11:11] jplatte opened #36 "Add support for redacted events"
This will require custom parsing, because the event type isn't changed when an event is redacted. Redacted events can be detected by checking for a `redacted_because` field.

[2020-01-14 16:02] lingnand opened #197 "Ruma vs Dendrite"
I've just come into the matrix world and would like to contribute to home server development.

From the look of it, Dendrite seems to be the defacto next-gen homeserver to supercede Synapse; there seems to be more activity on the project and it's affiliated with the official matrix team as well. However, personally I like Rust a bit more as a language and after reading some of the design documents

[2020-01-14 18:33] jeltz commented on #196
I am all for following the XDG standard for desktop programs and command line tools but I do not think virtually any daemon follows the XDG standard (which says that config should be under `/etc/xdg`), so I think following it will just confuse more people than it will help and Ruma will be the weird exception.

[2020-02-16 16:34] cjbassi commented on #197
My opinions as a rust and Matrix user:

The great thing about matrix is that you can have multiple homeserver implementations that interop and I think in the long-term this will be good for the ecosystem and allow people to experiment with different ideas and borrow from each other. And since people can self host and choose which homeserver they want to use, there's no problem with having multiple

[2020-02-16 23:58] lingnand commented on #197
Thanks for your insight!

[2020-02-16 23:58] #197 closed

[2020-04-15 20:43] jplatte opened #15 "POST /_matrix/client/r0/user_directory/search needs header parameter"
… which should be optional. I'm not sure whether we support optional header parameters right now.

https://matrix.org/docs/spec/client_server/r0.6.0#post-matrix-client-r0-user-directory-search

[2020-04-18 13:28] iinuwa opened #16 "Login fallback endpoints are missing"
Not sure if this is out of scope, but the [UIAA login fallback endpoint](https://matrix.org/docs/spec/client_server/r0.6.0#fallback) and the generic [login fallback endpoint](https://matrix.org/docs/spec/client_server/r0.6.0#login-fallback) are missing. These both return HTML pages that the user can use to complete login.

[2020-04-18 13:30] iinuwa commented on #16
This could probably be something like
[code]

Just a thought...

[2020-04-18 15:26] jplatte commented on #16
~~I don't think we currently support optional headers. But that shouldn't be too hard to support.~~ Fixed by #234.

[2020-04-22 10:14] jplatte commented on #6
One thing I just recalled again I would potentially like to see in this area is refactor the request / response deserialization functions to contain an inner function where `?` can be used for error propagation, where the outer function then adds the raw http request / response in the error case (having to add that is why there's currently lots of explicit matches with `Err(e) => return Err(…)` in

[2020-05-01 11:02] jplatte opened #37 "Add helpers to construct the fallback for rich replies"
See https://matrix.org/docs/spec/client_server/r0.6.1#fallbacks-and-event-representation

[2020-05-02 23:07] jplatte opened #7 "Endpoint specific error enums"
Currently, most endpoints in ruma-client-api share the same error type. Since every endpoint has a documented set of errors it can return, we could capture this information by generating an appropriate enum.

[2020-05-02 23:09] jplatte opened #8 "Revise ruma_api! syntax"
I'm thinking we should have colons after each of the keywords, to make the content look a bit more ordinary, and to make `error: ErrorType` look less out of place.

[2020-05-03 00:11] iinuwa commented on #7
Are the documented errors exhaustive? For example, M_NOT_JSON (should?) be returned on any endpoint that accepts JSON, but it's only mentioned on the room creation and room invite endpoints.

[2020-05-03 09:58] jplatte commented on #7
That's a good point. Maybe it doesn't make sense to have generate endpoint specific error enums. This definitely needs more investigation.

[2020-05-04 11:32] jplatte opened #9 "Support optional header parameters"
Needed for #15, #16.

[2020-05-04 16:11] jplatte commented on #4
I thought I'd be able to just close this for 0.16.0 because I was convinced that when I'd look at all the `unwrap()`s, none could be triggered by anything except the API definitions. That's not the case though. Apparently, HTTP header values can contain any printable ASCII bytes plus bytes > 127. Since we represent them as `String`s on the Rust side, the required conversion can fail both in reques

[2020-05-04 16:50] jplatte opened #17 "Proper strong typings for event creation endpoints"
This is the motivation for https://github.com/ruma/ruma-events/issues/47 and blocked on that. It's labeled as hard, but once the ruma-events issue is resolved, it will be very easy. The concrete endpoints to update are:

* [x] `send_message_event`
* [ ] `send_state_event_for_key`
* [ ] `send_state_event_for_empty_key`
* [ ] `send_event_to_device`

[2020-05-04 17:15] jplatte opened #2 "Remove json_string module"
Blocked on https://github.com/ruma/ruma-client-api/issues/164

[2020-05-04 18:56] jplatte opened #38 "Allow custom events in all event (content) enums"
In 0.21, we had custom events for all of our "collection" enums. In the api22 branch, we don't currently have them. This should be fixed before releasing 0.22, but doesn't block merging api22 into master.

[2020-05-04 19:09] jplatte commented on #4
It would probably make sense to do this in line with https://github.com/ruma/ruma-api/issues/35#issuecomment-617686849.

[2020-05-04 22:20] jplatte commented on #2
Since this would be a breaking change, and we don't have another reason to do a breaking change release, we should only deprecate in the near future, and remove once we have a breaking change release for other reasons.

[2020-05-05 08:55] jplatte opened #18 "Figure out why serde_json::Value can't be replaced by Box<serde_json::value::RawValue> everywhere"
~~… and possibly replace them with `Box<serde_json::value::RawValue>`.~~

`serde_json::Value` has mostly been replaced by `Box<serde_json::value::RawValue>`, but it doesn't seem to be working in `BTreeMap<String, Value>`. Needs further investigation.

[2020-05-05 20:30] iinuwa opened #25 "Create issues for unimplemented federation endpoints"
It would be nice to have individual issues for new contributors to jump in on, as well as to keep track of what's left to do.

[2020-05-05 21:06] jplatte commented on #18
Mostly done in 2bb96b5a2b030139f0c1503a5ceb056d5921304e. It doesn't seem to be working for `BTreeMap<String, Value>` though.

[2020-05-05 21:07] jplatte commented on #18
Whoops, didn't mean to close.

[2020-05-06 20:12] iinuwa commented on #25
Here's a list from @timokoesters:
- [x] [GET /.well-known/matrix/server](https://matrix.org/docs/spec/server_server/r0.1.3#get-well-known-matrix-server)
- [x] [GET /_matrix/federation/v1/version](https://matrix.org/docs/spec/server_server/r0.1.3#get-matrix-federation-v1-version)
- [x] [GET /_matrix/key/v2/server/{keyId}](https://matrix.org/docs/spec/server_server/r0.1.3#get-matrix-key-v2-server-ke

[2020-05-12 13:23] stoically opened #10 "Feature to expose serde derived Responses"
Sometimes it's useful being able to serialize things, e.g. to cache into persistent storage in a certain format like JSON, so it'd be helpful to have a feature that automatically derives API responses.

This needs an adjustment in the API macro around here and should be behind a feature flag:

https://github.com/ruma/ruma-api/blob/78717b71bfd9d126c85749e7fde0e41ea15c55ff/ruma-api-macros/src/api.rs

[2020-05-18 10:57] jplatte opened #26 "Add a type for MXC URIs"

[2020-05-27 16:35] jplatte opened #11 "[meta] Tracking issue for r0.6.1 compatibility"
*Based on [the changelog on matrix-doc](https://github.com/matrix-org/matrix-doc/blob/master/changelogs/client_server.rst#r061)*

# New Endpoints

- [x] Add `/rooms/{roomId}/aliases` for retrieving local aliases for a room. ([#2562](https://github.com/matrix-org/matrix-doc/issues/2562))

# Backwards Compatible Changes

- [x] Add data structures for defining moderation policies in rooms per [MSC231

[2020-05-30 15:04] jplatte opened #27 "Add a type for server names"
With this + ruma/ruma-identifiers#24 we'll also be able to update the `server_name` variants to return references to this new type. There is probably no point in releasing the new type under a non-breaking version 0.16.1 because it will be a breaking change for the higher-level crates to switch to this new type anyway.

[2020-05-31 21:12] jplatte opened #39 "Create a distinct type for PushCondition::RoomMemberCount::is"
Currently it is just a string, but it is defined very clearly what it should look like

[code]

We could represent this instead as a struct or enum and even easily provide a helper method for checking whether this condition applies to a given count of room members.

[2020-06-01 00:00] jplatte opened #40 "Add predefined push notification rules"
See [13.13.1.5.2 Predefined Rules](https://matrix.org/docs/spec/client_server/r0.6.1#predefined-rules) in the spec. These should probably be exposed as `const`ants from `push_rules`.

[2020-06-01 00:21] jplatte commented on #39
I can write up instructions for how to implement this if anybody is interested.

[2020-06-03 06:54] stoically opened #22 "WASM support for ruma-signatures"
Currently `ring`s Ed25519 doesn't work for the WebAssembly target (https://github.com/briansmith/ring/issues/918), hence ruma-signature doesn't work on WASM either.

[2020-06-03 15:01] stoically commented on #22
Workaround: https://github.com/stoically/ruma-signatures/commit/c9823b2f4e4fafc6cebfd3fc62d9d794d093b236

[2020-06-04 07:16] timokoesters opened #19 "Server side key backups (unstable)"
https://matrix.org/docs/spec/client_server/unstable#server-side-key-backups

[2020-06-04 07:17] timokoesters opened #20 "Cross signing (unstable)"
https://github.com/uhoreg/matrix-doc/blob/cross-signing2/proposals/1756-cross-signing.md

[2020-06-04 09:54] timokoesters opened #21 "`limit` in the /message request should be a "smart" field"
https://matrix.org/docs/spec/client_server/unstable#get-matrix-client-r0-rooms-roomid-messages

[2020-06-04 10:11] jplatte commented on #21
… that is, instead of being `Option`al, it should have a default value when deserializing, like the `limit` field in `get_context`.

[2020-06-04 10:11] jplatte commented on #20
Maybe we should wait until this is at least in the unstable spec... Is that expected to take long?

[2020-06-04 10:14] jplatte commented on #19
The request for the first endpoint should probably be an enum here, so it's not entirely straight-forward. I can write up instructions though if somebody wants to tackle this and is unsure how.

[2020-06-04 10:26] jplatte opened #1 "Add an editorconfig file"
Opening this issue so I don't forget about doing this.

[2020-06-04 12:44] timokoesters opened #41 "Member event needs a reason"
This is not properly documented in the spec, but you can see /kick referring to a reason field here:
https://matrix.org/docs/spec/client_server/unstable#post-matrix-client-r0-rooms-roomid-kick
maybe we should ask in #matrix-spec first if this is correct

ruma_client_api::r0::membership::kick_user
ruma_events::room::member::MemberEventContent

[2020-06-04 12:56] jplatte commented on #41
I'd like there to be at least a PR fixing this in matrix-doc before fixing it here.

[2020-06-04 13:02] timokoesters commented on #41
https://github.com/matrix-org/matrix-doc/pull/2367

[2020-06-04 13:13] jplatte commented on #41
That's related, but not a fix for the reason field being missing in the description of the event content for `m.room.member`.

[2020-06-04 13:44] jplatte commented on #22
If ed25519-dalek can fully replace ring for our uses, I think I'd be in favor of switching and AFAIK it's also written by trustworthy people.

I don't really know what our current uses of ring even are though and I don't have much time to understand this crate in more detail. We really need an owner for this crate who is not me...

[2020-06-04 15:00] jplatte commented on #27
Additionally, we should convert the `new` constructors to not be fallible and take a `ServerNameRef` as their argument.

[2020-06-04 15:02] jplatte opened #28 "Make sure `SomeId` and `SomeIdRef` can easily be converted back and forth"
Of course without allocating when going from owned to borrowed, and without additional checks no matter the conversion direction.

[2020-06-04 17:49] stoically commented on #22
Looks like it could fully replace ring, would need some adjustments in the tests. ed25519-dalek seems to be geared for this specific use case, which is nice I think, but ring might be the better candidate if one day different algorithms might be needed. I'll look into putting it behind a feature.

[2020-06-04 18:33] jplatte commented on #22
While we could support both behind feature flags, I'm not sure what that achieves. Are you interested in maintaining ruma-signatures? If not, maybe the best path forward for now is to have your own fork using `ed25519-dalek` and rely on that. There's no dependencies on ruma-signatures in any of the other ruma crates, so no compatibility concerns.

[2020-06-04 23:21] jplatte commented on #1
Done.

[2020-06-04 23:21] #1 closed, assigned to jplatte

[2020-06-05 00:06] jplatte commented on #4
Good thing I'm now telling people to not put GitHub issue references into commit message :facepalm:

[2020-06-05 13:02] jplatte opened #12 "Split ruma_api::Endpoint into two traits"
… one for the sending side, one for the receiving side.

This may help reduce the amount of copying around of bounds that people have to do when the `Outgoing` trait is reintroduced (which it is almost certainly going to be to allow usage of borrowed identifiers).

[2020-06-05 13:06] jplatte opened #13 "Replace TryFrom for the http::Request conversions"
Specifically for when we build a dummy http type to then change it later on.

* [x] endpoint::Request -> http::Request
* [x] http::Request -> endpoint::IncomingRequest

[2020-06-05 13:29] jplatte opened #14 "Find a way to add new fields to requests, responses, events, ... without breaking backwards compatibility"
Long-term, we need to make basically all structs `#[non_exhaustive]` so we can extend them without breaking changes. We still need to have ways for users to create them though, apart from using `Deserialize`. My current feeling on this is that we should have manual constructors that have parameters for the required fields, with the rest being set either using mutation or (preferably) using struct

[2020-06-07 00:21] jplatte commented on #21
sync_events [also has a struct with a field](https://github.com/ruma/ruma/blob/1aed6ab52bb7cc8069339797994c81a8348c4f30/ruma-client-api/src/r0/sync/sync_events.rs#L237) that should be updated in the same way.

[2020-06-07 00:22] DevinR528 commented on #14
I have bad news, I'm surprised this didn't work.
[code]
Would a constructor for the required fields and "builder" methods for the optional fields be the next best thing?

[2020-06-07 00:25] jplatte commented on #14
Damn it, needs to be done using mutation then 🙄

[2020-06-07 18:07] jplatte opened #30 "Make RoomVersionId a non-exhaustive enum?"
I think there's no big reason not to, but I'm not sure.

[2020-06-09 10:45] jplatte opened #42 "Implement MSC2174 (Move the redacts key to a sane place)"
[MSC2174](https://github.com/matrix-org/matrix-doc/pull/2174))

My idea from ruma/ruma-events#82 for this:

[code]

[2020-06-09 20:23] jplatte opened #32 "Move / rename ruma_events::EventJson => ruma_common::Raw"
Since it is not really tied to events in any way.

[2020-06-10 00:47] Kinrany commented on #39
I am!

Looks like I just need to replace [the type](https://github.com/ruma/ruma-events/blob/7395f940a7cf70c1598223570fb2b731a6a41707/src/push_rules.rs#L137) and fix compilation errors?

Will try on the weekend.

[2020-06-10 08:07] jplatte commented on #39
Yes, pretty much! Note that until the weekend, this crate is most likely going to be moved into our new monorepo at https://github.com/ruma/ruma. I will transfer this and other open issues along with it. Also, the new type should encode the actual integer as `js_int::UInt` like almost every other integer in our crates.

[2020-06-10 11:14] jplatte commented on #39
I'll assign this issue to you so it's easier to see in the issue list that somebody is working on this.

[2020-06-10 22:28] iinuwa commented on #27
Did this get accidentally closed or linked to the wrong commit?

[2020-06-10 22:32] jplatte commented on #27
Yeah, once again importing the history of a sub-crate led to an issue being closed because it shares the same number as a different issue on the original repo :roll_eyes:

Thanks for noticing!

[2020-06-11 00:55] Kinrany commented on #39
Note to self: the crate has been moved. The starting point is now here: https://github.com/ruma/ruma/blob/0a788c12732fce3ceb878503df5de5eff2974d59/ruma-events/src/push_rules.rs#L132-L139

[2020-06-11 19:24] DevinR528 opened #43 "Ruma client api get_message_events commented out?"
https://github.com/ruma/ruma/blob/master/ruma-client-api/src/r0/message.rs

Is this just from getting everything to work with the new ruma-events?

[2020-06-11 19:26] DevinR528 opened #44 "Encrypted event part of AnyStateEventContent"
It seems as though (basing this on the encryption stuff in matrix-rust-sdk) `m.room.encrypted` should be part of `AnyStateEventContent`?

[2020-06-11 20:18] jplatte commented on #43
Yeah, that's left over from the repo merge.

[2020-06-11 20:32] jplatte commented on #44
`m.room.encryption` is a state event, while `m.room.encryted` is a message event, AFAIK.

[2020-06-11 20:32] jplatte commented on #43
Fixed in 9f93d20.

[2020-06-11 20:32] #43 closed, assigned to jplatte

[2020-06-11 20:51] DevinR528 opened #45 "sync_events State events have no room id use AnyStateEventStub"
https://github.com/ruma/ruma/blob/master/ruma-client-api/src/r0/sync/sync_events.rs#L260

Feel free to assign me to these I could just as easily open a PR but I want to make sure this is correct.

[2020-06-11 21:48] #44 closed, assigned to nobody

[2020-06-11 22:21] Kinrany commented on #39
Can I change the serialization format?

[2020-06-11 22:34] jplatte commented on #39
No, we're implementing a fixed specification. Changes have to be implemented in all of the implementations, so there needs to be a good reason (see [Proposals for Spec Change to Matrix](https://matrix.org/docs/spec/proposals)).

[2020-06-11 23:42] #45 closed, assigned to DevinR528

[2020-06-13 12:47] timokoesters opened #51 "/members can't be deserialized"
Deserialization(RequestDeserializationError { inner: Json(Error("EOF while parsing a value", line: 1, column: 0)), http_request: Request { method: GET, uri: /_matrix/client/r0/rooms/!RhCpxacCaP5pvSQhwo%3Amatrixtesting.koesters.xyz/members?not_membership=leave&at=103

body: []

[2020-06-13 18:57] jplatte commented on #51
If somebody could open a PR with a test case for this, that would be helpful!

[2020-06-13 23:14] jplatte commented on #51
As you have discovered yourself, this seems hard to reproduce outside of Conduit. I've [added a corresponding test](https://github.com/ruma/ruma/commit/43ae129ce26ef76229f40603249d1f7ec1054a60). I'm going to close this now, but if you can reproduce this outside of Conduit, please open a PR with a failing test case and/or reopen this issue.

[2020-06-13 23:14] #51 closed, assigned to nobody

[2020-06-14 07:09] timokoesters opened #53 "get_pushrule::Response has incompatible PushRule type"
ruma::api::client::r0::push::get_pushrule::Response takes a ruma::api::client::r0::push::PushRule, which is not compatible with any of the pushrule types defined in ruma::events::push_rules. IMO there should be an enum over all pushrule types and get_pushrule::Response returns that enum.

[2020-06-14 09:43] Kinrany commented on #39
Spec: https://matrix.org/docs/spec/client_server/latest#get-matrix-client-r0-pushrules

[2020-06-14 19:13] iinuwa opened #54 "/account/whoami should use UserId"

[2020-06-14 19:17] iinuwa opened #55 "Make Signatures type generic over owner ID and key ID"
There are signatures that take UserId and DeviceKeyId and some that take ServerName and ServerKeyId Maybe we need to make the Signatures struct in ruma-signatures (forgot that existed) generic and provide Signatures<UserId, DeviceKeyId> and Signatures<ServerName, ServerKeyId>.

We should also update all the fields that hold signatures to use this type rather than a BTreeMap.

Dependent on matrix-o

[2020-06-14 22:48] jplatte commented on #53
A PR to implement this would be appreciated. ~~It would probably make sense to move all shared push rule types into `ruma_common::push` at the same time (and stop re-exporting stuff from `ruma_common::push` in the ruma-events & ruma-client-api since we'll want people to use the re-exports from `ruma::push` instead).~~

EDIT: I implemented the above suggestion. Now the only thing left to do is defi

[2020-06-15 01:13] iinuwa commented on #55
@jplatte, in matrix-org/matrix-spec-proposals#22, you said this:

Using the Signature type from this crate would create a dependency; would you prefer to have the type in ruma-identifiers (or ruma-common), and to have the signature functions in ruma-signatures?

[2020-06-15 08:05] jplatte commented on #55
I would prefer to have this in ruma-common, I think. Are these similar types all documented as part of one 'module' in the spec? If that's the case, there should probably be a corresponding Rust module in ruma-common where this type should live.

[2020-06-15 09:36] jplatte commented on #39
I guess it wasn't obvious from the original issue description, but (de)serialization is probably at least half of the work here. Serialization will have to turn the new type into a `String` to then serialize that while deserialization will work the opposite way, first deserializing to `String` to then parse that into the new type. So in a way, it will work similarily to the [`ms_since_unix_epoch`

[2020-06-15 09:48] jplatte opened #56 "Add deserialization benchmarks"
My gut tells me that `serde_json::Value` in #52 is going to be a performance bottleneck, in particular for large event payloads. I have an idea for a way to speed this up, but would like to measure how useful it actually is. @DevinR528 are you interested in adding a few deserialization benchmarks with differently-sized events and differently-ordered fields for that (in the same or a subsequent PR)

[2020-06-15 09:51] Kinrany commented on #39
Yeah, I'm almost done with a basic version where the new type implements `Display` and `FromStr`. Trying to figure out how to use them for de/serialization without too much boilerplate.

[2020-06-15 10:21] DevinR528 commented on #56
Yeah, I think this would be great. Should I use criterion or just `#[bench]`.

I can add a few with #52 then open another PR with more.

[2020-06-15 10:45] jplatte commented on #56
Ah, I forgot to write that we probably want to use Criterion! `#[bench]` is nice too, but Criterion can do so many more nice things (e.g. plots).

[2020-06-15 10:46] DevinR528 commented on #56
It's way easier to read to when comparing which is always nice!

[2020-06-15 12:22] iinuwa commented on #55
No, they're kind of spread out. It seems like they improved the documentation in the last version, but missed a few parts mentioning it explicitly.

# Key ID Grammar

[Server] Key ID is mentioned in the parameters of the endpoints that use it in their requests (e.g. [1], [2])*:

The Device Key ID is in the Client-Server spec (again in request parameters):

# Supported Key Algorithms

The supported

[2020-06-15 13:48] jplatte commented on #55
Ouch. Is there an issue for this?

Same question: Is there an issue?

To the actual point: I guess a `signature` (or `signing`?) mod in ruma-common might be a good place for this type, but I'm not entirely sure.

[2020-06-15 14:38] iinuwa commented on #55
Haven't looked if there are issues; just discovered both of those this morning. Later today, I'll check and create them if they don't exist.

I'm not sure about `ruma-common`, either. I'd have to think about it. I like `signing` as a module name though.

If we move the `Signatures` types to `ruma-common::signing`, should we also move the new `(Server|Device)KeyAlgorithm` and `(Server|Device)KeyId`

[2020-06-15 14:57] jplatte commented on #55
If we do this, we might as well move ruma-identifers into ruma-common fully, no? Which isn't necessarily a bad thing, tbh. I can't think of a very compelling reason `ruma-identifiers` should be its own crate. If things continue the way it seems and `ruma-events` is going to be a dependency of every single API crate, we might even want to move all of that in there too.

[2020-06-15 15:43] iinuwa commented on #55
I think I agree, though it may be good to get some other feedback from consumers.

[2020-06-15 22:36] jplatte commented on #56
Main part done in #52, performance improved in f2f283c9656b548bd61681fc6cdae88a5d12ecce.

[2020-06-15 22:36] #56 closed, assigned to nobody

[2020-06-16 00:29] jplatte commented on #38
Apparently I can't just assign random people so I guess I'll first mention you? @DevinR528

[2020-06-16 00:30] DevinR528 commented on #38
Assign me

[2020-06-16 00:33] jplatte commented on #33
I guess we don't need this separately from #38.

[2020-06-16 14:16] jplatte opened #58 "Unsupport floats in ruma_serde::urlencoded"
Matrix doesn't use floats anywhere, and removing support will let us get rid of the `dtoa` dependency.

[2020-06-16 14:20] jplatte commented on #54
That is `ruma_client_api::account::whoami` and `ruma_identifiers::UserId` for anyone not familiar with the codebase.

[2020-06-17 13:15] jplatte opened #62 "Add macros to create 'static identifier refs"
EDIT: This is no longer possible with the `Ref` types no longer existing in ruma-identifiers. The below might become possible again with custom DST based identifiers, but those are far away. See the comment below for why this issue is still useful. The idea in the description might still be implemented, but as `_ref` macros that would mostly be useful for tests (though is it worth it to write the

[2020-06-18 03:32] iinuwa opened #65 "Add auth chain endpoints"
The endpoints to query auth chains for events are missing:

- [GET /_matrix/federation/v1/event_auth/{roomId}/{eventId}](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-event-auth-roomid-eventid)
- ~[POST /_matrix/federation/v1/query_auth/{roomId}/{eventId}](https://matrix.org/docs/spec/server_server/r0.1.4#post-matrix-federation-v1-query-auth-roomid-eventid)~ removed in

[2020-06-18 09:21] #27 closed, assigned to iinuwa

[2020-06-18 14:27] Kelerchian commented on #21
Hi, I'm curious about the implementation.

Changing `limit` field type from `Option<UInt>` to `UInt` will make it **required** from the perspective of the library consumer. Is it intended to be that way? I'm asking this under the assumption that ruma-client-api will be used by developer of rust-based matrix client. CMIIW and go easy on me because I'm new.

Anyway here's a fix #66

[2020-06-18 14:42] jplatte commented on #21
Yes, this means that client authors will have to write `UInt::from(0u32)` where they could previously write `None`. This loss of convenience can be tackled by authors of higher-level client libraries (e.g. `matrix-rust-sdk`), although we're also planning to make construction of our types easier, by adding constructors to lots of our types; see #14.

[2020-06-18 15:15] jplatte opened #67 "limited field in sync_events should be bool rather than Option<bool>"
*Split into a new issue from https://github.com/ruma/ruma/issues/21#issuecomment-640135997.*

There's a field [in sync_events](https://github.com/ruma/ruma/blob/1aed6ab52bb7cc8069339797994c81a8348c4f30/ruma-client-api/src/r0/sync/sync_events.rs#L237) that should be updated to use `#[serde(default = "...", skip_serializing_if = "...")]` instead of being `Option`al.

[2020-06-18 15:18] #21 closed, assigned to nobody

[2020-06-18 15:20] Kelerchian commented on #21
I just thought that having a one-to-one mapping between Rust struct and its URI query component counterpart would reduce the programmer's cognitive load (in place of the struct being dumb)

[code]

I am assuming that the `default: 10` part is already the server's responsibility. I haven't been able to find that it is actually the server's responsibility in the draft docs.

Also, having the client

[2020-06-18 15:44] jplatte commented on #21
It is. But since ruma-client-api can also be used for servers, it makes sense to encode these kinds of defaults in our code, so people building servers on top of our libraries don't have to care about it.

We could do that, yeah. I'd not be opposed to that, if post #14 being fixed somebody still has a clear use case for it.

By the way, that issue is something that will have to be tackled as lots

[2020-06-19 17:03] jplatte commented on #14
The first commit to make some of our structs `#[non_exhaustive]` is in master since yesterday: f9639e110ec59a97ad4599829df18346f8c60ae2.

[2020-06-19 20:23] jplatte commented on #58
Done in e42223b.

[2020-06-19 20:23] #58 closed, assigned to nobody

[2020-06-19 21:42] iinuwa opened #70 "Add backfill endpoint."
The backfill endpoint is missing.

[GET /_matrix/federation/v1/backfill/{roomId}](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-backfill-roomid)

[2020-06-19 21:48] iinuwa opened #71 "Add get_missing_events endpoint"
The get missing events endpoint is missing.

[POST /_matrix/federation/v1/get_missing_events/{roomId}](https://matrix.org/docs/spec/server_server/r0.1.4#post-matrix-federation-v1-get-missing-events-roomid)

[2020-06-19 23:50] iinuwa opened #72 "Add event retrieval endpoints"
The event retrieval endpoints are missing:

- [GET /_matrix/federation/v1/state/{roomId}](https://matrix.org/docs/spec/server_server/r0.1.3#get-matrix-federation-v1-state-roomid)
- [GET /_matrix/federation/v1/state_ids/{roomId}](https://matrix.org/docs/spec/server_server/r0.1.3#get-matrix-federation-v1-state-ids-roomid)
- [GET /_matrix/federation/v1/event/{eventId}](https://matrix.org/docs/spec/se

[2020-06-20 00:17] iinuwa opened #73 "Add V2 send join endpoint"
The v2 send join endpoint added in r0.1.4 is missing:

[PUT /_matrix/federation/v2/send_join/{roomId}/{eventId}](https://matrix.org/docs/spec/server_server/r0.1.4#put-matrix-federation-v2-send-join-roomid-eventid)

[2020-06-20 00:21] iinuwa opened #74 "Add invite endpoints"
The invite endpoints are missing from ruma-federation-api:

- [PUT /_matrix/federation/v1/invite/{roomId}/{eventId}](https://matrix.org/docs/spec/server_server/r0.1.4#put-matrix-federation-v1-invite-roomid-eventid)
- [PUT /_matrix/federation/v2/invite/{roomId}/{eventId}](https://matrix.org/docs/spec/server_server/r0.1.4#put-matrix-federation-v2-invite-roomid-eventid)

[2020-06-20 00:25] iinuwa opened #75 "Add leave event endpoints"
The leave event endpoints are missing from ruma-federation-api:

- [GET /_matrix/federation/v1/make_leave/{roomId}/{userId}](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-make-leave-roomid-userid)
- [PUT /_matrix/federation/v1/send_leave/{roomId}/{eventId}](https://matrix.org/docs/spec/server_server/r0.1.4#put-matrix-federation-v1-send-leave-roomid-eventid)
- [PUT /_ma

[2020-06-20 00:27] iinuwa opened #76 "Add third-party invite endpoint"
The third-party invite endpoint is missing from ruma-federation-api:

[PUT /_matrix/federation/v1/exchange_third_party_invite/{roomId}](https://matrix.org/docs/spec/server_server/r0.1.4#put-matrix-federation-v1-exchange-third-party-invite-roomid)

[2020-06-20 00:29] iinuwa opened #77 "Add 3PID binding callback endpoint"
The 3PID binding callback endpoint is missing from ruma-federation-api:

[PUT /_matrix/federation/v1/3pid/onbind](https://matrix.org/docs/spec/server_server/r0.1.4#put-matrix-federation-v1-3pid-onbind)

[2020-06-20 00:30] iinuwa opened #78 "Add filtered public rooms endpoint"
The filtered public rooms endpoint is missing from ruma-federation-api:

[POST /_matrix/federation/v1/publicRooms](https://matrix.org/docs/spec/server_server/r0.1.4#post-matrix-federation-v1-publicrooms)

[2020-06-20 00:35] iinuwa opened #79 "Add profile query endpoint"
The profile query endpoint is missing from ruma-federation-api:

[GET /_matrix/federation/v1/query/profile](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-query-profile)

Note that there is a also generic endpoint for querying, the schema of which is undefined: [GET /_matrix/federation/v1/query/{queryType}](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-fe

[2020-06-20 00:36] iinuwa opened #80 "Add OpenID userinfo endpoint"
The OpenID user info endpoint is missing:

[GET /_matrix/federation/v1/openid/userinfo](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-openid-userinfo)

[2020-06-20 00:38] iinuwa opened #81 "Add device info endpoint"
The device info endpoint is missing from ruma-federation-api:

[GET /_matrix/federation/v1/user/devices/{userId}](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-user-devices-userid)

[2020-06-20 00:40] iinuwa opened #82 "Add key claim endpoint"
The key claim endpoint is missing from ruma-federation-api:

[POST /_matrix/federation/v1/user/keys/claim](https://matrix.org/docs/spec/server_server/r0.1.4#post-matrix-federation-v1-user-keys-claim)

[2020-06-20 00:42] iinuwa opened #83 "Add generic query endpoint?"
Not sure if we should add this, but there's a generic query endpoint in the Federation API with no response schema (can be anything) that is missing:

[GET /_matrix/federation/v1/query/{queryType}](https://matrix.org/docs/spec/server_server/r0.1.4#get-matrix-federation-v1-query-querytype)

[2020-06-20 00:42] iinuwa commented on #25
I think I've created issues for all the remaining endpoints. I'll do a final sweep through tomorrow to make sure and then close this.

[2020-06-20 01:17] iinuwa commented on #77
I think we'll want to define a type for the Identity Server Signature. Cf. #55.

[2020-06-20 03:33] iinuwa commented on #55
I was reading this wrong, but there is a mismatch between the type name and definition; created an issue for that: matrix-org/matrix-doc#2649.

The `Signatures` object referenced _is_ described in prose in Section 3.2 of the Appendix. I also created an issue for defining the `Signatures` types more explicitly: matrix-org/matrix-doc#2650.

Now that I've read through this again, I see the pattern mo

[2020-06-21 19:14] Kinrany commented on #53
Anyone working on this one? Let me try 🙂

[2020-06-21 19:20] #39 closed, assigned to Kinrany

[2020-06-22 11:56] jplatte opened #87 "Rename event "stubs""
The /sync-returned events now have distinct names in the spec since matrix-org/matrix-doc#2647, we should match them (`Sync` prefix rather than `Stub` suffix).

[2020-06-22 12:01] iinuwa commented on #87
Oh, interesting; should we request an MSC for the same thing with `ruma_events::pdu::*Stub` types as well?

[2020-06-22 12:58] Kelerchian commented on #14
Throwing random idea to (perceptively) reduce mutation:
What about declarative macro_rules only for Request object that expands to mutations? Will it be easier to consume?

[code]

Edit: remove "actually" because after re-reading it, I think I sounded annoying :D

[2020-06-22 15:21] jplatte commented on #14
@Kelerchian I thought I had mentioned that possibility here before, but apparently not! Maybe I did in the Matrix room, but whatever. The main reason I haven't done this yet is that there's no obvious syntax for such a macro. The one I came up previously was something like

[code]

but I like yours much more (you should fix the expanded form from `let` to `let mut` and `:` to `=` though :stuck_out

[2020-06-22 15:26] jplatte commented on #87
No need for an MSC, if those already have separate definitions in matrix-doc I'm pretty sure a simple PR like the one I did would suffice. If it's not specced that the `room_id` is sometimes missing in federation but it is in practice, I'd ask in #matrix-spec:matrix.org how to proceed.

[2020-06-24 13:43] Kelerchian commented on #14
The discussion about consuming non_exhaustive struct is [here](https://internals.rust-lang.org/t/pre-rfc-relaxed-non-exhaustive-structs/11977/10)
Here's the related [rfc page](https://rust-lang.github.io/rfcs/0736-privacy-respecting-fru.html)

The journey is still long it seems. And knowing there's no official way to do this in ruma crate, it might be just better to tell user to mutate and use hel

[2020-06-24 13:53] jplatte commented on #14
It was not a recommendation, as I said above I like your version much better.

I will think about naming a bit more (not a huge fan of `assign!` right now) and decide how to proceed based on that.

Thanks a lot for helping with this! :)

[2020-06-24 14:19] #54 closed, assigned to nobody

[2020-06-24 18:45] jplatte commented on #28
We won't need any custom conversion functions once use the slice-dst crate to make our types DSTs (although `ToOwned` impls would be very nice).

[2020-06-25 12:00] Kelerchian commented on #14
You're welcome.
I was searching for an unused name in https://docs.rs/ and then `assign` crossed my mind. [JavaScript devs should be familiar with it](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign).

[2020-06-25 13:06] jplatte commented on #14
Hm, that does make some sense. I will look into your new crate in more detail and probably send one or two PRs, but encourage you to release the first version now, to make sure you get the name on crates.io :)

Would you also be willing to give me / everyone with ownership of the ruma crates on crates.io (`github:ruma:maintainers`) co-ownership of the crate?

[2020-06-25 16:01] Kelerchian commented on #14
I'm not comfortable with the crates.io owner system.

I'll add you as collaborator in the meantime.
The CI/CD is in place,
it'll build and test on pull requests
build, test, and publish on merge on master branch

[2020-06-25 16:01] Kelerchian commented on #14
I might be adding you guys as crate co-owners sometime soon

[2020-06-27 21:11] Kinrany commented on #53
So right now `ruma_common::push` has three push rule types: `PushRule`, `ConditionalPushRule` and `PatternedPushRule`.

There's also `ruma_client_api::push::PushRule`.

And all of them refer to the same [spec], correct?

`ConditionalPushRule` and `PatternedPushRule` seem to be just `PushRule` with extra data. Do they need to be separate types, or could they be just `(PushRule, Vec<PushCondition>)`

[2020-06-27 23:15] jplatte commented on #53
We definitely want to remove the more general definition with optional fields and use an enum of `PushRule | PatternedPushRule | ConditionalPushRule` instead. The tricky part is deserialization (in particular, I can't think of what we would do if both `conditions` and `pattern` are present on a rule). Serialization could just use `#[serde(untagged)]`.

[2020-06-27 23:20] jplatte commented on #53
The solution here may just be to get rid of the need for an enum altogether by splitting the relevant endpoints into multiple one's? Actually we could also have sth. like that and still expose one endpoint publically *I think*, but explaining that here would be too much work right now (I'm on mobile). Will investigate in the coming days.

[2020-06-28 11:55] Kinrany commented on #53
My knowledge of the context is limited, but I think having `ConditionalPushRule` and `PatternedPushRule` is a bit dangerous in that the spec might introduce rules with both later.

Is it important that `underride` and `override` use the same type? Can we use a trait for that?

[2020-06-28 19:35] jplatte commented on #53
Possibly. I don't see why that would be 'dangerous' though.

I don't see why they would use different types. Not sure what you mean with the trait.

[2020-06-28 22:20] Kinrany commented on #53
Bad wording, sorry D:

The worst possible outcome I can think of would be having to make a breaking change and refactor dependent code, without the spec itself making a breaking change.

Say, if the `content` rules got conditions too. We'd have to add a new `ConditionalAndPatternedPushRule` type, change all functions that work on `content` rules to use that type, and change all functions that work

[2020-06-29 11:37] DevinR528 commented on #38
This was done [here](https://github.com/ruma/ruma/commit/69d5da401883350a69175513cc11b18112a9a776)?

[2020-06-29 12:23] DevinR528 opened #99 "Floats in ImageInfo width/height"
@MTRNord and I discovered that riot occasionally sends image events like this
[code]
Not sure if this is a riot/synapse bug or if we should accept floats also?

[2020-06-29 12:34] poljar commented on #99
The spec says [integer](https://matrix.org/docs/spec/client_server/latest#m-file) so I would say Riot bug, Synapse likely doesn't check the type of those.

Since there are a bunch of events like these in the wild I would think that it makes sense to accept them, possibly just round them to become an integer.

[2020-06-29 12:36] iinuwa commented on #99
Beat me to it!

I would say we should file a bug with Riot. If we want to put in a workaround, it should go into a riot-workarounds branch.

[2020-06-29 13:30] MTRNord commented on #99
Adition: This event was sent from RiotX :) Not riot-web. riot-web worked

[2020-06-29 14:01] DevinR528 commented on #99
Sounds good. I wonder if adding the float -> u64 conversion in [`js_int::UInt` Deserialize impl](https://github.com/jplatte/js_int/blob/master/src/uint.rs#L553) somehow would be the way to handle this?

Also after searching I found https://github.com/vector-im/riotX-android/issues/363

[2020-06-29 15:22] jplatte commented on #99
Yeah, we should probably have *one* branch with workarounds for synapse / riot / whatever bugs. Wdyt about 'compat'?

[2020-06-29 15:29] poljar commented on #99
How would one use that branch, would that ever be available in a released form on crates.io?

[2020-06-29 15:48] jplatte commented on #99
As a git dependency. It wouldn't ever be available on crates.io

[2020-06-29 16:57] #38 closed, assigned to DevinR528

[2020-06-29 19:18] poljar commented on #99
That kinda defeats the purpose of this, nobody can release using a git dependency. If it's not going to be available as a release I would say don't bother fixing this.

Ideally this would be behind a feature flag and people that want their project to be lenient with the events would enable the flag ,people that want strictness can leave it disabled, or we could just always be lenient with the de-s

[2020-06-30 08:51] jplatte commented on #99
Well, in this one specific case I could allow parsing from floats in `js_int` with a feature flag. However, often our workarounds for other software are more complicated and enabling the feature flag in one place could break other crates that depend on the same ruma crate.

[2020-06-30 09:52] jplatte commented on #53
I think we'll have to do some trickery to avoid breaking changes in the future either way. Even if the spec just renames something, we'd want to follow that, and they surely won't consider that a breaking change but for us it would clearly be if we mirrored the change directly.

I do feel like you're overengineering this. I am probably doing the same by thinking about splitting the GET endpoint in

[2020-06-30 11:05] #8 closed, assigned to nobody

[2020-06-30 13:09] Kinrany commented on #53
Haha, oh well.

Is there a minimal improvement we can do now, without knowing what the best design is?

We could, as @timokoesters suggested, replace `ruma_client_api::push::PushRule` with an enum. This way we can at least remove some duplication and make sure these types won't become incompatible again.

Something like this?

[code]

But I haven't looked into how hard this would be to serialize.

[2020-06-30 15:40] jplatte commented on #53
I was thinking more of

[code]

Serialization should be trivial, it should just be `#[derive(Serialize)]` + `#[serde(untagged)]`. **De**serialization could also work that way, but then an object containing both `pattern` and `conditions` would get accepted as `AnyPushRule::Patterned` in my example or `AnyPushRule::Conditional` if that was declared before the `Patterned` variant. We should probably

[2020-06-30 18:39] sl4m commented on #79
Hi, found your repo via TWiR. I'd like to possibly help.

One question I had: isn't `GET /_matrix/federation/v1/query/directory` already covered in https://github.com/ruma/ruma/blob/master/ruma-federation-api/src/query/get_room_information/v1.rs?

[2020-06-30 18:50] iinuwa commented on #79
Welcome @sl4m!

Yup, you're right; good catch! (I was half asleep when I created these, so there may be more things that I overlooked.) I'll edit it.

Would you like to work on this issue? I can assign it to you if you want.

[2020-06-30 18:53] sl4m commented on #79
Yes, I'd like to tackle the profile query endpoint.

[2020-06-30 19:09] iinuwa commented on #79
Cool. Let me know if you need any pointers; I'm always looking to improve the [contributor's guide](https://github.com/ruma/ruma/blob/master/CONTRIBUTING.md).

[2020-07-01 07:55] poljar commented on #99
I understand that workarounds might get complicated and I'm not suggesting to move all workarounds to a feature flag, I'm suggesting that this bug should be sufficiently simple that the cost of discarding the whole event as invalid is bigger, after all just one field in the event has an invalid type and can easily be converted to a valid one.

Many clients won't even care about the size, they'll j

[2020-07-01 11:17] #79 closed, assigned to sl4m

[2020-07-02 14:48] jplatte opened #106 "Don't build criterion in CI"
It would be nice if criterion was not a regular dev-depenency that is built for tests since we only need it for benchmarks that we don't want to run on CI either way.

The one way to do this I can come up with so far is moving benchmarks to a separate, workspace-excluded crate.

[2020-07-02 16:43] timokoesters opened #107 "change_password::Request::logout_devices does not exist"
https://matrix.org/docs/spec/client_server/r0.6.1#post-matrix-client-r0-account-password

[2020-07-02 17:55] DevinR528 commented on #106
I tried feature gating everything it's a bit ugly but it does work.

[code]

[code]
And the imports and actual bench functions are gated too.

[2020-07-02 18:25] DevinR528 commented on #6
This is about [this](https://github.com/ruma/ruma/blob/master/ruma-api-macros/src/api.rs#L201) and the few other times it's generated for the `Request` struct?

[2020-07-02 18:55] jplatte commented on #106
But then it's listed as a regular dependency, rather than a dev-dependency, right? I don't think dev-dependencies can be feature-gated.

[2020-07-02 19:39] jplatte commented on #6
@DevinR528 yes, my latest comment was about that.

[2020-07-03 10:35] DevinR528 commented on #106
Yes, it has to be a regular dependency since you can't feature-gate dev-dependencies.

[2020-07-03 10:39] jplatte commented on #106
Hm, what if the whole file has `#![cfg(feature = "criterion_bench")]`? Does that work?

[2020-07-03 10:55] DevinR528 commented on #106
It works with it enabled but complains that there is no main function disabled.
[code]
Is there a way to add a main if it's configured for the whole file?

[2020-07-03 11:07] jplatte commented on #106
Hm, could we also not feature-gate anything and add

[code]

to the benchmark? How many errors does somebody running `cargo bench` without the feature get then?

[2020-07-03 11:29] DevinR528 commented on #106
This seems like a bit of a rough edge of rust features, enabling a file global feature then makes it impossible to do anything with `#[cfg(not(same_as_global))]`.

This is the error now
[code]
It's not great but it is only the one error and maybe with an all caps comment it would be visible

[2020-07-03 12:18] jplatte commented on #106
@DevinR528 I meant not using `#![cfg()]`, but reporting a compile-time error if the feature is not activated. I'm not sure whether you're then flooded with error messages about criterion or macros not being found, or just get that one error message, if the feature is not activated. Can you check?

[2020-07-03 14:19] DevinR528 commented on #106
[code]

[2020-07-03 14:37] DevinR528 commented on #6
What was the function signature you had in mind? Or maybe the better question is how to handle passing the request/response variable around owned in order to create the error (I'm assuming this relates to "where the outer function then adds the raw http request / response in the error case"). Is the goal is to have an inner function that does the matching but somehow hands the error creation back

[2020-07-03 14:39] jplatte commented on #106
... and if you don't apply `#[cfg(feature = "criterion_bench")]` to everything else?

[2020-07-03 15:04] jplatte commented on #6
Without relating this closely to the code (would have to look it up again), this is what I'm thinking of:

[code]

Does that make sense or is it too abstract? :sweat_smile:

[2020-07-03 18:51] DevinR528 commented on #6
I think the example was good enough. I was trying it out in the expanded code and this is what I came up with.

[code]
All but the last field has to use `match` and `return` or compiler complains about `request` being moved. This is an improvement over what's there currently.

[2020-07-03 20:31] jplatte commented on #6
Why one closure per request field? Is it not possible to have just one `try_from_impl` for the whole `TryFrom::try_from`?

[2020-07-03 20:33] jplatte commented on #6
I don't care much whether it's `map_err` or needs to be `match` for borrow-checking reasons.

[2020-07-03 21:05] DevinR528 commented on #6
Type inference sets the type of the closure I'm guessing as the `event_id` field `try_from_impl` fails

[code]

[2020-07-03 21:13] DevinR528 commented on #6
That was from this code

[code]

[2020-07-03 21:43] jplatte commented on #6
@DevinR528 You're still misunderstanding something. I want the closure to return `Result<Self, DeserializationError>`. The whole

[code]

should be moved into the closure, with the remainder of the `try_from` implementation being a call to the closure + `map_err`. Does that make sense? Did you try this before?

[2020-07-04 10:34] DevinR528 commented on #6
It works! Now I just gotta make the code-gen changes and open the PR.

[2020-07-04 23:18] DevinR528 commented on #106
It shows the first level of errors (imports and macro not found plus the `compile_error!`).

[2020-07-05 08:32] jplatte commented on #36
Continuing discussion in matrix-rust-sdk PR:

There's an implementation of event redaction for `serde_json::Value` in ruma-signatures, I don't think that part is very hard.

The main question is how to represent redacted events in ruma-events. Should for example `room::messageMessageEvent` represent only "regular" non-redacted `m.room.message` events, and if so, what variant(s) should be added to

[2020-07-05 08:53] poljar commented on #36
Redactions strip all the fields in the content unless the event is of the type `m.room.member`, `m.room.create`, `m.room.join_rules`, `m.room.power_levels`, or `m.room.history_visibility`.

The fields that are allowed to stay for those events can be found [here](https://matrix.org/docs/spec/rooms/v1#redactions), note that this lists aliases as well but room version 6 [removes](https://matrix.org/d

[2020-07-05 11:16] jplatte commented on #36
Right, so with only 6 event types retaining parts of their `content` it makes sense to me to handle the rest uniformly (though we'd probably need separate `RedactedMessageEvent` and `RedactedStateEvent`). I'm still not sure what would be the best way to represent redacted events in `AnyRoomEvent` and such though (whether as variants on the existing enums or something else).

[2020-07-05 11:21] jplatte commented on #106
Okay.. What's your take on which solution is best?

[2020-07-05 11:39] DevinR528 commented on #106
Probably the `compile_error!` with the `#[cfg(feature = "criterion_bench")]`. That at least makes it more obvious what someone would have to do to get the benches working.

Are you ok with having a permanent red error file in vscode or any IDE's.

[2020-07-06 08:48] jplatte commented on #106
~~Actually, thinking about it again, this won't work, at least not without adjusting the CI script. But maybe we should be adjusting it regardless, as I'm pretty sure it cannot test things like no_std in ruma-identifiers as-is (due to us running all the cargo commands in the workspace root, which always selects a feature set that make building everything possible, which means the features other pa

[2020-07-06 15:20] jplatte commented on #36
My current assumption is that clients can simply ignore redacted message events, but redacted state events do have to be looked at in order to show the room state accurately. Is that correct?

[2020-07-06 15:31] poljar commented on #36
Well yes and no, for example if you don't care about display names you can ignore redacted membership events. Now if you do care about display names your state will be obviously wrong if you ignore it.

So if care about all features you'll need to care about them, if you don't care about cosmetics you can still ignore them.

[2020-07-06 15:41] poljar commented on #36
Or to make it a bit clearer, you can't remove a member from the room by redacting the membership event, only the cosmetic stuff will be affected, the display name and avatar url.

[2020-07-06 15:43] jplatte commented on #36
The question I was asking is because there is also the option of changing all message & state event variants in the event enums from `Thing(ThingEvent)` to `Thing(PossiblyRedacted<ThingEvent>)` rather than introducing new variants. `PossiblyRedacted` would be

[code]

With the six event types that require special handling having separate enums that are then used instead of the generic `PossiblyRed

[2020-07-06 17:54] poljar commented on #36
I think this would end up requiring a lot of work to deconstruct every event and check that it's redacted, considering that we can ignore the Redacted case the majority of times.

While I agree that `Thing(PossiblyRedacted<ThingEvent>)` looks cleaner I think it would introduce a bit more friction while using it compared to a couple new variants, or we could maybe put the redacted events under one

[2020-07-06 18:23] jplatte commented on #36
Finally some clear feedback, I was missing that in the previous event enum discussion :sweat_smile:

What does everybody think about the `AnyMessageEvent` and `AnyStateEvent` enum macro invocations generating additional `AnyRedactedMessageEvent` and `AnyRedactedStateEvent` enums that can then be added as variants to `AnyEvent` and `AnyRoomEvent` (I guess we'll then also need an `enum Any_StateEven

[2020-07-06 20:37] DevinR528 commented on #36
I like that idea it removes the extra check/match needed to get at the event while still keeping it clearly separate.

[code]

Then the `AnyEvent` deserialize impl is responsible for determining if the event has been redacted? Is the plan to create the 5 new `*RedactedEventContent` structs and the rest use an `EmptyRedactedEventContent` struct that has the `reason` field maybe?

[2020-07-06 21:04] jplatte commented on #36
@DevinR528 You're mixing event types and event content types. We won't need `EmptyRedactedEventContent` because the generic `RedactedMessageEvent` and `RedactedStateEvent` just won't have a `content` field.

[2020-07-06 21:24] DevinR528 commented on #36
Ah right I did. What I meant was

[code]
Am I reading that right, another set of generic event structs like so?

[code]

[2020-07-06 21:59] jplatte commented on #36
I was actually thinking of

[code]

where `Redacted*Event` are type aliases like ones we already have, but usually without any generics involved. But it does make a lot of sense to have them involved for those six special cases, we don't want to repeat all the state event fields for that, thanks for mentioning! So taken together, that would look like:

[code]

where `EmptyRedactedStateEvent` would

[2020-07-06 22:00] #106 closed, assigned to nobody

[2020-07-06 22:15] DevinR528 commented on #36
Completly, I enjoy this part I'm glad I finally feel comfortable really contributing! I think it's coming along nicely :+1:

I think we are supposed to keep `unsigned` for the `redacted_because` field, client and server put the redaction event ("m.room.redaction") in the redacted events ("m.whatever") unsigned.redacted_becasuse field?

[2020-07-06 22:19] jplatte commented on #36
Ah right, `redacted_because` is part of `unsigned`. I think all other `unsigned` fields have to be removed though, no?

[2020-07-06 22:20] jplatte commented on #36
So effectively, our `Redacted*Event` structs will all have `unsigned: RedactedUnsigned` which is just a one-element struct, and `redacted_because` can be removed from the regular `UnsignedData` because that will only be used for non-redacted events.

[2020-07-06 22:21] DevinR528 commented on #36
Yeah I think you're right the spec kind of confusingly says to add the `redacted_because` field but the removal of the usinged field is ok.

[2020-07-06 22:23] DevinR528 commented on #36
Are you thinking this for stub and stripped

[code]

[2020-07-06 22:25] jplatte commented on #36
Can you remind my why we didn't have to do this for stubs already? Are redaction stubs special cased in the macro code, or do we actually fail to use the `RedactionEventStub` in the existing enums?

[2020-07-06 23:57] DevinR528 commented on #36
We use the stub and full event currectly, this is what generates the `Variant(this content path)` for our enums

[code]

[2020-07-07 02:38] DevinR528 commented on #36
One somewhat unfortunate effect of not using the existing `State/MessageEvent[Stub/Stripped]` is we actually have to add ~9~ __8__ new event kind structs, the 3 generic redacted state event versions, 3 empty redacted state event, and ~3~ __2__ empty redacted message event structs.

I have a branch that shows basically what we got so far should I open a PR so you can check it out?

[2020-07-07 13:17] poljar commented on #36
Btw do we have the docs for these new monorepo collections somewhere? It's a bit hard to know and track what is supposed to be used for what, also is the naming convention explained somewhere. :sweat_smile:

[2020-07-07 14:32] DevinR528 commented on #36
No docs yet but you can `cargo doc --open --features client-api` inside of `ruma/ruma` folder I did that a lot when working on the monorepo PR's.

Jonas will probably be able to explain more but here goes

<details>
<summary>Big block of code with comments</summary>

[code]
</details>

Updated PR for this is https://github.com/ruma/ruma/pull/114

[2020-07-07 14:33] jplatte commented on #36
@poljar The naming should mostly follow the spec, though until recently the spec didn't have distinct names for the events in the sync response that miss the `room_id`. Those currently have a `Stub` suffix but will be updated to use a `Sync` prefix instead (#87).

[2020-07-07 14:34] jplatte commented on #36
@DevinR528 I don't think we need `event_type: String` for redacted events, except for custom ones. All of this should (probably) mirror non-redacted events pretty closely.

[2020-07-07 14:38] DevinR528 commented on #36
I had one thought yesterday about `prev_content` in the state events that keep content fields do the `prev_content` fields that are the same need to be kept. An example of this would be member events, the `content.membership` is kept, should the `prev_content.membership` be kept?

Ah good call, copy paste error.

[2020-07-07 14:56] jplatte commented on #36
IIRC `prev_content` isn't specially handled by homeservers and is allowed to contain garbage as far as they are concerned, so should be stripped. Also the spec doesn't mention that it should be kept.

[2020-07-07 17:26] #80 closed, assigned to nobody

[2020-07-07 20:55] jplatte commented on #36
So I thought about this and actually came up with a potential solution. It would be less nice in a way (redacted events with no content would have a useless `content` field), but not require quite as many new types: Instead of creating `EmptyRedacted*Event`, we could make `Redacted*Event` more like the regular event structs but have `#[serde(default, skip_serializing_if = "is_zst)]` on `content` a

[2020-07-08 03:51] DevinR528 commented on #36
I took the zst idea and made it so it would work with all of our existing event type string stuff. I wasn't sure how to get `()` generating a type string. Everything works except `RedactedCustomEventContent` I can't figure out how to pass along the info. The custom events variants are handled in such a way that having this be it's own special struct is trivial so we could always go back to `EmptyR

[2020-07-08 09:15] jplatte commented on #36
Yeah, of course `()` can't work :facepalm:

But having separate (usually ZST) types for `content` seems like a good idea. Actually, why not auto-generate those as part of the `*EventContent` derive? We could just add a field attribute `#[ruma_event(do_not_redact)]` or `#[ruma_event(skip_redaction)]` or sth like that and it'd support the special cases too. We'd then further need `#[ruma_event(custo

[2020-07-08 20:14] DevinR528 commented on #36
That'll work great This is coming along nicely I'll amend the most recent PR with this.

[2020-07-09 23:13] sl4m commented on #65
I'm happy to take this on. According to the matrix docs, it looks like `POST /_matrix/federation/v1/query_auth/{roomId}/{eventId}` was removed as it was unused: https://github.com/matrix-org/matrix-doc/issues/2470

[2020-07-10 15:08] jplatte opened #115 "Add conversion functions for Stub / Sync event variants"
To and from the regular event kinds.

@DevinR528 Do you want to do this? If this is handled in the macro, it's probably much shorter than writing all of those out by hand.

[2020-07-10 18:37] DevinR528 commented on #115
Yeah, shouldn't be to bad since we did implement this once. Should I do it for the `Any*Event` enums?

[2020-07-10 18:54] jplatte commented on #115
For everything basically :sweat_smile:

I think there should be

* `impl<T> From<KindEvent<T>> for KindEventStub<T> where T: KindEventContent`
* `impl<T> KindEventStub<T> { pub fn into_full_event(self, room_id: RoomId) -> KindEvent<T> { … }`
* `impl From<RedactionEvent> for RedactionEventStub`
* `impl RedactionEventStub { pub fn into_full_event(self, room_id: RoomId) -> RedactionEvent { … } }`
* `

[2020-07-10 19:27] #65 closed, assigned to sl4m

[2020-07-10 22:50] jplatte opened #117 "Test redacted alias event deserialization"
As a followup to #114, we could use a test that ensures deserializing a redacted aliases event without `content` succeeds. I suspect this is not the case yet. Also, we should move out the repetitive `redacted_because` event building out into a helper function in that test file.

[2020-07-10 23:04] jplatte opened #118 "Create separate unsigned types for regular & redacted events"
`redacted_because` should be the only field in redacted event's `unsigned` struct. Regular events shouldn't have `redacted_because`.

[2020-07-11 00:30] DevinR528 opened #119 "Add enums to hold redacted and un-redacted events"
Add enums that cover
### State
`AnyStateEvent` | `AnyRedactedStateEvent`
`AnyStateEventStub` | `AnyRedactedStateEventStub`
`AnyStrippedStateEventStub` | `AnyRedactedStrippedStateEventStub`
~### Message
`AnyMessageEvent` | `AnyRedactedMessageEvent`
`AnyStateMessageStub` | `AnyRedactedMessageEventStub`~

Most likely rename all of the `Any*Event`s to `Regular*Event` and these new enums would become

[2020-07-11 00:41] jplatte commented on #119
By the way, I don't think we're actually going to need the message event ones. I think all the endings that return room events all only have lists of room events and lists of state events, never lists of only message events.

[2020-07-12 13:37] jplatte opened #122 "Decide on a MSRV policy"
Before the monorepo, we had separate MSRVs per repository. Now, our MSRV is effectively 'latest stable' since that's what we test on CI and we don't currently state anything about in in the (top-level) README.md.

Realistically, the MSRV for most of our projects can't be below 1.40 (which introduced `#[non_exhaustive]`). ruma-signature specifically has to have 'latest stable' as the MSRV as long a

[2020-07-13 12:12] jplatte opened #123 "Use proc-macro-crate to allow people using only the ruma crate to define their own endpoints"
Currently for the `ruma_api_macros::ruma_api` macro to work, `ruma_api` has to exist in the extern crate prelude (is that the correct terminology). This mean that people that use `ruma_api` but rename it in `Cargo.toml` or the crate root, or people using `ruma_api` only through the `ruma` metacrate can't use `ruma_api!`.

There is a crate designed to fix the first issue: [proc-macro-crate](https:/

[2020-07-13 12:13] jplatte commented on #123
Actually I wanted to not steal any macro work from you during GSoC @DevinR528 :smile:

While this was in no way planned for, do you want to work on it?

[2020-07-13 12:40] DevinR528 commented on #123
Yeah, I'll assign me, it seems straight forward enough.

[2020-07-13 13:18] jplatte opened #124 "Re-export dependencies required for ruma-events-macros from ruma-events"
… like is already done for ruma-api-macros & ruma-api.

See also #120, since this would make defining ones own enums more robust (the crate defining them would no longer be forced to keep serde, js_int and probably others as dependencies)
See also #123; these two issues might be tackled together, or at least if #123 is done first, that same technique should be applied when this is being worked on.

[2020-07-13 14:58] jplatte commented on #119
Okay so apparently the message ones would be useful afterall? matrix-rust-sdk seems to have a use case for them, though I didn't look into that in detail.

[2020-07-13 14:59] jplatte commented on #119
Also, you dropped a few `Any`s @DevinR528 ;)

[2020-07-13 17:00] sl4m commented on #67
It looks like the current type for `limited` field is `Option<bool>`. Is this issue still valid? If so, what should be the default value?

[2020-07-13 17:19] sl4m commented on #32
Any suggestions for the new name?

[2020-07-13 18:22] timokoesters commented on #32
Raw, RawJson, Unparsed

[2020-07-13 18:26] aledomu commented on #32
I second the "Unparsed" idea

[2020-07-13 18:29] jplatte commented on #32
None that I'm particularily happy with myself. The first ones that come to mind:

* Just plain `Json` like rocket and actix-web do, but then that might get in the way of using these together (I guess less so for actix-web, their type is usually used as `web::Json`) and it's also not descriptive at all
* `UnparsedJson` is a mouthful and could also be misinterpreted as "here is some data that is pro

[2020-07-13 18:33] aledomu commented on #32
`JsonMaybeT`

[2020-07-13 18:37] jplatte commented on #32
Thinking more about it, there is something nice to just `Json<T>`, it reads pretty much like "this is the JSON representation for T", which is *basically* correct, except we don't guarantee that a `Json<T>` deserializes to `T` successfully (though the way we use it, it should be a relatively rare occurrence for that to fail).

@timokoesters you're using Rocket, which AFAIK also has `Json<T>`, but

[2020-07-13 18:37] valkum commented on #32
I would like Raw.
And while designing it, I would like to thow portability into the room. So alternative forms of transport could be used with ruma as well. Making JSON the default but also somehow allow too add support for cbor e.g. (see [this experiment ](https://matrix.org/blog/2019/03/12/breaking-the-100-bps-barrier-with-matrix-meshsim-coap-proxy))
Maybe a Raw<E, T> where E is the EventType an

[2020-07-13 18:37] florianjacob commented on #32
`Encoded<T>`

[2020-07-13 18:39] timokoesters commented on #32
Nope, I'm not using it

[2020-07-13 18:40] aledomu commented on #32
And while designing it, I would like to thow portability into the room. So alternative forms of transport could be used with ruma as well. Making JSON the default but also somehow allow too add support for cbor e.g. (see this experiment )
Maybe a Raw<E, T> where E is the EventType and T is the Transport, e.g. JSON.
I am not sure if that would work, but I think rust matrix servers could be a good p

[2020-07-13 18:48] jplatte commented on #32
Taking alternative transports into account at all is going to be an absolutely *massive* undertaking for us, insofar as serde, which we use for (de)serializing basically *everything* does not support implementing the (de)serialization traits differently per (de)serializer (per encoding). In a way, `EventJson` or whatever it ends up being called being generic over the transport might simplify these

[2020-07-13 18:49] DevinR528 commented on #32
For more context [`EventJson`](https://github.com/ruma/ruma/blob/master/ruma-events/src/json.rs)

`JsonStr<T>`
`JsonObj<T>`

[2020-07-13 18:51] DevinR528 commented on #32
Would it be possible to mix encodings otherwise it seems to me having a type per encoding would make sense?

[2020-07-13 18:54] jplatte commented on #32
Yes, mixed encodings are a possibility. Separate types, or another generic parameter, seem like they would just increase our API surface way too much, so `EventJson<T>` becoming an enum of possible encodings seem like the only feasible to way to support mixed encodings at all. Deserializing to the right one should require `TypeId` specialization hacks at worst.

[2020-07-13 19:01] jplatte commented on #67
Oops :smile:

Yeah, this issue is still valid. Our docs for that field

(where "True" should really be "`true`") are taken directly from the Matrix specification. It's not very nice that it doesn't talk about what the value being absent means, but from that description I would assume that it means the same as explicitly using `false` as the value. Since `false` is `bool`s `Default`, we don't even

[2020-07-13 19:01] DevinR528 commented on #32
In that case I like `Encoded<T>` as `Encoded::Json`, `Encoded::Cbor`, etc. work well if we ever have to go that route.

[2020-07-13 19:04] jplatte commented on #32
Oh right, if it's an `enum` its variants are automatically public. In that case maybe it should be a struct wrapping an enum :smile:

I don't actually want users to be able to match on it if it supports multiple encodings. (at least it's my initial gut feeling that it's better not to suppor that)

[2020-07-13 19:09] jplatte commented on #32
Similar to `Encoded`, we could also use `Serialized`, which would be a tad more specific.

[2020-07-13 19:11] aledomu commented on #32
Until they want to take the inner value and they will have to try against multiple methods. I'd rather match on the output of `.into_inner()`.

[2020-07-13 19:13] florianjacob commented on #32
Would have expected for *something* in serde to be called `Serialized`, which was why I looked up the alternative word I read in a book yesterday to disambiguate from serialization in the sense of consistency & ordering of events, i.e. `Encoded`. However, there does not seem to be anything called `Serialized` in serde, so the name would be free & fitting. :eyes:

[2020-07-13 19:14] jplatte commented on #32
@aledomu I'm not sure what you mean. But how this type is going to look once we have multiple encodings is really not what we should be discussing here, I probably shouldn't have written that comment about the public variants in the first place. If you want to discuss this further, please open a new issue.

[2020-07-13 19:18] DevinR528 opened #126 "UnsignedData's redacted_because field needs to hold redaction events with and without room_ids"
An enum should be created to hold `RedactionEvent`s and `RedactionEventStub`s to allow either in `redacted_because`.

[2020-07-13 19:23] jplatte commented on #126
We just need multiple `Unsigned` types. This has come up before, as the spec has one or two places that declare event-specific `unsigned` fields. So really `StateEvent` and `StateEventStub` should have different types for their `unsigned` fields (same for `Message`). As part of that, I'd be happy if we could also drop the useless `Data` suffix.

[2020-07-13 19:55] sl4m commented on #67
Cool, I'll pick this one up then if that's all right.

[2020-07-13 19:57] jplatte commented on #67
Of course :)

[2020-07-13 19:58] jplatte commented on #53
@Kinrany Hey, it's been a while. Are you still planning to finish your work on this?

[2020-07-13 20:48] Kinrany commented on #53
Oh yeah. I should have probably said something, sorry. Couldn't find the time last weekend, but the next one should be fine.

Still not sure about using just three enum variants. But the hardest part here is deserialization, and I have no idea what the implementation is going to look like before I try, so I have nothing to say about that for now :)

Hmm, does it block anything, or are you just ask

[2020-07-13 20:48] iinuwa commented on #122
From what I understand, setting a static MSRV would help library authors from having to constantly update their libraries with new Rust syntax because of upstream dependencies. Enterprises tend to lag behind the latest software versions (for better or for worse). Consumers writing applications probably have a less strict need for an MSRV, IMO. (Could be wrong though.)

How many enterprises and dow

[2020-07-13 21:19] jplatte commented on #122
New syntax? I can't think of a single thing other than `async/.await` that this would apply to. What are you thinking of here?

I don't have any particular expectations 🤷

[2020-07-13 21:31] jplatte commented on #53
I wrote this before:

And still think that this would probably be the easiest way to solve this.

It's not blocking anything, was just wondering whether you were stuck / not interested anymore or sth. like that.

[2020-07-13 21:50] #67 closed, assigned to sl4m

[2020-07-13 21:57] sl4m commented on #32
@jplatte I can take this on next. Not sure anything was 100% agreed regarding the name, but I was planning to change it to `Serialized`

[2020-07-13 22:08] jplatte commented on #32
I'm now somewhat swayed towards `Raw` actually 😅

Maybe you could start by moving it and updating all the imports (would be nice to have a `#[deprecated]` re-export in ruma-events so people don't even have to look at the change log to know what to do to upgrade) and renaming can then be done once a new name has been chosen.

[2020-07-13 22:12] Kinrany commented on #53
Yep, shouldn't be too hard, just comparatively hard. I just have to see for myself what exactly this is going to look like :D

[2020-07-14 00:10] iinuwa commented on #32
I can go either way between `Raw<T>` or `Serialized<T>`. `Raw` _feels_ better than `Serialized`, but I think they both communicate well enough.

[2020-07-14 12:12] jplatte commented on #87
This will also make the stripped ones shorter, I wonder why we ever were as verbose. `Stripped` implies `Stub` / `Sync`, so `StrippedStateEventStub` should be `StrippedStateEvent` when we rename these.

[2020-07-14 12:14] DevinR528 commented on #87
If we want to get this out of the way, I feel like the `ruma_events_macro` PR made this easier, I can do this today so it's done then we aren't adding code and docs that we'll just have to change later?

[2020-07-14 12:19] jplatte commented on #87
Sounds good! :+1:

[2020-07-14 13:45] iinuwa commented on #122
Not necessarily incompatible syntax, but having to keep up with idiomatic Rust. (Cf. this [Reddit comment](https://www.reddit.com/r/rust/comments/fxek58/i_cant_keep_up_with_idiomatic_rust/fmu1pbd/).) I don't know that our library will be as generally used enough to have the same concerns as burntsushi, though.

That being said, is there anything in our libraries (besides a couple of rustc version-

[2020-07-14 14:12] jplatte commented on #122
I still don't follow. AFAICT, that discussion is about new language features directly causing a shift in what is idiomatic, not through their adoption in libraries. I don't see how us using new language features internally is going to impact users except for requiring the code to compiled with an up-to-date compiler. Are you concerned about us changing public API because of new features? That to m

[2020-07-14 15:08] jplatte commented on #32
Would anybody be *unhappy* with `Raw`? It also has the advantage of being the shortest name, which is nice for a type which is used this often.

[2020-07-14 17:52] DevinR528 commented on #32
Sounds good to me :+1:

[2020-07-14 22:07] jplatte commented on #28
This is no longer relevant / applicable now that #131 has been merged.

[2020-07-14 22:07] #28 closed, assigned to jplatte

[2020-07-15 10:16] jplatte commented on #62
Actually, what would be much better for convenience is macros that produce owned identifiers. I also just realized we don't need any `const fn` features for this, instead we can make these proc macros and verify the literals that way (this will require the validation code to live in a new crate, I think I'll call it `ruma-identifiers-internal`) and then construct the actual type with a new `unsafe

[2020-07-15 11:42] DevinR528 commented on #87
This has mostly been resolved with the exception of `PduStub` which is named stub for unrelated reasons.

#130

[2020-07-15 12:05] jplatte commented on #87
Yup, missed that that didn't have `fixes #87` or equivalent in the issue description. Maybe I rely on these things too much :smile:

[2020-07-15 12:05] #87 closed, assigned to DevinR528

[2020-07-15 12:28] valkum opened #132 "Figure out how to support different transport encodings"
As brought up in #32, it would be nice to someday allow to use Ruma to experiment with different underlying transport encodings.
Currently Matrix uses JSON for everything but they experimented with using CBOR ([See here](https://matrix.org/blog/2019/03/12/breaking-the-100-bps-barrier-with-matrix-meshsim-coap-proxy)) for the underlying encoding.

It would be nice if Ruma would be generic over the t

[2020-07-15 21:34] jplatte commented on #117
Done in #128 (3f951e931bfca90630363d40155e086662890b46).

[2020-07-15 21:34] #117 closed, assigned to DevinR528

[2020-07-15 21:35] jplatte commented on #99
There's really nothing more to discuss here, this will be handled by js_int once jplatte/js_int#15 is merged.

[2020-07-15 21:35] #99 closed, assigned to nobody

[2020-07-15 21:37] jplatte commented on #36
Initial support added in #114, further improvements in #128 and #135. This issue is no longer required! :)

[2020-07-15 21:37] #36 closed, assigned to jplatte

[2020-07-15 21:58] jplatte commented on #35
@poljar have you found a good way to solve this inside rust-matrix-sdk? Do you still wish Ruma would be more helpful regarding this?

[2020-07-15 22:19] jplatte commented on #32
`Raw` it is, then!

[2020-07-16 00:34] #118 closed, assigned to DevinR528

[2020-07-16 00:45] jplatte opened #136 "Support combining multiple #[ruma_event] options"
Currently, combining the two ruma_event attributes in room::aliases to `#[ruma_event(type = "m.room.aliases", custom_redacted)]` produces:

[code]

This should be supported.

[2020-07-16 06:36] poljar commented on #35
As for giving clients the encryption info we can modify the event emitter methods to contain an `Option<EncryptionInfo>` thing.

This would still be nice if people wish to consume the whole sync response as is instead of using the event emitter.

Another use-case, if we store the events in the state store the encryption info should be preserved.

For the state store I could wrap the events without

[2020-07-16 14:35] #32 closed, assigned to sl4m

[2020-07-17 12:20] #119 closed, assigned to DevinR528

[2020-07-18 14:00] iinuwa commented on #55
Jotting down my notes for later:

Definitions (sort of derived from the spec):
- _key identifier_: used to distinguish between different signing keys used by the same entity
- _signing key identifier_: _signing algorithm_ + _key identifier_
- _device key identifier_: _device key algorithm_ + _device identifier_

It seems there is no generic term for _algorithm_ + _key identifier_. I'll call it `Qu

[2020-07-19 22:10] ghost commented on #107
Hi im looking to contribute for the first time, would this be good first issue for me to tackle?

[2020-07-19 23:54] iinuwa commented on #107
Hi, @itsuy! Yup, this is a good first issue to tackle. Would you like me to assign it to you?

[2020-07-20 00:05] ghost commented on #107
yes please! @iinuwa

[2020-07-20 12:14] DevinR528 commented on #126
Resolved in #135

[2020-07-20 12:14] #126 closed, assigned to nobody

[2020-07-20 13:48] poljar opened #143 "The DeviceId type alias is hard to use."
I feel like using DeviceId isn't as nice as it used to be now that DeviceId is a type alias over str instead of String. I think we only had a couple of friction points in the matrix-rust-sdk where we wanted to use &DeviceId, now we have plenty of places where we need to box the device id.

I know this isn't really important for the matrix-rust-sdk public API since we can hide it, but investing som

[2020-07-20 13:59] jplatte commented on #143
The thing is, I mainly did this for `DeviceId` to be consistent with `ServerName`, which is a wrapper around `str` and works the exact same way.

This is purely from wanting to store it, not from moving it into a struct defined in Ruma, right?

Wrapping a `Cow` would work I guess, although it would add lots of pointless (though hidden) branching.

That's what we had on master previously (though ne

[2020-07-20 14:34] poljar commented on #143
Depends what you mean by that. Some Ruma structs now take a `Box<DeviceId>` as well, for example `DeviceIdOrAllDevices` for the to-device requests. Though we're mostly going to use an already boxed `DeviceId` as the source to fill out this struct.

Just that it requires more transformations on the client side than what we had before, e.g. if we want to store a device id we need to be aware of the

[2020-07-20 14:41] jplatte commented on #143
Yeah, the plan was to reintroduce `Incoming` / `Outgoing` so that you don't need owned identifiers to serialize requests in a client / responses in a server. Not sure whether that will make it into ruma 0.1 though.

I've tried making `.into()` "just work", and I think I commented on the ruma update PR in matrix-rust-sdk that you probably want to use that over `.to_owned().into_boxed_str()` or `.to

[2020-07-20 15:52] Kinrany commented on #53
Right, so I'm not sure how exactly deserialization should work here, given that we must allow extra properties for backwards compatibility reasons.

It's impossible to deserialize `AnyPushRule` (from [this comment](https://github.com/ruma/ruma/issues/53#issuecomment-651875766)) properly without knowing which variant to expect. Any `PatternedPushRule` might be a `PushRule` with an extra property de

[2020-07-20 16:02] jplatte commented on #53
Okay, it seems like you didn't understand the implementation strategy I proposed before. Let me phrase it in terms of some code:

[code]

@Kinrany Does that make sense? If it does, feel free to update your existing PR to it and re-open, that's probably less work than starting from scratch.

[2020-07-20 16:17] Kinrany commented on #53
The helper struct does make sense, yeah. My confusion is about the behavior we need here, not the implementation. AFAIK the spec does not guarantee the absence of `pattern` and `conditions` in rules that are not supposed to have them currently.

So perhaps the correct thing to do is to have a struct with optional fields for deserialization (same as `PushRule` from `ruma-client-api`), and then manu

[2020-07-20 16:28] jplatte commented on #53
Well, you're right about that. Splitting the endpoint in three also messes with otherwise backwards-compatible changes. How about this then: Move the existing `ruma_client_api::r0::push::PushRule` to `ruma_common::push::AnyPushRule` and implement `From<PushRule>`, `From<ConditionalPushRule>` and `From<PatternedPushRule>` for `AnyPushRule` (and possibly the reverse `TryFrom` conversions). So basica

[2020-07-20 16:50] Kinrany commented on #53
Yep, will do 🙂

[2020-07-20 23:40] #107 closed, assigned to nobody

[2020-07-21 01:20] ghost commented on #73
Can I have this problem assigned to me pls?

[2020-07-21 01:26] iinuwa commented on #73
Done!

[2020-07-21 02:41] iinuwa commented on #122
I agree; I think that effect is on the maintainers' side. In our situation, keeping up to date isn't a problem.

No, and I'm actually not concerned with keeping any specific MSRV, and I think latest stable is reasonable, especially if we think we're going to break that guarantee fairly soon. I think I was just trying to think of the profile of consumers who might appreciate an MSRV (and why) and w

[2020-07-21 02:45] iinuwa opened #147 "Consider merging ruma-events and/or ruma-identifiers into ruma-common"
Continuing discussion from [another issue](https://github.com/ruma/ruma/issues/55#issuecomment-644186565), do we want to make ruma-common a crate that holds everything that is shared between more than one ruma crate, including identifier and event types?

[2020-07-21 07:33] poljar commented on #143
Yes you did, @DevinR528 adopted the PR to use it, so as I said it isn't that much different to the `clone()` calls we had.

It seems that I can't, `DevId` vs `DeviceId` came to me but it's not very nice, Haskells `DeviceId'` might be nice if we could have it, but might also confuse people. 😅

[2020-07-21 10:01] jplatte commented on #143
Same for `DeviceId` vs `DeviceIdent` or `DeviceIdentifier`, which I came with earlier but forgot to mention here. Both your and my option would *kind of* mirror `str` vs `String`, but I still think they'd be confusing :/

Yeah if we could have it *and* it was a convention (or we'd try to make it one) that would be kind of nice. I doubt Rust will ever allow this, though. Non-ascii idents also seem

[2020-07-21 11:07] iinuwa commented on #143
Could we use a lower case identifier for the `str` newtype and Pascal case for the `Box` one? Would look kind of weird, but it would make it look like the `str` primitive/`String` type pairing.

[2020-07-21 11:18] jplatte commented on #143
You mean snake_case, as in `id: &device_id`? Or really just lowercasing the type as in `id: &deviceid`?

[2020-07-21 12:51] jplatte commented on #122
Okay. I think I'd like setting an MSRV again but maybe not "stable" since we previously had much lower requirements. Let's try "stable - 2", so 1.43 now that 1.45 has been released. I'll ask on Matrix again too.

[2020-07-21 13:25] jplatte commented on #147
I like the current setup. What would be the advantage of merging them?

[2020-07-21 13:31] jplatte commented on #35
Where / when does this use case come up?

[2020-07-21 15:39] jplatte commented on #122
No objections on Matrix, so I'll create a new issue for implementing the policy.

[2020-07-21 15:39] #122 closed, assigned to nobody

[2020-07-21 15:41] jplatte opened #148 "Implement MSRV policy"
In #122 and on Matrix, we decided to have an MSRV of `stable - 2`, so 1.43 for at least the upcoming releases of the next ~6 weeks (I don't see us using 1.44 features right afterwards but I think it would be fine to bump the MSRV again then). The only exception is ruma-signatures, which depends on ring with an MSRV policy of just "latest stable".

Now we need to

* [x] Document this
* [x] Test it

[2020-07-21 21:17] iinuwa commented on #143
I don't know, neither looks particularly good to me.

[2020-07-22 16:39] #30 closed, assigned to jplatte

[2020-07-22 19:16] #53 closed, assigned to Kinrany

[2020-07-24 07:56] poljar commented on #34
So we have a problem with this. The content between the in-room event differs from the to-device event as well. As can be found [here](https://github.com/uhoreg/matrix-doc/blob/e2e_verification_in_dms/proposals/2241-e2e-verification-in-dms.md#sas-verification).

So the transaction ID for the in-room event will be missing, using the existing contents for in-room events as they are defined currently

[2020-07-24 09:36] jplatte commented on #34
:facepalm:

Generally not what we do.

This will interact badly with the existing enum generation code. I'd like to avoid it if possible...

Can we still turn around the MSC potentially? Or is this "effectively stabilized" by being implemented in Synapse and Element? :roll_eyes:

[2020-07-24 09:47] poljar commented on #34
Technically the [MSC](https://github.com/matrix-org/matrix-doc/pull/2241) is still open and not in the final comment period, but I have my doubts about changing course, since at least 4 different clients implement it. Synapse likely doesn't care what the shape of the content of those events looks like.

[2020-07-24 09:55] jplatte commented on #34
Left a review on the MSC, let's see where that goes.

[2020-07-24 12:45] #115 closed, assigned to DevinR528

[2020-07-24 19:42] jplatte opened #158 "Re-export identifier types from ruma crate?"
Do we want this?

For users of the `ruma` crate, this would potentially simplify imports: `ruma::identifiers::UserId` => `ruma::UserId`.

[2020-07-24 20:06] poljar commented on #158
I vote yes. :+1:

[2020-07-25 00:12] #73 closed, assigned to nobody

[2020-07-25 01:02] jplatte opened #159 "Add a dedicated RoomName type"
… to `ruma_events::room::name`. It should encapsulate the "max 255 characters" rule, implement `TryFrom<String>` and `Into<String>`.

[2020-07-25 09:10] poljar opened #160 "The transaction id can't be fetched out of the StartEventContent"
Another problem with the way key verification events are set up, or at least the start event, though we discussed how the accept event might have version specific content fields.

Namely to cancel a verification flow we need to construct a [CancelEventContent](https://docs.rs/ruma-events/0.21.3/ruma_events/key/verification/cancel/struct.CancelEventContent.html), this requires a `transaction_id`, r

[2020-07-26 14:56] jplatte commented on #158
Done.

[2020-07-26 14:56] #158 closed, assigned to nobody

[2020-07-26 23:18] #136 closed, assigned to nobody

[2020-07-27 14:11] DevinR528 commented on #4
The only way this will now panic is if the user of `ruma_api!` gives invalid path strings in fields with the `query` or `path` attribute (see `ruma-client-api::r0::filter::get_filter`). There is no way to guard against that since it would occur after macro generation during runtime.

[2020-07-27 14:37] jplatte commented on #4
This issue is about header values, which [still panic when the conversion fails](https://github.com/ruma/ruma/blob/d5d2d1d893fa12d27960e4c58d6c09b215d06e95/ruma-api-macros/src/api/response.rs#L60).

[2020-07-27 19:17] ghost commented on #76
Can I have this issue assigned to me pls?

[2020-07-27 21:53] iinuwa commented on #147
I don't know, you said it 😉

I opened this to keep track of that conversation and could focus on the signatures types... whenever I get around to that...

[2020-07-27 22:24] jplatte commented on #147
Right. Well currently I don't see a reason for the churn (enough is going on as is) and overall I'm not so certain these should be in one crate anymore.

[2020-07-27 22:37] DevinR528 opened #164 "Validate size in bytes of certain types according to spec"
The only types from [the spec](https://matrix.org/docs/spec/client_server/r0.6.1#size-limits) that we do not already implement byte size limits are `state_key` and `EventType` enum.

A possible solution to the canonical JSON ser/de https://github.com/zmanian/canonical_json/blob/master/src/de.rs, I gave it a quick look through seems written in the same way as `serde_json`, the size limit of 65535 b

[2020-07-28 10:15] jplatte commented on #164
The canonical JSON [definition](http://wiki.laptop.org/go/Canonical_JSON) the package you linked to implements may be similar, but is ultimately not Matrix' canonical JSON. There is no one official "canonical JSON", but different projects using this term for their canonicalized JSON variants. We will most certainly not be able to use an existing solution and I also don't think we need any kind of

[2020-07-28 18:43] jplatte commented on #160
Gonna treat the fact that we don't currently offer a way to do this as a bug and try to get to this soon.

[2020-07-28 18:45] jplatte commented on #25
@iinuwa is this issue still relevant?

[2020-07-28 18:46] poljar commented on #160
Alternatively I can fix this tomorrow, though I wanted to discuss first what we wanna do about this.

[2020-07-28 18:48] jplatte commented on #147
I'm leaning towards just closing this, or is somebody opposed to that? I believe my original motivation in wanting to merge these was having fewer crates for users to care about, but that's not a concern anymore now that there is the `ruma` crate.

[2020-07-28 18:52] jplatte commented on #160
In that case let me have a quick look at what needs to be done now.

[2020-07-28 18:57] jplatte opened #165 "Rename MSasV1ContentOptions => MSasV1ContentInit"
It's basically the same thing as the other `*Init` structs I've added, except there is no infallible conversion from the init to the regular struct. The constructor should probably be `TryFrom` implementation too.

[2020-07-28 19:01] iinuwa commented on #25
Probably not. I think I got all these. I can always refer back after it's closed.

[2020-07-28 19:01] #25 closed, assigned to nobody

[2020-07-28 19:06] jplatte commented on #160
Nah it's not, we were just lazy when implementing this. `transaction_id` is a mandatory field independent of the method, [along some others](https://matrix.org/docs/spec/client_server/r0.6.1#m-key-verification-start). What needs to be done:

* `StartEventContent` needs to become a struct with the method-independent fields except `method`, and another field representing the method + extra data
  *

[2020-07-28 19:07] jplatte commented on #160
There's also #165 to do, which I just created.

By the way, we need the enum-with-tagged-struct for `m.room.message` events as well, which don't currently have a `Custom` variant. I will create an issue for that later.

[2020-07-28 21:54] #4 closed, assigned to nobody

[2020-07-28 22:38] iinuwa commented on #147
That's fine by me

[2020-07-28 23:20] #147 closed, assigned to nobody

[2020-07-29 13:45] jplatte commented on #6
Since there are no more specific refactoring suggestions in here that haven't been implemented or found impossibe, I'll close this.

[2020-07-30 12:24] poljar opened #171 "Many enums aren't future compatible"
None of the enums defined in [verification.rs](https://github.com/ruma/ruma/blob/master/ruma-events/src/key/verification.rs#L42) are future compatible.

This will break interactive verification for every Ruma based client once a new variant is added to the spec, it also breaks if a client decides to support a custom variant even though a supported variant is also provided.

For example an old mess

[2020-07-30 14:14] jplatte commented on #171
I think the last variants just needs to be a newtype variant over `String`, without any attributes.

Probably named `Custom` for consistency.

[2020-07-30 15:05] poljar commented on #171
Do you mean
[code]

If so, that doesn't work, this expects the tag/method to be called `custom` because of the `kebab-case` conversion.

[2020-07-30 15:10] jplatte commented on #171
Okay, sounds like we just need to implement `Deserialize` and `Serialize` manually then. Probably makes sense to also implement `FromStr` (and/or `TryFrom<&str>`) and `Display` and implement the serde traits based on those. I think we might have an example of that somewhere. Maybe we should even have a macro that does that in `ruma-serde`...

[2020-07-31 17:25] jplatte opened #173 "Use content enums in event creation endpoints"
* [ ] create_message_event
* [ ] create_state_event_for_key & create_state_event_for_empty_key
* [ ] send_event_to_device

[2020-07-31 17:28] #160 closed, assigned to jplatte

[2020-07-31 17:28] #165 closed, assigned to jplatte

[2020-07-31 17:51] jplatte opened #174 "Make identifier macros usable without any of our crates in scope"
Since there is still no good way for proc-macros to refer to items in a well-known crate, I want to move ruma-events-macros and ruma-api-macros onto proc-macro-crate, which provides a decent workaround (see #123).

However, for the identifier macros there might be an even better solution: Passing `$crate` (or a path derived from it) to the proc macro from ruma-identifiers. This requires the identi

[2020-08-04 09:56] jplatte commented on #18
Maybe https://github.com/serde-rs/serde/issues/1183.

EDIT: Probably not that exact thing but sth. similar. I expect there is no way for this to work, but if somebody wants to look into it, I would be interested in what you can find out!

[2020-08-04 10:20] jplatte opened #177 "Create ruma-push-gateway-api and ruma-identity-service-api"
* https://matrix.org/docs/spec/push_gateway/r0.1.1
* https://matrix.org/docs/spec/identity_service/r0.3.0

[2020-08-04 20:25] jplatte commented on #174
I tried it with ruma-api and couldn't get it to work. Then I tried it independently and got it working! Not sure what makes it break in ruma-api-macros, but I don't care for now; my independent test working seems like a clear indicator that this is going to work for ruma-identifiers.

[2020-08-05 00:08] #174 closed, assigned to jplatte

[2020-08-05 23:59] jplatte commented on #177
Done.

[2020-08-05 23:59] #177 closed, assigned to jplatte

[2020-08-06 00:00] jplatte opened #180 "Extend README.md"
The individual crates have decent readmes, but the toplevel readme could really use some improvements.

Help wanted!

[2020-08-06 01:12] Kelerchian commented on #14
Hey @jplatte I know I have been advertising a tool for making a mutation looks like a declaration, but how about builder pattern?
Like this https://github.com/stiiifff/did-common-rust/blob/master/README.md

[2020-08-06 02:35] iinuwa commented on #78
@jplatte: I think I want to move some of these types into `ruma-common`; did we decide whether `ruma-common` should depend on `ruma-identifiers`?

[2020-08-06 06:16] jplatte commented on #78
@iinuwa yes, it's fine for ruma-common to depend on ruma-identifiers.

[2020-08-06 15:50] jplatte commented on #14
@Kelerchian That is what I was originally going for, however it means either writing or generating much much more code (which then results in longer compile times) and doesn't have any clear upsides for our use case.

[2020-08-07 12:47] jplatte opened #183 "Support different authentication schemes"
Currently, ruma_api has a metadata field `requires_authentication: bool`. However, different parts of Matrix use different forms of authentication. To support this, we should replace `requires_authentication` with `authentication: Authentication`, where `Authentication` is a new enum with at least `None`, `AccessToken` and a variant for the server-server APIs authentication mechanism.

[2020-08-08 13:53] jplatte opened #187 "Outgoing derive macro fails to copy serde container attributes to the incoming type"
I tried to derive `Outgoing` on an `enum` with `#[serde(untagged)]` and realized it broke a test because that attribute wasn't being applied to the derived `Deserialize` implementation for the incoming type. @DevinR528 do you want to work on this?

[2020-08-08 19:31] jplatte commented on #187
Oh, one more thing! The `Outgoing` derive should also copy over `#[non_exhaustive]`.

[2020-08-08 23:19] jplatte commented on #183
This may actually be a good starter issue. It only requires touching small parts of the macro code. I can write some instructions if somebody is interested.

[2020-08-08 23:21] jplatte commented on #62
Identifier macros are available and re-exported from ruma-identifiers + ruma.

[2020-08-08 23:21] #62 closed, assigned to jplatte

[2020-08-08 23:21] jplatte commented on #83
Why would we not want this?

[2020-08-08 23:30] jplatte commented on #55
The separate `KeyVersion` type seems like a good idea. It should be implemented as a custom DST like `DeviceId` so we can create a `&KeyVersion` from a string slice. @iinuwa do you want to work on that and / or should I open a new `help wanted` issue for it?

Other than that, I'd be fine making `DeviceKeyId` and `ServerKeyId` / `SigningKeyId` type aliases to a generic `KeyId`. Would reduce some bo

[2020-08-08 23:32] jplatte commented on #20
AFAIK, we have this now. Please reopen if anything is still missing.

[2020-08-08 23:32] #20 closed, assigned to nobody

[2020-08-08 23:33] jplatte commented on #173
Duplicate of #17.

[2020-08-08 23:33] #173 closed, assigned to jplatte

[2020-08-08 23:36] jplatte commented on #9
@DevinR528 this is not super high priority, but if you end up not having anything to do again over the coming weeks, this would be nice to resolve.

[2020-08-09 01:01] #187 closed, assigned to nobody

[2020-08-09 11:27] iinuwa commented on #55
I'd like to take a stab at it. I'll see what I can do next weekend.

[2020-08-09 11:32] iinuwa commented on #83
I don't know what I was thinking then, but maybe that the schema was too flexible? We could probably do something simple like a string path request parameter and a `JsonValue` response tagged with `#[ruma_api(body)]`.

[2020-08-09 12:06] jplatte commented on #83
Even with an arbitrary response, having it as an endpoint seems useful for auth (signing) and generally so one can use a Matrix-specific client / SDK rather than drop down to a lower level.

[2020-08-10 11:40] jplatte opened #192 "Fix endpoint versioning in ruma-appservice-api"
Currently, we have `v1::module::endpoint` when we should probably have `module::endpoint::v1` like in ruma-federation-api. May want to check back with the spec people whether this API is supposed to be kept endpoint-versioned.

[2020-08-10 17:23] jplatte opened #195 "Integrate ruma-client"
Its future is still a bit unclear, but as long as it is still being used, it might as well be in this repository. It could also be a good sanity check that we don't accidentally break something for slightly higher level code in a PR.

[2020-08-10 19:20] agraven commented on #82
I'd like to give this one a try

[2020-08-10 19:36] #81 closed, assigned to nobody

[2020-08-10 21:49] #123 closed, assigned to DevinR528

[2020-08-10 23:41] jplatte commented on #195
Done.

[2020-08-10 23:41] #195 closed, assigned to jplatte

[2020-08-10 23:44] jplatte commented on #12
This is actually required for Conduit to use Ruma now that `IncomingRequest` is separate from `Request`.

[2020-08-11 12:33] jplatte commented on #5
There doesn't seem to actually be much improvement to be gotten from this.

[2020-08-11 13:09] #82 closed, assigned to agraven

[2020-08-11 13:50] iinuwa commented on #22
changed the title on this to be specific to the crate now that it's been moved to the monorepo.

[2020-08-11 16:08] jplatte commented on #13
I've thought about it. This makes sense for the reverse Request conversion too (http::Request -> IncomingRequest), there we can handle parts of authentication checking (e.g. obtaining the access token from either the bearer header or the query parameters for the client-server API).

For the responses, there is probably no reason to have dedicated conversion functions over `TryFrom` (and if we late

[2020-08-11 18:23] agraven commented on #74
I'd like to do this one.

[2020-08-11 20:08] iinuwa commented on #76
Hi @nocaut! Just checking in: are you still working on this? Do you need any guidance?

[2020-08-11 21:48] #124 closed, assigned to DevinR528

[2020-08-12 16:15] q-b commented on #70
I'd like to work on that one.

[2020-08-12 16:23] jplatte commented on #7
Since for backwards-compat reasons, we would have to make these auto-generated enums be non-exhaustive anyway, there seems to be very little benefit to this. Closing for now. If you want this feature, comment here and I will reopen this.

[2020-08-12 16:23] #7 closed, assigned to nobody

[2020-08-12 19:33] #192 closed, assigned to nobody

[2020-08-12 20:15] #70 closed, assigned to q-b

[2020-08-12 21:34] #12 closed, assigned to jplatte

[2020-08-13 08:32] timokoesters opened #212 "More fields in the ruma client error type"
For example for rate limiting: https://matrix.org/docs/spec/client_server/r0.6.1#rate-limiting

Maybe the ErrorStruct::new() + field mutation pattern is the way to go

[2020-08-13 17:53] jplatte commented on #143
@poljar What's your current opinion on this after having `Box<DeviceId>` in matrix-rust-sdk for a bit?

[2020-08-13 17:57] poljar commented on #143
An alias would be nice but I think it's fine as is as well.

[2020-08-13 18:11] jplatte commented on #143
Okay, what about `DeviceIdBox` (and `ServerNameBox`), like the `FnBox` Rust had for some time?

[2020-08-13 18:14] jplatte commented on #13
The `http::Request` -> `endpoint::IncomingRequest` method should probably be in the same release as `try_into_http_request`.

[2020-08-13 18:15] poljar commented on #143
Futures went the other way with [BoxFuture](https://docs.rs/futures/0.3.5/futures/future/type.BoxFuture.html). I think I'm fine BoxDeviceId as well as DeviceIdBox.

[2020-08-13 18:42] jplatte commented on #143
Added the type aliases in a842c5cc.

[2020-08-13 18:42] #143 closed, assigned to jplatte

[2020-08-13 22:40] jplatte opened #215 "Make pretty much everything non-exhaustive"
Continuation of #14. Basically every type that we copied from the spec where all fields are public needs to be `#[non_exhaustive]` to allow us to add fields to it as a non-breaking change. Since #213, we can apply attributes to `request` and `response` blocks too, we should do this to make all `Request` and `Response` types non-exhaustive; once that is done the `ruma_api` macro can be updated to a

[2020-08-13 22:41] #14 closed, assigned to jplatte

[2020-08-13 23:11] jplatte commented on #215
No change log entries to do here, there will be catch-all entries in the affected crates (listing every changed type would just be way too much). If you want to help with this (thanks!) please get in touch first to avoid duplicate work, either in these comments or (preferably) [on Matrix](https://matrix.to/#/#ruma:matrix.org).

[2020-08-13 23:40] jplatte opened #216 "Require a next_batch token for `ruma_client::Client::sync`"
… and adjust the example to obtain one using `.request(/* sync request */)` before calling `.sync`.

[2020-08-13 23:42] jplatte opened #217 "Add incoming_derive attribute to Outgoing derive macro"
Required for a few special cases, e.g. `FilterDefinition` that is used both in request and response blocks (need to derive `Serialize` for the incoming variant).

`incoming_no_deserialize` can be replaced by `incoming_derive(!Deserialize)` too.

[2020-08-14 10:14] #78 closed, assigned to iinuwa

[2020-08-14 16:15] jplatte opened #219 "Add moderation policy events"
Part of r0.6.1, documented in https://matrix.org/docs/spec/client_server/r0.6.1#moderation-policy-lists.

- [ ] m.policy.rule.user
- [ ] m.policy.rule.room
- [ ] m.policy.rule.server

[2020-08-14 20:13] q-b commented on #75
I'll take that one.

[2020-08-14 23:23] #17 closed, assigned to nobody

[2020-08-15 11:49] agraven commented on #74
This should be closed

[2020-08-15 12:21] jplatte commented on #74
Fixed by #209.

[2020-08-15 12:21] #74 closed, assigned to agraven

[2020-08-15 12:46] iinuwa commented on #11
Summary of changes left to make:

Moderation policies: add `m.policy.rule.(user|room|server)` events (#219).

UIAA SSO: add fallback endpoint for `m.login.sso`. We currently don't support fallback endpoints at all (#16), so maybe we don't need to do this before release.

Soft logout: adds an optional field, `soft_logout`, to `M_UNKNOWN_TOKEN` error. I don't think we're supporting error-specific fi

[2020-08-15 12:53] agraven commented on #71
I'd like to do this one

[2020-08-15 13:05] jplatte opened #220 "Add `soft_logout` error field"
This is a field specific to the `M_UNKNOWN_TOKEN` error type.

[2020-08-15 13:05] jplatte commented on #11
I just created a new issue for `soft_logout` and will be working on that - #220.

We already have `alt_aliases` in `m.room.canonical_aliases`. I don't think we should remove `m.room.aliases`, but we can deprecate it.

[2020-08-15 13:10] jplatte opened #221 "Add more automated checks for our code style"
We have had accidentally-private fields a bunch of times now, also `mod.rs` files have appeared a number of times after we initially moved away from them. I'd also like to enforce some other things, like how `serde_json::Value` should always be import-renamed to `JsonValue`. There might be existing tooling for some of this, but maybe it's also feasible to create new tooling for a few things.

[2020-08-15 16:16] DevinR528 opened #222 "Constructor methods for Incoming variants"
Conduit uses some of the Incoming requests for code reuse/simplicity [example](https://github.com/timokoesters/conduit/blob/master/src/client_server/membership.rs#L79). Should the `IncomingRequest` variants have new methods also or am I missing an easy conversion from a `Request<'_>`

[2020-08-15 17:52] iinuwa commented on #11
I thought there was a recent issue about this, and it's #212. (Don't know why I couldn't find that earlier).

[2020-08-15 20:39] iinuwa commented on #13
Just adding a note that we should also check (and validate?) the `X-Matrix` header for the server-server API.

[2020-08-16 12:22] jplatte commented on #222
As discussed on Matrix, this would be too much implementation work for a rather uncommon use case.

[2020-08-16 12:22] #222 closed, assigned to nobody

[2020-08-17 13:33] jplatte commented on #221
Trying to create an exhaustive list here:

* [x] Check for `mod.rs` (easy)
* [x] Check that all links to a particular spec point to the same version
  * Doesn't *have* to be syntax aware, could pretty much be a grep CI job
* [ ] ~~Check that repetitions within `quote!` always use the same style. (low return on investment, low prio)~~
* [x] Check `non_exhaustive` on public types (+ whitelist of typ

[2020-08-17 20:10] jplatte commented on #217
Done in f101611c3dda7ea840189d6ec181277b0673ddf5.

[2020-08-17 20:10] #217 closed, assigned to jplatte

[2020-08-17 21:04] jplatte opened #223 "The events field in PowerLevelsEventContent needs a RoomEventType enum"

[2020-08-17 22:01] jplatte commented on #212
Done:

* `soft_logout`: b5e660893ea2ee05df257b183eded5993b916139
* `room_version`: 962b3da26b42929ed779e9054be9fd34f011357d
* `admin_contact`: 674f2eeb8ba0777204d6b3d0874675a3735cf744
* `retry_after_ms`: 679f824c675025018f9778d9fd5ce21640ac22e4

[2020-08-17 22:01] #212 closed, assigned to jplatte

[2020-08-17 22:02] jplatte commented on #220
Done in b5e660893ea2ee05df257b183eded5993b916139.

[2020-08-17 22:02] #220 closed, assigned to jplatte

[2020-08-17 22:13] jplatte opened #224 "Implement / derive `Default` for request / response types"
Having thought a bit about it and looked at some code, this only makes sense considering we already implement `Default` for a bunch of other things.

[2020-08-17 22:25] jplatte commented on #216
Done in a9757b13ae2e45cadb38d59077b48dc8aa2d6f3c.

[2020-08-17 22:25] #216 closed, assigned to jplatte

[2020-08-18 01:33] jplatte opened #225 "Look into type of is_direct in create_room::Request"
It should be a `bool` instead of `Option<bool>`, except if there's actually semantically three different possibilities.

[2020-08-18 01:43] jplatte opened #226 "Revisit field types in search_events"
Some types may have an "empty" state (like in the sync response) such that `Option`-wrapping is not necessary. Also there's an `Option<bool>` that should probably just be `bool` + `Option<OrderBy>` where `OrderBy` is an enum which also might be defaulted if not present.

[2020-08-18 01:58] jplatte opened #227 "Revisit `Copy` implementations"
Many of them may be a backwards-compatibility hazard and should potentially be removed.

[2020-08-18 02:15] jplatte commented on #226
Some parts done in 6df02fc7e20451a6fd8ea8a54c589fd64ab76842.

[2020-08-18 18:18] jplatte opened #228 "Populate identity-service-api"
The package directory exists and `ruma-identity-service-api` is reserved on crates.io, but the crate is still empty.

[2020-08-18 18:20] jplatte opened #229 "Populate push-gateway-api"
The package directory exists and `ruma-push-gateway-api` is reserved on crates.io, but the crate is still empty.

[2020-08-19 13:20] jplatte opened #231 "Make `Custom` enum variants `#[doc(hidden)]`"
Also

* Rename to `_Custom`
* Update docs to point out the possibility of matching on string representation

[2020-08-20 00:11] jplatte opened #233 "Idea: Use same request / response type for multiple endpoints"
… in particular for v1 and v2 of the same thing. Particularily helpful where v2 only changed a small detail, such as the `[200, <actual data>]` response wrapping seen in some federation endpoints.

This would require some macro changes.

[2020-08-20 00:22] iinuwa commented on #233
I take it this is different than making the tuple de-/serialization serde module generic? Are you intending to have the same types with multiple `Deserialize`/`Serialize` implementations?

[2020-08-20 00:56] jplatte commented on #233
Uhm, so I just realized this doesn't work at all since the endpoint metadata is associated with the request type. Response types could maybe be shared, but I haven't seen a comparable need for that yet.

I might end up bypassing `ruma_api!` still for these modules though, so the request can just be newtype around `Pdu`. And then I could investigate updating the macro to allow the request type to b

[2020-08-20 03:45] iinuwa commented on #221
Would shell scripts to execute in CI suffice for (some of) these, or are you wanting to do something more robust?

(Reminds me of [semgrep](https://github.com/returntocorp/semgrep).)

[2020-08-20 08:47] jplatte commented on #221
For stuff like finding mod.rs, shell code would be fine. For anything that is about the insides of a Rust source file I'd rather have tools can actually parse Rust. I think most of the ground work for this kind of analysis has been done with rerast and rust-analyzer's structural search & replace. We may also be able to leverage rustfmt 2.0 in some way.

[2020-08-21 17:09] agraven commented on #221
Maybe `JsonValue` could be better signposted as the proper way to do things by having a `pub use` with it somewhere, maybe in `ruma-common`?

[2020-08-21 17:23] jplatte commented on #221
And have other crates import it from there rather than `serde_json`? I kind of like having it obvious where it actually comes from. But it's certainly worth considering.

[2020-08-21 17:53] #9 closed, assigned to DevinR528

[2020-08-21 18:30] #71 closed, assigned to agraven

[2020-08-21 18:37] jplatte opened #236 "Allow deprecating request / response fields"
Currently, there are a few request / response fields that are deprecated according to their docs, but don't have the `#[deprecated]` attribute. AFAICT all that is required to be able to apply the attribute without breaking CI (due to us using these fields in generated code) is adding `#[allow(deprecated)]` in some places in the macro-generated code (preferably only where our own fields are accesse

[2020-08-21 18:43] jplatte opened #237 "Turn PduStub into an implementation detail"
This could be done by manually implementing the ruma-api traits for the endpoints that use `PduStub` currently and "re-group" `PduStub` + the two IDs in the public interface that way.

[2020-08-21 18:47] jplatte opened #238 "Allow either request or response to be defined outside `ruma_api!` without fully bypassing it"
Manually implementing when only one of (request, response) requires it adds a bunch of boilerplate for `METADATA` and the block that doesn't require it. It would be nice to be able to specify `request: Request<'a>` or `response: Response` when there is a locally-defined `Request` or `Response`, and still generate a bunch of the boilerplate using the macro.

This would likely require a bit of trait

[2020-08-21 18:48] jplatte commented on #233
New ideas put into #237 and #238, closing this issue since

[2020-08-21 18:48] #233 closed, assigned to nobody

[2020-08-21 19:10] iinuwa commented on #75
Hi @q-b, how's this coming? Do you need any more pointers? (No rush at all, I just happened to have some extra free time today, so I thought I'd offer.)

[2020-08-21 19:56] agraven commented on #225
The spec says

Since it just toggles the presence of a flag, it looks there's only two semantic possibilities, so it should just be a `bool`.

[2020-08-21 20:47] jplatte commented on #225
Yeah, sounds like it should use `bool::default()` a.k.a. `false`.

[2020-08-24 18:25] DevinR528 commented on #164
I finally removed serde_json as a dependency from [canonical_json](https://github.com/DevinR528/matrix-canonical-json-rs).

[2020-08-24 19:30] jplatte commented on #10
With the current API, we probably want `Deserialize` and `Serialize` for all the incoming types (probably not for the outgoing ones, because `Deserialize` just can't work properly for those). However, deriving `Serialize` for those will be problematic. Also, the way to implement this will now be adding `#[incoming_derive(Serialize)]`. However, in doing that you will notice that a lot of sub-struct

[2020-08-24 19:37] jplatte opened #240 "federation-api: membership::create_invite::v1 has custom event types"
These should probably not exist. The code that uses them should use types from ruma-events instead.

[2020-08-25 14:09] jplatte opened #242 "Figure out how to integrate Incoming* with ruma-events"
Some types defined in ruma-events (e.g. `create_room::PreviousRoom`) would derive `Outgoing` if they weren't defined there. I don't want to derive `Outgoing` for the events themselves near-term, but we could possibly derive `Outgoing` for these sub-types and use `Incoming*` inside the events only (+ `incoming_derive(Serialize)`).

[2020-08-25 14:15] jplatte opened #243 "Move ruma_client_api::r0::appservice::set_room_visibility into ruma-appservice-api?"
This endpoint is defined as a CS API extension, inside the appservice API specification. I think it makes more sense for it to be in ruma-appservice-api. WDYT, @iinuwa @florianjacob?

[2020-08-25 14:20] jplatte commented on #225
Fixed in 7c31fceb61421b5c3a2f854e5d88184299a9d57f.

[2020-08-25 14:20] #225 closed, assigned to nobody

[2020-08-25 17:48] q-b commented on #75
I'm adding a draft PR so the work can be tracked. It needs more love ❤️ though...

[2020-08-26 13:50] jplatte opened #245 "Generate From implementations for event (content) enums"
Possibly starting with event content enums, where we have no nested enums.

[2020-08-27 01:05] DevinR528 opened #625 "Add more tests and benchmarks to state-res"
Add more tests for event_auth functions and `StateResolution::resolve`.

Benchmark `event_auth::auth_check` to find a baseline now that we are following spec.

[2020-08-27 08:30] poljar commented on #35
So I let this linger for a while to come up with a good argument, but I realized that I didn't solve this at all.

Yes for events coming from a sync we can include this info in the event emitter callback, but there are other methods that return events which aren't considered to be live and thus shouldn't trigger event emitter callbacks.

The best example for this is the [`/rooms/${room_id}/message

[2020-08-27 12:03] jplatte commented on #35
Okay, I feel I've now got a much better understanding of all the moving parts here, and I've also got a proposition for how to solve this, without the complexity of adding all these fields to every single event content struct we have: Create a new "fake" event content type. Let's call it `DecryptedEventContent`. It holds of the necessary metadata and the actual event content, but not the ciphertex

[2020-08-27 12:34] poljar commented on #35
Does this mean that the existing sync_events `Response` won't be able to contain such an event?

Nothing needs to be done for requests/encryption, we have a [method](https://github.com/matrix-org/matrix-rust-sdk/blob/master/matrix_sdk_crypto/src/olm/group_sessions.rs#L372) that transforms `AnyMessageEventContent` => `EncryptedEventContent`. That is exactly what I want/need, perhaps only the the `A

[2020-08-27 12:44] poljar opened #247 "The plaintext payload of encrypted events are missing from Ruma."
Decrypted events have special payloads that hold fields that are necessary to validate events.

The relevant spec entry can be found for `m.olm.v1.` over [here](https://matrix.org/docs/spec/client_server/latest#m-olm-v1-curve25519-aes-sha2), and for `m.megolm.v1` over [here](https://matrix.org/docs/spec/client_server/latest#m-megolm-v1-aes-sha2).

For `m.olm.v1.curve25519-aes-sha2` encrypted event

[2020-08-28 09:53] agraven commented on #77
I'd like to be assigned this issue. Also, what crate should the Identity Server Signature type go in?

[2020-08-28 10:21] jplatte commented on #77
I believe the signature type is part of #239. You can base your work on the `signature-types` branch and rebase when that gets updated / once #239 is merged into master.

[2020-08-28 10:47] poljar opened #248 "Changes to m.relates_to for in-room verifications and reactions."
So I started to add support for `m.key.verification.ready` events from the verification in DMs [MSC](https://github.com/matrix-org/matrix-doc/pull/2241) since those will only be expected as room events and don't require https://github.com/ruma/ruma/issues/34 to be untangled, but there's an additional problem with the `m.relates_to` field.

The MSC defines a different look of the `m.relates_to` fie

[2020-08-28 11:00] jplatte commented on #248
For reference for anybody following:

* [MSC2674 PR](https://github.com/matrix-org/matrix-doc/pull/2674)
* [MSC2676 PR](https://github.com/matrix-org/matrix-doc/pull/2676)
* [MSC2677 PR](https://github.com/matrix-org/matrix-doc/pull/2677)

Not one of them is merge yet. I don't have time to read through the PR threads now. Honestly I'm not at all motivated to put time into MSC implementation relate

[2020-08-28 11:10] jplatte commented on #35
I wasn't super sure about this. We can certainly experiment with updating the response types for /sync and so on. I suspect however that that is going to cause more harm than good, considering that it just doesn't make sense for the server side and may lead people using Ruma without the SDK to believe Ruma itself handles decryption / encryption in some way.

Right :sweat_smile:

How much additiona

[2020-08-28 11:42] poljar commented on #35
I would appreciate the experimentation, while I understand that that it's useless for any other consumer of Ruma, it exposes encrypted events in quite a natural way in the rust-sdk (and for that matter in any other library that does support E2EE), as already mentioned perhaps a feature flag would make sense for this.

While a bool would be enough, considering how cross signing works an enum might

[2020-08-28 11:55] DevinR528 commented on #248
This was my original reason for suggesting the `unstable-pre-spec` feature flag. Wouldn't this be a good candidate for that?

[2020-08-28 11:58] poljar commented on #248
I think all of them are used in multiple clients in the wild, the Elements and Fluffychat use the one for verifications in DMs, a lot more clients support edits/reactions, but yeah it's a pretty sad state of affairs.

I don't know, [MSC2674](https://github.com/matrix-org/matrix-doc/pull/2674) doesn't really have one and the MSCs it replaced have all different "looks" altogether. I'll try to push f

[2020-08-28 13:45] auscompgeek commented on #248
IIRC, between the original MSC and the current set of MSCs, this flipped back from `m.relationship` to `m.relates_to`. A rationale for `m.relationship` was that `m.relates_to` already had a completely different shape, but I'd wager it's flipped back because this is what has shipped in multiple clients already.

[2020-08-28 17:31] jplatte commented on #248
Yeah, this would have to go under that flag, and in general I'm fine merging "pretty much anything" under that flag. I just wanted to get more info to be able to judge whether we should keep the current `RelatesTo` struct with `#[cfg(not(feature = "unstable-pre-spec))]` or have it as an enum unconditionally and only feature-gate the unstable variants.

[2020-08-28 20:30] jplatte opened #249 "Support &[u8] as the type of outgoing raw bodies"
Macro work. Shouldn't be too hard. If anybody is interested, I can try writing up instructions.

[2020-08-28 20:31] jplatte opened #250 "Support &RawJsonValue for outgoing request fields"
We already support `&str`, `&ServerName` and a few others, adding `&RawJsonValue` should be straight-forward.

[2020-08-28 21:11] jplatte opened #251 "Outgoing derive macro: derive Clone for incoming type by default?"
Need to look into it a bit, but I suspect this makes a lot of sense. Since we have an opt-out for `Deserialize`, it should be straight-forward to do the same for `Clone` and not lose anything.

[2020-08-29 21:40] jplatte commented on #231
First enum updated in 532e7a7233ecb815a9919562bafd55fe096f13d2. Really just need to do the exact same thing for the other ones (grep for `Custom(String)`).

[2020-08-31 07:21] poljar commented on #248
I would say that it may be but still, 4-5 MSCs is a bit much, especially since the types defined in those MSCs have been used in the wild for about half a year now.

[2020-09-01 19:35] secretfader commented on #215
With the disclaimer that I'm an outsider (I've been watching the project for a while, planning to implement bridges and perhaps a home server), I see arguments for both.

If I'm building infrastructure (servers, bridges, and other connectivity tools), then I would prefer breakage when the Matrix specification forces Ruma to change. I see this through the same lens as Rust's safety guarantees: some

[2020-09-01 19:56] lieuwex commented on #215
@nicholaswyoung you can still chose in your client to add a rest arm in a match. The non exhaustive attribute just forces you to.

[2020-09-01 20:00] jplatte commented on #215
This has been mentioned before. It wouldn't be hard to implement and I'd welcome a PR that implements it. All that would have to be done is add a feature, e.g. `unstable-exhaustive-types = []` to the `Cargo.toml`s of all affected crates (and one to the `ruma` crate that enables all the others) and gate the non-exhaustive attributes on it, i.e. `#[non_exhaustive]` => `#[cfg_attr(not(feature = "unst

[2020-09-03 01:09] iinuwa commented on #77
@agraven, it's going to take me a bit to get #239 finished, so you can go ahead and use the type `BTreeMap<ServerNameBox, BTreeMap<ServerKeyId, String>>` as used elsewhere for `Identity Server Signatures` for now.

[2020-09-03 02:45] iinuwa commented on #55
Posting another table of definitions to keep this straight in my head:

| Spec | Ruma | Definition | Example |
|---|---|---|---|
| _`key_id`_/_version_| _key name_ (in doc comments) | used to distinguish between different signing keys used by the same entity | ed25519:**_1_**<br /> signed_curve25519:**_AAAAHg_** |
| _Key ID_ | `KeyId` | [any] algorithm + key name | **_signed_curve25519:AAAAHg_**<b

[2020-09-03 04:00] jplatte commented on #55
We should have this table in the docs! 🙂

[2020-09-03 19:20] jplatte opened #255 "Add a custom type for contains_url in RoomEventFilter"
`Option<bool>` isn't very clear. I've improved the docs, but the best solution would be to have a custom tri-state enum.

[2020-09-03 19:27] jplatte opened #256 "Look into type of notifications in get_notifications::Request"
I don't know why this uses `Vec<Raw<Notification>>` over just `Vec<Notification>` (inside a `Notification`, `Raw` is already used for the event).

[2020-09-04 12:19] DevinR528 commented on #164
I've been meaning to write this down somewhere, no rush I just thought it might be nice to have links to the non serde_json code.

Everything except [key sorting](https://github.com/DevinR528/matrix-canonical-json-rs/blob/master/src/lib.rs#L347-L368) and [size validation](https://github.com/DevinR528/matrix-canonical-json-rs/blob/master/src/lib.rs#L35) are exactly the same as `serde_json`, copy/pa

[2020-09-04 15:41] jplatte commented on #164
Why is key sorting different from `serde_json`? serde_json also sorts the keys by default, except when the `preserve_order` feature is enabled.

:+1:

[2020-09-04 18:59] DevinR528 commented on #164
So when you go directly from a rust struct to a JSON string the order the fields are declared is preserved from the rust struct. By using the `serde_json::Value` as is done in ruma-signatures, it uses a BTreeMap and happens to sort the keys. When going directly from a rust struct serde_json uses the [SerializeStruct](https://github.com/serde-rs/json/blob/master/src/ser.rs#L748) and [SerializeMap](

[2020-09-07 23:06] #231 closed, assigned to nobody

[2020-09-11 17:12] #72 closed, assigned to nobody

[2020-09-11 17:46] jplatte opened #261 "Simplify canonicalization / hashing of events"
Currently, events have to be converted to `serde_json::Value` for canonicalization. It would be good if it worked on `Raw<Pdu>` instead (really `Raw<Anything>`  as there are different PDU types). We do have to roundtrip through sth. like `serde_json::Value` internally such that fields are correctly re-ordered. There's also some other concerns like skipping `unsigned` and erroring on floats.

@Devi

[2020-09-11 18:27] jplatte opened #262 "Make `get_state_events_for_*::{Request, IncomingResponse}` generic"
This can probably not be integrated well with the `ruma_api!` macro, but it would be really cool if the Request and IncomingResponse types for `get_state_events_for_key` & `get_state_events_for_empty_key` would be generic over the event content type, automatically filling the event type path parameter from the type parameter.

[2020-09-11 18:38] jplatte opened #263 "Merge `*_for_key` & `*_for_empty_key` endpoints"
There are currently a few endpoint that have a `_for_key` variant and a `_for_empty_key` variant. This is so we support a differing amount of path segments. We should instead have the state key optional for these endpoints and either implement the endpoint traits manually or extend `ruma_api!` to support optional path parameters.

[2020-09-11 21:39] DevinR528 commented on #261
Nope that covers everything. I also added a criterion bench comparing the two in https://github.com/DevinR528/matrix-canonical-json-rs

[code]

I wonder if the ease of `Pdu > serde_json::Value > CanonicalJsonValue` and the fact that you should only be doing it once per event, makes that option worth it? We could also implement it that way to get an idea of what all would need to be done to do it t

[2020-09-11 22:03] jplatte commented on #261
@DevinR528 Does the generic `T -> String` version using your custom serializer work for `RawValue` as `T`? I think that's one of my main concerns with the custom JSON serializer as I still don't fully understand how `RawValue` works.

[2020-09-12 12:23] DevinR528 commented on #261
Wow [`RawValue`](https://github.com/serde-rs/json/blob/master/src/ser.rs#L419) is pretty hacky. So we can do the same thing in ours, just match on the key, if it's `"serde_json::private::RawValue"` then use the `RawValueStrEmitter`. FWIW it deserializes in the same way https://github.com/serde-rs/json/blob/master/src/raw.rs#L371

I just have to figure out a good way to integrate it with the key so

[2020-09-12 13:54] jplatte commented on #261
Yeah I'm not sure we should be relying on that implementation detail, which is explicitly private... But if there was a better way to implement what `RawValue` does, serde_json would probably also use it.

[2020-09-12 18:22] DevinR528 commented on #261
Back to `JsonValue`, or rather stick with it? I think Timo figured out how to get the event_id hashes to match (the incoming event and the prev_events + auth_events) but I haven't seen the conduit code so I'm not sure what he had to do to get the hashing consistent. The problem was the `auth_events` event_id's from synapse didn't match any of the event_ids generated by conduit (by `ruma::signature

[2020-09-12 21:15] #229 closed, assigned to nobody

[2020-09-12 21:41] jplatte commented on #261
So what I was thinking about would be not using `serde_json::Value` but rather a copy-paste version of it that only allows `UInt` numbers, always uses `BTreeMap` ~~and maybe even ignores toplevel `unsigned` and `signatures` fields somehow~~. I hope that would be less code and not need to rely on implementation details of serde_json to work. It may be useful to provide a direct conversion from `ser

[2020-09-12 21:47] timokoesters commented on #261
I'm hashing the serde_json value directly now (without converting to ruma first). I still need to do the Raw -> RawValue -> Value conversion though

[2020-09-15 09:21] jplatte commented on #237
#238 would make this a bit easier.

[2020-09-15 09:27] jplatte commented on #256
It took a bit of digging to figure this out, seems like it was my mistake when moving stuff off of the older `Outgoing` + `wrap_incoming` system.

[2020-09-15 09:29] jplatte commented on #256
Updated in 8cd3df1.

[2020-09-15 09:29] #256 closed, assigned to jplatte

[2020-09-16 07:36] q-b commented on #75
Related: https://github.com/ruma/ruma/pull/264

[2020-09-17 18:04] #75 closed, assigned to q-b

[2020-09-17 19:54] jplatte commented on #19
This is already mostly done at #205. If somebody wants to work on this, let me know (here or on Matrix) and I can take a closer look at what's there so far and what needs to be changed still.

[2020-09-17 21:22] jplatte opened #267 "Move Outgoing trait + derive to ruma-common"
This means creating another crate, probably `ruma-common-macros` (could also be `ruma-common-derive` but who knows what other macros we'll end up creating).

[2020-09-22 19:07] jplatte opened #268 "Update crate metadata"
I've updated some links in the past, but it would be nice to do a full pass over all the metadata. We've also gotten some decently-sized contributions from people since the last time most of the crates' `authors` were updated.

[2020-09-22 19:07] jplatte commented on #268
Authors of `ruma-events-macros` updated in c87ec495943ff60500e90dc4f4cee8550a24cecd.

[2020-09-22 19:35] jplatte commented on #267
Done in fdd326edf753754bab093e6d87f67ec7562346e6.

[2020-09-22 19:35] #267 closed, assigned to jplatte

[2020-09-22 21:04] jplatte commented on #183
Done in #210.

[2020-09-22 21:04] #183 closed, assigned to nobody

[2020-09-24 12:03] q-b commented on #255
I'm on it!

[2020-09-25 11:39] #255 closed, assigned to q-b

[2020-09-25 13:40] #77 closed, assigned to agraven

[2020-09-25 13:45] jplatte opened #272 "Relationship between ThirdPartyInvite event and federation-api's ThirdPartyInvite type"
If there is a strong relationship between these two types we may want to provide conversion functions (in this case seems to only be feasible in one direction because one of these contains a bunch more fields).

[2020-09-25 13:59] agraven commented on #76
Since this one is no longer assigned I'd like to take a stab at it

[2020-09-25 16:59] #76 closed, assigned to agraven

[2020-09-26 14:00] jplatte opened #276 "How to handle unknown room versions in redaction and hashing?"
So recently I made redaction treat room versions differently, due to the change introduced in room version v6.

#275 does something similar, changing the base64 character set because the spec updated it in v4.

Both of these currently handle custom versions the same as the latest known version, but really we should probably produce an error instead, making these functions fallible. Implementations

[2020-09-26 15:43] DevinR528 commented on #276
Yeah I like that idea, especially since custom room version most likely would not play nice when sending to other server impls (state resolution, event auth, stuff like that).

[2020-09-27 16:46] agraven commented on #83
I'd like to do this one

[2020-09-28 11:41] jplatte opened #280 "Release ToDo: Make sure we don't expose unstable endpoints without unstable-pre-spec"
I think this applies to most or all backup endpoints. Just grepping for `/unstable` should yield everything, assuming no modules without a spec reference slipped review. I'll look into the backup endpoints specifically in detail.

If we're lucky, there's just gonna be another spec release before the next set of non-alpha releases :)

[2020-09-29 20:28] #148 closed, assigned to jplatte

[2020-09-29 21:30] jplatte commented on #261
Devin created `CanonicalJsonValue` in #274 and while working on switching ruma-signatures to it, I found a few things to improve independently, those are now in #285. I'll continue my work on this when I get more time.

[2020-10-03 21:27] jplatte commented on #221
I've checked off the check for private fields – this is now checked for all types that derive `Outgoing`, which isn't a perfect solution but makes it much less important to have a dedicated lint :)

[2020-10-05 19:57] q-b commented on #219
I'll take that one!

[2020-10-07 19:13] jplatte commented on #171
Will work on this upstream, see https://github.com/Peternator7/strum/issues/116. We need a macro because there's quite a lot of enums that need to be made future-compatible.

[2020-10-09 11:29] #219 closed, assigned to q-b

[2020-10-09 14:31] jplatte opened #290 "Add a dedicated type for UIA login types"
[This field](https://github.com/ruma/ruma/blob/ddaaca1ec432284ad44f35356b73ec77d62cb3af/ruma-client-api/src/r0/uiaa.rs#L26) should have an enum type instead of `String`, similar to things like [crypto algorithms](https://github.com/ruma/ruma/blob/ddaaca1ec432284ad44f35356b73ec77d62cb3af/ruma-identifiers/src/crypto_algorithms.rs).

[2020-10-09 14:33] jplatte commented on #11
Done! :tada:

[2020-10-09 14:33] #11 closed, assigned to nobody

[2020-10-09 16:01] q-b commented on #280
All the [keys backup endpoints](https://github.com/ruma/ruma/tree/main/ruma-client-api/src/r0/backup) are based on unstable spec. Yet I don't see any `#[cfg(feature = "unstable-pre-spec")]` in [backup.rs](https://github.com/ruma/ruma/blob/main/ruma-client-api/src/r0/backup.rs)

[2020-10-09 17:22] #2 closed, assigned to nobody

[2020-10-09 23:12] #83 closed, assigned to agraven

[2020-10-09 23:42] jplatte commented on #19
Remaining work was done in #278.

[2020-10-09 23:42] #19 closed, assigned to nobody

[2020-10-09 23:46] jplatte commented on #262
I'm not actually sure whether we *can* easily distinguish outgoing / incoming response types right now. The macro definitely doesn't do this, but it may work with how the traits are set up. Still, this is definitely hard.

[2020-10-09 23:51] jplatte commented on #22
ed25519-dalek 1.0 is out, ~~I'll look into switching away from ring~~

I'd welcome a PR switching from ring to ed25519-dalek.

[2020-10-12 21:05] jplatte opened #291 "Review our assumptions about standard HTTP headers"
We're at least using `Content-Disposition` incorrectly in the media endpoints.

[2020-10-16 14:18] jplatte opened #293 "Select TLS backend fully at compile time"
We really shouldn't have `Client` generic over the hyper connector. Which one is used should be selected via Cargo features.

[2020-10-16 21:41] iinuwa opened #294 "Add identity service registration endpoint"
Endpoint: POST /_matrix/identity/v2/account/register
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-account-register
[Suggested] Module name: `authentication::register::v2`

[2020-10-16 21:42] iinuwa opened #295 "Add Identity Service account information endpoint"
Endpoint: `GET /_matrix/identity/v2/account`
Docs: https://matrix.org/docs/spec/identity_service/latest#get-matrix-identity-v2-account
[Suggested] Module name: `account::get_account_information::v2`

[2020-10-16 21:43] iinuwa opened #296 "Add Identity Service logout endpoint"
Endpoint: POST /_matrix/identity/v2/account/logout
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-account-logout
[Suggested] Module name: `account::logout::v2`