[2020-10-16 21:45] iinuwa opened #297 "identity-service: Add terms of service retrieval endpoint"
Endpoint: `GET /_matrix/identity/v2/terms`
Docs: https://matrix.org/docs/spec/identity_service/latest#get-matrix-identity-v2-terms
[Suggested] Module name: `tos::get_terms_of_service::v2`

[2020-10-16 21:47] iinuwa opened #298 "identity-service: Add terms of service update agreement endpoint"
Endpoint: `POST /_matrix/identity/v2/terms`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-terms
[Suggested] Module name: `tos::accept_terms::v2`

[2020-10-16 21:48] iinuwa opened #299 "identity-service: Add autodiscovery endpoint"
Endpoint: `GET /_matrix/identity/v2`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2
[Suggested] Module name: `status::v2`?

[2020-10-17 09:21] jplatte commented on #248
Technically the JSON for an event can contain both `m.in_reply_to` and a `rel_type` + associated data. If we make an enum for relates_to, we have to decide how to deal with that. Wdyt?

[2020-10-17 10:10] poljar commented on #248
Yes, I mentioned that in the first post:

So it is expected that the replies will use the `rel_type` format in the future as well, though this doesn't really help us since we'll likely need to support both formats instead of switching just to the new one.

[2020-10-17 16:11] jplatte commented on #248
Yes, that doesn't address the issue of possibly having both in the same event. Anyway, should be totally fine to emit an error in that case.

[2020-10-17 16:52] poljar commented on #248
Ah that's what you meant, sorry didn't quite catch that you meant at the same time/in the same event. Yeah an error sounds ok in that case.

[2020-10-17 22:39] jplatte commented on #293
Done in 50eb700571480d1440e15a387d10f98be8abab59.

[2020-10-17 22:39] #293 closed, assigned to jplatte

[2020-10-18 13:16] aledomu commented on #291
Could you give some hints and be more specific about what the problem is? This is blocking the PR in Fractal to use matrix-rust-sdk.

[2020-10-18 13:51] jplatte commented on #291
This shouldn't really block anything, you just need to not treat the filename field as literally a filename :sweat_smile:

It's just a regular [Content-Disposition](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) header value. You can either parse it yourself in Fractal (as you were probably doing before) or open a PR adding a `ContentDisposition` type to Ruma / use

[2020-10-18 14:07] jplatte commented on #291
Actually maybe the best solution for us would be to just rename alll `#[ruma_api(header = CONTENT_DISPOSITION)]` fields to `content_disposition` (and adjust documentation).

[2020-10-19 10:50] jplatte commented on #171
Should allow arbitrary strings for the error enum in ruma-client-api too, since matrix.org sends `M_CONSENT_NOT_GIVEN` and in general future spec versions can add new error codes, which shouldn't stop us from displaying the human-readable error message.

[2020-10-19 10:54] jplatte opened #307 "Stop registering new users in hello_world example"
The hello_world example is broken because matrix.org now requires consenting to some stuff after registration. Also, we shouldn't be spamming homeservers with new guest accounts. Instead, the example should just require user credentials to be given (maybe interactively, rather than as cmdline args?).

[2020-10-20 00:30] jplatte commented on #250
Done in 7d10df7177d2a831f1d3208644f5333ebbd2d4ad.

[2020-10-20 00:30] #250 closed, assigned to nobody

[2020-10-20 00:31] jplatte opened #309 "Review uses of Box<RawJsonValue> in request blocks"
Should be possible to replace these with `&'a RawJsonValue` now that #250 is fixed.

[2020-10-21 12:29] aledomu commented on #291
As a temporary solution I second your last suggestion

[2020-10-21 12:34] jplatte commented on #291
Okay so this is actually already named `content_disposition` everywhere. Will adjust docs.

[2020-10-21 12:43] jplatte opened #310 "Parse Content-Disposition header so it's easier to access the filename"
The usage of the Content-Disposition header in the media API is purely meant for communicating a filename (the header value can be a few different things too that don't matter in this context). We should have a module in ruma-serde that (de)serializes a filename as `attachment; filename="<filename>"` and rename `content_disposition` fields to `filename`. In deserialization, a header value in a dif

[2020-10-21 12:43] jplatte commented on #291
Done in 97f3e31a. I made sure that this was the only HTTP header that requires special handling, so will close this. I've created a new issue about parsing `content_disposition` at #310.

[2020-10-21 12:43] #291 closed, assigned to nobody

[2020-10-21 12:50] aledomu commented on #310
By reading the source code of Synapse, I see that it can be `inline; filename="<filename>"` and use the `filename*` directive. So those cases should be covered as well.

[2020-10-21 12:55] jplatte commented on #310
Do you think we should expose whether the server sent `inline` or `attachment`? I'm leaning towards yes, but wonder whether any non-browser clients would actually care.

[2020-10-21 12:57] aledomu commented on #310
I don't know the answer

[2020-10-22 17:15] jplatte commented on #248
Shouldn't have help wanted on an issues assigned to me :sweat_smile:

Not sure when I'll get to this, probably better for somebody else to do it actually. I can help out / mentor via Matrix.

[2020-10-22 17:21] poljar commented on #248
If we're OK with changing things before the spec concludes around this, I'll get to it next week or the week after of course if nobody else has a strong desire to work on it before that.

[2020-10-22 17:25] jplatte commented on #248
Yes, I'm okay with changing `RelatesTo` from a struct to an enum without any of those MSCs merged. But all variants except `Reply` should be gated on the `unstable-pre-spec` feature.

[2020-10-23 14:17] jplatte commented on #55
Since this is going to be a breaking change for ruma-identifiers, I think it makes sense to first get it resolved before releasing any final versions of the other crates depending on it.

[2020-10-24 14:35] jplatte opened #313 "Make sure Content-Type setting via ruma_api(header) works in responses"
Just noticed that responses already have a default Content-Type of `application/json` (in contrast to requests, where this is WIP; see #301). We should make sure that an explicit `#[ruma_api(header = CONTENT_TYPE)]` overrides this default (rather than adding a second header value, which it probably does right now).

[2020-10-24 14:41] jplatte opened #314 "Insert access token into query parameters for AS requests"
Currently, we add a `Authentication` header for client-api access tokens [here](https://github.com/ruma/ruma/blob/main/crates/ruma-api-macros/src/api/request/outgoing.rs#L138-L163). The same needs to be done for appservice-api access tokens, just that they need to go into the query parameters.

[2020-10-24 15:37] tulir commented on #314
Made a proposal to fix the spec: matrix-org/matrix-doc#2832

[2020-10-24 15:58] jplatte commented on #314
Note about how that MSC relates to our code: If the spec is fixed, we can remove [`AuthScheme::QueryOnlyAccessToken`](https://github.com/ruma/ruma/blob/e1975c20358aa17df05b9820075974ccc7f611c7/ruma-api/src/lib.rs#L297) and use `AuthScheme::AccessToken` for the AS API like we do for the CS api (without any `proc_macro` changes).

[2020-10-26 12:19] jplatte opened #317 "Replace *.circle-artifacts.com links"
We have at least one link to `https://...-gh.circle-artifacts.com` (for an unstable endpoint) that is broken. Hopefully all those endpoints are available at https://matrix.org/docs/spec/client_server/unstable so we can link to them. If not, we should probably not link to anything for `METHOD /path/to/endpoint` but include a note in the docs to the MSC that introduces the endpoint.

[2020-10-26 20:40] iinuwa opened #318 "identity-service: Add public key retrieval endpoint"
Endpoint: GET /_matrix/identity/v2/pubkey/{keyId}
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2-pubkey-keyid
[Suggested] Module Name: keys::get_public_key::v2

[2020-10-26 20:41] iinuwa opened #319 "identity-service: Add public key validity endpoint"
Endpoint: GET /_matrix/identity/v2/pubkey/isvalid
Docs: https://matrix.org/docs/spec/identity_service/latest#get-matrix-identity-v2-pubkey-isvalid
[Suggested] Module Name: keys::validate_public_key::v2

[2020-10-26 20:42] iinuwa opened #320 "identity-service: Add ephemeral key validity endpoint."
Endpoint: GET /_matrix/identity/v2/pubkey/ephemeral/isvalid
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2-pubkey-ephemeral-isvalid
[Suggested] Module Name: keys::validate_ephemeral_key::v2

[2020-10-26 20:47] iinuwa opened #321 "identity-service: Add lookup hash parameters retrieval endpoint"
Endpoint: GET /_matrix/identity/v2/hash_details
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2-hash-details
[Suggested] Module Name: lookup::get_hash_parameters::v2

[2020-10-26 20:49] iinuwa opened #322 "identity-service: Add lookup by 3PID endpoint"
Endpoint: POST /_matrix/identity/v2/lookup
Docs: https://matrix.org/docs/spec/identity_service/latest#post-matrix-identity-v2-lookup
[Suggested] Module Name: lookup::lookup_3pid::v2

[2020-10-26 21:01] iinuwa opened #323 "identity-service: Add email validation session creation endpoint"
Endpoint: POST /_matrix/identity/v2/validate/email/requestToken
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-validate-email-requesttoken
[Suggested] Module Name: `association::email::create_email_validation_sesssion::v2`

[2020-10-26 21:07] iinuwa opened #324 "identity-service: Add email validation submission endpoint"
Endpoint: `POST /_matrix/identity/v2/validate/email/submitToken`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-validate-email-submittoken
[Suggested] Module Name: `association::email::validate_email::v2`

[2020-10-26 21:12] iinuwa opened #325 "identity-service: Add end user email validation endpoint"
Endpoint: `GET /_matrix/identity/v2/validate/email/submitToken`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2-validate-email-submittoken
[Suggested] Module Name: `association::email::validate_email_by_end_user::v2`?

[2020-10-26 21:12] iinuwa commented on #325
I don't really know what to call this one as opposed to the one in #324.

[2020-10-26 21:14] iinuwa opened #326 "identity-service: Add phone number validation session creation endpoint"
Endpoint: `POST /_matrix/identity/v2/validate/msisdn/requestToken`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-validate-msisdn-requesttoken
[Suggested] Module Name: `association::msisdn::create_msisdn_validation_session::v2`

[2020-10-26 21:17] iinuwa opened #327 "identity-service: Add backend phone number validation endpoint"
Endpoint: `POST /_matrix/identity/v2/validate/msisdn/submitToken`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-validate-msisdn-submittoken
[Suggested] Module Name: `association::msisdn::validate_msisdn::v2`

[2020-10-26 21:18] iinuwa opened #328 "identity-service: Add frontend phone number validation endpoint"
Endpoint: `GET /_matrix/identity/v2/validate/msisdn/submitToken`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2-validate-msisdn-submittoken
[Suggested] Module Name: `association::msisdn::validate_msisdn_by_phone_number::v2`

[2020-10-26 21:22] iinuwa opened #329 "identity-service: Add 3PID validity check endpoint"
Endpoint: `GET /_matrix/identity/v2/3pid/getValidated3pid`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#get-matrix-identity-v2-3pid-getvalidated3pid
[Suggested] Module Name: `association::check_3pid_validity::v2`

[2020-10-26 21:25] iinuwa opened #330 "identity-service: Add 3PID bind endpoint"
Endpoint: `POST /_matrix/identity/v2/3pid/bind`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-3pid-bind
[Suggested] Module Name: `association::bind_3pid::v2`

[2020-10-26 21:25] iinuwa opened #331 "identity-service: Add 3PID unbind endpoint"
Endpoint: `POST /_matrix/identity/v2/3pid/unbind`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-3pid-unbind
[Suggested] Module Name: `association::unbind_3pid::v2`

[2020-10-26 21:38] iinuwa opened #332 "identity-service: Add ephemeral invitation signing endpoint"
Endpoint:  `POST /_matrix/identity/v2/sign-ed25519`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#ephemeral-invitation-signing
[Suggested] Module Name: `invite::sign_invitation_ed25519::v2`

[2020-10-26 21:38] iinuwa opened #333 "identity-service: Add invitation storage endpoint"
Endpoint: `POST /_matrix/identity/v2/store-invite`
Docs: https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-store-invite
[Suggested] Module Name: `invite::store_invitation::v2`

[2020-10-28 13:56] jplatte opened #336 "Add a helper function to create CanonicalJsonObject from serde_json::Map<String, serde_json::Value>"
Should be very similar to the existing `impl From<serde_json::Value> for CanonicalJsonValue` (and reuse that), except this one can't be a `From` implementation I think.

[2020-10-29 18:31] #336 closed, assigned to nobody

[2020-11-01 13:04] #313 closed, assigned to nobody

[2020-11-01 13:26] jplatte opened #341 "Custom values for push actions?"
Since we're generally allowing custom values for enums, we might want to do the same for `ruma_common::push::Action`. It's a bit more effort there and also probably not needed for future compatibility since a complete rewrite of push notifications is planned AFAIK.

Also I don't really know whether there's a use case for this. There's already custom tweaks that probably cover all the customizabili

[2020-11-01 13:37] jplatte commented on #341
Same for push conditions.

[2020-11-06 13:29] iinuwa commented on #55
*Sigh* Several wishful-thinking weekends have one by, and I think it's time to unassign myself from this one. I don't have large enough chunks of time to make such large changes as this requires at this time.

[2020-11-07 00:26] jplatte commented on #171
Fixed in #340, please create new issues for any enums that are still not future-compatible.

[2020-11-07 00:26] #171 closed, assigned to jplatte

[2020-11-07 00:35] jplatte commented on #228
@iinuwa we have issues for all of the endpoints that need to be added, right? If so, we should close this.

[2020-11-07 01:32] iinuwa commented on #228
Yup, this is good to close.

[2020-11-07 01:33] #228 closed, assigned to nobody

[2020-11-10 13:21] #248 closed, assigned to nobody

[2020-11-11 15:02] jplatte opened #346 "Support strings as power levels under feature = "unstable-synapse-quirks""
Some older rooms have power level events with string power level rather than integers. To work around this:

* Add an `unstable-synapse-quirks` feature to ruma-events and forward it from dependent crates
* Create a deserialization function in ruma-serde that accepts both integers and strings
* Add

[code]

  to all power level fields

This still might not handle all existing broken power level eve

[2020-11-11 15:48] aledomu commented on #346
That would not be broken, but neglectful. The defacto max power level is 100, we should not prevent anyone in their quest for absolute trouble and destruction by going higher than that.

[2020-11-11 15:57] jplatte commented on #346
No, that would be broken. Canonical JSON, which has to be able to represent any event, explicitly disallows larger values (and values smaller than `MIN_SAFE_INT`):

https://matrix.org/docs/spec/appendices#canonical-json

<sub>Side note: If that wasn't the case, `js_int` would not exist</sub>

[2020-11-12 04:58] aledomu commented on #346
I should have phrased it better: it would not be _just_ broken, but even neglectful.

[2020-11-18 12:24] jplatte opened #348 "Allow attributes on entries in `event_enum!`"
We should be feature-gating the reaction event type in ruma-events, but currently can't.

[2020-11-18 12:25] jplatte commented on #348
Pushed WIP feature-gating to the `reaction-feature-gate` branch, I think I have partially implemented the macro parts of this somewhere else.

[2020-11-19 00:04] jplatte commented on #237
Turns out `PduStub` was only created because of the spec being somewhat misleading and isn't actually correct to have at all. It was now removed (#349), so this issue is no longer relevant.

[2020-11-19 00:04] #237 closed, assigned to jplatte

[2020-11-20 13:31] #346 closed, assigned to aledomu

[2020-11-24 02:36] jplatte commented on #348
Done in #344.

[2020-11-24 02:36] #348 closed, assigned to jplatte

[2020-11-24 17:00] jplatte opened #352 "Add push ruleset collection methods"
* `fn add(&mut self, rule: AnyPushRule)`
* `impl Extend<AnyPushRule> for Ruleset`

would probably be the most useful ones right away, but maybe there's more useful ones that we would want to add.

[2020-11-24 18:15] elegaanz commented on #352
I have two suggestions:

- call the function `push` to be coherent with `Vec` (may be confusing because we are in the context of *push* rules)
- also `impl Iterator<AnyPushRule> for Ruleset`

[2020-11-24 18:19] jplatte commented on #352
I think `push` is specifically used for ordered containers. Technically this is a container of ordered containers, but I don't think that is very relevant here. If we want to be more consistent with other types, I think we should use `insert` as the name, like exists on `BTreeMap` / `BTreeSet` / `HashMap` / `HashSet`.

The iterator idea is neat. It would have to be `IntoIterator` though, right? Cr

[2020-11-24 18:23] jplatte commented on #352
`append` is another possible name that might be the least confusing (since `insert` can often replace an existing value, which is also not the case here).

[2020-11-24 18:25] elegaanz commented on #352
I don't think `add` is especially confusing, I was mostly suggesting another name to be more coherent with std.

[2020-11-24 21:37] #40 closed, assigned to nobody

[2020-11-25 17:09] jplatte opened #355 "Review uses of unwrap in ruma_macros::events"
There seem to be quite a few unwrap's in there.

[2020-11-25 17:15] jplatte opened #357 "Merge relates_to and new_content fields in room::message::MessageEventContent"
Since `new_content` should only ever exist for edited messages, I think these fields should be merged and that dependency should be built into the types. Before moving it out of the feature gate we should figure out whether edited events *have to* have `m.new_content`, and only have `NewContent` optional for edited events if that's not the case.

Depends on #356, which adds the `new_content` field

[2020-11-25 17:19] #317 closed, assigned to nobody

[2020-11-25 20:27] aledomu commented on #357
Exactly my thoughts. Not on the topic of this issue, but I'm not convinced of how the encrypted data is laid out in media messages either, so maybe this "field merging" should be planned on a larger scale.

[2020-11-25 20:45] jplatte commented on #357
I don't think it needs much upfront planning. If you find more cases like this, just open another issue or start a discussion in #ruma-dev 🙂

[2020-11-27 20:12] #352 closed, assigned to elegaanz

[2020-11-28 13:27] jplatte commented on #280
Since I haven't heard about a new spec version being planned, I just feature-gated the whole backup thing.

[2020-11-28 13:28] #280 closed, assigned to jplatte

[2020-11-28 13:35] jplatte opened #359 "Set the default Content-Type for requests to application/json"
There is a PR to set the default Content-Type for requests to `application/json` at #301, which makes sense but breaks tests that explicitly set a Content-Type. We need to do the same thing @DevinR528 did in #339 again, but for requests.

[2020-12-02 11:17] poljar commented on #34
Could we move this somehow forward, I would like to add support for in-room verifications in the rust-sdk to finish up the crypto saga there.

Seems like making the transaction id optional and adding the an optional `Relation` field would be the simplest thing to do. In the future we will likely need to have the ability to define the struct that should be used for the event enum so we can have dif

[2020-12-02 12:12] jplatte commented on #34
So I think we should go with the separate struct afterall. It was never truly a problem to integrate since `AnyEvent` doesn't contain to-device events, and probably doesn't even need to exist at all. Even then, there is no ambiguity between to-device and room events; it only was a problem before we started looking at the presence of extra fields rather than the type to identify the event kind.

I

[2020-12-02 13:08] poljar commented on #34
What about the events where we do share the content between a message event and a to-device event (i think that's only `m.room.encrypted`)

Shouldn't this be a bit different:

[code]

[2020-12-02 13:11] jplatte commented on #34
I'd say we do `pub type EncryptedToDeviceEventContent = EncryptedEventContent;`.

Oh, of course :smile:

[2020-12-03 13:25] jplatte commented on #55
This is mostly done now, but I'm not super clear on the replacement for `DeviceId` still. @iinuwa do you want to take care of that?

[2020-12-04 01:44] jplatte opened #360 "Mark macro-generated trait implementations as #[automatically_derived]"
This makes the compiler skip some lints and should thus improve compiler memory usage & compile time.

Docs: https://doc.rust-lang.org/reference/attributes/derive.html#the-automatically_derived-attribute

[2020-12-04 19:25] jplatte commented on #34
Fixed by #361, which is marked as closed rather than merged because I did the merge on the commandline in a way GitHub didn't understand.

[2020-12-06 13:46] jplatte opened #365 "Add support for appservice registration YAML"
We should provide types for the YAML schemas described in https://matrix.org/docs/spec/application_service/r0.1.2#registration.

[2020-12-06 23:41] gbsf opened #366 "RequestDeserializationError in get_message_events when handling request from Element"
Noticed by Conduit erroring out when it shouldn't.
Element sends an extraneous `filter_json` element that breaks deserialization.

Test case:
[code]

Result:
[code]

[2020-12-07 12:26] jplatte commented on #366
Fixed in c2744319. (218 was another issue I had open on another repo, the test name has been updated afterwards :sweat_smile:)

[2020-12-07 12:26] #366 closed, assigned to nobody

[2020-12-09 21:58] DevinR528 opened #368 "Using serde's untagged attr fails to deserialize IntOrStr when using `serde_json::from_value`"
When trying to deserialize
[code]
this section of a `serde_json::Value` I get the untagged enum error `could not find matching variant` or something like that. If I do the dance of
[code]
The deserialization happens perfectly, I wonder if we were running into this same thing when we had to implement the `Any*Event` enums, I remember some issues with `untagged`?

For ref it was https://github.com/r

[2020-12-10 13:12] jplatte commented on #368
Not sure what's going on here. I think it's independently useful to get rid of `untagged`, for better error messages. But I'm unclear on whether that will help. A minimal reproducible example would help, as well as the full error message.

[2020-12-10 14:15] jplatte opened #369 "Implement MSC1544 (Key verification using QR codes)"
MSC text: https://github.com/matrix-org/matrix-doc/blob/ba6a72f65fc275b51e9eb35603619e4be4522d45/proposals/1543-qr_code_key_verification.md

[2020-12-10 15:45] jplatte opened #370 "ruma-api-macros: strip_serde_attrs should consider feature-flagged serde attributes"
#303 didn't actually work because it added a `#[cfg_attr(..., serde(...))]` attribute that was then copied to a generated struct that doesn't derive any serde traits. We could get rid of `strip_serde_attrs` entirely if we just added a dummy derive that registers the serde attribute, or we could take into account those `cfg_attr` attributes in strip_serde_attrs. I'm leaning towards the first soluti

[2020-12-12 01:53] DevinR528 commented on #368
The error message is `Error("data did not match any variant of untagged enum IntOrString"` which is straight from the serde untagged expanded code.

repro
[code]

[2020-12-12 16:58] jplatte commented on #368
Thanks. I still have no clue why this didn't work, but I rewrote the deserialization in 22ab60128a9b9bcf04a937fd45aec97f849f3c75, which fixed this issue. I wonder whether we should report this to serde though...

[2020-12-12 16:58] #368 closed, assigned to nobody

[2020-12-13 10:56] jplatte commented on #370
Fixed in ae6595339cdd5316887b11bf69bdf8dabc1a0f74, #303 re-applied in e1d621ebd04c524f584444ba946940c47b47ca17.

[2020-12-13 10:56] #370 closed, assigned to jplatte

[2020-12-13 11:49] jplatte opened #371 "Add `.m.rule.reaction` default push rule under `unstable-pre-spec`"
Part of MSC2677: https://github.com/uhoreg/matrix-doc/blob/aggregations-reactions/proposals/2677-reactions.md#push-rules

[2020-12-13 12:09] jplatte opened #372 "Extract authentication data from http::Request as part of try_from_http_request"
Followup to #13: As part of the `try_from_http_request` method added in 95d21552e024ecc6e0a904471c4b3be22e5ed76b, we should collect any necessary authentication data. I think this doesn't have to be a release blocker for the next set of releases, though implementing it will of course be a breaking change. Here's what I think this should look like in ruma-api:

[code]

I haven't looked at server si

[2020-12-13 12:09] jplatte commented on #13
`http::Request` to `endpoint::IncomingRequest` conversion updated in 95d21552e024ecc6e0a904471c4b3be22e5ed76b.

[2020-12-13 12:09] #13 closed, assigned to jplatte

[2020-12-13 12:29] jplatte commented on #360
Done in 212153ea5fb62388e613053212660216d8b3e068.

[2020-12-13 12:29] #360 closed, assigned to jplatte

[2020-12-13 12:49] jplatte opened #373 "Add a dummy lifetime parameter to requests that don't have one otherwise"
This is required for forwards compatibility, as otherwise users can rely on `endpoint::Request: 'static`.

[2020-12-14 15:56] DevinR528 commented on #368
apparently this is related https://github.com/serde-rs/serde/issues/1183
specifically referenced here https://github.com/serde-rs/serde/issues/1183#issuecomment-668315831

But even after looking through all the issues and `serde_json` itself, I'm still unsure :shrug: too?

[2020-12-22 17:06] jplatte opened #376 "Implement Debug manually for identifier types"
Currently, printing structures that contain identifiers, one gets this really verbose output that is hardly ever helpful:

    UserId { full_id: "@jplatte:privacytools.io", colon_idx: 8, is_historical: false }

I think we should only print the actual id string, i.e. for this example:

    "@jplatte:privacytools.io"

[2020-12-23 16:08] #307 closed, assigned to nobody

[2020-12-24 00:23] jplatte opened #378 "Upgrade to tokio 1.0 / hyper 0.14"
Blocked on https://github.com/hyperium/hyper-tls/pull/79 and https://github.com/ctz/hyper-rustls/pull/135

[2020-12-24 01:20] jplatte opened #379 "Support building ruma-identifiers without std"
I highly doubt that this would actually be useful, but it would be really cool.

Probably only blocked on rust-lang/rfcs#2832.

[2020-12-24 01:51] jplatte commented on #227
Done (19ae6ff347a1730bd93cee031f5f7ca28b51800e).

[2020-12-24 01:51] #227 closed, assigned to jplatte

[2020-12-24 01:58] jplatte commented on #310
We could potentially use the [headers](https://crates.io/crates/headers) crate for this if we want to be sure not to mess up the parsing (it should be lightweight enough, but haven't actually looked closely).

[2020-12-24 23:34] BrainBlasted opened #380 "Profile API can require authentication"
Despite what the [spec](https://matrix.org/docs/spec/client_server/r0.6.0#get-matrix-client-r0-profile-userid-displayname) says, Synapse [can require authentication](https://github.com/matrix-org/synapse/pull/5083) to get the display name for users. Ruma [does not](https://github.com/ruma/ruma/blob/main/ruma-client-api/src/r0/profile/get_display_name.rs#L13).

This currently causes a bug in Fracta

[2020-12-25 00:46] jplatte opened #381 "Allow attributes in metadata fields inside ruma_api!"
Currently, to use a `#[cfg]` on a metadata field inside `ruma_api!`, one has to duplicate the entire macro invocation. It should be possible to just use it on the metadata field itself.

[2020-12-25 00:50] jplatte commented on #380
I think the immediate solution to this is to duplicate the `ruma_api!` macro invocation, once under `#[cfg(not(feature = "unstable-synapse-quirks"))]` with the current metadata and once under `#[cfg(feature = "unstable-synapse-quirks")]` with authentication set. I'd welcome a PR for that, ideally after creating an issue or PR in matrix-doc (the spec repo).

We should probably just allow attributes

[2020-12-26 20:46] #294 closed, assigned to nobody

[2020-12-26 20:46] #295 closed, assigned to nobody

[2020-12-26 20:46] #296 closed, assigned to nobody

[2020-12-27 21:38] #376 closed, assigned to nobody

[2020-12-28 18:13] iinuwa commented on #372
@jplatte, I'll take a stab at this. I'll let you know what kind of help I'll need

[2020-12-28 23:05] jplatte opened #385 "Decide on borrowing rules for request and response types"
Especially inside `&[]` and `BTreeMap`s it's still unclear.

[2020-12-30 18:08] jplatte commented on #378
Done in 4ffec95b0138e0858d7d620e8a7e4887b75a74cb.

[2020-12-30 18:08] #378 closed, assigned to jplatte

[2021-01-01 18:55] afranke commented on #380
I opened [this issue](https://github.com/matrix-org/synapse/issues/9006) against synapse instead, because I believe they first have to decide once and for all whether auth is needed or not. Depending on how that issue goes, a spec change might happen.

[2021-01-03 09:08] igor-raits opened #386 "Include LICENSE file in all sub-crates on crates.io archive"
Hello,

First of all, thanks a lot for developing ruma and especially making new pre-release.

I'm packaging the crates and hit the issue that LICENSE file is not present on crates.io tarballs.

e.g. see https://crates.io/api/v1/crates/ruma-serde-macros/0.3.0/download#/ruma-serde-macros-0.3.0.crate

There are many MIT variations and while LICENSE file present here in git repo, it would be very con

[2021-01-03 10:36] jplatte commented on #386
Sorry, but I don't really want the directories cluttered with that.

What are you packaging the crates for?

[2021-01-03 15:17] igor-raits opened #388 "ruma-events tests fail on 32bit architectures"
[code]

`"origin_server_ts": Number(1592050773658)` vs `"origin_server_ts": Number(2912874138)`

I think the problem is that https://github.com/ruma/ruma/blob/main/ruma-events/tests/pdu.rs#L57 uses `usize` which is architecture-dependent and it would be better to use either same type as the data or `u64`.

[2021-01-03 18:34] jplatte commented on #388
Can you check whether it works without any suffix on the literal? Otherwise switching ot u64 seems good. In either case a PR fixing this would be appreciated.

[2021-01-04 00:58] jplatte commented on #388
Fixed in 6f4d883e88938763828f57422eb862cedc2b579d.

[2021-01-04 00:58] #388 closed, assigned to nobody

[2021-01-04 18:45] jplatte opened #389 "Replace http::Request / http::Response with generic types"
Copying over my notes [from #ruma-dev:matrix.org](https://matrix.to/#/!bKOoBjzgyxiMyHIyLp:matrix.org/$ifTu1wZQaUzn43gCfk-PwbMJjueTqlBtWTNsLatyq7E?via=matrix.org&via=conduit.rs&via=vovo.id.au):

Some of the HTTP stuff could use being abstracted. Currently, we base everything on `http::Request<Vec<u8>>` and `http::Response<Vec<u8>>`, so there is a bunch of pointless conversion when it should really

[2021-01-04 19:43] jplatte commented on #263
Implementing #238 would simplify this; with that the response could still be defined by the macro and only the request trait implementations would have to be written by hand.

[2021-01-04 19:46] DevinR528 commented on #261
Are we done with this issue? As far as `conduit` goes it's fairly ergonomic it might be nice to have a `CanonicalJsonObject` -> serde_json::Value. Although maybe this may be better done in conduit utils file?

[2021-01-04 19:59] jplatte commented on #261
From the issue description:

We still require users to convert things to `CanonicalJsonValue` / `CanonicalJsonObject` before being able to use the canonicalization / hashing functions, so I think there is more improvements to be had. I'm also unsure about `unsigned` stripping.

However, I should unassign myself, I'm probably not going to work on this anytime soon.

[2021-01-05 14:27] jplatte opened #390 "Allow skipping parts of codegen"
Codegen currently takes a very long time for `ruma-*-api`. We could skip large parts of this for most users of Ruma by making client-side and server-side codegen optional. So for example matrix-rust-sdk might enable `client-api-c` (only the request-sending and response-receicing parts of the client API) and `identity-service-api-c` (same thing for the identity service API); Conduit might enable `c

[2021-01-07 20:15] tulir commented on #380
I don't believe they should decide once and for all whether auth is needed or not, so I opened a PR in matrix-doc: matrix-org/matrix-doc#2949

[2021-01-07 20:19] jplatte commented on #380
Thanks @tulir :)

[2021-01-20 17:01] jplatte opened #397 "Make sure we don't allow encrypted room avatars"
There is a [bug] in the spec that makes it look like room avatars can be encrypted, but they can't be (if I understood correcty because they are contained in state events which just can't be encrypted in general).

I'd be very surprised if we did not copy this bug.

[bug]: https://github.com/matrix-org/matrix-doc/issues/2357

[2021-01-21 18:51] #371 closed, assigned to nobody

[2021-01-22 04:57] iinuwa commented on #372
I finally finished my first draft of this, and it seems to work. I'll clean it up in the next week and create a PR to ask for clarification on some parts.

[2021-01-22 15:40] oppiliappan commented on #359
I can take a look at this.

[2021-01-22 16:39] #359 closed, assigned to oppiliappan

[2021-01-25 13:48] jplatte opened #401 "Allow different http client implementations"
To make them not mutually exclusive (for easier testing and less conditional compilation) we should use generics, i.e. have `MatrixClient<Hyper<Rustls>>` or `MatrixClient<Isahc>` or `MatrixClient<Surf>`. This is similar to what we did before with `hyper::client::connect::Connect` but easier since the types to plug in will be in the same crate (enabled by cargo features) rather than in separate cra

[2021-01-27 14:01] PunitLodha commented on #15
Hey, I am new to ruma and would like to take this issue
I found that there is already an optional header present in search_users.rs
`
#[ruma_api(header = ACCEPT_LANGUAGE)]
pub language: Option<String>,
`
So what needs to be done for this issue?

[2021-01-27 14:22] jplatte commented on #15
Yes, optional headers were implemented in #234.

The only thing left to be done here is add the field with `#[ruma_api(header = ...)]`. A test would also be nice, but is not necessary.

[2021-01-28 14:18] PunitLodha commented on #15
I might be wrong but,  this https://matrix.org/docs/spec/client_server/r0.6.1#post-matrix-client-r0-user-directory-search  specifies that there is supposed to be one optional  Accept-Language header and here https://github.com/ruma/ruma/blob/main/ruma-client-api/src/r0/user_directory/search_users.rs#L33-#L34 the optional header is already defined. So isn't the issue solved?

[2021-01-28 14:38] jplatte commented on #15
Oh, yeah. Apparently I did that one day after #234 was merged. I should have closed this issue then. Sorry for the confusion!

[2021-01-28 14:38] #15 closed, assigned to nobody

[2021-01-30 01:59] DevinR528 opened #402 "Push rule precedence when iterating"
I'm working on this in conduit and I was wonder if the order should be `override_` first [here](https://github.com/ruma/ruma/blob/main/ruma-common/src/push.rs#L111)? The way I'm doing it, if a rule matches we send the push notification and bailout of the loop.

spec:

In descending order:

    - Global Override
    - Global Content
    - Global Room
    - Global Sender
    - Global Underride

So t

[2021-01-30 10:16] jplatte commented on #402
Sounds good.

[2021-01-30 17:00] #402 closed, assigned to nobody

[2021-02-02 14:56] jsparber commented on #380
This issue exist for all `GET` API calls in `Profile`

[2021-02-02 15:59] jplatte commented on #224
I think this is done. Please open a new issue if there is a request request / response types that doesn't derive `Default` but you think should.

[2021-02-02 15:59] #224 closed, assigned to jplatte

[2021-02-02 16:00] jplatte commented on #18
This isn't really actionable.

[2021-02-02 16:00] #18 closed, assigned to nobody

[2021-02-02 18:26] jplatte opened #404 "Document the effect of the new compat feature"
`unstable-synapse-quirks` is no more (though the fix for #380 will likely bring it back)!

Since its replacement is stable, we should better document it. This is only done in [one instance](https://github.com/ruma/ruma/blob/main/ruma-common/src/thirdparty.rs#L27) where `feature = "compat"` is used right now.

[2021-02-02 18:52] jsparber opened #405 "Message relations should be a independent of the message type"
It feels odd to me that the `new_content` field is on `ruma_events::room::message::TextMessageEventContent` and not a property of `ruma_events::room::message::MessageEventContent`. This is especially odd because the new content can potentially be any `MessageEventContent`.  This leads to the situation where it is possible to replace a text message with an image but not the other way around.

My is

[2021-02-02 19:05] jplatte commented on #405
Yeah, the current API is just wrong. I initially expected it would not be possible to change message types and that's where the current API comes from. I already fixed half of this (allowing to change the message type) since then, but of course `new_content` should really be outside of any `SpecificMessageEventContent`. So `MessageEventContent` needs to become a struct, and the enum that holds the

[2021-02-02 19:06] jplatte opened #406 "Allow custom 'msgtype's for MessageEventContent"
Currently, `ruma::events::room::message::MessageEventContent` is an enum over known message types. For forward compatibility and customization, it should also support unknown message types.

This will require changing up (de)serialization since `#[serde(tag)]` can't deal with this pattern. I'd be happy to write up instructions if somebody wants to work on this.

[2021-02-02 19:10] jplatte commented on #405
Also semi-related: #406.

[2021-02-05 11:47] #381 closed, assigned to nobody

[2021-02-05 12:49] #380 closed, assigned to nobody

[2021-02-06 13:43] jplatte opened #412 "Use lookahead1 instead of `parse().is_ok()`"
`impl Parse for EventMeta` could use some refactoring. See [syn::parse::Lookahead1](https://docs.rs/syn/1.0.60/syn/parse/struct.Lookahead1.html).

[2021-02-06 17:23] #412 closed, assigned to nobody

[2021-02-07 18:38] jplatte opened #414 "Create `.event_type()` accessor for event enums"
It should forward the content's `.event_type()` method.

[2021-02-08 11:12] radiohertz commented on #406
@jplatte i can take a look at this, instructions would be helpful

[2021-02-08 11:51] jplatte commented on #406
Okay, so first off everything that has to be done is in `ruma_events::room::message`. Additional test coverage in `tests/room_message.rs` would also be nice, but those should be the only things to touch, most likely.

* The `Deserialize` derive for `MessageEventContent` has to be replaced by a custom implementation
  * Since `message.rs` is already pretty big, maybe a `content_serde` submodule wou

[2021-02-09 03:42] radiohertz commented on #406
@jplatte i think this might be bit too complicated for me now. i'll try to close few other issues and get familiar with the codebase.

[2021-02-09 14:46] jplatte commented on #42
Just learned about [MSC2244](https://github.com/matrix-org/matrix-doc/pull/2244) and that it might replace MSC2174. @tulir is that why you added a thumbs down reaction? 😅

[2021-02-10 00:41] jplatte opened #417 "Make all of the identifier types DSTs"
In progress on the [all-opaque-ids branch](https://github.com/ruma/ruma/tree/all-opaque-ids).

[2021-02-11 11:48] #414 closed, assigned to nobody

[2021-02-12 01:53] DevinR528 commented on #373
Would the best way to go about this be to add a `PhantomData` in the macro or going through and making sure any non empty `Request` has a ref in it?

[2021-02-12 02:00] DevinR528 commented on #397
I'm not sure if I'm following this exactly but if https://github.com/ruma/ruma/blob/main/ruma-events/src/room/encrypted.rs#L13 can only be a `MessageEventContent` and `AvatarEventContent` only derives `StateEventContent` doesn't this protect us or am I missing something else?

[2021-02-12 03:34] iinuwa commented on #299
Merged in 5a7dac4.

[2021-02-12 03:34] #299 closed, assigned to nobody

[2021-02-12 09:32] jplatte commented on #373
No, I don' think we should do this in the macro. I think we should just do it manually, since otherwise it will be very unclear why it's `Request<'_>` but `Response` without a lifetime parameter.

Also these fields (I propose `_borrow: PhantomData<&'a ()>`) should obviously be private, which just made me realize that this is a problem for Conduit's approach of exhaustively initializing all structs

[2021-02-12 09:34] jplatte commented on #373
On the other hand once this is implemented I can finally rebase and post my `ruma_wrapper` simplification PR 🙂

[2021-02-12 10:11] jplatte opened #421 "Make `custom_capabilities` private in `get_capabilities`"
For forwards compatibility, we need to disallow access to `custom_capabilities` of `Capabilities` (`ruma_client_api::r0::capabilities::get_capabilities`) directly. Otherwise one could use `custom_capabilities.get("m.foo")` with Ruma 0.0.3 and Matrix 2.0 and have that work, then upgrade to Ruma 0.1.0 where `m.foo` has a dedicated field and have their code continue to compile but no longer find the

[2021-02-12 10:27] jplatte commented on #397
Ha, so we don't have this bug *yet* because of matrix-org/matrix-spec-proposals#247! I'll close this and add a note over there.

[2021-02-12 10:31] jplatte commented on #397
Wait that's still wrong 😄

[2021-02-12 10:35] jplatte commented on #397
Yeah so we *are* affected by this. In `ruma_events::room::avatar` we use `ImageInfo`, which has a field `thumbnail_file` for an encrypted thumbnail, which isn't supported by room avatars.

We should create a new `ImageInfo` in `room::avatar` that has the same fields except `thumbnail_file`, and also look into whether encrypted stickers should be supported; if yes it seems we don't properly support

[2021-02-12 12:47] jplatte opened #422 "Test unstable-pre-spec in CI"

[2021-02-12 17:00] DevinR528 commented on #373
Would making the field be `pub` under the `feature = "unstable-exhaustive-types"` be an option. I realize this isn't great either but I wonder if this would be less obtrusive than adding new constructors every change?

[2021-02-12 18:16] jplatte commented on #373
Well changes wouldn't be so frequent. Conditional visibility would probably be pretty ugly to use, but I guess it would be fine. Probably need another (third-party?) proc-macro unless we want to duplicate all the phantomdata field declarations.

[2021-02-12 23:29] #405 closed, assigned to nobody

[2021-02-13 05:22] PunitLodha commented on #421
Hi, i would like to help with this issue.
Is the return value from get method, supposed to be JsonValue, or &JsonValue?

[2021-02-13 09:35] jplatte commented on #421
It can't be `&Json Value` since we couldn't create that inside the function from one of the known capability fields. That said, I guess we could use `Cow<'_, JsonValue>` to avoid copying custom capabilities.

[2021-02-13 09:43] jplatte commented on #373
I'm not sure why I only thought about request types so far. Obviously it's also other types where we might want to borrow data (used in request types). I'm thinking these phantom borrows would become too ugly, in addition to adding them everywhere just being a huge amount of work. We can still add more fields backwards-compatibly by not borrowing, and introduce the borrowed form with the next brea

[2021-02-13 09:43] #373 closed, assigned to jplatte

[2021-02-15 14:20] #421 closed, assigned to nobody

[2021-02-15 20:18] #319 closed, assigned to nobody

[2021-02-16 16:48] jplatte opened #425 "Allow iterating capabilities"
Followup to #421.

Since `custom_capabilities` is now private, it is no longer possible to iterate capabilities. I'm not sure why one would want to do that, but it just feels to me like it's something that *should* be supported. The iterator should probably return something like

[code]

[2021-02-17 12:32] PunitLodha commented on #425
I would like to help with this
Should I implement both, Iterator and IntoIterator traits?

[2021-02-17 14:32] jplatte commented on #425
Yes, there will have to be at least one separate iterator type, `CapabilitiesIter`, that implements `Iterator` and that can be obtained through `(&capabilities).into_iter()` or `capabilities.iter()`. We could even do an owned `CapabilitiesIntoIter`, but that seems less important. Maybe we should name the type I invented above `CapabilityRef` though, if we do want an owned one at some point.

Proba

[2021-02-18 08:44] kunerd opened #426 "Unsetting avatar url does not work as expected"
Hi,

trying to unsetan avatar url, e.g. setting `url = None`,  with `ruma_client_api::r0::profile::set_avatar_url::Request` leads to the following error:
[code]
It works by setting `url = Some("")`, but that is a bit misleading.

I have seen this behavior by using the `matrix_sdk` crate version `0.2.0`.

[2021-02-18 08:48] poljar commented on #426
The relevant spec entry does require a string: https://matrix.org/docs/spec/client_server/latest#put-matrix-client-r0-directory-room-roomalias

I feel like I have a deja vu about this issue 😅

[2021-02-18 10:03] jplatte commented on #426
Yeah, we actually made this an option to allow unsetting the url ~~on `feature = "unstable-pre-spec"`~~. Now it turns out Synapse does unsetting (only) through qn empty string, rather than an absent field / `null`.

[2021-02-18 10:08] jplatte commented on #426
I think if Synapse uses an empty string for unsetting, we can just serialize `None` to that, and deserialize empty strings to `None`, at least with `feature = "compat"`. Should check whether the spec says anything about empty strings.

[2021-02-18 10:19] poljar commented on #426
That sounds neat. This would also remove the need for people to check for empty strings.

[2021-02-18 11:33] jplatte commented on #426
I've pushed an update that skips serialization of this field if it's `None`. Can somebody test whether that fixes the issue? Either way there's a bug in Synapse here, we should just figure out whether it's only `null` or also an absent field that is rejected.

[2021-02-18 12:31] jplatte opened #427 "Deserialize empty strings to none for all URLs under feature = "compat""
What f5e67d0f6394fed64af7acbaea03e82f7390abe8 did, but in more places.

[2021-02-18 12:32] jplatte commented on #426
It won't, actually. This is only for the set endpoint request deserialization, changing that won't change client behaviour at all. There's no reason why the same thing couldn't be done for URLs elsewhere though (mostly in events I guess). I've opened #427 for that.

I'm going to close this based on the assumption that with the spec not saying this field is required, Synapse will probably allow uns

[2021-02-18 15:14] jplatte commented on #426
Seems like I was wrong and synapse actually deviates from the spec here.

[2021-02-18 15:16] jplatte commented on #426
So what remains to be done is making `skip_serializing_if = "Option::is_none` only take effect with `not(feature = "compat")` and instead serializing `None` as an empty string with `compat` enabled.

[2021-02-20 06:41] PunitLodha commented on #425
Any specific reason why you suggest having a reference to `Capabilities` and storing the value as an `Option`, instead of just directly storing `Cow`, and having no reference to `Capabilities`?

[code]

[2021-02-20 08:43] jplatte commented on #425
My idea was that you could have the same iterator to only look at capability names without ever running any serialization code for the known capabilities. But it might not be worth it. If we don't do that, we probably don't need a custom `CapabilityRef` type at all and can just return `(&'a str, Cow<'a, JsonValue>)`. I guess this is more obvious and there can still be a name iterator separately.

[2021-02-20 13:00] PunitLodha commented on #425
I guess the idea that you suggested earlier seems better now that i understand the reason behind it

[2021-02-22 19:44] jplatte commented on #365
Possibly already exists in https://github.com/lieuwex/matrix-appservice-rs (haven't looked at the code yet).

[2021-02-24 11:32] #365 closed, assigned to nobody

[2021-02-24 13:35] #425 closed, assigned to nobody

[2021-02-25 19:47] jplatte commented on #221
Import grouping is now part of rustfmt, but before we can actually use it there's two issues to be resolved:

* https://github.com/rust-lang/rustfmt/issues/4709
* https://github.com/rust-lang/rustfmt/issues/4723

[2021-03-01 16:49] jplatte opened #431 "Content-type missing for manual endpoint trait implementations"
We should set `Content-Type` to `application/json` in all manual endpoint trait implementations, like it was done for the generated ones in #339 and #400.

[2021-03-01 16:51] jplatte commented on #431
All manual implementations should be findable through a search for `impl ruma_api::IncomingRequest`.

[2021-03-01 17:39] #431 closed, assigned to nobody

[2021-03-03 06:00] oppiliappan commented on #390
I can take a look at this over the next couple days, instructions would be very helpful.

[2021-03-03 12:01] jplatte commented on #390
So the way I imagine this working is very similar to `unstable-exhaustive-types`. `ruma-api-macros` is where most of the changes have to happen. It should feature-gate impls on new `client` and `server` features:

`#[cfg(feature = "client")]`:

* `impl TryFrom<http::Response<Vec<u8>>> for Response`
* `impl ruma_api::OutgoingRequest for Request`
* `impl ruma_api::OutgoingNonAuthRequest for Request`

[2021-03-05 15:10] jplatte commented on #390
#433 lead to a ~20% compile time reduction when compiling ruma-client-api with the client feature instead of both client and server, but there should be potential for more. We should be able to make some `Serialize` and `Deserialize` implementations conditional by moving them out of the derive attribute list to `#[cfg_attr(feature = "feat", derive(Trait))]`.

[2021-03-10 02:12] TaKO8Ki commented on #427
@jplatte
Hi, I'm interested in working on ruma in GSoC 2021. Can I tackle this issue in order to get a feeling for the codebase?

[2021-03-10 10:06] jplatte commented on #427
Go ahead 🙂

[2021-03-19 14:12] zecakeh opened #440 "Push rule order in BTreeSet"
Right now the push rules of each kind are ordered according to their `rule_id`.

In the spec, it says:

And as there's no identified property for this feature on the push rules and they are returned in an array we must assume that the order in the array is the order of priority (and that's how the `matrix-js-sdk` implements it).

We could use a private `position` field that represents the position

[2021-03-19 17:45] jplatte commented on #440
Yes, if the order is relevant we should use `IndexMap`. It sounds like this is hardly documented though, could you also open an issue on matrix-org/matrix-doc (if one doesn't exist yet) and link to it here?

[2021-03-19 17:54] zecakeh commented on #440
There is this issue: https://github.com/matrix-org/matrix-doc/issues/2617 that seems to be the relevant one for this. It implies that they are ordered. Should I create one that is clearer about that?

Edit: There's also that sentence that I missed in the spec:

[2021-03-20 09:20] zecakeh commented on #440
I'm also thinking of adding a `kind` field to `AnyPushRule` to know what condition to apply when using `Ruleset::into_iter()`. That's especially valuable for `room` and `sender` kinds where the only criteria is the `rule_id`.

[2021-03-20 10:15] jplatte commented on #440
I don't think that will work since we need (de)serialization of that type to continue to work in the same way as now for some client-api endpoints. Maybe using it for ruleset iteration was not the right thing to do.

[2021-03-20 10:44] zecakeh commented on #440
The `kind` field can be optional and we skip it for (de)serialization. The only place I see `AnyPushRule` used outside of `Ruleset` is for the `get_pushrule` endpoint. And since the kind is already known for that call, they already know which `*PushRule` to convert it to so it doesn't need to be set.

Alternatively, this might be cleaner, we can wrap the `AnyPushRule` in a struct that has a `kind`

[2021-03-21 10:39] zecakeh opened #442 "Methods to test events against push rules"
Although in the spec push rules are only supposed to be handled by homeservers, clients generally need to support push rules to handle encrypted events.

Seeing as this is needed by both clients and servers, I wonder if it makes sense to implement this directly in Ruma.

[2021-03-21 11:18] jplatte commented on #442
Even if it was a server-only thing, it seems like it would be useful. If be happy to see a PR for this.

[2021-03-21 18:29] jplatte commented on #427
A bunch of fields were updated in #434, I'm not sure there are any more so I'll close this. If there are other fields where this makes sense though, additional PRs are still welcome.

[2021-03-21 18:29] #427 closed, assigned to TaKO8Ki

[2021-03-22 19:42] #440 closed, assigned to nobody

[2021-03-23 09:36] zecakeh commented on #442
Since the push rules conditions are more geared towards JSON, especially with the `MatchEvent` condition that provides a JSON key "path", I'm guessing we should apply the conditions directly on the JSON of the events with the `EventJson<RoomEvent>` type instead of having to match every single key with the `RoomEvent` variants.

[2021-03-23 10:09] jplatte commented on #442
Sure. The easiest way to do it would probably converting the `EventJson` to `serde_json::Value` and operating on that (anything else likely requires a decent amount of serde knowledge).

[2021-03-23 13:02] zecakeh commented on #442
Actually the types are now `Raw<AnySyncRoomEvent>`.

The problem is that `AnySyncRoomEvent` is in `ruma-events` that is dependent on `ruma-common`, so if I depend on this type to implement a function in push, that creates a cyclic package dependency.

[2021-03-23 13:11] jplatte commented on #442
Right, but I don't think you need to have this function specific to `Raw<AnySyncRoomEvent>`, it can be generic if it only needs the JSON. Either we do it for `Raw<_>` or something like `AsRef<serde_json::value::RawValue>` (that impl would first have to be added); could do any `T: Serialize` as well.

[2021-03-23 13:54] zecakeh commented on #442
Actually you are right, here it wouldn't actually work on `AnySyncRoomEvent` because we need the `room_id` for some rules.

I think `T: Serialize` is a good option because it's already implemented a lot.

[2021-03-23 16:45] zecakeh commented on #442
Here is the API I was seeing:

[code]
Something I hadn't thought about is that some conditions apply to parameters that are not in `AnyRoomEvent`. We need the number of members for `RoomMemberCount`, the display name for `ContainsDisplayName` and the `m.room.power_levels.notifications` for `SenderNotificationCount`.

Should we always ask for those in the function params?

[2021-03-23 17:03] jplatte commented on #442
I think we should have a `PushConditionContext` that contains these. Something like

[code]

Then the `applies` methods can take a `ctx: &PushConditionContext` argument.

[2021-03-23 17:07] jplatte commented on #442
For `get_actions`, I think that could just return an iterator:

[code]

[2021-03-23 17:08] jplatte commented on #442
Also I'm a bit hesitant about `T: Serialize`. Are you seeing a use case for sth. other than `Raw<_>`?

[2021-03-23 17:09] jplatte commented on #442
And finally, I kind of like `applies` but would have intuitively called it `matches`. Do you have an opinion on that?

[2021-03-23 17:14] zecakeh commented on #442
Actually I don't see a use case for `Raw<_>` since you need an `AnyRoomEvent` to have the `room_id`, so you have to serialize it first into an `<AnySyncRoomEvent>`. I'd guess that's also the format of message events after decryption. We could also just use a `serde_json::Value`

That's what I used first but then I found it redundant with `PushCondition::EventMatches`, but I don't have anything aga

[2021-03-23 17:21] jplatte commented on #442
I don't really get what you're saying. How is `AnyRoomEvent` vs `AnySyncRoomEvent` relevant here? What is `room_id` needed for? Also, note that `Raw::deserialize` doesn't consume the `Raw` so even if you deserialize you can still use the `Raw` and match on that (and you should, for `EventMatch` conditions on unknown fields).

Re. `applies` vs. `matches`, let's use `applies` at first. I like the so

[2021-03-23 17:27] zecakeh commented on #442
According to what Element does, `room_id` can be one of the JSON fields that is matched in `PushCondition::EventMatch`. It is not available in `Raw<AnySyncRoomEvent>`. It is however available when you serialize `AnyRoomEvent`.

[2021-03-23 17:33] jplatte commented on #442
Oh, I hadn't considered that. How do you feel about adding the `room_id` to the push condition context then and special-casing `EventMatch { key: "room_id", .. }"`? That way the user can't accidentally pass in a sync object without `room_id` and break these kinds of rules. And you already need to know which room you're dealing with to construct the context anyways.

[2021-03-23 17:49] zecakeh commented on #442
Sure, sounds good. I'll add the user power level too so we can match against `NotificationPowerLevels`. Like this:

One other thing I have against `Raw` is that we should be able to apply these rules to decrypted content so I don't think it'll come in a `Raw` wrapper. In the end I need a `serde_json::Value` to use its methods.

[2021-03-23 17:58] zecakeh commented on #442
Another issue is that we are back to the problem I mentioned earlier: we have a cyclic dependency with `ruma-events` because of `NotificationPowerLevels`

[2021-03-23 18:01] jplatte commented on #442
I don't like `user_display_name`. It sounds like it's the global display name when it should be the room display name. Maybe It should just be

[code]

I think decrypted content should really be `Raw<Something>` too. Not sure what matrix-rust-sdk does though.

Hm. I guess let's move `NotificationPowerLevels` to `ruma-common` then. Probably should have its own `power_levels` module and be re-export

[2021-03-23 18:16] zecakeh commented on #442
Actually it does get a `Raw<AnySyncRoomEvent>` after decryption, so I'll go with `Raw<_>`.

Ok then I'll work with `PushConditionRoomCtx`, it seems like it has everything it needs.

[2021-03-23 18:19] poljar commented on #442
That's bound to change though, there's no way to attach decryption/verification info to `Raw<_>`. That's what this PR is about: https://github.com/matrix-org/matrix-rust-sdk/pull/136. There's also the desire to keep the decryption info out of Ruma since it's not part of the spec.

I'm not sure how to consolidate the needs of the SDK with regards to decryption info and push rules.

[2021-03-23 18:30] jplatte commented on #442
@poljar Couldn't you store / expose decryption info *alongside* `Raw<_>`?

[2021-03-23 18:34] poljar commented on #442
You could, but end consumers would probably want to have it as part of the event, also when we store/restore events from the storage we probably don't want to go through `Raw<_>` either.

[2021-03-23 18:36] zecakeh commented on #442
The way I was seeing it is to test the push rules right before deserializing and add the result to the new event.

[2021-03-23 18:40] jplatte commented on #442
But then you lose any unspecced fields. Users would have to clear cache after every update that pulls in new features in Ruma that depend on additional event fields (and with us hopefully starting to implement more of the experimental stuff this year, that could be somewhat frequent).

[2021-03-23 18:42] poljar commented on #442
Yes, that part is gone, the crypto layer deserializes into the higher level event type that can hold decryption info, relevant code is found [here](https://github.com/matrix-org/matrix-rust-sdk/blob/675cb48f25e46e038ce7bb32b86d090d4fc2a03d/matrix_sdk_base/src/client.rs#L495). So not only is `Raw<_>` gone, but the types differ as well. The events now have an additional field over [here](https://git

[2021-03-23 18:45] zecakeh commented on #442
Is there a way to get the JSON from the final type? Some clients provide the option to "Show the source" of the message so they might need it

[2021-03-23 18:54] poljar commented on #442
You can serialize the event back to JSON, do note that this adds an `encryption_info` field or you can turn it into the Ruma type back, this loses the `encryption_info`.

[2021-03-23 18:56] jplatte commented on #442
Right, but serializing it back to JSON doesn't preserve unspecced fields. That's something I would expect from `Show source` (and event caching, as mentioned before).

[2021-03-23 19:02] poljar commented on #442
I think the problem is that deserializing doesn't preserve unspecced fields, no? I would argue that giving keeping the encryption info separate from the events makes for a poor API, all the SDKs I'm familiar with keep them together.

Isn't there a way to preserve unspecced fields while deserializing, yet keep the info in the object?

[2021-03-23 19:11] jplatte commented on #442
Theoretically, yes. Practically, no. You would have to do this kind of thing for every single struct: https://github.com/ruma/ruma/blob/main/ruma-client-api/src/r0/capabilities.rs#L36-L79

And then you still wouldn't have the original representation of the event for things like `Show source` since we intentionally throw away information, the classical example being `None` representing either an ab

[2021-03-24 11:11] zecakeh commented on #442
A few spec issues for `event_match` conditions:

- `pattern`: https://github.com/matrix-org/matrix-doc/issues/2637
  - The spec says:

    It could however trigger unwanted notifications.

  - Synapse first translates the pattern from glob to a regex, then:
    - if the key is `content.body` it matches the pattern against a whole word: `(^|\W)%s(\W|$)`
    - otherwise it matches the pattern agains

[2021-03-24 11:16] poljar commented on #442
I think there are three distinct problems here:

1. The method that decrypts events returns deserialized events and thus push rules can't be evaluated.
2. The store saves the deserialized events and thus information might get lost.
3. SDK users get deserialized events and thus they might not be able to show the correct source of an event.

For 1 and 2, we can relatively easily change this around t

[2021-03-24 11:21] jplatte commented on #442
So it translates `?` to `.` / `*` to `.+` and escapes other things? That kind of thing?

What does this mean?

Re-read those comments. Such a huge wart... I'll have to think about what we should really do here.

[2021-03-24 11:30] zecakeh commented on #442
It translates:

- `*` to `.*?`
- `?` to `.`

It also takes care of `[abc]`, `[a-z]` and `[!a-z]` and escapes the rest

That means it doesn't check if it's a glob, it just applies those:

I guess that's because in practice in Element you can only match keywords, they don't say anything about globs

[2021-03-24 11:58] jplatte commented on #442
I had a look at the implementation; this is not exactly true. First, synapse "flattens" the object to turn

[code]

into

[code]

And then it matches based on the keys of that object. It basically assumes that there are never both a `foo.bar` key and a `foo` key with an object value that has a `bar` key.

I'm fine with us doing the same thing, but I'd like for the operation to be fallible and have

[2021-03-24 12:41] zecakeh commented on #442
So that means that we should return a `Result`, to handle the case where this step fails?

[2021-03-24 12:43] jplatte commented on #442
Yeah, that's what I meant. Though maybe we should just bite the bullet and introduce some sort of logging? It's not like the user can recover from that error in any way other than assuming the push rule doesn't apply.

[2021-03-24 13:02] zecakeh commented on #442
I do believe that we should simply return `false` (or better handle one of the keys?) and log the error because it's unlikely this will ever happen. I don't think it is possible right now with the spec, you'd have to use custom keys.

If we get `Raw` as an input, the content has already been parsed so we're sure it is valid JSON, right?

[2021-03-24 13:08] jplatte commented on #442
Yes, `Raw` ensures valid JSON, but nothing beyond that. The thing with logging is we don't have any logging dependencies yet and with the ecosystem being split into log vs. tracing I'm not sure what to use. My initial thought is I'd favor `tracing` since development seems more active and it's much more useful in async applications, which anything Matrix will normally fall under.

[2021-03-24 13:31] zecakeh commented on #442
I'd go with `tracing` too

[2021-03-25 12:04] #26 closed, assigned to nobody

[2021-03-25 13:26] jplatte opened #443 "Investigate pattern macros as a way to simplify event matching logic"
`macro_rules!` macros can appear in match pattern position (I don't think the same is true for proc-macros). We could potentially use that to simplify complex patterns that are needed to destructure events, e.g. https://github.com/ruma/ruma/blob/main/ruma-client/examples/message_log.rs#L40-L53.

[2021-03-26 18:34] jplatte opened #444 "Provide unversioned docs via GitHub pages"
For a long time now, the most common way to use Ruma has been as a git dependency, which also means having to build docs locally instead of using docs.rs. We can provide an alternative to that by building the docs ourselves with every push to `main`.

Since this requires pushing to the repo and the builds.sr.ht API doesn't really have much to offer in terms of managing secrets (the functionality i

[2021-03-26 20:29] jplatte opened #445 "Implement room types as used in spaces"
The upcoming spaces feature uses room types, and not filtering out those special rooms in clients leads to bad UX. Would be nice to support this soon so it's easier to work with these rooms (even if that just means hiding them).

[2021-03-29 07:35] timokoesters opened #446 "Ruma panics when SystemTime timestamp milliseconds are too high"
You should probably use [checked_add](https://doc.rust-lang.org/std/time/struct.SystemTime.html#method.checked_add)

Example which fails on my machine:

_matrix/key/v2/server

`{"old_verify_keys":{"ed25519:a_YjQO":{"expired_ts":15159743990000,"key":"AYWls+cjEfl8R3u4mDSMX/MRhKXSgvjNgSruukDlHTU"}},"server_name":"half-shot.uk","signatures":{"half-shot.uk":{"ed25519:a_fBAF":"QJcEQVEK5E1pu4CW527z3+k6e/

[2021-03-29 07:38] timokoesters opened #447 "Add check to make sure there are <= 20 prev events on pdus"
https://matrix.org/docs/spec/rooms/v1#persistent-data-unit-schema

[2021-03-29 08:40] jplatte commented on #446
Sounds like we also need another fix to allow these events, since checked_add will just result in a less fatal error.

[2021-03-29 09:06] timokoesters commented on #446
It's probably not possible to accept these events while using SystemTime

[2021-03-29 11:30] jplatte commented on #447
Same thing for the [v4 PDU definition](https://matrix.org/docs/spec/rooms/v4#persistent-data-unit-schema), which is what's used for v5 and v6 too.

Also, `auth_events` should be limited to 10 events.

Suggested fix: Introduce (via macros first, can be changed to const generics later) a wrapper around `Vec` that enforces the given limit.

[2021-03-30 12:25] Frinksy commented on #397
Hello, I will be looking into this

[2021-03-30 16:37] Frinksy commented on #397
From what I understand:
- the spec [here](https://matrix.org/docs/spec/client_server/r0.6.1#m-room-avatar) says, that avatars can be encrypted, but that is a bug (hence this issue)
- [here](https://matrix.org/docs/spec/client_server/r0.6.1#m-sticker) the spec says that stickers can be encrypted, and I've not found an issue mentioning that it is a bug in the spec

What I've done so far:
- created a

[2021-03-30 18:43] jplatte commented on #397
If you have a suggestion, please let us know.

[2021-03-30 19:05] jplatte opened #450 "Update / finish blurhash implementation"
#363 implemented support for blurhashes, but only updated one client-api endpoint. The current MSC2448 lists [a number of endpoints](https://github.com/matrix-org/matrix-doc/blob/anoa/blurhash/proposals/2448-blurhash-for-media.md#profile-endpoints) that should be updated.

[2021-03-30 23:33] jplatte commented on #446
Yeah, I was thinking we need to change types. Have you checked what dates these unix timestamps correspond to?

[2021-03-31 09:10] Frinksy commented on #397
Thinking about it again, I can't come up with a better name (`AvatarImageInfo` is the best I could come up with). I think that it being namespaced as `avatar::ImageInfo` gives an indication already.

[2021-03-31 09:49] #397 closed, assigned to Frinksy

[2021-03-31 10:12] #442 closed, assigned to nobody

[2021-03-31 10:16] jplatte opened #451 "Decide what to do about non-strings in push rule matching"
The `event_match` push rule condition ([spec](https://matrix.org/docs/spec/client_server/r0.6.1#conditions)) allows users to choose a part of the event object that should be matched against a glob pattern. It does not specify what should happen if this part of the object is a number, array, boolean or `null`. Currently (since #448), we stringify numbers and booleans but don't match on `null` or ar

[2021-03-31 11:52] jplatte opened #452 "Automate release process"
We should automate some parts of our release process since it's quite annoying and time-consuming at the moment.

[2021-03-31 11:52] jplatte commented on #452
Ideas for things to automate for "final" releases (i.e. not `-alpha.1` / `-beta.3`), after the source tree is updated and a release commit has been created:

* Creating a git tag with the right content
  * Tag name: `{crate}-{version}`
  * Content tagline: `{crate} {version}`
  * Extended content: Markdown under `# {version}` in `CHANGELOG.md`
* Using the GitHub API to create a corresponding relea

[2021-03-31 12:25] jplatte commented on #404
This doesn't actually need to block any releases, docs can be improved in later patch releases.

[2021-03-31 12:30] zecakeh commented on #452
What defines a release commit? When the version in a `Cargo.toml` changes I guess?

[2021-03-31 12:32] jplatte commented on #452
I don't think that needs to be defined. With automating, I meant bundling all of these tasks into a script / [xtask](https://github.com/matklad/cargo-xtask) that is executed manually, not something like a git hook.

[2021-03-31 17:46] Frinksy commented on #297
Hello, I will be working on this to get better acquainted with the project.
Am I correct in understanding I should create a `Policy` struct in `ruma-identifiers` instead of using a simple `String`? (In addition to adding the endpoint in `tos::get_terms_of_service::v2` as suggested)

[2021-03-31 17:55] jplatte commented on #297
Where did you get that from? `ruma-identifiers`, as its name says, is for identifier types (user, room, device IDs and so on), and also has some related enum types, but nothing more. What you need to create is an equivalent to the `Policy Object` type from the spec (I'd recommend `Policies` as the name), but that won't involve `ruma-identifiers`. For the `version` field, just use `String`. The doc

[2021-03-31 18:00] jplatte commented on #297
Oh, I guess you mean because of this: `Mapped from arbitrary ID`. I still think that doesn't warrant a separate type for now, since it's arbitrary and only used in this one place AFAICT.

[2021-03-31 21:35] Frinksy commented on #297
Your point about `ruma-identifiers` makes sense, thank you, I don't know where I got that from.

I am still a little confused about making a `Policies` type. From looking at the spec's Response Format, I think would end up with this:
[code]

But the example in the spec makes me think of something more like this (I'm unsure about the type for the extra field):

[code]

I'm not sure I am understandi

[2021-03-31 23:20] jplatte commented on #297
Yeah, the spec seems to be pretty incomplete there. Your second snippet goes in the right direction. For (de)serialization to work, it only needs `#[serde(flatten)]` on the `available_languages` field. Maybe that could have a better name, since the available languages are just the keys, the values being the actual policies; maybe `localized_policies` or just `localized` (as in `policies.localized`

[2021-03-31 23:23] jplatte commented on #297
I opened an issue about the spec being unclear for this endpoint: https://github.com/matrix-org/matrix-doc/issues/3084

[2021-04-01 15:20] Frinksy commented on #297
Thank you for your help. I have opened a PR with my changes, let me know if there is anything to improve/modify. PR:  https://github.com/ruma/ruma/pull/453/

[2021-04-01 15:53] zecakeh commented on #452
I believe the release commit could also be automated:
- Take the crate and version as input
- Update the version in `Cargo.toml`
- Update the version in other crates' `Cargo.toml`
- Update the changelog: Change title `# {something?} (unreleased)` to `# {version}` and add `# (unreleased)` on top.

Maybe it should not auto-commit so you can check it didn't make mistakes.

[2021-04-01 17:31] jplatte commented on #452
Creating the release commit is a bit more complicated. For crates that have a corresponding `-macros` crate, those are updated in the same commit, and the titles for unreleased versions haven't been that consistent so far – though I removed one inconsistency yesterday and now there's only two formats:

[code]

I think what could work is change `cargo xtask release` to take a version argument¹ afte

[2021-04-02 14:05] Frinksy commented on #298
I'd like to work on this issue too.
Should the module be named `tos::accept_terms_of_service::v2` to remain consistent with `tos::get_terms_of_service::v2`?
I'm also wondering if I should include this change in my other PR, instead of having two separate ones.

[2021-04-02 14:27] jplatte commented on #298
Yes, consistency would be good. Separate PRs are generally easier to review, so that would be preferred. You can base on PR on the other one if that makes things easier for you.

[2021-04-02 17:50] MihirLuthra commented on #443
I am interested in this issue.
Could you give me an example of how you expect the resulting macro usage to look like?
Also, I was checking the files where these event enums are defined. Most seem to be generated through `event_enum!`. I checked the doc of `event_enum!` but I didn't exactly understand how the enums definitions are generated.
Could you give me some insights on that? I feel that may

[2021-04-02 20:55] jplatte commented on #443
This issues is very much about experimenting and not a good first issue. It's just a vague idea that probably won't work out at all.

[2021-04-03 16:01] jplatte commented on #452
Just release ruma-identifiers 0.18.1. Some notes: For ruma-identifiers-validation and ruma-identifiers-macros (and other macro crates) I didn't immediately remember that I would have to only run `cargo publish`, not `cargo xtask release`. I'm not yet sure how to best handle ruma-identifiers-validation, but publishing a crate that has a corresponding `-macros` crate should probably automatically up

[2021-04-03 16:28] zecakeh opened #456 "All media file URLs should use MxcUri"
According to the spec:

On [#matrix-spec:matrix.org](https://matrix.to/#/!NasysSDfxKxZBzJJoE:matrix.org/$fOxjYlwPlZ6Mc1SY_fbxGDBeSHiqE8u-yc7A9X3GmAI?via=matrix.org&via=privacytools.io&via=amorgan.xyz):

[2021-04-03 16:58] #297 closed, assigned to Frinksy

[2021-04-04 14:43] zecakeh opened #460 "get_notifications::Notification should use AnySyncRoomEvent instead of AnyEvent"
`AnyBasicEvent` and `AnyEphemeralEvent` do not trigger a notification, and a notification event doesn't have a `room_id`since it's part of the notification, so we should use `AnySync{Message, State}Event` instead of `Any{Message, State}Event`.

[2021-04-04 16:51] #460 closed, assigned to nobody

[2021-04-04 19:37] #298 closed, assigned to Frinksy

[2021-04-04 20:20] jplatte opened #462 "Allow `xtask release` to succeed if the package has already been published to crates.io"
I think it would be good to allow `xtask release` (or a separate `tag-release`) command to only create the release tag (and push it) when the package has already been uploaded to crates.io. If integrated into the existing command, it should probably first check whether that package version already exists and ask whether the tag should still be created if that's the case.

Related: Maybe we should

[2021-04-05 06:10] #456 closed, assigned to nobody

[2021-04-05 12:15] jplatte opened #464 "Make request codegen helper functions methods"
I've been refactoring ruma-api-macros in preparation for #238. I'm done with changing the parts that were standing in the way of implementing that and did some unrelated small refactorings as well, but I think I'm done with refactoring the macro code for today. It would be nice if somebody could pick this up where I left off, with the first change to be made being what the title says: Change the h

[2021-04-05 12:16] DevinR528 commented on #221
Is this what your thinking of for the last checkbox https://github.com/DevinR528/cargo-sort-ck

[2021-04-05 12:18] jplatte commented on #221
Probably :)

Can you send a PR adding that to our CI (the nightly job)?

[2021-04-05 13:12] jplatte commented on #238
Done in 345d0cf9.

[2021-04-05 13:12] #238 closed, assigned to jplatte

[2021-04-05 14:04] jplatte commented on #263
Done in 2f1b9f09.

[2021-04-05 14:04] #263 closed, assigned to nobody

[2021-04-05 15:14] jplatte commented on #444
Implemented in #457.

[2021-04-05 15:14] #444 closed, assigned to nobody

[2021-04-05 15:28] jplatte commented on #446
We should no longer panic after 2805dd73. Left to do:

* Add tests
* Decide how to handle inputs that are too large
  * Is there maybe a time type which allows larger values that we should use (e.g. from the `time` or `chrono` crate)?

[2021-04-05 15:40] #462 closed, assigned to nobody

[2021-04-05 17:29] jplatte opened #466 "Make set_pushrule::Request an enum"
Requires manually implementing the request traits, or extending the macro to support enums (probably not worth it).

[2021-04-05 19:53] jplatte opened #467 "Add more functionality to push Ruleset"
I think we don't do any of these things yet, but it seems like at least homeservers need it:

- [ ] Update existing rule without changing its position
- [ ] Insert a rule before / after an existing one (by rule_id)
- [ ] Merge Rulesets

[2021-04-06 11:00] DevinR528 commented on #221
So I'm working a bit on cargo sort-ck so that it is more robust and can handle workspaces. Formatting with the comments has proven to be a really complicated problem so I'm planning to make the basic failure functionality work really well. Shouldn't be too long, hopefully a day or two before I can start on the PR (famous last words :roll_eyes: ).

[2021-04-06 11:02] jplatte commented on #221
Have you looked at the `toml-edit` crate? That's what [cargo-edit](https://github.com/killercup/cargo-edit) uses to not screw with existing formatting when changing `Cargo.toml`s.

[2021-04-06 11:07] zecakeh commented on #467
How do you merge rulesets? I mean, since the order is important, if both rulesets have custom rules at the same place, how do you know which one should come first?

[2021-04-06 11:10] jplatte commented on #467
I'd expect the LHS / `self` instance to take precendence. The reason I think we need this operation is I remember the spec saying that user's push rules should be merged with the server defaults. Of course server defaults should generally have lower precedence in that case, otherwise it would be impossible to override them.

[2021-04-06 11:12] zecakeh commented on #467
Yes, as long as one only has default push rules that's doable.

[2021-04-06 11:18] jplatte commented on #467
Even if there are duplicates, you can just skip inserting the extra ones from the second set, no?

[2021-04-06 11:30] zecakeh commented on #467
Yes you can.

Alternatively, what the JS SDK does is override the default push rules in the user ruleset with their own default ruleset (the conditions and actions). That way the default rules are always up to date, even if the definition of the default push rules has changed, or if new ones were added.

[2021-04-06 11:31] jplatte commented on #467
What does "override" mean here? Keep the position but update the definition?

[2021-04-06 11:33] DevinR528 commented on #221
Hmmm, that's awesome!! I'm not sure why I never saw that I wonder if the whitespace preservation is the same. It seems like I may need to fork it so that I can add sort methods where needed. Thanks for the suggestion much better than doing it from scratch.

[2021-04-06 11:40] zecakeh commented on #467
The default push rules always have the same position between them, don't they?

Anyway they don't care about the position, they just update the definition

[2021-04-06 15:19] jplatte commented on #467
I'm not sure what happens when you say you want your custom pushrule to come before or after a server-default push rule 😄
Maybe it will just be rejected / inserted at the very end?

[2021-04-06 15:52] zecakeh commented on #467
The spec says:

So I guess it should be rejected with a status code 400, so the user/client knows something was wrong.

[2021-04-06 15:55] jplatte opened #469 "Copy relevant content repository parts from ruma-client-api into ruma-federation-api"
Today I learned: Homeservers actually may need to to client-API requests. From [the federation API spec](https://matrix.org/docs/spec/server_server/r0.1.4#content-repository):

We should thus copy the client parts of `r0::{get_content, get_content_thumbnail}` over into `ruma-federation-api` (if somebody else wants to tackle this let me know and I'll explain in detail) and modify that so `allow_rem

[2021-04-06 15:57] jplatte commented on #467
Good. Didn't read the spec in detail yet, only looked at Conduit's implementation 😅

[2021-04-06 15:57] jplatte commented on #467
So can I assign this issue to you? 😉

[2021-04-06 16:04] zecakeh commented on #467
No sorry, I have other stuff I'd like to work on first.

[2021-04-07 15:13] #404 closed, assigned to nobody

[2021-04-07 16:45] jplatte commented on #446
@timokoesters can you try to gather more data on this issue?

These timestamps aren't actually that large, the largest one being in 23xx AFAICT (`expired_ts`) and I added a test for it that passes: https://github.com/ruma/ruma/commit/2923f1066e92559d8e5f75b5ee0713fc8b1e8305.

[2021-04-07 21:18] timokoesters commented on #446
15159743990000 is too large I believe. I think it was a typo with one too many zeroes.

[2021-04-08 08:12] jplatte commented on #446
That's what I'm saying, it's not. It's definitely larger than expected, but not too large for `SystemTime`.

[2021-04-08 08:17] timokoesters commented on #446
https://doc.rust-lang.org/std/time/struct.SystemTime.html#underlying-system-calls

See the disclaimer

[2021-04-08 08:33] jplatte commented on #446
I don't get what you're taking about here. Did you get this error on a system with a 32 bit time type? Can you tell me how to reproduce it? Because on my system the test I added passes.

[2021-04-08 08:35] timokoesters commented on #446
Yeah it's probably only a problem on 32 bit

[2021-04-08 09:10] jplatte commented on #446
Can you confirm `cargo test issue_446` in ruma-serde fails on the machine you saw this error on? If yes, what architecture / OS is it? I think Linux switched to 64 bit timestamps even on 32 bit systems a while ago.

[2021-04-08 11:08] timokoesters commented on #446
[code]

[2021-04-08 11:40] timokoesters commented on #446
$ uname -a
Linux koesters 5.4.98-219 #1 SMP PREEMPT Mon Feb 15 21:15:05 EST 2021 armv7l armv7l armv7l GNU/Linux

[2021-04-08 11:47] jplatte commented on #446
Is it possible for you to upgrade that system to a newer kernel or distro version and try again? Just checked and apparently Linux 5.6 is the version that introduced 64bit time support on 32bit systems.

[2021-04-08 11:51] jplatte commented on #446
Actually, nevermind. This is a Rust issue: https://github.com/rust-lang/rust/issues/44394

Apart from waiting for an upstream fix, we could switch to chrono, which has a platform-agnostic time type.

[2021-04-08 12:16] jplatte commented on #446
After thinking more about this, I'm of the opinion that we should just have our own two types for this (`SecondsSinceUnixEpoch`, `MillisecondsSinceUnixEpoch`). Otherwise we'll always have the possibility of serialization failing too, which is pretty annoying.

[2021-04-08 12:21] jplatte opened #473 "Create types for "milliseconds since unix epoch" and "second since unix epoch""
Both should just be stored as a `js_int::UInt` so that it's guaranteed serialization will succeed and we don't impose any additional constraints on deserialization that aren't in the spec.

Supersedes #446.

[2021-04-08 12:21] #446 closed, assigned to nobody

[2021-04-08 14:29] jplatte commented on #406
Done in #423.

[2021-04-08 14:29] #406 closed, assigned to nobody

[2021-04-08 14:43] jplatte commented on #357
@aledomu are you still planning to work on this?

[2021-04-08 15:05] jplatte commented on #164
@DevinR528 can this issue be closed?

[2021-04-08 15:14] jplatte commented on #261
If somebody wants to work on this, please contact me on Matrix to discuss how to approach it.

[2021-04-08 15:15] #386 closed, assigned to nobody

[2021-04-08 15:17] abhikjain360 commented on #464
Hi!

I'd like to work on this.

[2021-04-08 15:23] jplatte commented on #464
If you need any guidance, you can ask for help here or in [#ruma-dev:matrix.org](https://matrix.to/#/#ruma-dev:matrix.org).

[2021-04-08 16:00] jplatte commented on #268
The `authors` field is being made optional and there's some good reasons to not include it in `Cargo.toml` (the main one that this is immutable data and people change names and may want their old name removed from the internet).

[2021-04-08 16:00] #268 closed, assigned to nobody

[2021-04-08 16:04] #180 closed, assigned to nobody

[2021-04-08 16:32] jplatte opened #475 "Add a base64 type"
There's a bunch of fields in various parts of Matrix that are base64-encoded. It would be neat if these used a separate type that can be constructed from either a base64 string or binary data (that's then base64-encoded for the user) and that has a `.decode()` method to easily obtain the data inside.

[2021-04-08 16:33] #318 closed, assigned to nobody

[2021-04-08 20:02] DevinR528 commented on #164
Is there any point in leaving the issue to note that `state_key` and `EventType` need size validation?

[2021-04-08 20:21] jplatte commented on #164
Sure.

[2021-04-09 08:00] jplatte opened #476 "Add a CI xtask"
Our CI is far from trivial, and so it's pretty hard to run all the checks CI does manually. We should introduce a `cargo xtask ci` command that can be run manually and also update CI to run it.

[2021-04-09 09:28] jplatte opened #477 "Check HTTP method in try_from_http_request"
Currently, the generated `IncomingRequest` implementations don't check that the `request` has the expected method in `try_from_http_request`. They should do that.

[2021-04-09 11:04] jplatte opened #478 "Implement MSC1946 (Secure Secret Storage and Sharing)"
[MSC text](https://github.com/matrix-org/matrix-doc/blob/master/proposals/1946-secure_server-side_storage.md)

Labelling `effort/hard` since full support requires adding crypto routines; basic support shouldn't be that hard though.

[2021-04-09 11:34] jplatte opened #479 "Implement MSC2403 (Add "knock" feature)"
[MSC text](https://github.com/matrix-org/matrix-doc/blob/master/proposals/2403-knock.md)

[2021-04-09 12:47] jplatte opened #480 "Replace default error type Void with serde_json::Value"
In `ruma_api!`, we currently default to a `Void` type for the endpoint error type. Since the Matrix APIs do everything in JSON, a more useful error type would be `serde_json::Value`. For the necessary trait implementations we probably need a wrapper type around it.

[2021-04-09 15:21] #477 closed, assigned to nobody

[2021-04-09 18:13] #464 closed, assigned to abhikjain360

[2021-04-10 03:07] abhikjain360 commented on #476
This basically involves doing everything done by configs in `./build` with xtask right?

[2021-04-10 07:34] jplatte commented on #476
Pretty much. Though the xtask should first check whether toolchains are already installed, not change the default toolchain and ask before installing one.

[2021-04-10 07:38] #320 closed, assigned to nobody

[2021-04-10 11:48] zecakeh opened #486 "Implement MSC2858 (Multiple SSO Identity Providers)"
[MSC text](https://github.com/matrix-org/matrix-doc/blob/master/proposals/2858-Multiple-SSO-Identity-Providers.md)

[2021-04-11 07:10] zecakeh commented on #476
Should the CI task also run rustfmt, clippy (fail on warning), docs (fail on warning) and tests? It would be nice to add that, but maybe in (a) separate task(s)?

[2021-04-11 07:50] jplatte commented on #476
Yes, it should. I don't see why it should be a separate task.

[2021-04-11 08:26] zecakeh commented on #486
How should the new optional field of `LoginType::Sso` be handled? Do we change the variant to accept an optional `identity_providers`, or do we create a new variant like `SsoWithIdentityProviders`?

[2021-04-11 10:07] jplatte commented on #486
The former, since the next release will contain breaking changes anyways. Good thing you asked now rather than after the release :)

I think `StringEnum` was never really applicable here, since the login types aren't just a string, they're an object with a type field containing a string and I should have anticipated extra fields based on that, probably.

I think the way to do forwards compat right

[2021-04-11 10:11] #476 closed, assigned to nobody

[2021-04-12 08:14] timokoesters opened #492 "Give /send edus proper types"
Currently it looks like this:
https://github.com/ruma/ruma/blob/eae0b58163345d02bff80a5b604d0b6b6f0e6b08/ruma-federation-api/src/transactions/send_transaction_message/v1.rs#L76-L84

[2021-04-12 08:59] jplatte commented on #492
Please be more specific. What's not "proper" there? Pdu's are (still) defined in a similar way but I can't remember what came of my last idea to change them to be (more) like the other event types.

[2021-04-12 09:03] timokoesters commented on #492
Oh I just realized I can serde_json::from_value this to the ephemeral room event content types, right? It would help if edu_type would be an enum so I can match against it

[2021-04-12 09:08] timokoesters commented on #492
I think some federation EDU content structs are still missing, like https://matrix.org/docs/spec/server_server/r0.1.4#m-typing-schema

[2021-04-12 09:13] ShadowJonathan opened #493 "User ID grammar needs to be as wide as possible."
I propose making the default regex for user IDs be `@([^:]*):(\S+)`, because historical quirks make many cases where these user IDs are valid.

I also propose moving the current regex for user IDs to a crate feature called `strict`, or adding the User ID grammar widening to the crate feature `synapse-quirks`.

@timokoesters encountered this problem when conduit tried to join a room which had a mem

[2021-04-12 09:14] timokoesters commented on #493
Relevant matrix doc issue/MSC: https://github.com/matrix-org/matrix-doc/pull/2828

[2021-04-12 09:26] jplatte commented on #493
We don't use regex to validate user IDs. And I don't think we should make checking the server name in user id's less strict. But we can definitely widen the definition of "historical user id", probably just under the `compat` feature.

[2021-04-12 09:32] jplatte commented on #492
The edu type can just be an `EventType`, right? Want to send a PR?

[2021-04-12 09:33] jplatte commented on #492
Okay, maybe not. I don't think I'll be looking into EDUs more closely myself unless somebody else wants to actually work on this.

[2021-04-12 11:11] DevinR528 commented on #492
So the list of EDU's synapse handles are "m.presence", "m.receipt", "m.typing", "m.device_list_update", "m.direct_to_device" in /send. Would you be ok with a new set of types for these in the `federation-api/transactions/send_transaction_message`?

There is one more `edu_type` synapse recognizes with the note:
FIXME: switch to "m.signing_key_update" when MSC1756 is merged into the spec from "org.m

[2021-04-12 11:25] jplatte commented on #492
@DevinR528 That sounds good.

[2021-04-12 17:11] Frinksy commented on #37
Hi, I would like to work on this issue.

[2021-04-13 07:51] timokoesters opened #500 "get_leave_event should be renamed to create_leave_event_template to match join"
https://github.com/ruma/ruma/blob/1282e1cfad6d0e4be12e8ac4c971127ebfe78abe/ruma-federation-api/src/membership.rs#L3-L7

[2021-04-13 10:14] jsparber opened #502 "EncryptedEventContent doesn't contain relates_to fields"
According to the docs the [EncryptedEventContent](https://docs.rs/ruma-events/0.22.0-alpha.2/ruma_events/room/encrypted/enum.EncryptedEventContent.html) should contain the `relates_to` key similar to `MessageEventContent`

https://matrix.org/docs/spec/client_server/r0.6.1#forming-relationships-between-events

[2021-04-13 10:26] jplatte commented on #502
Yeah, `EncryptedEventContent` should become a struct. We need to find an alternative name for the enum with the encryption-scheme-specific fields and ideally also extend it with support for custom encryption schemes (but that can probably come later).

[2021-04-13 10:26] jplatte commented on #502
Do you want to work on this?

[2021-04-13 10:28] jsparber commented on #502
No, not right now. I may look at it in a few months :)

[2021-04-13 11:59] jplatte opened #504 "xtask: Don't short-circuit on failure in ci"

[2021-04-13 11:59] jplatte opened #505 "ci: Use xtask for running checks"
Depends on #504

[2021-04-13 13:10] jplatte commented on #500
CC @iinuwa

[2021-04-13 14:24] jplatte opened #506 "api: Replace `bytes::Buf` bounds by `AsRef<[u8]>`"
Currently, we use `serde_json::from_reader` so large JSON payloads aren't forced to be one large allocation. However, this actually greatly worsens JSON parsing performance (see serde-rs/json#160). We should instead switch back to `serde_json::from_slice` and require `T: AsRef<[u8]>` for `try_from_http_{request,response}`, which will still avoid some copying over `Vec<u8>` for cases like a body of

[2021-04-13 16:38] jplatte commented on #504
Done in cdcefa1e539a09813f60fe02dc88754d4717a2b8.

[2021-04-13 16:38] #504 closed, assigned to jplatte

[2021-04-13 16:38] jplatte commented on #505
Done in d3ef7d63ce451bd92e0173e6566936838ebea387.

[2021-04-13 16:38] #505 closed, assigned to jplatte

[2021-04-13 19:51] jplatte commented on #493
Done in 398cf406d7e9e47e894013b44a671f44806691ac / ruma-identifiers 0.19.0.

[2021-04-13 19:51] #493 closed, assigned to jplatte

[2021-04-13 20:16] jplatte commented on #506
Done in c1693569f15920e408aa6a26b7f3cc7fc6693a63.

[2021-04-13 20:16] #506 closed, assigned to jplatte

[2021-04-14 07:44] ShadowJonathan opened #507 "`serde_json::error::` `RecursionLimitExceeded` exists"
At https://github.com/serde-rs/json/blob/7ca63e7d5acac348db55c4345cb199f9d658669f/src/error.rs#L240-L241;

[code]

I feel this is possible to encounter in the wild in matrix, unintentional or not, so ruma should be able to handle this sorta thing, i'd guess.

[2021-04-14 14:58] jplatte opened #509 "Implement MSC2785 (Event notification attributes and actions)"
This is a replacement for the current push rule system. [MSC](https://github.com/matrix-org/matrix-doc/pull/2785)

[2021-04-14 15:17] #486 closed, assigned to nobody

[2021-04-14 15:33] jplatte commented on #507
I don't really know what we could do about this 😕

[2021-04-14 16:40] #321 closed, assigned to nobody

[2021-04-14 16:40] #322 closed, assigned to nobody

[2021-04-14 16:53] #452 closed, assigned to nobody

[2021-04-14 22:24] jplatte commented on #389
I tried this, but it essentially requires us defining our own equivalents to `http::{Method, header::{HeaderName, HeaderValue}}`, which would be a bit much. In practice the conversion between `http::Request` / `http::Response` and other types for the same thing should be super low as long as unnecessary copies of the body are avoided, which is entirely possible.

[2021-04-14 22:24] #389 closed, assigned to jplatte

[2021-04-15 10:45] jplatte opened #511 "Implement MSC1983 (Reasons for leaving a room)"
[MSC text](https://github.com/matrix-org/matrix-doc/blob/master/proposals/1983-leave-reasons.md)

[2021-04-15 13:57] jplatte commented on #247
@poljar Are there types for this in matrix-rust-sdk that just need to be copied over (with authorship info)?

[2021-04-15 13:59] jplatte commented on #245
There's parts of this that would probably be done "manually", but most of the work is in writing macro code to generate these impls.

[2021-04-15 14:20] poljar commented on #247
There aren't, it's done the pedestrian way in the rust-sdk using `Value`.

[2021-04-16 20:05] iinuwa opened #517 "Create identifier types for client and session identifiers"
In the Identity Service (IS) API (and corresponding endpoints in the Client-Server (CS) API), there are `client_secret` and `sid` fields with a grammar. Cf. https://matrix.org/docs/spec/identity_service/r0.3.0#post-matrix-identity-v2-validate-email-requesttoken. There are a few `sid`/`client_secret` fields that are not specified with a grammar (e.g. https://matrix.org/docs/spec/client_server/r0.6.

[2021-04-16 22:28] #492 closed, assigned to nobody

[2021-04-17 17:32] jplatte opened #518 "xtask should detect an existing release"
Currently, `xtask release` tries to always rewrite `Cargo.toml`s, which will result in an empty commit if the release already exists (for example due to an earlier `xtask release` invocation hitting an error at a later step). All that has to be done to fix this is detect when the user is trying to release exactly the package's current version according to `cargo metadata` and allow to skip release

[2021-04-17 18:49] jplatte opened #519 "send_state_event and send_message_event should use Raw"
Unless I am missing something, `send_state_event` and `send_message_event` need to be updated to use `Raw` so custom fields can be supported in there.

CC @timokoesters do you agree?

[2021-04-18 07:28] timokoesters commented on #519
Currently Conduit does a workaround for this by taking the raw json body of the request instead of ruma types, but wrapping it in Raw should allow us to avoid that workaround, so 👍 from me

[2021-04-18 09:53] jplatte opened #520 "Generate event *type* enums"
It would be good if our `event_enum!` macro would generate `*EventType` enums in addition to event enums and event content enums, for use in routes such as `send_message_event` and `create_message_event`.

cc @DevinR528 who wrote almost all of the events macro code

[2021-04-18 10:08] jplatte commented on #520
Once these enums exist, we should also update the `.event_type()` getters on the event (content) enums to return them.

Ideally I'd want them to be returned as references, but that means the `_Custom` variant has to wrap `str`, which would be annoying for other usage. I guess this part required more design work still.

[2021-04-18 10:28] jplatte opened #521 "Refactor get / set pusher endpoints"
In 9f815fac, I split `r0::push::Pusher` in two: One struct for `get_pusher`, one for `set_pusher`. There should be conversions functions here. Also I've noticed that there is one field under `data` that is required for a pusher kind of `html`; this could be modeled better. Finally, it seems like really most of the fields of `set_pusher::Request` should not be required when deleting the pusher, we

[2021-04-18 10:30] jplatte commented on #519
Done in 10adf0c0c02c631e9839520d50173fd78b06b7bc.

[2021-04-18 10:30] #519 closed, assigned to nobody

[2021-04-18 12:55] DevinR528 commented on #520
So instead of using `EventType` for these getters they would return `StateEventType` for `State` enums and so on. Are we removing the `EventType` enum or could there be conversions generated also?

[2021-04-18 12:57] jplatte opened #522 "Remove or hide `Custom` variant of event enums"
This is a forwards-compatibility pit, since things that currently deserialize to `AnyFooEvent::Custom` might deserialize to another variant in the future. Instead, an API like that of `ruma_events::room::message::MessageType` should be provided.

I'm happy to provide help in getting accustomed to the macro code involved.

[2021-04-18 13:03] jplatte commented on #520
Whether we should still have `EventType` depends on whether we keep `AnyEvent`, currently it is used in `ruma-appservice-api` but I'm not entirely sure whether it's correct.

If we keep it, it should probably be generated as well instead of maintained separately. But that runs into our event enum invocations currently being separate, which is also an issue if we want a flat `RoomEventType` enum (i

[2021-04-20 11:05] jplatte commented on #10
The information in this issue is almost entirely outdated at this point. Is this still relevant to anybody? If yes, it might be best to open a new issue.

[2021-04-20 11:05] #10 closed, assigned to nobody

[2021-04-21 12:01] jplatte opened #525 "Signature verification still succeeds if some or all public keys are missing in verify_json"
We currently loop over the public keys and verify that they match the signatures, which succeeds even if there isn't a single public key in the map. What we should be doing instead of looping over the signatures.

[2021-04-22 16:23] #525 closed, assigned to nobody

[2021-04-24 09:23] #518 closed, assigned to nobody

[2021-04-24 19:47] #426 closed, assigned to nobody

[2021-04-25 17:48] jplatte opened #535 "Implement send_state_event request manually"
So the final path fragment is optional again.

[2021-04-25 18:33] jplatte commented on #535
Need to revert part of https://github.com/ruma/ruma/commit/10adf0c0c02c631e9839520d50173fd78b06b7bc

[2021-04-26 10:33] jplatte commented on #535
Done in 27dc07d53.

[2021-04-26 10:33] #535 closed, assigned to jplatte

[2021-04-26 11:30] jplatte opened #537 "Merge state-res into this repository"

[2021-04-26 14:59] jplatte opened #538 "Add to `CanonicalJsonValue` API"
Some things Conduit / state-res could use:

* ~~Ownership-taking variant accessors (`fn into_string(self) -> Option<String>` / `fn into_object(self) -> Option<CanonicalJsonObject>` and such)~~ (probably not needed)
* Mutable variant accessors (mainly `fn as_object_mut`)
* `PartialEq` implementations between `CanonicalJsonValue` and inner variant values (`PartialEq<String> for CanonicalJsonValue`,

[2021-04-26 19:00] #323 closed, assigned to nobody

[2021-04-26 19:00] #324 closed, assigned to nobody

[2021-04-26 19:00] #325 closed, assigned to nobody

[2021-04-27 06:07] #502 closed, assigned to nobody

[2021-04-28 21:18] jplatte opened #541 "Change ```ignore code blocks to ```no_run"
It would be good to have most of our (Rust) code in docs be doctests, even if they're not run.

There's one `ignore` test in `ruma-events-macros` and one in `ruma-serde` that look like they could be updated easily enough.

[2021-04-29 15:44] jplatte commented on #262
This also applies to `get_room_account_data` and `get_global_account_data`. The critical thing here is also supporting runtime-provided event types. For those, event (content) enums need to be returned. With the current trait setup, there is no way of passing data from request serialization to response deserialization, but even without that this should already be pretty cool :)

[2021-05-01 19:44] #401 closed, assigned to jplatte

[2021-05-02 11:35] #326 closed, assigned to nobody

[2021-05-02 11:35] #327 closed, assigned to nobody

[2021-05-02 11:35] #328 closed, assigned to nobody

[2021-05-03 21:57] jplatte opened #547 "Generate redaction methods for event content enums"
I can write up instructions if somebody new to our macros wants to take a stab at this.

[2021-05-04 10:07] johannescpk commented on #522
E.g.

Scenario A where you check for the `event_type` manually

[code]

Scenario B where you use `AnyFooEvent::Custom`
[code]

Now imagine `uwu.owo` support being added to ruma, in a minor / patch release because that's what new event types should really go in
- In Scenario A you still take the same branch
- In Scenario B you suddenly don't anymore, since event will be `AnySyncRoomEvent::State(Any

[2021-05-04 10:09] jplatte commented on #522
This should be implemented similar to #423 + 2803ee3721d92eb93f4404d02827c68b488df60d. I think we are even generating most of the necessary accessor methods already.

[2021-05-04 10:29] jplatte opened #548 "Add a helper method to Raw to deserialize a single field"
`Raw` wraps a JSON *object* in the vast majority of cases. Currently, it is a bit cumbersome to deserialize a single field out of there, which is commonly useful to check whether to deserialize to a custom type. It would be nice to have the equivalent of

[code]

available as a method:

[code]

I can explain how I think this could / should be implemented if sbd. wants to work on it.

[2021-05-05 09:22] jplatte commented on #548
Done in cc455057f7cd08a1841fea86c76887bce9d013d7.

[2021-05-05 09:22] #548 closed, assigned to jplatte

[2021-05-05 15:07] jplatte opened #550 "Link to defining sections of events in module docs"
For example: `ruma_events::room::alias` docs should link to https://matrix.org/docs/spec/client_server/r0.6.1#m-room-canonical-alias

[2021-05-05 15:15] jplatte opened #551 "Customize clippy"
~~[Documentation about Clippy Configuration](https://github.com/rust-lang/rust-clippy/#configuration)~~
[Documentation about allow-by-default Clippy lints](https://rust-lang.github.io/rust-clippy/master/index.html)

We might want to enable some non-default options for clippy to enforce parts of our style guide. The `dbg_macro` lint might be something we want to enable, and `str_to_string` looks ex

[2021-05-05 15:27] jplatte opened #552 "Create GitHub issue templates"
One more thing we could do to improve the workflow for first contributors!

[2021-05-05 16:32] ShadowJonathan commented on #551
Relevant to mention: https://github.com/rust-lang/rust-clippy/issues/6625

[2021-05-05 18:52] DevinR528 commented on #551
`-W clippy::multiple_crate_versions` this is an interesting one it says there are 2 versions of `cfg-if` after running cargo tree I found 0.1.10 and 1.0.0. The problem with enabling it is you can't fix a lot of the errors easily so I thought I would mention it.

[2021-05-05 20:56] jplatte commented on #551
For multiple crate versions (and other dependency checks) there is [cargo-deny](https://github.com/EmbarkStudios/cargo-deny), which I think also allows setting exceptions. Not sure whether we need that though.

[2021-05-05 22:42] jplatte commented on #552
Bug reports and documentation issues should probably each have one template.

cc @iinuwa wdyt?

[2021-05-06 11:07] #551 closed, assigned to DevinR528

[2021-05-06 15:33] jplatte opened #555 "Improve UIAA coverage / usability"
We currently don't have strong types for the specced [authentication types](https://matrix.org/docs/spec/client_server/r0.6.1#authentication-types) for the user-interactive authentication API.

We should probably make `uiaa::AuthData` similar to `room::message::MessageType` in `ruma-events`, except that `FallbackAcknowledgment` variant requires a bit of special handling. We'll have to implement `S

[2021-05-07 21:43] jplatte commented on #538
Done in 3b6a719b8e07f52ca179a6faadfdcebde31b6a7f, 6d5f1981648de96a993d323c221db5e728ef66c6, 719433eb5c41fb5b8099481ce7bb0a37931b260f.

[2021-05-08 09:39] jplatte commented on #537
Done.

[2021-05-08 09:39] #537 closed, assigned to jplatte

[2021-05-08 09:40] jplatte commented on #538
I found one more thing that's missing when updating Conduit: `From<bool>`, `From<String>`, …

[2021-05-08 12:05] jplatte commented on #538
Done in c01e8340eb8f97731e25454a785da7ab180838e1.

[2021-05-08 12:05] #538 closed, assigned to jplatte

[2021-05-08 12:36] jplatte commented on #480
Done in a0f7e1b771d3294187bae0b2816fbcf6ceb40b88.

[2021-05-08 12:36] #480 closed, assigned to jplatte

[2021-05-08 16:34] jplatte commented on #507
I wonder whether Synapse / the Python lib it uses has similar limitations. One could try creating a test room and posting a custom event with a content like `{ "foo": [[[[[[[[[[[[<500 more pairs of brackets>]]]]]]]]]]]] }`.

[2021-05-08 22:58] jplatte opened #562 "Investigate why CI succeeds when there are errors"
This has happened a few times now with the Nightly CI job, not sure whether it affects others too.

[2021-05-09 11:50] zecakeh opened #563 "Split Basic enum into several enums"
I believe those would be:
- `GlobalAccountData`
- `RoomAccountData`

I'm not sure the remaining events are used in this enum…

It seems like we need to remove `AnyEvent` first.

[2021-05-09 19:11] jplatte commented on #563
Removed `AnyEvent` in aca64eccea9d86a528725c99a91ffe6e1bc5b2c5.

[2021-05-10 08:06] #37 closed, assigned to Frinksy

[2021-05-10 09:31] jplatte commented on #547
Started looking into this. I think it would be nice to have `Redact` and `RedactContent` traits in `ruma-events`, for efficient `Raw` redaction that simply deserializes the redacted type. I've done some preliminary refactoring and will probably implement the my plan soon.

[2021-05-10 13:19] jplatte commented on #249
Apparently this was already fixed with the API trait rework.

[2021-05-10 13:19] #249 closed, assigned to nobody

[2021-05-10 13:28] ShadowJonathan commented on #22
`/command @iinuwa assign to @ShadowJonathan`

[2021-05-10 13:28] ShadowJonathan commented on #16
`/command @iinuwa assign to @ShadowJonathan`

[2021-05-10 13:33] ShadowJonathan commented on #562
Examples for CI runs? Links?

[2021-05-10 13:35] ShadowJonathan commented on #552
So maybe have the following templates;
- doc-related
- bug
- feature/suggestion

All of which would label it with docs/bug/enhancement + "untriaged", to allow triaging to be easier.

How does that sound?

[2021-05-10 13:38] ShadowJonathan commented on #511
Isn't this as easy as adding an optional "reason" field to the `m.room.member` leave events?

[2021-05-10 13:40] ShadowJonathan commented on #475
Maybe it could be a `TryInto<T>` + `From<T>` struct where T could be `&[u8]` or `Bytes`?

[2021-05-10 13:41] ShadowJonathan commented on #469
Why copy? Why not depend with a feature flag?

[2021-05-10 13:42] jplatte commented on #511
I haven't actually checked 🙂

[2021-05-10 13:43] ShadowJonathan commented on #309
I'd like to take this one on, assign?

[2021-05-10 13:44] jplatte commented on #475
If rather have dedicated methods for encoding / decoding, `From` / `TryFrom` should only do more "obvious" conversions.

[2021-05-10 14:42] jplatte commented on #469
Because it improves compile times. From the description above:

[2021-05-10 14:46] ShadowJonathan commented on #541
I'd like to take this on, assign?

[2021-05-10 14:48] jplatte commented on #562
Here's an example: https://github.com/ruma/ruma/runs/2535612356?check_suite_focus=true#step:4:436

[2021-05-10 14:53] ShadowJonathan commented on #562
Maybe https://github.com/ruma/ruma/blob/d71fa973466c0e5d79b2d071cd767df252dc4f71/xtask/src/main.rs#L29 is the culprit?

That this should be `1` instead of `-1`.

[2021-05-10 14:56] jplatte commented on #562
We used to have a very similar problem on builds.sr.ht, and I tried that there but it didn't help. I don't really know why we use `-1` (cc @zecakeh), but I also don't see how that could break anything.

[2021-05-10 14:56] jplatte commented on #562
Feel free to create a draft PR that intentionally introduces code that triggers lints or breaks the build to experiment with this.

[2021-05-10 14:57] zecakeh commented on #562
I didn't change that line, it must have been from the xtask repo.

[2021-05-10 15:13] ShadowJonathan commented on #22
ruma-signatures has two spots which uses `ring` for other uses;

https://github.com/ruma/ruma/blob/d71fa973466c0e5d79b2d071cd767df252dc4f71/crates/ruma-signatures/src/functions.rs#L11

https://github.com/ruma/ruma/blob/d71fa973466c0e5d79b2d071cd767df252dc4f71/crates/ruma-signatures/src/keys.rs#L62

These would also need replacement candidates.

[2021-05-10 15:15] #309 closed, assigned to ShadowJonathan

[2021-05-10 15:17] ShadowJonathan commented on #22
Suggestions from @poljar are;

- Use `rand` with `getrandom` (which "works everywhere")

- Use `sha2` crate, which is pure rust.

[2021-05-10 15:20] jplatte commented on #22
The ed25519-dalek crate uses rand's traits [in its interface](https://docs.rs/ed25519-dalek/1.0.1/ed25519_dalek/struct.Keypair.html#method.generate) so we should use that for keypair generation (probably fine to use `thread_rng`, we could then later possibly allow a custom RNG).

[2021-05-10 15:42] jplatte opened #568 "Replace *EventContent derive macros with an attribute for EventContent"
Basically, I want to change

[code]

to

[code]

[2021-05-10 15:43] jplatte commented on #568
Happy to write up instructions if somebody wants to tackle this.

[2021-05-10 15:45] jplatte commented on #552
We don't have an enhancement label or equivalent. I think the third one can just be called something like "general improvement" / "general enhancement" and not receive a label other than "untriaged". Otherwise sounds good!

[2021-05-10 16:08] ShadowJonathan commented on #541
I'm currently adding reasons to every `ignore`d test I find, none of them can properly be converted to `no_run`.

Except for the test in `ruma-events-macros`;
https://github.com/ruma/ruma/blob/91a7325bc40754f3083adc1c6e3608707e2b4e79/crates/ruma-serde-macros/src/lib.rs#L29-L33

This one needs someone who knows that crate to document it, I cant do it.

---

I suggest unassigning me here, altering t

[2021-05-10 17:04] ShadowJonathan commented on #22
I opened [this issue](https://github.com/dalek-cryptography/ed25519-dalek/issues/169) because it doesn't seem `ed25519-dalek` supports PKCS8 to support generating/creating `Ed25519KeyPair` from them.

[2021-05-10 19:58] johannescpk commented on #445
For reference, here's the PR that stabilizes spaces support in matrix-bot-sdk: https://github.com/turt2live/matrix-bot-sdk/pull/121

[2021-05-11 11:46] DevinR528 commented on #562
I think I may have figured it out
[code]

shouldn't the last line be `fmt_res.and(clippy_res)`

[2021-05-11 11:49] jplatte commented on #562
I'm such an idiot 🤦🏼

Thanks for noticing!

[2021-05-11 11:49] #562 closed, assigned to nobody

[2021-05-11 11:49] jplatte commented on #562
Fixed in 0beeb6ef9b0e29c76f5f0235c28329c2061f2a51.

[2021-05-12 14:02] #563 closed, assigned to zecakeh

[2021-05-13 23:25] #473 closed, assigned to jplatte

[2021-05-14 10:25] #568 closed, assigned to nobody

[2021-05-14 11:44] #541 closed, assigned to ShadowJonathan

[2021-05-14 16:30] jplatte commented on #369
There's a followup MSC to 1544, 3131: https://github.com/uhoreg/matrix-doc/blob/qr_codes_2/proposals/3131-verifying-with-qr-codes-2.md

[2021-05-14 23:52] #520 closed, assigned to nobody

[2021-05-14 23:57] jplatte opened #576 "Redacted event enums are missing event_type method"
Redacted event enums like `AnyRedactedMessageEvent` have the same accessor methods as non-redacted ones except for `content`, `prev_content` and `event_type`. The first two of these make sense, but I don't see why we wouldn't have an `event_type` accessor for these types.

[2021-05-15 00:34] jplatte opened #577 "Revise redaction API"
I'm pretty sure it's wrong that currently the sync types require a `SyncRedactionEvent` and the non-sync ones require a `RedactionEvent`. Really any combination should work.

Also, it seems weird that the redaction event is not borrowed.

[2021-05-15 01:03] DevinR528 commented on #577
We could do `impl Into<SyncRedactionEvent>` (lowest common denominator)?

[2021-05-15 01:07] DevinR528 commented on #547
I got the macro working to spit out redact methods for the `Any*EventContent` enums. I'll wait to open a PR when you get the trait all set?

Also looking through the redaction stuff I feel like we talked about this last summer but, should ephemeral / global account / room account events have redacted equivalent structs? They do now, all `EventContent` derive things generate redacted structs.

Real

[2021-05-15 08:47] jplatte commented on #577
Just checked again, and `redacted_because` actually contains the entire event, not just the id. I think I mixed this up with relations. In that case the API is probably good as-is.

[2021-05-15 08:47] #577 closed, assigned to nobody

[2021-05-15 09:15] jplatte commented on #547
No need to wait for my changes, I'll rebase them after yours are merged.

Oh, huh. Redaction only applies to room (message / state) events, so we should only generated `Redacted*EventContent` for those.

[2021-05-15 09:26] jplatte opened #579 "Clean up (possibly-)redacted event enums"
* There isn't actually a reason for `AnyPossiblyRedactedMessageEvent` to exist in the current API.
* We're using `AnyStateEvent` outside of `AnyRoomEvent` (same for `Sync`) in a few places, but since (most?) redacted state events still affect state I think we should be using `AnyPossiblyRedactedStateEvent` in all those cases (similar for `AnyPossiblyRedactedStrippedStateEvent` I think).
  * Should

[2021-05-15 12:57] jplatte commented on #547
Done in #580.

[2021-05-15 12:57] #547 closed, assigned to jplatte, DevinR528

[2021-05-16 20:15] jplatte opened #584 "Represent "required if" clauses in types"
There are a bunch of "required if" clauses in documentation, particular for types in `ruma_events::room::message`, that would not be needed if the types with these fields were enums or contained enums for the relevant subset of fields.

[2021-05-16 21:58] jplatte commented on #522
Same for `ruma_events::key::verification::accept::AcceptMethod`.

Also `ruma_events::key::verification::start::StartMethod`.

[2021-05-16 22:29] jplatte commented on #215
DONE!

[2021-05-16 22:29] #215 closed, assigned to jplatte

[2021-05-20 12:00] ShadowJonathan commented on #22
Going deeper down the rabbit hole, I discovered that the `pkcs8` crate doesn't support PKCS8 v2 documents (as described [here](https://datatracker.ietf.org/doc/html/rfc5958#section-2)), `ring::signature::Ed25519KeyPair::as_ref()` produces PKCS8 v2 documents, so I made some noise to have it be supported (possibly): https://github.com/RustCrypto/utils/issues/419

[2021-05-20 15:58] jplatte commented on #445
Done in #585.

[2021-05-20 15:58] #445 closed, assigned to nobody

[2021-05-20 16:05] MTRNord opened #587 "Implement MSC2946 (Spaces Summary)"
Follow up from #445 and #585

The Space Summary API is currently documented over at https://github.com/matrix-org/matrix-doc/pull/2946

It features a client-server and a server-server api.

Currently this means for client-server API: `/_matrix/client/unstable/org.matrix.msc2946/rooms/{roomID}/spaces`
And for server-server API: `/_matrix/federation/unstable/org.matrix.msc2946/spaces/{roomID}`

For

[2021-05-21 15:51] #16 closed, assigned to ShadowJonathan

[2021-05-22 13:02] ShadowJonathan opened #590 "Refactor `ruma-signatures` `Error` type"
Currently they just hold a message string, maybe it's useful to make it a `thiserror` to allow receiving libraries to discern the actual error?

[2021-05-22 14:54] ShadowJonathan opened #591 "Fix invalid base64 error for conduit in ruma-signatures"
On https://github.com/marshallpierce/rust-base64/issues/160, conduit experiences a fault here when trying to decode base64 characters coming from construct, you can find the actual string responsible in there.

You can also find in there some impls that actually accept the string as valid, and according to a [validator](https://base64.guru/tools/validator), the string is okay, except that it doesn

[2021-05-22 15:29] jplatte opened #592 "Use a separate repo for docs.ruma.io"
It's kind of annoying to have the docs in a branch here (for example in `git log --all --oneline --decorate --graph` commits from that branch will usually be at the top). Should be easy enough to use a separate repo.

[2021-05-22 15:32] ShadowJonathan commented on #592
is this about docs.rs-style documentation?

[2021-05-22 16:22] ShadowJonathan commented on #591
@gbsf showed https://docs.rs/base64/0.13.0/base64/struct.Config.html#method.decode_allow_trailing_bits to me, i'll implement a "fallback" path which tries this approach before failing completely.

i.e.;

- Try with `STANDARD_NO_PADDING`, if it doesn't work, do;
- Try (decoding + signature check) with `.decode_allow_trailing_bits(true)` `Config`
- If that works, emit warning and return verified res

[2021-05-22 17:22] jplatte commented on #592
It's about the unstable docs we already have on https://docs.ruma.io

[2021-05-23 09:38] ShadowJonathan opened #595 "Should `ruma_signatures::Algorithm` be non-exhaustive?"
I just saw this while scrolling through the code, currently it looks like this;

https://github.com/ruma/ruma/blob/087a2b9012d9b598eb63b4f57d9cef0f967b70d1/crates/ruma-signatures/src/lib.rs#L119-L125

Shouldn't this be a `non-exhaustive` enum? For when matrix will (possibly) have more signing algorithms in the future.

[2021-05-23 18:55] ShadowJonathan opened #597 "Refactor all of `ruma`'s error types to be deterministic"
More or less; Make most errors in `ruma` be `thiserror` (with exceptions, ofc)

This is to allow greater programmatic control to the users of the library to ascertain *why* and *what* went wrong with something.

This maybe need a small `ruma-errors` crate to store a macro to make those errors more convenient.

- [x] `signatures`: #590, #742

[2021-05-23 18:56] ShadowJonathan commented on #22
@stoically now that #589 has merged into `next`, could you verify that compiling to WASM works?

[2021-05-23 19:33] jplatte commented on #597
I don't actually think we have any String-wrapping error types except the one in ruma-signatures. What are you thinking of refactoring in other crates?

[2021-05-23 19:40] ShadowJonathan commented on #597
At least do a do-over of looking at them and see if they have the same kind of string-wrapping errors, or see if it's possible to make derivative errors provide more context (i.e. a parser error happening in two seperate places having two seperate contexts, and thus should possibly have `ErrorA(#[source] OtherError)` and `ErrorB(#[source] OtherError)`, to allow switching on them depending on conte

[2021-05-24 20:31] #591 closed, assigned to ShadowJonathan

[2021-05-24 20:47] #590 closed, assigned to ShadowJonathan

[2021-05-25 06:43] ShadowJonathan opened #598 "next: Use crate release for pkcs8"
As per https://github.com/RustCrypto/utils/pull/432

[2021-05-26 15:20] DevinR528 commented on #221
related https://github.com/rust-lang/rust-clippy/issues/7276

related https://github.com/rust-lang/rust-clippy/issues/7277

related https://github.com/rust-lang/rust-clippy/issues/7278

[2021-05-27 17:40] jplatte opened #602 "Replace RawJsonValue with Raw in send_event_to_device"
Currently, the event type and content have to be specified separately in `ruma_client_api::r0::to_device::send_event_to_device`. It should be supported to just pass an `AnyToDeviceEventContent` to set both the event type and body, like with `send_message_event` (plus a second constructor for special cases).

[2021-05-27 17:40] jplatte commented on #602
After #601, we should probably update `ruma_federation_api::transactions::edu` similarily.

[2021-05-27 17:59] jplatte commented on #595
Weird, this issue should have been closed automatically.

[2021-05-27 17:59] #595 closed, assigned to nobody

[2021-05-27 18:00] jplatte commented on #552
Actually we might not need "untriaged" since you can use `no:label` as a filter.

[2021-05-27 18:02] jplatte commented on #507
`serde_json` has a feature flag called `unbounded_depth` that can be used to disable this limitation, but at least for homeservers that would open a super simple DOS attack vector.

[2021-05-27 18:27] jplatte commented on #422
This is done, we're using `--all-features`.

[2021-05-27 18:27] #422 closed, assigned to nobody

[2021-05-27 18:41] jplatte commented on #475
Introducing the type isn't a breaking change but actually using it (replacing existing `String`s) is, so might as well label this as `next`.

[2021-05-28 07:03] ShadowJonathan commented on #507
Maybe we can provide the same feature flag as well? And then add it to any crate that uses serde, it'll be off by default, though for any homeserver or application that needs to enable it, it's there.

[2021-05-29 12:27] jplatte opened #603 "Switch incoming http body bound to BufRead or AsyncBufRead"
Switching to `BufRead` is blocked on https://github.com/serde-rs/json/issues/160.
Switching to `AsyncBufRead` is blocked on switching to a JSON library that supports streaming deserialization.

[2021-06-01 10:55] DevinR528 commented on #221
PR https://github.com/rust-lang/rust-clippy/pull/7299 for issue 7278

PR https://github.com/rust-lang/rust-clippy/pull/7300 for issue 7276

RR https://github.com/rust-lang/rust-clippy/pull/7315 for issue 7315 (merged)

[2021-06-01 20:07] jplatte opened #605 "Remove ruma_common re-exports from client-api"

[2021-06-02 17:16] jplatte opened #606 "Enable exhaustive_structs lint in ruma-clippy"
Lint details: https://rust-lang.github.io/rust-clippy/master/index.html#exhaustive_structs

Will need a bunch of `#[allow]`s.

(found by @DevinR528)

[2021-06-02 18:59] ShadowJonathan commented on #606
I can guess, but *why* would we want to enable this lint for all of ruma, and not just add it to a few structs where it'll matter?

[2021-06-02 19:22] jplatte commented on #606
Because it's not a few structs, it's the vast majority where we want this.

[2021-06-02 19:33] ShadowJonathan opened #608 "Have unstable/stable markers similar to rustc dev"
Like this: https://rustc-dev-guide.rust-lang.org/stability.html

`rustc` has markers like `#[stable(...)]` and `#[unstable(...)]`, maybe it's interesting to replicate this?

Then we could annotate (parts of) API with `#[stable(v = "1.1")` (the API is stable since Matrix v1.1), `#[unstable(msc=1234, rev="abc012")]` (the API is unstable, but defined according to MSC1234, at commit `abc012`)

While f

[2021-06-02 19:49] jplatte commented on #608
I like the idea of better tracking unstable features (which it *feels like* this issue is partially about?). But what do you mean by "stability brackets"?

[2021-06-02 19:55] ShadowJonathan commented on #608
oh sorry, i was partially recalling something from MSC2844, which says something about the timetable for deprecation and removal for endpoints and features. i meant with "bracket" as a range of versions such a project then wishes to target, "Bracket: a category of people or things that are similar or fall between specified limits."

Yes, this issue is specifically inspired by the idea of "i wish i

[2021-06-03 23:09] jplatte commented on #372
#528 is the latest state of the work that has happened for this, if somebody wants to pick up where I left off that would be nice. I'm not sure when I would otherwise get back to it.

[2021-06-03 23:17] jplatte commented on #447
Given that switching types of public fields is a breaking change anyways, it's probably fine to start using const generic here. I guess we really just need to use `arrayvec` (possibly boxed up so we don't bloat our types).

[2021-06-03 23:33] jplatte opened #609 "Reduce the number of crates?"
@aledomu has suggested a few times that hacking on Ruma would be easier if it would just be a single crate. Unfortunately, one isn't possible since we've got a bunch of proc-macro code, but three would be possible:

* ruma (main crate, re-exports macros meant for public consumption)
* ruma-macros (proc-macro code)
* ruma-internal (stuff used by both ruma and ruma-macros)

This would be a huge amou

[2021-06-03 23:35] jplatte commented on #609
Related: #469 (which we could handled better with fewer crates).

[2021-06-03 23:36] jplatte commented on #469
If the client API and federation API weren't in separate crates, we could expose this endpoint under both feature flags w/o copying: #609.

[2021-06-04 08:51] johannescpk opened #610 "Serializing `Response` & `Request`"
Follow-up to https://github.com/ruma/ruma/issues/10

Currently hitting the use case where it'd be useful to serialize `Response` & `Request` for testing purposes, e.g. here

[code]

it'd be nice to serialize `Response` & `Request` instead of using a string to make it type safe and future proof.

Could be nicely combined with https://docs.rs/mockito/0.30.0/mockito/enum.Matcher.html#variant.Json

[2021-06-04 09:34] jplatte commented on #610
I don't this this is very much related to #10. That one proposed serializing the entire request / response object to one object (including things that are not part of the body), you seem to be looking for HTTP serialization, but... That's what we already do?

[2021-06-04 09:45] johannescpk commented on #610
I guess I'm missing something then, how would I convert https://docs.ruma.io/ruma/api/client/r0/account/register/struct.Response.html to a serde `Value`?

[2021-06-04 09:51] jplatte opened #611 "Document ruma-client related feature flags in ruma crate docs"

[2021-06-04 10:10] jplatte commented on #610
You can't do that directly. You could use [OutgoingResponse](https://docs.rs/ruma/0.1.2/ruma/api/trait.OutgoingResponse.html) to create a `http::Response<_>`, and parse the body of that into `Value`. I guess we could provide a `.body_fields_as_json_value()` method as a separate trait, but that would be significantly more complex than #10 and if you're testing a server that's also implemented using

[2021-06-04 10:30] jplatte opened #612 "Allow streaming binary http bodies"
Related: #603

[2021-06-04 11:00] ShadowJonathan commented on #612
How would this work? Would we allow streaming on only some request/response types, or will we switch to a `Into<&[u8]>`-able streaming type?

[2021-06-04 11:03] HKalbasi commented on #612
Useful for https://gitlab.com/famedly/conduit/-/issues/93

[2021-06-04 11:31] ShadowJonathan commented on #609
I've done a quick command to gain some initial statistics, this is what i get on my machine (FX-6300), all crates >=10s;

[code]

[2021-06-04 11:35] jplatte commented on #612
I have only a very rough idea of how this could work in my head. It would involve making the request / response traits generic, rather than having them contain a generic method, making the raw_body request / response types generic over the raw_body type and using different bounds for their request / response trait implementations. I might be able to work on this over the weekend.

[2021-06-04 11:39] ShadowJonathan commented on #609
I think a Pro as you already mentioned is that you're targeting a monolithic crate, but i think a con to that is that you'll have to work around Features and such to determine which dependencies you'll haul with you.

Unless we get a good "featureset" discipline and the like, we'll be trading maintainance cost with developer buildtimes, i'd guess.

---

Also, why do we need to split out another `r

[2021-06-04 11:52] jplatte commented on #609
What do you mean by targeting?

I don't understand. I would actually expect that to become simpler, since we no longer have to "pass through" features from ruma to sub-crates (and we no longer suffer from [weak-dependency-features](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#weak-dependency-features) being unstable).

Oh, you know developer build times are an interesting point.

[2021-06-04 12:02] ShadowJonathan commented on #609
Only having 1 dependency, `ruma=1.0.2` andsoforth.

You'll have to maintain and know which dependencies are hauled by which features, some may even overlap eachother, and it can become a bit of a maintenance load.

Sounds good, but for reproducability, i think it should be done on a commit-basis, im currently poking at a branch (`jo/merge-crates`) to see how you could merge it in the first place.

[2021-06-04 12:06] jplatte commented on #609
But that's already the case.

I still don't see why this would be any better now than with fewer crates.

How so? I provided an ordered list of steps that should work independently, did you run into issues already?

[2021-06-04 12:19] ShadowJonathan commented on #609
I'm worried that it'll become less manageable with one crate than with a few others, but i can be wrong.

The problem is is that each of them is dependent on the previous, and im trying to give it a practical poke first to see any problems that come up with it.

[2021-06-04 12:20] johannescpk commented on #610
Will try that, thanks

I'm blackbox-testing the sdk appservice, which wraps the sdk, so can't pull types from deep within the sdk

If you feel like it's out of scope for ruma, feel free to close

[2021-06-04 12:25] jplatte commented on #609
If that helps, you could probably merge one most or all of the crates from step 4 into ruma before step 3 (the two steps should be pretty much interchangable in order).

[2021-06-04 12:39] DevinR528 commented on #447
This won't affect our msrv since the federation stuff already requires the latest stable right?

[2021-06-04 13:05] jplatte commented on #610
I don't understand what you mean / how this relates to what I wrote.

[2021-06-04 13:08] jplatte commented on #447
Well, `ruma-signatures` does, but `ruma-federation-api` doesn't. But I guess that distinction is not really relevant in practice.

[2021-06-04 13:08] jplatte commented on #447
Or maybe we could now enforce a lower MSRV for ruma-signatures since we no longer use `ring` 🤔

[2021-06-04 13:18] ShadowJonathan commented on #447
I think we should leave validation like this optional, but default "on", with `compat` we might delegate it to an opt-in validation effort ("this PDU is technically not valid") for the realities that projects like `conduit` has, where these events *do* exist in the wild, and they're not going away.

So every effort to remove checks like these (by the developer) should have big warning banners of "

[2021-06-04 13:21] johannescpk commented on #610
Could you try to explain what you meant in other words then, since I seem to not have understood you?

[2021-06-04 13:22] johannescpk commented on #610
For context, this is the test in question: https://github.com/johannescpk/matrix-rust-sdk/blob/6d46e098470d1bd984be02fca65ffd51b49c0fc3/matrix_sdk_appservice/tests/tests.rs#L54-L82

[2021-06-04 13:49] jplatte commented on #610
Right, and you want to replace

[code]

with something like

[code]

correct? What I'm saying is that now both the server you're testing and the test are using the same serialization logic. In this case that serialization logic is very simple, it's just a derived struct `Serialize`, two impls that delegate to `String` (`UserId`, `DeviceIdBox`) and serde's builtin impls. But if you were testing a m

[2021-06-04 13:52] jplatte commented on #447
Hm, that's a good point. That means we would need our own const-generic container type, if we want to be able to switch this out based on a Cargo feature but keep the API exactly the same.

[2021-06-04 13:59] johannescpk commented on #610
Thanks for the explanation

That's a fair point, tho, shouldn't that ideally be catched by tests in ruma? I can't possible replicate all logic of crates I depend on in production and in tests just because they might behave differently in the future. Catching such error is imho something for the end-to-end business case tests layer which tests API surfaces completely independent, not something on t

[2021-06-04 13:59] #610 closed, assigned to nobody

[2021-06-04 14:22] ShadowJonathan commented on #447
Also, i think that with `compat`/compatibility functionality, it'd be a good idea to keep a reminder of "be strict with what you send, but relaxed with what you receive" associated with it; help interoperability, but disallow propagation (of that behaviour).

(Should i make that a separate issue?)

[2021-06-04 14:40] jplatte commented on #447
Yeah, a separate issue for how to better handle compat stuff in general would be nice. I'm not super happy with what we have now... (it's not very clear what changes when you enable the flag)

[2021-06-04 14:42] ShadowJonathan opened #614 "Make the purpose of `compat` more explicit"
_Originally posted in https://github.com/ruma/ruma/issues/447#issuecomment-854766063_

---

A proposal: make it clear that by default `ruma` is strict to what the spec says, in how it sends *and* receives. Thus, the `compat` feature would be made to address the state of the matrix ecosystem, and allow users to **opt-in** to compatibility checks, features, and corrections when **receiving** or hand

[2021-06-04 19:50] lieuwex commented on #507
ref: https://github.com/serde-rs/json/pull/613

Noteworthy is the reference to https://source.chromium.org/gn/gn/+/master:src/base/json/json_reader.cc;l=18?q=kStackMaxDepth, which would at least be applicable for the CS API.

[2021-06-05 14:25] jplatte opened #615 "Provide conversions from &DeviceId / &ServerName to Rc<_> and Arc<_>"
Currently, it requires two allocations to copy a `&DeviceId` or `&ServerName` into an owned device ID / server name with shared ownership. We should change that by providing `From` implementations (like [this one in std](https://doc.rust-lang.org/std/sync/struct.Arc.html#impl-From%3C%26%27_%20str%3E)).

[2021-06-07 09:34] jplatte opened #617 "Docs for ruma_api! don't appear inside ruma::api"
The same is true of a few other macros I think. The reason for this is that all the docs are actually on the re-export of `ruma_api!` inside ruma-api rather than on the original definition in ruma-api-macros, to allow doctests. This runs into a rustdoc bug which results in empty docs on further re-exports.

This can be fixed in two ways (that I know of):

* The rustdoc bug gets fixed (https://gith

[2021-06-08 01:56] #329 closed, assigned to nobody

[2021-06-08 07:24] timokoesters commented on #612
If you don't want to do this in ruma, it's probably rather simple for conduit to not use ruma on that endpoint.

[2021-06-08 08:40] jplatte commented on #612
I definitely want to do this in Ruma, but don't know when I'll get to it or how hard it will be. If sbd. wants to help, let's discuss the implementation on [#ruma-dev](https://matrix.to/#/#ruma-dev:matrix.org).

[2021-06-08 12:40] jplatte opened #620 "Use new Cargo feature resolver"
We should add `resolver = "2"` to the root `Cargo.toml` at some point. Currently, even on `next` our MSRV is not high enough so we can do it, and I don't think bumping just for that makes sense (since it's not even sth. that consumers of our crates will notice), that's why I'm opening this issue instead.

Blocked on raising our MSRV to 1.51.

[2021-06-08 13:15] ShadowJonathan commented on #620
Just to note, with the new upcoming rust edition (2021), that setting will be enabled by default.

[2021-06-09 07:40] erlend-sh opened #622 "Implement MSC3440 (Threading)"
[Official MSC3440](https://github.com/matrix-org/matrix-doc/pull/3440)
[Issue in Conduit](https://gitlab.com/famedly/conduit/-/issues/96)

Necessary for forum-like apps such as [Hummingbard](https://hummingbard.com/hummingbard/introducing-hummingbard) ([repo](https://github.com/hummingbard/hummingbard)) to work. Ruma/Conduit is looking to be the easiest and most cost-effective way to self-host a M

[2021-06-09 07:53] ShadowJonathan commented on #622
That's not entirely true, Hummingbard (last i've properly looked at it) primarily needs [aggregations](https://github.com/matrix-org/matrix-doc/pull/2675) to work.

[2021-06-09 17:32] timokoesters commented on #612
Rocket's code might be worth looking at: https://api.rocket.rs/v0.5-rc/rocket/fs/struct.NamedFile.html

[2021-06-09 17:44] jplatte commented on #612
The hard part is not how to stream http bodies, the hard part is integrating this with ruma-api's request / response traits.

[2021-06-09 17:54] HKalbasi commented on #612
Is an specific stream-able type too restrictive? It should be generic?

[2021-06-09 18:23] jplatte commented on #612
I think it should be generic, so users can choose between different async `File` types or in-memory types such as `hyper::Body` / `reqwest::Body`.

[2021-06-10 17:59] #330 closed, assigned to nobody

[2021-06-12 09:27] trickster commented on #615
@jplatte

Would these changes be sufficient, or you have to update any macros?

[code]

[2021-06-12 09:52] jplatte commented on #615
Well, that's already trivially possible to do outside of Ruma. What I meant this issue to be about is converting `&DeviceId` to `Arc<DeviceId>` and so on, without the extra `Box`. These implementations should work the same way as the `&str` to `Arc<str>` impl I linked to above: First create an `Arc` of the underlying type, in this case `Arc<str>`, via `From`, then use `from_raw` + `into_raw` to co

[2021-06-12 10:39] trickster commented on #615
Is this it?

[code]

[2021-06-12 10:43] jplatte commented on #615
Almost. I was thinking of `Rc::<str>` and `s.as_str()`. Also you should be able to omit the explicit lifetime (just `impl From<&DeviceId>` instead of `impl<'a> From<&'a DeviceId>`).

[2021-06-12 10:51] trickster commented on #615
[code]

May I ask why ServerName is not `opaque_identifier!` and everything is hand-written ?

[2021-06-12 14:35] jplatte commented on #615
I always forget ServerName is different than DeviceId. The thing is that ServerName doesn't allow arbitrary strings, while DeviceId and KeyName do. So the impl above makes sense for the opaque_id macro (so it applies to both DeviceId and KeyName), but the ServerName equivalent will actually have to be a `TryFrom` implementation, not `From`, and first call `validate` (same as the existing free `try

[2021-06-13 21:31] #332 closed, assigned to nobody

[2021-06-14 03:54] trickster commented on #615
Do I make a pull for this?

[2021-06-14 06:10] jplatte commented on #615
Sure :)

[2021-06-14 09:24] trickster commented on #615
I made a pull. Thanks.

[2021-06-14 11:30] jplatte commented on #598
Done in #607.

[2021-06-14 11:30] #598 closed, assigned to ShadowJonathan

[2021-06-14 13:47] #615 closed, assigned to nobody

[2021-06-15 07:49] jplatte commented on #605
Done in f304247b0f5ff088be62fdce769ec30d3873ddf1, 955edd14e0ab3f82f8139fd23864b598877e85be.

[2021-06-15 07:49] #605 closed, assigned to jplatte

[2021-06-15 08:08] jplatte commented on #602
Done in 38093d9a6.

[2021-06-15 08:08] #602 closed, assigned to nobody

[2021-06-17 16:52] jplatte commented on #357
Done.

[2021-06-17 16:52] #357 closed, assigned to jplatte

[2021-06-17 17:08] jplatte commented on #522
It's now been renamed & hidden.

[2021-06-17 17:08] #522 closed, assigned to nobody

[2021-06-17 17:15] jplatte commented on #290
Actually, we won't need this if we implement #555.

[2021-06-17 17:15] #290 closed, assigned to nobody

[2021-06-17 17:41] jplatte opened #633 "Fail serialization of `_Custom` event enum (content) variant"
~~Three possibilities:~~ current state [below](https://github.com/ruma/ruma/issues/633#issuecomment-903259976)

* ~~Make it data-less, so custom events can still be represented but losing all data (probably combined w/ docs from last option)~~
* ~~Keep it as-is and add the same kind of API we have for `m.room.message` message types (represent content as `serde_json::Value` plus fancy API)~~
* ~~Re

[2021-06-17 17:48] ShadowJonathan commented on #633
:-1: to this, I still think it is at least worthwhile to allow any application to (potentially) build their whole array of event enums upon `_Custom`, or to allow proper custom edgecase handling with older/outdated prefixes if they so desire.

I would like to know a little more information on how that'd be possible, because afaik, `_Custom` would be *the* only way.

[2021-06-17 17:53] jplatte commented on #633
Have you looked at the link above? That should explain. The idea is you never use `AnySyncRoomEvent` (or whatever other enum type) for your own event, you check whether the `Raw<AnySyncRoomEvent>` has a `type` of `org.foo.custom` and then deserialize to `serde_json::Value` or a custom type of your own that implements `Deserialize`.

[2021-06-20 07:51] #247 closed, assigned to jplatte

[2021-06-20 09:42] jplatte commented on #243
With the client/server feature split, this doesn't make sense (would require compiling way more stuff to get access to this one endpoint). Things will stay as-is.

[2021-06-20 09:42] #243 closed, assigned to nobody

[2021-06-24 11:40] jplatte opened #643 "xtask release: Don't update changelog when the section for that version already exists"

[2021-06-24 13:23] jsparber opened #644 "Enforce at least `start` or `end` for `get_message_events::Response`"
The specs say that `start` or `end` will be set to the supplied token, based on the direction. Currently we parse responses without either `start` nor `end` as a valid response.

[2021-06-24 13:27] jplatte commented on #644
Suggested way to implement this: Add a new type (called `PaginationToken` below, suggestions welcome) with manual `Serialize` and `Deserialize` impls and use it via `#[serde(flatten)]`:

[code]

[2021-06-24 18:32] DevinR528 commented on #606
This was done in #639

[2021-06-24 18:32] #606 closed, assigned to DevinR528

[2021-06-24 21:42] jplatte opened #646 "Remove SasV1Content verification"
Currently, `SasV1ContentInit` to `SasV1Content` conversion in `key::verification::start` uses `TryFrom` instead of `From`. However, this doesn't make a lot of sense. The things that are meant to be enforced through that can be broken in two ways: `Deserialize` and just modifying the (public) fields of `SasV1Content`.

I'm skeptical about having these checks in Ruma at all. I think once new algorit

[2021-06-24 21:45] jplatte opened #647 "Replace ruma_events::InvalidInput"
Stringly-typed errors are not very nice. We're only using `InvalidInput` in one place still, and it should be pretty easy to replace with a usage-specific enums.

[2021-06-25 06:33] poljar commented on #646
Wouldn't that be circumventable via serialization as well?

I think that generally the usefulness of this will stay limited especially since no user will construct or even have to know about this type.

[2021-06-25 09:16] jplatte commented on #646
We could have a custom deserialize impl that prevents this.

What about you as a user of Ruma. I'm sure you are using this type in the SDK, no? Do you currently use `.expect("...")` on that try_from / try_into?

[2021-06-25 09:38] poljar commented on #646
I guess, though I'm not particularly convinced that it's worth the trouble.

Yeah we currently `expect()` over [here](https://github.com/matrix-org/matrix-rust-sdk/blob/master/matrix_sdk_crypto/src/verification/sas/sas_state.rs#L422).

[2021-06-25 10:02] jplatte commented on #646
That is definitely not how I expected `*Init` structs to be used 😅

Anyways, I'll remove the verification then.

[2021-06-25 13:41] jplatte commented on #646
Done.

[2021-06-25 13:41] #646 closed, assigned to nobody

[2021-06-27 11:18] iinuwa commented on #517
Done in #640.

[2021-06-27 11:18] #517 closed, assigned to nobody

[2021-06-27 19:33] #333 closed, assigned to nobody

[2021-07-02 12:38] DevinR528 commented on #221
PR https://github.com/rust-lang/rust/pull/86809 which will make `non_exhaustive` much nicer IMHO.

Major Change Proposal https://github.com/rust-lang/compiler-team/issues/445#issuecomment-877524509

[2021-07-02 22:33] jplatte commented on #647
Done.

[2021-07-02 22:33] #647 closed, assigned to jplatte

[2021-07-03 16:26] jplatte commented on #592
Done! https://github.com/ruma/docs.ruma.io

[2021-07-03 16:26] #592 closed, assigned to jplatte

[2021-07-03 21:23] jplatte commented on #611
Done. c9c536ed0b4f0f7c256a9dab63f34f577503062c

[2021-07-03 21:23] #611 closed, assigned to jplatte

[2021-07-04 16:38] #450 closed, assigned to nobody

[2021-07-05 14:57] #479 closed, assigned to nobody

[2021-07-08 11:11] phesch opened #665 "Power level events in initial_state are not required to have state_keys"
In discussion over on [mautrix-telegram](https://github.com/tulir/mautrix-telegram/issues/640), tulir noted that according to the matrix specification, events in `initial_state` at the `POST /_matrix/client/r0/createRoom` endpoint are not required to have `state_key`s.

In particular, this includes power level events, which are currently rejected in `ruma-state-res/src/event_auth.rs` (through a pa

[2021-07-08 11:42] DevinR528 commented on #665
While the problem could be fixed in ruma-state-res (and panicking should be removed in favor of just bailing out with an `Error`) [this in conduit](https://gitlab.com/famedly/conduit/-/blob/master/src/client_server/room.rs#L217) seems more likely since it goes through another ser/de cycle and loses the `#[serde(default)]` attribute that the [`AnyInitialStateEvent`](https://github.com/ruma/ruma/blo

[2021-07-08 11:53] timokoesters commented on #665
Yeah all state events need to have a state key. That's what makes them state events. Initial_state makes them optional because all of them are state events. It should default to "". It should not be an Option in ruma's initialstateevent type

[2021-07-08 11:54] timokoesters commented on #665
https://github.com/ruma/ruma/blob/a59c43321f28d47a5e50a060945a93afd189ee81/crates/ruma-events/src/event_kinds.rs#L239

It looks like that's how it works already

[2021-07-08 11:56] DevinR528 commented on #665
It's because of conduits `PduBuilder` that the field gets set to `None`. It deserializes it from a `Raw<AnyInitaialStateEvent>` here https://gitlab.com/famedly/conduit/-/blob/master/src/client_server/room.rs#L217 and it loses the default value here https://gitlab.com/famedly/conduit/-/blob/master/src/pdu.rs#L346

[2021-07-08 11:57] timokoesters commented on #665
Ah I understand. This is a conduit bug, we could fix it by implementing `From<InitialStateEvent>` for pdubuilder

[2021-07-08 14:47] jplatte commented on #665
I don't really get what's wrong in Conduit from the comments so far but either way it seems clear there is no bug in Ruma involved. Closing.

[2021-07-08 14:47] #665 closed, assigned to nobody

[2021-07-15 12:14] timokoesters commented on #159
The PublicRoomsChunk struct in ruma-common/src/directory.rs also needs to be changed

[2021-07-15 12:16] timokoesters commented on #159
And RoomName should allow .to_string() or .as_str()

[2021-07-15 21:27] jplatte commented on #159
Yes, definitely should wrap `String` / `str` / `Box<str>` and provide an `as_str()` / `impl AsRef<str>`; `to_string()` too via `impl Display`.

[2021-07-16 11:20] timokoesters opened #672 "xyz.amorgan.blurhash is not marked as optional"
https://github.com/ruma/ruma/blob/c29c2b16ec114fa655e2b70bdd53c82e35859005/crates/ruma-client-api/src/r0/media/create_content.rs#L38

This should default to false if not present

[2021-07-16 11:24] jplatte commented on #672
Just needs a `serde(default)` attribute.

[2021-07-18 17:29] Frinksy commented on #159
Since `ruma-common` does not depend on `ruma-events`, would it make sense to move the new `RoomName` type to `ruma-identifiers`?

[2021-07-18 18:05] timokoesters commented on #672
Do you also want to skip serializing if false? I think that would be `skip_serializing_if = "ruma_serde::is_default",
` ?

[2021-07-19 05:48] #672 closed, assigned to timokoesters

[2021-07-19 05:49] jplatte commented on #159
Yes, sounds good 👍

[2021-07-20 10:35] #159 closed, assigned to nobody

[2021-07-26 11:28] poljar opened #679 "The EncryptedEventContent puts the new content for the replacement in the plaintext part of the content."
The [EncryptedEventContent] reuses the `Replacement` struct for the  `m.room.message` type This type, since relatively recently, bundles the values from the `m.new_content` and the `m.relates_to` fields into one convenient package.

Sadly the separation of the `m.new_content` and the `m.relates_to` field is necessary for the `m.new_content` to stay hidden in an encrypted room.

Since the deseriali

[2021-07-26 12:05] jplatte commented on #679
WIP fix here: https://github.com/ruma/ruma/compare/fix-encrypted-replacement

If not a problem for the SDK, I'd like to merge this to main and release it in a point release (ignoring the semver break since it can only be observed with `unstable-pre-spec` enabled).

[2021-07-26 12:54] poljar commented on #679
Can confirm, compilation isn't broken and the relation gets now properly deserialized so we can copy it to the decrypted event, we're also not leaking anymore the new body.

I'll also add a test to the SDK so we don't break this accidentally again.

Thanks for the quick fix.

[2021-07-26 13:07] jplatte commented on #679
Fix pushed to main and released as part of [ruma-events 0.23.3](https://github.com/ruma/ruma/releases/tag/ruma-events-0.23.3).

[2021-07-26 13:07] #679 closed, assigned to jplatte

[2021-07-27 09:30] jplatte opened #680 "Provide more Raw conversion extension traits"
These would likely be nice to have, to avoid going to the more error-prone `.cast()` / `.cast_ref()`:

[code]

They could also be much more efficient than their naive downstream implementations – in particular stripping the `room_id` from a `Raw<SomeEvent>` could be done through string manipulation alone (though that seems like a somewhat dirty thing we should only do if we need to).

[2021-07-31 09:37] jplatte opened #683 "New crate: ruma-server-util"
There's a new web framework, and I love the way it works! I want to provide an integration crate for it and Ruma, but currently don't have a computer nearby so I'm writing down notes on my phone instead...

[2021-07-31 09:41] ShadowJonathan commented on #683
https://docs.rs/axum/0.1.1/axum/extract/trait.FromRequest.html and https://docs.rs/axum/0.1.1/axum/response/trait.IntoResponse.html, simply implementing both behind a feature flag would make ruma incredibly easy to work with for axum.

I think it shouldn’t be a seperate crate, because you can’t implement a trait for a type when both are from a different crate, so maybe they should be in the same c

[2021-07-31 10:40] jplatte commented on #683
After looking at the API for a bit, I think a reasonable first thing to add might be an extractor generic over an incoming request type from Ruma which uses the `http::Request<hyper::Body>` extractor implementation and then tries to convert that.

[2021-07-31 10:55] jplatte commented on #683
Right, we could also sidestep the extra type, maybe that makes things easier for users.

[2021-07-31 11:01] jplatte commented on #683
I think if one wants to implement a HS with axum a problematic thing might be the http request extraction stopping other extractors from also capturing parts of the request. I guess this would force authentication to be in a middleware that leaves the request intact, or auth header / query parameter extraction to be done as part of our other extraction code (which would likely mean having a generi

[2021-08-02 15:27] jplatte opened #684 "send_join v1 serialization seems to be broken"
See #681.

[2021-08-06 09:37] Frinksy opened #686 "Add support for variable account data type names"
[MSC1946](https://github.com/matrix-org/matrix-doc/blob/master/proposals/1946-secure_server-side_storage.md) introduced new events types. It is also now part of the unstable spec, [here](https://spec.matrix.org/unstable/client-server-api/#secrets).
One of the new events is of type `m.secret_storage.[key_ID]` where `[key_ID]` is to be substituted by the ID of the key to store.
This means that there

[2021-08-07 00:50] DevinR528 commented on #221
PR https://github.com/rust-lang/rust-clippy/pull/7543 for the mod.rs ban.

[2021-08-09 23:05] jplatte opened #690 "Remove CustomEvent"
There is no reason to keep CustomEvent around, it's basically superseded by users being able to derive `EventContent` for their own event content structs. This needs to be documented before deprecating `CustomEvent(Content)` though.

[2021-08-11 14:58] #555 closed, assigned to jplatte

[2021-08-11 16:03] jplatte opened #692 "Split EncryptedEventContent into two types"
… and disallow multiple `kind`s on event content types.

The to-device event content shouldn't have a `relates_to` field.

[2021-08-11 18:13] jplatte commented on #692
Done in b2b8265de.

[2021-08-11 18:13] #692 closed, assigned to jplatte

[2021-08-12 16:07] Frinksy commented on #511
Since #663 is now done, should this be closed?

[2021-08-12 16:19] jplatte commented on #511
Right. I always forget to do this if it's not done manually 😄

[2021-08-15 07:13] ShadowJonathan commented on #690
I think it's at least still helpful to have a catch-all around, even if it's for debugging purposes, that way someone could at least figure out that their event type id is missing the last dot, or something.

Fallbacks are also useful for if you're potentially encountering a ton of types, and/or you want to coerce data from ruma to something from another crate, so I think *something* like this sho

[2021-08-15 07:16] ShadowJonathan commented on #625
Should we try to make a torture test for stateres? Something like the most convoluted and tangled forked DAG being resolved.

[2021-08-15 07:28] ShadowJonathan opened #695 "Expand error for InvalidMxcUri"
While I was looking at the [MXC URI validation](https://github.com/ruma/ruma/blob/f954865d4d530dc5e8762c2412d2209381e44047/crates/ruma-identifiers-validation/src/mxc_uri.rs) file, I noticed that for all four error conditions, the same error enum is returned.

Personally, I'd like for the additional reasons why something is an invalid Uri to also be returned, maybe a zero-sized enum, but at least s

[2021-08-15 10:31] jplatte commented on #690
For debugging purposes one could just print the raw JSON of the event, no?

Can you give some examples for the kinds of use cases you're thinking of?

[2021-08-15 10:34] jplatte commented on #132
One of the hardest parts of this might be replacing the current usages of `serde_json::value::RawValue` with an equivalent type for CBOR, if (de)serializing with `serde_cbor`. It doesn't seem like `serde_cbor` currently even provides an equivalent type. I suppose `serde_cbor::Value` could be used for the same things, though that would likely perform worse than our current JSON code.

[2021-08-15 10:49] ShadowJonathan commented on #132
Would serialising/deserialising to a generic "object" value work? Or would that add loads of overhead for no particular good reason?

[2021-08-15 10:54] jplatte commented on #132
That's exactly what `serde_cbor::Value` is, and it does lots of small allocations when used on nested objects / arrays. `serde_json::value::RawValue` instead just captures part of the input as-is, copying that part of the JSON string (or even borrowing it, though that only works when deserializing from a string or slice, not from a `serde_json::Value` or an `io::Reader`).

[2021-08-15 10:58] jplatte commented on #695
You just want additional variants for `ruma_identifiers::Error` here, right? Not a separate error type for MXC URI parsing?

[2021-08-15 10:58] ShadowJonathan commented on #690
I didn't know that was still possible then, I thought that'd be obscured from the developer.

Ingesting and converting a room full of arbitrary or old "legacy" types, think a prototype which has very finicky internals, and/or plays around with event types by embedding some of the data into it (I've seen one or two widgets do this), in short; be able to receive a "Untyped" event, to then convert ma

[2021-08-15 11:04] ShadowJonathan commented on #695
No additional variants, but a new error zero-sized error enum that InvalidMxcUri captures;

[code]

[code]

That's the approach I'm thinking about

Edit: I'm mainly thinking from a `thiserror` pattern, which allows encapsulating errors within other errors to produce rich deep-drills, though maybe that wouldn't fit here(?)

[2021-08-15 11:12] jplatte commented on #695
That enum is not zero-sized, and it's a breaking change to add a field to the `InvalidMxcUri` variant. Otherwise looks good though. I guess the question is: Do you need this soon? Then it would have to be variants directly inside `Error`, since that can be added backwards-compatibly (with the option to restructure with the next release).

[2021-08-15 11:17] ShadowJonathan commented on #695
No, I'm mostly filing this issue for the sake of correctness, to have it at least be known.

Would it be a problem to change this enum variant to one with a field later on? Would it be possible to do on minor releases? (`next`?)

[2021-08-15 11:21] jplatte commented on #690
You're talking about custom events here though, no? How would you find these, if not by checking the event type?

I'm not sure keeping `CustomEvent` around for such a niche use case would be worth it.

https://docs.rs/ruma/0.3.0/ruma/serde/struct.Raw.html#method.json

[2021-08-15 11:22] jplatte commented on #695
No, not a problem as long as it's in a breaking-change release. Feel free to open a PR against `next`.

[2021-08-15 12:43] DevinR528 commented on #625
Yeah, that was one of the ideas, or randomly generating a good DAG from a seed. Either way this would give us a great benchmark and test.

[2021-08-15 18:41] #331 closed, assigned to nobody

[2021-08-15 20:15] poljar opened #696 "Serializing requests is broken for some requests"
The serialization for some requests is broken on the latest release (ruma-api 0.18.1) and on lastet main.

Sending a message with the request `/rooms/$room_id/` ends up adding the content to a `body` object:
[code]

Instead of just adding the content:

[code]

Filters seem to be also affected, where we end up having a `filter` top level object:
[code]

Instead of having only the filter definition

[2021-08-15 20:20] iinuwa commented on #696
#684 is probably related

[2021-08-15 20:21] jplatte commented on #696
I don't think it is – that issue was opened before 696c9fba4ee6acf589c46854ea0a1456e2277426 was merged.

[2021-08-15 20:23] ShadowJonathan opened #697 "Enable auto-merge upon approval + CI pass?"
Do we have a reliable enough CI to allow auto-merge on approval?

Personally, I think it'd be fancy to allow something like; all code-owners to approve a PR in their own time, and then CI runs to completion (and success) before everything merges. Though I don't know if there's an explicit need or want to move to a workflow like this.

[2021-08-15 20:27] jplatte commented on #696
I'll look into this tomorrow. Looks like `ruma_api(body)` is now being handled in a different, wrong way.

[2021-08-15 20:29] jplatte commented on #697
This is already possible, maintainers can enable auto-merge after CI succeeds (separate from review).

Recent instance of me using this feature: https://github.com/ruma/ruma/pull/677#event-5156198069

[2021-08-15 20:29] #697 closed, assigned to nobody

[2021-08-15 20:33] ShadowJonathan commented on #697
Thanks, I didn't catch that one

[2021-08-16 20:23] jplatte commented on #696
Fixed in eab96c7808841ce8a2006829f63e9acbcfe1ea61 / ruma-api 0.18.2.

[2021-08-16 20:23] #696 closed, assigned to nobody

[2021-08-16 22:03] jplatte opened #698 "Add SyncFooEvent type aliases"
The sync message and state events are used much more often than the non-sync variants, yet we type aliases for the latter but not the former. We should introduce aliases such as `SyncTopicEvent`, `SyncNameEvent`, `SyncEncryptedEvent` and so on.

[2021-08-16 22:33] jplatte commented on #684
Fixed, likely by 96ab1674afc7fbf447cbe4a5094c56f3b8a7ffd2.

[2021-08-16 22:33] #684 closed, assigned to nobody

[2021-08-16 22:46] jplatte commented on #614
This is actually worded too strictly: When it comes to events (PDUs), to meaningfully be compatible with other buggy implementations, this data *has to be* propagated. The `prev_content`-in-unsigned workaround is an example.

[2021-08-17 09:57] ShadowJonathan commented on #614
PDUs are immutable anyways, i think the wording is still okayish, as i'm just mainly referring to *generating* data that way. (though, lemme add that...)

[2021-08-17 11:14] ShadowJonathan opened #700 "Switch to using `rust-toolchain.toml`"
`rust-toolchain` looks to be sorta-sorta deprecated, or at least `rust-toolchain.toml` is recommended to be used now;

https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file

[2021-08-17 13:30] #700 closed, assigned to nobody

[2021-08-17 15:44] #245 closed, assigned to nobody

[2021-08-18 09:49] jplatte commented on #695
Done in #699.

[2021-08-18 09:49] #695 closed, assigned to ShadowJonathan

[2021-08-18 10:50] ShadowJonathan commented on #695
weird that didnt close it 🤔

[2021-08-18 16:02] jplatte opened #702 "Empty key version is reported as empty room version"
Here: https://github.com/ruma/ruma/blob/d7462442415320a76320da4cf778f3c8f08f3b09/crates/ruma-identifiers-validation/src/key_id.rs#L16

Not sure whether we should just add a new error code or clean up in some way.

[2021-08-18 16:36] jplatte opened #703 "Allow arbitrary incoming attributes, not just derives in Incoming derive macro"
I just added a `doc(hidden)` type (`uiaa::CustomAuthData`) to `ruma-client-api` that derives `Outgoing` and noticed that the generated incoming type didn't automatically get the same attribute. While that might be hard to fix, it should be easy enough to generalize `#[incoming_derive(Foo)]` to `#[incoming(derive(Foo))]` such that `#[incoming(doc(hidden))]` works too.

Not sure whether `#[incoming_

[2021-08-18 19:54] DevinR528 commented on #703
I vote for this also. `#[incoming(derive(!Deserialize))]` would have to be parsed for the negation though right?

[2021-08-18 20:03] jplatte commented on #703
Yeah either that or we don't support `#[incoming(derive(!Deserialize))]` and (re-)introduce a separate attribute for opting out of that default.

[2021-08-19 21:47] iinuwa commented on #633
Unfortunately, I don't think I have enough context to weigh in much here. Generally, I think it'd be nice to be able to treat custom events "naturally"; that is, I think it'd be nice for custom events to be accessed the same way as normal events, if possible.
But I haven't actually tried to use the event APIs very much, and I don't know the limitations, so I can't really evaluate this very much at

[2021-08-20 12:14] jplatte opened #706 "Refactor API: Expose RequestBody / ResponseBody"
Idea: Replace the (generic) byte buffer in `http::Request<{}>` / `http::Response<{}>` used for the api traits with `RequestBody` / `ResponseBody` types currently generated as private types as part of the derive macros for `Request` and `Response` *unless a raw body is required* (media endpoints).

Would be a first step towards #132 / "proper" low-bandwidth support.

Not marked as help-wanted for n

[2021-08-20 12:16] ShadowJonathan commented on #706
Copy from room;

Maybe we don’t have to make all RequestBody’s public, but do something like
[code]
basically erasing the type?

This is possible, because you don’t have to box dynamic dispatch when it’s function parameters

Then you can just do something like;
[code]

Edit: though this will only work for serialisation, and @jplatte said they wanna make the API more consolidated

[2021-08-20 21:20] iinuwa commented on #702
The line below that one is also wrong: according to the doc comment on that variant. InvalidKeyVersion already exists though.

[2021-08-21 23:34] jplatte opened #707 "Deserialization should handled `null` the same way as an absent field everywhere"
We have a lot of non-`Option` fields with a `#[serde(default)]` attribute, which sets a fallback to use when the field is absent. This same fallback should be used when encountering a `null` but it is not.

Unless we introduce more proc-macro magic or switch to a different (de)serialization library entirely, the only solution I know to this is adding `#[serde(deserialize_with)]` attributes in addi

[2021-08-22 10:35] ShadowJonathan commented on #707
`null` is equal to removing the key? I remember there being debate about this in the spec repo, but i cant remember the outcome exactly, wasn't it that `null` != removed? If so, technically we shouldn't have to handle it at all, because it'd be illegal.

If we do handle it, it should be under `compat`

[2021-08-22 11:03] jplatte commented on #707
Whaaat? I was so certain that this was required for correctness, but it appears that you're right: https://github.com/matrix-org/matrix-doc/issues/2011.

Will close this 🥳

[2021-08-22 11:03] #707 closed, assigned to nobody

[2021-08-22 11:34] jplatte commented on #633
Okay, I'll go with the first option then, which will not impact the user-visible API at all and not result in deserialization suddenly failing for custom / unknown events. The only effects it will have is (1) improving performance for custom / unknown events and (2) making deserialize + serialize roundtrips even more lossy than they already are (which is a good think in my opinion).

[2021-08-22 11:55] ShadowJonathan commented on #633
I disagree, it might result in a bunch of footgun situations

[2021-08-22 12:04] jplatte commented on #633
I'd rather break the old, indirect support for unknown and custom events once and for all now that we have a much better alternative. If I didn't do this, there would be constant stream of small changes in behavior with every new event type added.

First part of this is now done: https://github.com/ruma/ruma/commit/77cf085ab9138ddf5008725b29bd4fa04963f933

Next need to update the event enums to st

[2021-08-22 12:15] jplatte commented on #633
So I just added a `#[serde(skip)]` attribute after realizing serde would now serialize `_Custom` content as `{ "event_type": "<event type>" }`. But then I had a much better idea: We can just make serialization of a `_Custom` content raise an error (since serialization, same as deserialization, is fallible in serde)!

Since there is no way to create `_Custom` outside of `Deserialize`, this will bre

[2021-08-26 10:42] jplatte opened #708 "Implement MSC3231: Token authenticated registration"
MSC: https://github.com/matrix-org/matrix-doc/pull/3231

[2021-08-27 07:58] timokoesters commented on #511
Some endpoints don't have the reason field yet:
- join_room_by_id
- join_room_by_id_or_alias
- invite_user
- unban_user

They are required because of:
https://github.com/matrix-org/matrix-doc/blob/erikj/invite_reject_reasons/proposals/2367-membership-reasons.md

[2021-08-27 07:59] jplatte commented on #511
That's a different MSC though.

[2021-08-27 07:59] #511 closed, assigned to nobody

[2021-08-27 08:00] jplatte opened #710 "Implement MSC2367: Allowing Reasons in all Membership Events"
MSC text: https://github.com/matrix-org/matrix-doc/blob/master/proposals/2367-membership-reasons.md
Spec PR: https://github.com/matrix-org/matrix-doc/pull/2795

Some endpoints don't have the reason field yet:

- join_room_by_id
- join_room_by_id_or_alias
- invite_user
- unban_user

_Originally posted by @timokoesters in https://github.com/ruma/ruma/issues/511#issuecomment-907006948_

[2021-08-27 08:07] jplatte commented on #710
Updated docs on the reason field in MemberEventContent, now we really just need to add the field to the endpoints: c13737af044097024af217a64cf4420cd18d41ef

[2021-08-30 09:41] jplatte commented on #584
Can't find `if required` in comments anymore, they've probably all  been rewritten.

[2021-08-30 09:41] #584 closed, assigned to nobody

[2021-08-30 11:35] jplatte commented on #22
Closing under the assumption that this now works, if it doesn't please open an issue with details on how it fails.

[2021-08-30 11:35] #22 closed, assigned to ShadowJonathan

[2021-08-30 11:37] jplatte commented on #385
cc @poljar, how's your experience been w.r.t. having to write extra plumbing code to convert between owned / borrowed forms of the same data?

[2021-08-30 11:54] jplatte commented on #417
cc @poljar I think we discussed this before, but clearly not here. What are your current thoughs about making all `UserId`, `RoomId`, ... DSTs such that you would have to `Box` them when wanting to own one? This would have the advantage of `&SomeId` ... no longer being a double indirection and things `Arc<SomeId>` being much more idiomatic too. Annoyingly, creating `Arc<SomeId>` from `Box<SomeId>`

[2021-08-30 15:19] DevinR528 commented on #417
Just for the record, I'm for this, it would make the recent stated-res changes nicer https://github.com/ruma/ruma/pull/709

[2021-08-30 15:27] govynnus commented on #708
I'm the MSC author, and I'm interested in trying to implement it in ruma. However, I've never worked on ruma or a rust project before, and I don't have a lot of time at the moment.

[2021-08-30 15:51] jplatte commented on #708
Sure, so you should probably start with reading the [contributing guide](https://github.com/ruma/ruma/blob/main/CONTRIBUTING.md) which contains some general instructions and hints about contributing to Ruma.

What's not in there is that all new code for unstable features (things not in the spec yet) needs to be "feature-gated", that is please add the attributes

[code]

to all items you add. This

[2021-08-30 15:53] govynnus commented on #708
Ok, I'm unsure when I'll get to this, but thanks for the pointers! :D

[2021-09-02 10:25] poljar commented on #417
I guess I'm not totally against this, considering that I do put some identifiers behind an `Arc` already. How would that work with events when you deserialize stuff? What type would the event id have in that case?

[2021-09-02 10:28] poljar commented on #385
While it is a bit annoying to have those extra custom types, it isn't the end of the world.

The rust-sdk has a method which returns outgoing requests, i.e. requests that you need to send out for crypto to work. I don't expect many projects to work in this way, so most projects wouldn't probably need those custom owned types.

[2021-09-02 10:37] jplatte commented on #417
Those would most likely be boxed, like server names already are in a few places.

[2021-09-02 14:10] poljar commented on #417
I think that's fine, nothing against that change.

[2021-09-15 10:07] jplatte commented on #708
Hi @govynnus, I was asked about this today, do you now have an idea of when you might get to it?

[2021-09-15 12:19] govynnus commented on #708
Hi @jplatte, I was going to say I'm a bit busy at the moment, but it turned out I have some time today so I've made a start. From following the existing code I think I'm on the right track, although I'm fumblimg a bit through some of the rust syntax :-)

I'll push what I've done later.

[2021-09-15 18:33] jplatte opened #718 "Add unstable support for room version 7, 8 and 9"
Version 7: https://spec.matrix.org/unstable/rooms/v7/
Version 8: https://github.com/matrix-org/matrix-doc/pull/3289
Version 9: https://github.com/matrix-org/matrix-doc/pull/3375

[2021-09-17 10:20] poljar opened #720 "MessageEventContent should have a way to access the body"
Events of the type `m.room.message` have the `msgtype` and `body` fields marked as [required](https://spec.matrix.org/unstable/client-server-api/#mroommessage). It is a bit unergonomic for bots that only want to log all `m.room.message` events to have to destructure the `MessageType` enum considering that every type must have a body.

Adding a simple getter method to the enum is possible but sabot

[2021-09-17 17:09] jplatte commented on #720
Fixed in 4ec9f1aa035027a31ece175b908b56b4c40102b0. It's a breaking change so might take a while to go out into a release.

[2021-09-17 17:09] #720 closed, assigned to jplatte

[2021-09-17 17:21] poljar commented on #720
Thanks.

[2021-09-21 16:36] jplatte commented on #708
Ping @govynnus

[2021-09-21 18:02] govynnus commented on #708
Hi and sorry it's taken me a while, been moving to university the past week or so.
What I've done so far is in #722 but that doesn't include the validity checking endpoint and I'm not sure I got the unstable attributes right.

[2021-09-23 13:58] jplatte opened #725 "ruma_api! docs don't mention client and server features"
This makes using the macro from external crates super confusing.

[2021-09-23 14:00] jplatte opened #726 "Use an enum for uiaa::AuthFlow#stages"

[2021-09-23 16:05] jplatte commented on #726
Done: a7be60d9ebeadff934c62945c5ba251d523ecca1

[2021-09-23 16:05] #726 closed, assigned to jplatte

[2021-09-23 16:18] #710 closed, assigned to nobody

[2021-09-27 15:40] jplatte opened #729 "Use newtype variants for session::login::LoginInfo"
Currently, adding a new field to one of the variants (even if optional), is a breaking change because the variants themselves are not non-exhaustive. We should use the pattern of newtype variants with an inner struct here, the same way we do in a lot of other places.

[2021-09-28 09:23] #729 closed, assigned to nobody

[2021-09-29 12:03] jplatte opened #732 "Move account data types out of events"
Account data doesn't really have anything to do with events, even if the spec currently calls it that. See also https://github.com/matrix-org/matrix-doc/issues/3405.

[2021-09-29 23:18] jplatte commented on #698
Done in #733.

[2021-09-29 23:18] #698 closed, assigned to jplatte

[2021-10-01 16:52] jplatte opened #736 "Get rid of redaction special-casing if possible"
We should investigate whether all of the special casing of redaction events in `ruma-events-macros` is really necessary.

[2021-10-01 17:51] jplatte commented on #736
Seems like I might do this myself as part of some ongoing ruma-events work.

[2021-10-01 18:27] jplatte commented on #736
Done in 8df746d442a75168bbc723dffab9a6e5d638212a, 7b09e1b0fa427f7fb7d8f0641ba43b6dcd2e4b1b.

[2021-10-01 18:27] #736 closed, assigned to nobody

[2021-10-01 18:32] jplatte opened #737 "Include all event type segments in struct and type alias names"
Currently, our event Rust types in `ruma-events` are named `foo::bar::BarEvent` / `foo::bar::BarEventContent`. For `room::message` this is problematic since `MessageEvent` and `MessageEventContent` are also used for the more general concept of message events (which encompasses more than just `m.room.message` events). Also, some types are rather unclear when imported, e.g. `AnswerEvent` from `call:

[2021-10-02 19:25] jplatte commented on #737
Done in 04080085f9bcf03ab652924cad8afb62b1babf27.

[2021-10-02 19:25] #737 closed, assigned to jplatte

[2021-10-03 11:09] jplatte commented on #718
Room version declarations added in cb78a7f3416960fdf0fe8348235665e4791fd4cd. I think the remainder of the work is all in state-res.

[2021-10-03 11:42] jplatte commented on #579
ping @poljar @iinuwa @DevinR528 wdyt?

[2021-10-03 19:03] DevinR528 commented on #579
I'm all for getting rid of the `AnyPossiblyRedacted*` enums. For the second bullet point are you saying we are using `AnyStateEvent` when we should be using `AnyRoomEvent` (for the redacted variants?)? As long as we do that we can remove the `AnyPossible*` enums without breaking ser/de (although it sounds like it is "broken" now [example](https://github.com/DevinR528/ruma/blob/807a6bfddf54a091e9cd

[2021-10-03 19:08] DevinR528 commented on #718
Does this mean we need to actually figure out how to support multiple room versions for real :cry: I can work on this in the next few days hopefully. Should I create a separate issue for this for state-res?

[2021-10-03 19:44] jplatte commented on #718
Wdym by this? Aren't other room versions already supported partially (i.e. everything except allowing non-canonical JSON)?

Nice 👍🏼

No, let's use this one.

[2021-10-04 17:29] DevinR528 commented on #718
As far as state-res goes yeah, this is correct, so basically ignore what I said.

[2021-10-05 08:06] jplatte commented on #732
Since a lot of macro code from ruma-events-macros is still useful for these types, maybe the should just be renamed as a first step.

[2021-10-06 21:03] jplatte commented on #576
Fixed by c14a0edf1, though the redacted enums will almost certainly be removed anyways.

[2021-10-06 21:03] #576 closed, assigned to nobody

[2021-10-06 22:25] jplatte commented on #579
Well, we can't just remove them all. I named one that doesn't need to exist, but the other ones kind of do. But I think what doesn't need to exist is message / state event enums *without* redacted events. So my current thinking is that we should probably get rid of the current `enum AnyPossiblyRedacted* { NotRedacted(NotRedactedEnum), Redacted(RedactedEnum) }` in favor of including `RedactedRoomNa

[2021-10-15 10:38] jplatte commented on #475
In progress on the [base64](https://github.com/ruma/ruma/tree/base64) branch.

[2021-10-18 04:19] github-actions[bot] opened #741 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.43`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2021-10-18 17:07] jplatte commented on #741
This (only) affects our crates that depend on tracing. Blocked on https://github.com/tokio-rs/tracing/issues/1598.

[2021-10-19 23:59] jplatte opened #745 "Path variable extraction is brittle"
The way we currently handle variables in the request path is very brittle and can break easily. For instance, extra `/`es at the start will break it. We should improve the parsing and/or allow the web server to pass the extracted variables into request deserialization. The latter would generally be preferable because then the router which also determines routing matches in the first place will the

[2021-10-20 00:05] jplatte opened #746 "Provide conversion function from ruma_api::error::FromHttpRequestError to ruma_client_api::Error"
I think there should be a clear mapping between the errors in ruma-api and client-api errors defined by the spec. ~~We'll have to keep a small part of this feature in ruma-api to be able to do exhaustive matching on the enums involved, but that should probably be `#[doc(hidden)]` and only exposed through ruma-client-api.~~ Let's use the [`non_exhaustive_omitted_patterns` lint](https://github.com/r

[2021-10-23 10:42] Poolitzer commented on #552
Hey I can give that a shot, have already done it in multiple repos.

Imo an untriaged label would be clearer than an if no label, at least for newcomers.

[2021-10-23 22:45] jplatte commented on #552
@Poolitzer please send a PR :)

Just created an `untriaged` label.

[2021-10-25 04:19] github-actions[bot] opened #747 "RUSTSEC-2020-0159: Potential segfault in `localtime_r` invocations"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `chrono`                      |
| Version             | `0.4.19`                   |
| URL                 | [https://github.com/chronotope/chrono/issues/499](https://github.com/chronotope/chrono/issues/499) |
| Date

[2021-10-25 12:27] jplatte commented on #747
Pretty much equivalent to #741.

[2021-10-27 08:36] #552 closed, assigned to nobody

[2021-10-29 20:23] #221 closed, assigned to DevinR528

[2021-10-29 20:56] jplatte commented on #746
I guess this would already be the entirety of what we can provide, mapping:

* deserialization > json > `.is_syntax() == true` => `M_NOT_JSON`
* deserialization > json > `.is_syntax() == false` => `M_BAD_JSON`
* deserialization > non-json => `M_INVALID_PARAM`
* method mismatch => `M_UNKNOWN`

Suggestions for different mappings welcome.

[2021-10-29 22:48] DevinR528 commented on #221
# :tada:

[2021-10-31 00:26] Houkime commented on #746
so, my first try at this is this
[code]

How would i test it robustly?

[2021-10-31 00:32] Houkime commented on #746
Maybe one can also have a more detailed message from serde errors so that info passes through.
Since the original serde error is available, that is.

[2021-10-31 16:06] Houkime commented on #746
In the PR, i provided a simple test.

[2021-11-04 22:24] nekrondev opened #753 "[APNS] missing default_payload PusherData key results in notification being dropped"
**Describe the bug**
When registering a push gateway from Element iOS some additional but needed `default_payload` device settings are submitted. However these settings are ignored by PushData struct resulting in missing notifications for E2EE encrypted rooms (the `device_payload` data is telling the Apple APN to wake up the phone so that encrypted messages can be polled and device decides what to

[2021-11-05 00:38] DevinR528 commented on #753
Is that field not spec'ed https://matrix.org/docs/spec/client_server/r0.6.1#post-matrix-client-r0-pushers-set? If it's the case that it is not `default_payload` field could probably be added under the `unstable-pre-spec` or `compat` feature. Or maybe adding a `BTreeMap` to collect extra fields if each push notification platform has their own special stuff that can be sent, although this seems to n

[2021-11-05 08:43] ShadowJonathan commented on #753
Relevant points seem to be [here](https://github.com/ruma/ruma/blob/e7302c914a3fb87b81ac8ddfb47724e9f89aefbd/crates/ruma-client-api/src/r0/push/set_pusher.rs#L56), [here](https://github.com/ruma/ruma/blob/b3af33f1fc6942e3804b4c7ef3bde46d6e7be019/crates/ruma-common/src/push.rs#L394) and [here](https://github.com/ruma/ruma/blob/b3af33f1fc6942e3804b4c7ef3bde46d6e7be019/crates/ruma-common/src/push.rs#

[2021-11-05 09:43] ShadowJonathan commented on #753
I'm also not sure if this issue affects the push data crate, so if someone could also figure that out, that'd be neat.

[2021-11-05 11:38] jplatte commented on #753
The field would have to be part of `PusherData` in ruma-common, no need to update any other crates. Though it seems there's also some unnecessary `Option` nesting here. I'll fix that.

[2021-11-05 11:45] jplatte commented on #753
Well at least this is documented *somewhere*. Opened a spec issue though: https://github.com/matrix-org/matrix-doc/issues/3474

[2021-11-05 11:49] jplatte commented on #753
Fixed in 103b9df6c2a0cac02a268712cfab1a6a4bac4877.

[2021-11-05 11:49] #753 closed, assigned to jplatte

[2021-11-05 11:59] jplatte opened #754 "push-gateway-api should not use PusherData type from ruma-common"
The `PusherData` type in ruma-common contains a `url` field, but the `push-gateway-api` docs explicitly state that that's not part of the object used in that API.

We should copy over that type without the `url` field, and potentially provide an `impl From<ruma_common::push::PusherData> for PusherData` in ruma-push-gateway-api.

[2021-11-09 03:09] jblachly opened #756 "Duplicated API endpoint: POST /_matrix/client/r0/account/3pid/email/requestToken"
Code defining Request/Response metadata for `POST /_matrix/client/r0/account/3pid/email/requestToken` is duplicated:

https://github.com/ruma/ruma/blob/main/crates/ruma-client-api/src/r0/account/request_3pid_management_token_via_email.rs

https://github.com/ruma/ruma/blob/main/crates/ruma-client-api/src/r0/contact/request_contact_verification_token.rs

Comparing these at a project structural level

[2021-11-09 10:14] jplatte commented on #708
@govynnus Do you still want to finish this?

[2021-11-09 10:34] govynnus commented on #708
I do, but I've had almost zero time for programming recently :(
I'll give it a go in the next couple of days.

[2021-11-09 10:41] jplatte commented on #756
Thanks for the report! Fixed in a9ecd7f3975eaa955a165cdcd0aca59be554d569.

[2021-11-09 10:41] #756 closed, assigned to nobody

[2021-11-09 12:30] #708 closed, assigned to govynnus

[2021-11-11 11:32] poljar opened #760 "SignedKey isn't forward compatible for signature verification"
**Describe the bug**

The [`SignedKey`](https://github.com/ruma/ruma/blob/a100cf9728f3640aacc05b50cb92d36c387571af/crates/ruma-common/src/encryption.rs#L80) struct, that represents one-time keys we upload and download to/from the server, loses additional unknown fields when we deserialize the one-time key.

Since the signature of the `SignedKey` needs to be checked, the struct needs to be serializ

[2021-11-11 11:36] jplatte commented on #760
There is too many problems with deserialize / serialize cycles through "regular" Rust structs for that to be feasible. Whereever signature checks need to happen, we will have to use `Raw<InnerType>` rather than trying to make `InnerType` forwards-compatible by including a remaining-JSON-keys fields or anything like that.

[2021-11-18 18:18] jplatte opened #764 "Allow creating a reply without having a full event"
There really is no reason one would need a full `RoomMessageEvent` to create a reply. A `SyncRoomMessageEvent` or even a tuple of event ID and message body (plus formatted message body in the html case) would suffice.

[2021-11-18 19:49] nekrondev opened #765 "ruma_api::IncomingResponse fails on federation room search"
**Describe the bug**
matrix.org room search fails returning un-deserializeable JSON response when searching for room with empty `canonical_alias`.

**How to Reproduce**
HS: Conduit.rs (ruma git ac6ecc3e5e28197765f345c4d5a7732b41b057e7)
Client: Element Web
Query matrix.org for "docker" keyword from your HS will return an unserializable response.

** Details **
IncomingResponse::try_from_http_respon

[2021-11-18 20:43] jplatte commented on #765
This is clearly a bug in Synapse. I don't really see what we could be doing about this.

[2021-11-18 21:52] jplatte commented on #764
Done in 49e5d45ac9b5ec95ae7702752ccf531e9590304b.

[2021-11-18 21:52] #764 closed, assigned to nobody

[2021-11-19 02:09] andybalaam commented on #764
This is awesome!

[2021-11-19 09:30] nekrondev commented on #765
I think the issue here is that there are two views of how to interpret the "_The canonical alias of the room, **if any**_".

- does "if any" mean that the JSON attribute must only be present if a non-empty string will be returned or
- does "if any" mean that an empty string "" equals a non-existing canonical alias and virtually a non-existing JSON attribute?

Ruma uses the former interpretation bu

[2021-11-19 14:01] jplatte commented on #765
Right, I thought that property wasn't optional for some reason. This just requires a `cfg_attr(feature = "compat", ..)` attribute using `ruma_serde::empty_string_as_none` like we have in a few other places then.

[2021-11-19 14:02] jplatte commented on #765
Also we have two `PublicRoomsChunk` types, one in the client-api create, one in common. There should likely only be one.

[2021-11-23 16:07] poljar commented on #760
I know you mentioned that a couple of times and forgive me for being dense, I seem to have forgotten again what's exactly wrong with having serialization cycles.

This seems to work just fine, though maybe I'm missing something:

[code]

The API is basically the same to what we have, the differences are:

1. Getter methods are used instead of having direct access to struct fields.
2. Gets rid of t

[2021-11-25 13:32] ShadowJonathan opened #769 "[state-res] Add test which tests Event ID tiebreaker"
We have a bunch of tests in state-res which test sorting, but we should also have one which tests for Event ID tiebreakers functioning correctly

[2021-11-25 16:24] ShadowJonathan opened #770 "Make state_res::resolve allocate as little memory by clones as possible"
I think it's possible to reduce the total amount of allocations that `resolve` has to do by a significant amount, by making sure that most intermediary values instead borrow from values in its own function body (such as `seperate`) to shuffle and attest values around.

A benefit to this would be that `state_res::resolve` both consumes not much more memory than the caller gives it, and it is faster

[2021-11-26 00:17] #417 closed, assigned to jplatte

[2021-11-26 00:29] ShadowJonathan commented on #475
Related: https://github.com/matrix-org/matrix-doc/issues/3211

[2021-11-26 00:32] jplatte commented on #475
Seems simple enough: Just use `STANDARD_NO_PAD.decode_allow_trailing_bits(true)`.

[2021-11-26 00:33] ShadowJonathan commented on #475
Indeed, but i'm just notifying you why you'd possibly have to do that, and adding reference for anyone who's looking up as to why this behaviour exists :)

[2021-11-28 17:07] poljar commented on #760
We certainly want to use `Raw` so individual malformed `SignedKey`, `DeviceKeys`, `CrossSigningKeys` objects don't cause de-serialization failures of the whole response.

[2021-11-28 17:10] jplatte commented on #760
Honestly I'm still confused about the exact problem here. Can you point me to where this is specced or to some code that works with (one of) these types in the SDK?

We *could* do the same thing as with [capabilities](https://docs.rs/ruma/latest/ruma/api/client/r0/capabilities/struct.Capabilities.html#impl) and support extra stuff that way, but it's a lot of boilerplate and in the capabilities cas

[2021-11-28 17:48] poljar commented on #760
I guess the best example would be `DeviceKeys`. We wrap this type a couple of times to add functionality on top of it, the docs for [`Device`](https://matrix-org.github.io/matrix-rust-sdk/matrix_sdk/encryption/identities/struct.Device.html) illustrate this.

Verifying a device in the cross-signing world means that we're going to sign the `DeviceKeys` using our self-signing key. We have a method ca

[2021-11-28 17:58] jplatte commented on #760
So you're okay with us just using `Raw` for the types listed in the description? That sounds fine to me.

[2021-11-28 18:01] poljar commented on #760
Yeah, I just wanted to double check if a re-serializeable type would work.

[2021-11-30 11:02] jplatte commented on #706
I think it would make a lot of sense to avoid extra API (docs) bloat here by keeping the body types private, and using [TAIT](https://github.com/rust-lang/rust/issues/63063) to still be able to use them as associated types of an external trait.

This will add a nightly dependency, but I don't think this needs to be released to crates.io anytime soon anyways.

[2021-11-30 11:52] ShadowJonathan commented on #706
We have agreed in chat that it's alright to put work on this on the `next` branch (for now)

[2021-11-30 12:25] jplatte opened #775 "Get rid of global endpoint versioning in ruma-client-api"
Currently we have an `r0` module in ruma-client-api. Since the client-server API has been updated to use per-endpoint versioning. I'm not entirely sure what the upgrade path will look like when it comes to the URLs, maybe we can use a feature flag for a while or whatever, but the module paths should definitely be updated for the next release.

Unfortunately deprecating re-exports doesn't work in R

[2021-11-30 13:33] ShadowJonathan commented on #775
I assume that this should take the form of the endpoints in `ruma-federation-api`?

`::authorization::get_event_authorization::v1` -> `GET /_matrix/federation/v1/event_auth/{roomId}/{eventId}`

[2021-11-30 13:38] ShadowJonathan commented on #132
FWIW this is required for [ruma/lb](https://github.com/ruma/lb), and a TAIT approach in https://github.com/ruma/ruma/issues/706 is suggested that exposes `Body` as `impl Serialize`, and then give that through `try_into_http_request() -> Result<http::Request<Self::Body>>`, which can then be converted to any encoding using [`Request::map`](https://docs.rs/http/0.2.5/http/request/struct.Request.html#

[2021-11-30 13:59] jplatte commented on #775
Yeah, exactly.

[2021-11-30 17:56] jplatte opened #776 "Use GATs to support borrowing in responses"
Currently, only outgoing *requests* can use borrowing for fields due to limitations in Rust, in particular that associated types can't be generic (over lifetimes). There's a nightly feature that allows this, we should try it out!

[2021-11-30 18:18] jplatte opened #777 "Use GATs to support requests / responses generic over ID storage"
Similar to what #774 did for event IDs specifically in state-res, but in a way where you choose the storage type constructor (`Arc` / `Rc` / `Box`) for all identifier types at once.

Now that I think about it, I guess this could even be made to work without GATs by having a trait like

[code]

[2021-11-30 18:22] jplatte commented on #777
… but even with a `StorageFamily` trait like above, `GATs` would still be needed to make this work with responses because the associated types `OutgoingRequest::IncomingResponse` and `IncomingRequest::OutgoingResponse` would have to become generic.

[2021-11-30 18:24] jplatte commented on #777
I briefly thought that this wouldn't be a breaking change, but unfortunately that is only the case when also pulling in the nightly feature that allows associated types to have defaults.

[2021-11-30 18:30] jplatte commented on #706
Ah, immediately hit a road-block that I remember thinking about before: `type RequestBody: Serialize;` doesn't make sense for the media endpoints. Need something a little more involved.

[2021-11-30 18:35] ShadowJonathan commented on #706
Probably something like `RawOrBody<impl Serialize>` `enum RawOrBody<T> { Raw(Vec<u8>), Body(T) }`?

[2021-11-30 18:42] jplatte commented on #706
Yeah that would work but make this a runtime distinction. I'd prefer if it was a compile-time distinction. But if I can't come up with anything, I'll do sth. like `RawOrBody`.

[2021-12-01 11:13] jplatte opened #778 "Add an arbitrary crate feature to allow fuzzing of downstream crates"
There's probably not much to fuzz in Ruma itself (maybe state-res), but either way it could be nice if we conditionally derived `arbitrary::Arbitrary` for most / all of our types.

There's some incomplete work on this [here](https://github.com/MTRNord/ruma/commit/d5b9cf0159f074c198c252d75ea42e4e0e2bb970).

[2021-12-01 18:08] ShadowJonathan commented on #778
For the reader's information, [arbitrary](https://docs.rs/arbitrary/latest/arbitrary/) creates structured data from random noise, by essentially trying to fit it into the struct's data by force.

[2021-12-06 04:21] github-actions[bot] opened #780 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb